.feedback_tab { 
  background: #327895 url(../images/feedback.png) 7px 12px no-repeat;
  -webkit-border-top-left-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  position: fixed;
  top: 150px;
  right: 0;
  height: 88px;
  width: 27px;
  text-indent: -9999px;
}

#feedback_email {
  width: 300px;
  margin: 2px;
}
    
#feedback_message {
  width: 368px;
  height: 150px;
}
    
#feedback_form div {
  margin: 2px;
}

#recaptcha_table {
   background: transparent;
}

div.recaptcha-field #recaptcha_widget_div {
   width: 318px;
   margin: 0 auto;
}
    
#feedback_form p.error_list {
  color: #ff0000;
  margin: -1px;
}
    
#feedback_success #feedback_bg {
	padding: 10px;
}

#feedback_success h3 {
	margin: 0 0 15px 0 !important;
	padding: 0 !important;
	font-size: 25px;
}

#feedback_success p {
	margin: 0 !important;
	padding: 5px !important;
}

#feedback_success a.red_button {
	float: right;
	position: relative;
	top: 10px;
	right: 10px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}

/*/////////////////////////////////////////////

~ Feedback Form

/////////////////////////////////////////////*/

#feedback_container, .modal-window-container {
  padding: 5px; 
  border-radius: 7px;
  border: 5px solid rgba(0,0,0,0.3);
  width: 900px;
  -webkit-background-clip: padding-box;
   }
   
#feedback_container { 
  padding: 0;
  border-radius: 9px; }

.feedback_bg, .modal-window-bg {
  background: #D3E9ED url(../images/cloud.png) center top no-repeat;
  border-radius: 7px;
  -webkit-background-clip: padding-box;
}

#feedback_form{
  background: url(../images/watercolor3.png) center 0px repeat-x;
  border-radius: 7px;
  padding: 60px 0;
  clear: both;
  float: left;
  text-align: center;
  display:block !important;
  }


#feedback_form h2{
  margin-bottom: 15px;
  }


#feedback_form p{
float: none;
  margin: 0 auto !important;
  font-size: 15px;
  width: 900px;
  }


#feedback_form textarea{
  width: 600px;
  margin: 0 auto;
  }

#feedback_form p input{
width: 250px;
margin: 0px auto 20px;
  }


#feedback_form button{
width: 200px;
margin: 20px auto !important;
float: none;  

}

