.feedback_tab { 
  background: #327895 url(../images/feedback.png) 7px 12px no-repeat;
  -webkit-border-top-left-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  position: fixed;
  top: 150px;
  right: 0;
  height: 88px;
  width: 27px;
  text-indent: -9999px;
}

#feedback_email {
}
    
#feedback_message {
}
    
#feedback_form div {
  margin: 2px;
}

#recaptcha_table {
   background: transparent;
}

div.recaptcha-field #recaptcha_widget_div {
   width: 318px;
   margin: 0 auto;
}
    
#feedback_form p.error_list {
  color: #ff0000;
  margin: -1px;
}
    
#feedback_success #feedback_bg {
	padding: 10px;
}

#feedback_success h3 {
	margin: 0 0 15px 0 !important;
	padding: 0 !important;
	font-size: 25px;
}

#feedback_success p {
	margin: 0 !important;
	padding: 5px !important;
}

#feedback_success a.red_button {
	float: right;
	position: relative;
	top: 10px;
	right: 10px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}

/*/////////////////////////////////////////////

~ Feedback Form

/////////////////////////////////////////////*/

#feedback_container, .modal-window-container {
  padding: 5px; 
  border-radius: 7px;
  border: 5px solid rgba(0,0,0,0.3);
  width: 900px;
  -webkit-background-clip: padding-box;
}
   
#feedback_container { 
  padding: 0;
  border-radius: 9px;
	text-align: left !important;
	width: 815px;
}

.feedback_bg, .modal-window-bg {
  background: #FFF !important;
  border-radius: 7px;
  -webkit-background-clip: padding-box;
}

#feedback_form {
  background: transparent !important;
  border-radius: 7px;
  padding: 20px 0 20px 0;
  clear: both;
  float: left;
  text-align: center;
  display:block !important;
}


#feedback_form h2 {
  margin-bottom: 15px;
}


#feedback_form p {
	color: #999;
	line-height: 20px;
	font-size: 14px;
}

#feedback_form label {
	font-weight: bold;
	font-size: 14px;
	color: #333;
	display: block;
	text-align: left;
	margin: 10px 0 5px 0;
}

#feedback_form textarea {
	width: 400px !important;
	float: none !important;
	margin: 0 !important;
	text-align: left !important;
	padding: 10px;
	font-size: 14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: #FFF !important;
	border: 1px #BBB solid !important;
}

#feedback_form input {
	width: 400px !important;
	float: none !important;
	margin: 0 !important;
	text-align: left !important;
	padding: 10px;
	font-size: 14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: #FFF !important;
	border: 1px #BBB solid !important;
}


#feedback_form button {
	float: left;
	display: block;
	width: 150px;
	margin: 0 !important;
}

#feedback_form a.btn_cancel {
	display: block;
	float: left;
	width: 100px;
	background: #DDD;
	padding: 10px 15px 10px 15px;
	color: #555;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	position: relative;
	top: 0;
	margin: 0 10px 0 0 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#feedback_form .recaptcha-field {
	width: 315px;
	float: left;
	margin: 105px 10px 10px 30px;
}
