
/*/////////////////////////////////////////////

~ Send Message

/////////////////////////////////////////////*/



/***********************************************
Forms with <div>, not <p> 
<p> can't contain block tags
***********************************************/

input:focus, textarea:focus {
	outline: none !important;
}

form.div-based-form div {
  clear: both;
  font-size: 11px;
  color: #666;
  margin: 0 0 10px 0px;
  float: left;
  width: 100%;
  line-height: 15px;
  padding: 0;
}

form.div-based-form div label {
  margin: 0;
  width: 220px;
  font-size: 15px;
  color: #333;
  line-height: 30px;
}


form.div-based-form div span {
  display: block;
  margin-bottom: 5px;
}


form.div-based-form div input, form.div-based-form div textarea {
  display: block;
  border-top: 1px solid #bed3d7;
  border-bottom: 1px solid #ebfcff;
  border-left: 1px solid #c6dee2;
  border-right: 1px solid #c6dee2;
  font-size: 15px;
  background: url(../images/form.png) -2px -10px no-repeat;
  -moz-border-radius: 5px;  
  -webkit-border-radius: 5px;
  padding: 4px 8px;
  margin-bottom: 5px;
  width: 380px;
  line-height: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

form.div-based-form div input:focus, form.div-based-form div textarea:focus {
	border: 1px #63ad0c solid !important;
	outline: none !important;
}

form.div-based-form div textarea {
  background: #fff;
  padding: 10px 8px;
  font-size: 12px;
}

form.div-based-form div.checkbox input {
  float: left;
  width: 15px;
  margin: 7px 10px 0 0;
}
  


/*/////////////////////////////////////////////

~ NEW Standard Form

/////////////////////////////////////////////*/

form ul li {
	list-style-type: none;
	margin: 0;
	text-indent: 0;
	padding: 0;
}

form ul li label {
	display: block;
	float: left;
	width: 200px;
	margin: 17px 15px 0 0;
	font-size: 16px;
	line-height: 16px;
	color: #888;
}

form ul li input {
	margin: 2px 10px 0 0;
	width: 300px;
	border: 0;
	border: 1px #d8d8d8 solid !important;
	border-top: 1px #a3a3a3 solid !important;
	background: #FFF;
	color: #777 !important;
	font-size: 14px !important;
	padding: 8px 10px 8px 10px !important;
	line-height: 16px !important;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 #FFF, inset 0 2px 0 #DDD;
  -moz-box-shadow: 0 1px 0 #FFF, inset 0 2px 0 #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#FFF));
  background: -moz-linear-gradient(top,  #e3e3e3,  #FFF) no-repeat;
}

form ul li span.hint {
	color: #888;
}

form ul li input#id_save_feed {
	width: 25px;
	margin: 13px 0 0 0;
}

form ul li span.checkbox_hint {
	position: relative;
	top: -5px;
}

/*/////////////////////////////////////////////

~ Standard Form

/////////////////////////////////////////////*/

form p {
  clear: both;
  font-size: 11px;
  color: #666;
  margin: 0 0 10px 0px;
  float: left;
  width: 100%;
  line-height: 15px;
  padding: 0;
}

form p label {
  margin: 0;
  width: 220px;
  font-size: 15px;
  color: #333;
  line-height: 30px;
}

form p input, form p textarea, #feedback_form p input{
  display: block;
  border: 0;
  font-size: 12px;
  -moz-border-radius: 5px;  
  -webkit-border-radius: 5px;
  margin: 0 0 5px 0px;
  line-height: 15px;
  padding: 8px 0 5px 8px;
  
  width: inherit;
  font-family: Arial, Helvetica, sans-serif;
  
  box-shadow:inset 0px 1px 2px #555;
  -moz-box-shadow:inset 0px 1px 1px #555;
  -webkit-box-shadow:inset 0px 1px 2px #555;
  
  background: -moz-linear-gradient(top,  #eee,  #fff);
  background: -webkit-gradient(linear, left top, left bottom,  from(#eee),  to(#fff));
  }

form p input.checkbox {
    width: auto;
    display: inline;
    margin-left: 10px;
}

form.message_form ul li label {
    margin: 0px;
}

form.message_form ul li input {
    margin: 0px;
    width: auto;
    padding: 0px;
}

form p textarea{

}

p.checkbox input {
	float: left;
	width: 24px;
	position: relative;
}

p.checkbox label {
	position: relative;
	width: 600px;
	display: block;
}

#submit_video_form {
	margin: 0 auto 15px auto;
	padding: 30px 20px 20px 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  background: -webkit-gradient(linear, 0% 100%, 0% 70%, from(#edf6f8), to(#fff)); /* for webkit browsers */
  background: -moz-linear-gradient(0% 75% 270deg, #fff, #edf6f8); /* for firefox 3.6+ */
	position: relative;
	z-index: 1;
}


.main_video_form {
  
}

.main_video_form h2.main_heading {
  float: left;
  margin: 0;
  font-size: 25px;
  padding: 7px 20px 15px 0;
  line-height: 25px;
}

.begin {
  background: url(../images/begin.png) left top no-repeat;
  width: 133px;
  height: 42px;
  display: block;
  float: right;
  border: 0;
  text-shadow: 1px 1px 1px black;
  padding: 1px 0 3px 0;
  font-size: 18px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
	margin: 0;
  clear: none;
  outline: none;
}

.begin:hover {
  background: url(../images/begin.png) left -45px no-repeat;
  cursor: pointer;
}


.begin:active {
  background: url(../images/begin.png) left -90px no-repeat;
}

.main_video_form input#submit_video_field {
	margin: 2px 10px 0 0;
	float: left;
	width: 545px;
	border: 0;
	border: 1px #e3e3e3 solid;
	border-top: 1px #acacac solid;
	background: #FFF;
	color: #777;
	font-size: 14px;
	padding: 8px 10px 8px 10px;
	line-height: 16px;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 #FFF, inset 0 2px 0 #DDD;
  -moz-box-shadow: 0 1px 0 #FFF, inset 0 2px 0 #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#FFF));
  background: -moz-linear-gradient(top,  #e3e3e3,  #FFF) no-repeat;
}

.main_video_form input#submit_video_field:focus {
	border: 1px #63ad0c solid !important;
	outline: none;
}

.prefocus, .main_video_form .main_video_form_field.prefocus {
    color: #7f7f7f;
    font-size: 15px;
}

.main_video_form p {
	font-size: 13px;
  clear: both;
  float: left;
  padding: 0 0 0 207px;
}

#upload-subtitles-form button {
  margin-left: 50px;
}

#upload-subtitles-form #subtitles-file-field {
	width: 200px !important;
	margin: 10px 0 10px 0 !important
}

#upload-subtitles-form .feedback-message {
    background-color: orange;
    padding: 10px;
    color: #FFF;
    width: 98%;
    font-size: 12px;
}


/* Send Message */

form.message{
  margin: 0;
  }


form.message label{
  width: 100px;
  float: left;
  clear: both;
  }


form.message input{
  width: 300px;
  float: left;
  font-size: 12px;
  
  }


form.message p{
  background: #fff;
  padding: 20px;
  width: 423px;
  margin: 0 !important;
  border-bottom: 1px solid #999;
  background: #fff url(../images/big_grad.png) 0 0px repeat-x !important;
  
  }

form.message textarea{
  width: 300px;
  font-size: 12px;
  }


form.message p span{
  padding: 4px 0 0 100px;
  clear: both;
  float: left;
  }


form.message button{
  float: right;
  margin: 15px 15px 0 !important;
  }



#messages{
  top: 0px;
  text-align: center;
  
  margin: 20px 0;
  padding: 20px; 0;
  
  -moz-border-radius: 5px;  
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  background: #fff;
  
  line-height: 1em !important;
  
  font-weight: bold;
  color: #3b6068;
  
  box-shadow:0px 1px 2px #555;
  -moz-box-shadow: 0px 1px 2px #555;
  -webkit-box-shadow: 0px 1px 2px #555;
  position: relative;
  }



#messages #closeBut{
right: -6px;
top: -6px !important;
position: absolute;
  -moz-border-radius: 30px;  
  -webkit-border-radius: 5px;
  border-radius: 5px;
height: 21px;
width: 21px;
  box-shadow:inset 0px 1px 2px #fe928c;
  -moz-box-shadow:inset 0px 1px 2px #fe928c;
  -webkit-box-shadow:inset 0px 1px 2px #fe928c;
  background: url(../images/sprite.png) -3px -259px no-repeat !important;

border: 1px solid #7e1504;
  }




#messages *{
  margin: 0;
  line-height: 1em !important;
  padding: 0;
  font-size: 13px;
  }



/*/////////////////////////////////////////////

~ Feedback Form

/////////////////////////////////////////////*/

#feedback_container, .modal-window-container {
  padding: 5px; 
  border-radius: 7px;
  border: 5px solid rgba(0,0,0,0.3);
  width: 900px;
  -webkit-background-clip: padding-box;
   }
   
#feedback_container { 
  padding: 0;
  border-radius: 9px; }

.feedback_bg, .modal-window-bg {
  background: #D3E9ED url(../images/cloud.png) center top no-repeat;
  border-radius: 7px;
  -webkit-background-clip: padding-box;
}

#feedback_form{
  background: url(../images/watercolor3.png) center 0px repeat-x;
  border-radius: 7px;
  padding: 60px 0;
  clear: both;
  float: left;
  text-align: center;
  }


#feedback_form h2{
  margin-bottom: 15px;
  }


#feedback_form p{
float: none;
  margin: 0 auto !important;
  font-size: 15px;
  width: 900px;
  }


#feedback_form textarea{
  width: 600px;
  margin: 0 auto;
  }

#feedback_form p input{
width: 250px;
margin: 0px auto 20px;
  }


#feedback_form button{
width: 200px;
margin: 20px auto !important;
float: none;  

}



input#feedback_email, input#feedback_math_captcha_field{
  margin: 0 auto;
  width: 300px;
  float: none;
  }


input#email_friend_id_from_email, input#email_friend_id_to_emails,
input#email_friend_id_subject, input#email_friend_id_math_captcha_field {
    width: 339px;
}

.mirosubs-share{
  margin: 0px 0 0 0px;
  }

#email_friend_from textarea{
  width: 400px;
  }


#id_picture{

}



#id_preferred_language{
  margin-left: 20px;
  }



#id_valid_email{

  width: 20px;
  }


.errorlist{
  margin: 10px 0 10px;
  clear: both;
  padding: 0 0 8px;
  width: 400px;
  background: url(../images/red_arrow.png) 20px bottom no-repeat;
  }


.errorlist li{
  font-weight: bold;
  margin: 0;
  list-style: none;
  background: #d75b5b;
  -moz-border-radius: 5px;  
  -webkit-border-radius: 5px;
  clear: both;
  color: #fff;
  padding: 10px 13px;
  
  }

.errorlist li a {
    color: #c0c0c0;
    text-shadow: none;
}

.open-id{
  background: url(../images/social_login.png) 0 0px no-repeat;
  display: block;
  width: 113px;
  float: left;
  padding-top: 33px;
  height: 0;
  overflow: hidden;
  }

input.open-id{
  background: url(../images/social_login.png) 0 0px no-repeat;
  display: block;
  width: 113px;
  float: left;
  padding: 33px 0 0 0;
  height: 0 !important;
  overflow: hidden;
  margin-top: 10px;
  }
  



.twitter{
  background: url(../images/social_login.png) -120px 0px no-repeat;
  display: block;
  width: 113px;
  float: left;
  padding-top: 33px;
  height: 0;
  overflow: hidden;
  }



.google{
  background: url(../images/social_login.png) -222px 0px no-repeat;
  display: block;
  width: 113px;
  float: left;
  padding-top: 33px;
  height: 0;
  overflow: hidden;
  }

  
#bulk_create {
	margin: 15px 0 0 0;
	border-top: 1px #cae1e6 solid;
	padding: 25px 0 0 0;
}

#bulk_create h3 {
}

#bulk_create label {
	text-align: right;
	display: block;
}

#bulk_create table {
 background-color: transparent; 
}

#bulk_create input { 
  font-size: 14px;
  font-weight: bold;
  color: #4F4F4F;
  height: 24px;
  width: 200px;
  border: 1px solid #d6d6d6;
  margin-bottom: 5px;
  padding: 0 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.08);}

#bulk_create th {}

#bulk_create td { 
  font-style: italic;
  color: #a0a0a0; }

#bulk_create tr {
  border-bottom: 1px solid #e9edee;}

#bulk_create tr.last, #bulk_create td {
  border: 0;
}

#submit_multiple_toggle {
	position: relative;
	top: -15px;
	right: 5px;
	z-index: 0;
}

#submit_multiple_toggle a {
	display: block;
	float: right;
	font-weight: bold;
	text-decoration: none;
	background: #cae1e6;
	padding: 10px;
	line-height: 12px;
	font-size: 12px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

#submit_multiple_toggle a:hover {
	background: #bed4d9;
}


