#admin_controls {
	position: absolute;
	top: 10px;
	left: 10px;
	background: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 0 8px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0 0    8px rgba(0,0,0, 0.2);
	padding: 5px;
	border: 1px #FFF solid;
	z-index: 99;
}

#admin_controls a {
	display: block;
	padding: 10px;
	font-weight: bold;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 12px;
}

#admin_controls a:hover {
	background: #FFF;
	color: #555;
}

/*
New Header Styles
*/

#main_bar {
	width: 100%;
	background: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e8e8e8)) no-repeat;
  background: -moz-linear-gradient(top,                            #FFF,     #e8e8e8) no-repeat;
	height: 45px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
	border-bottom: 1px #EEE solid;
	position: relative;
	z-index: 2;
	margin: 0;
	padding: 0;
}

#main_bar #bar_wrap {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

#main_bar h1 a {
	float: left;
	background: url(../images/new_logo.png) 0 0 no-repeat;
	display: block;
	text-indent: -9999px;
	width: 205px;
	height: 28px;
	margin: 9px 0 0 0;
}

#main_bar h1 a:hover {
	background-position: 0 -28px;
}

#main_bar #bar_right {
	float: right;
}

#main_bar #bar_search {
	float: left;
	margin: 0 -7px 0 0;
	padding: 6px 10px 6px 0;
	border-right: 1px #DDD solid;
	-webkit-box-shadow: inset -1px 0 0 #FFF;
	-moz-box-shadow: inset -1px 0 0 #FFF;
}

#main_bar #bar_search form {
	background: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#FFF)) no-repeat;
  background: -moz-linear-gradient(top,                            #e8e8e8,     #FFF) no-repeat;
	border: 1px #d3d3d3 solid;
	-webkit-box-shadow: 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 0 #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 6px 5px 6px 10px;
}

#main_bar #bar_search input {
	font-size: 12px;
	color: #555;
	font-family: Helvetica, Arial, sans-serif;
	width: 115px;
	border: 0;
	background: transparent url(../images/icon_nav_search.png) 0 0 no-repeat;
	padding: 0 0 0 25px;
}

#main_bar #bar_search input:focus {
	border: 0 !important;
	-webkit-box-shadow: 0 0 0 !important;
	-moz-box-shadow: 0 0 0 !important;
}

#main_bar ul#bar_menu {
	float: right;
}

#main_bar ul#bar_menu li {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#main_bar ul#bar_menu li a {
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	color: #777;
	font-size: 14px;
	text-decoration: none;
	display: block;
	padding: 18px 13px 14px 13px;
}

#main_bar ul#bar_menu li#nav_submit {
}

#main_bar ul#bar_menu li#nav_submit a em.icon {
	width: 26px;
	height: 20px;
	background: transparent url(../images/icon_create_subtitle.png) 0 0 no-repeat;
	display: inline-block;
	position: relative;
	top: 5px;
	left: -3px;
	opacity: 0.8;
}

#main_bar ul#bar_menu li#nav_submit a {
	font-weight: bold;
	color: #777;
	padding: 9px 13px 14px 13px;
}

#main_bar ul#bar_menu li a:hover {
	background: rgba(255,255,255, 0.5);
	color: #333;
}

#main_bar ul#bar_menu li#nav_submit a:hover {
	color: #555;
}

#main_bar ul#bar_menu li#nav_submit a:hover em.icon {
	opacity: 1.0;
}

#main_bar ul#bar_menu li#me_menu {
	float: left;
}

#main_bar ul#bar_menu li#me_menu:hover #user_menu #menu {
	display: block;
}

#main_bar ul#bar_menu li#me_menu:hover #user_menu {
	background: #FFF;
}

#main_bar ul#bar_menu li#me_menu #user_menu {
	position: relative;
	z-index: 20 !important;
}

#main_bar ul#bar_menu li#me_menu #user_menu #menu_name a {
	color: #126295;
	font-weight: bold;
	background: transparent url(../images/icon_me_menu.png) 40px 23px no-repeat;
	padding: 18px 25px 14px 13px;
}

#main_bar ul#bar_menu li#me_menu #user_menu #menu_name a:hover {
	background: #FFF url(../images/icon_me_menu.png) 40px 23px no-repeat;
}

#main_bar ul#bar_menu li#me_menu #user_menu #menu {
	display: none;
	position: absolute;
	background: #FFF;
	right: 0;
	width: 150px;
	-webkit-box-shadow: 0 1px 3px #c8c8c8;
	-moz-box-shadow: 0 1px 3px #c8c8c8;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius:  5px;
	-moz-border-radius-bottomright:     5px;
	-moz-border-radius-bottomleft:      5px;
	padding: 10px 0 10px 0;
}

#main_bar ul#bar_menu li#me_menu #user_menu #menu ul#dropdown {
	padding: 0;
	margin: 0;
}

#main_bar ul#bar_menu li#me_menu #user_menu #menu ul#dropdown li {
	display: block !important;
	float: none !important;
	padding: 0;
	margin: 0;
}

#main_bar ul#bar_menu li#me_menu #user_menu #menu ul#dropdown li a {
	font-size: 13px;
	display: block !important;
	float: none !important;
	margin: 0;
	padding: 10px 15px 10px 15px;
}

#main_bar ul#bar_menu li#me_menu #user_menu #menu ul#dropdown li a:hover {
	background: #EEE;
}

#main_bar ul#bar_menu li#me_menu #user_menu #menu ul#dropdown li span#message_count {
	background: #DDD;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	padding: 5px 12px 3px 12px;
	color: #888;
	display: block;
	float: right;
	position: relative;
	top: -5px;
	text-shadow: 0 1px 0 #FFF;
	-webkit-box-shadow: inset 0 1px 1px #c8c8c8;
	-moz-box-shadow: inset 0 1px 1px #c8c8c8;
}

#main_bar ul#bar_menu li#me_menu #user_menu #menu ul#dropdown li ul#teams_menu {
	padding: 0;
	margin: 0;
}

#main_bar ul#bar_menu li#me_menu #user_menu #menu ul#dropdown li ul#teams_menu {
	border-top: 1px #e4ecee solid;
	margin: 10px 0 0 0;
}

#main_bar ul#bar_menu li#me_menu #user_menu #menu ul#dropdown li ul#teams_menu h4 {
	padding: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #444;
}

#lang_bar {
	background: #126295;
	border-bottom: 1px #004068 solid;
	-webkit-box-shadow: inset 0 -1px 0 #3c9edc;
	-moz-box-shadow: inset 0 -1px 0 #3c9edc;
	width: 100%;
	position: relative;
	z-index: 1;
}

#lang_bar .language_bar {
	width: 50%;
	margin: 0 auto;
	position: relative;
	padding: 5px 0 5px 0;
}

#lang_bar .language_bar a#lang_select_btn {
	background: #FFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e8e8e8)) no-repeat;
  background: -moz-linear-gradient(top,                            #FFF,     #e8e8e8) no-repeat;
	-webkit-box-shadow: inset 0 -1px 0 #FFF, inset 0 8px 3px rgba(0,0,0, 0.2);
	-moz-box-shadow: inset 0 -1px 0 #FFF, inset 0 8px 3px rgba(0,0,0, 0.2);
	text-shadow: 0 1px 0 #FFF;
	display: block;
	font-size: 13px;
	padding: 14px 10px 8px 10px;
	color: #126295;
	float: right;
	text-decoration: none;
	position: absolute;
	top: -7px;
	right: 0;
	border: 1px rgba(0,0,0, 0.1) solid;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius:  5px;
	-moz-border-radius-bottomright:     5px;
	-moz-border-radius-bottomleft:      5px;
}

#lang_bar .language_bar a:hover#lang_select_btn {
	background: #FFF;
	background: -webkit-gradient(linear, left bottom, left top, from(#FFF), to(#e8e8e8)) no-repeat;
  background: -moz-linear-gradient(bottom,                            #FFF,     #e8e8e8) no-repeat;
	color: #888;
}

#lang_bar .language_bar a:active#lang_select_btn {
	top: -5px;
	-webkit-box-shadow: inset 0 -1px 0 #FFF, inset 0 6px 3px rgba(0,0,0, 0.2);
	-moz-box-shadow: inset 0 -1px 0 #FFF, inset 0 6px 3px rgba(0,0,0, 0.2);
}

#lang_bar .language_bar .selected_language {
	color: #FFF;
	text-shadow: 0 1px 0 #176801;
	text-align: right;
	display: block;
	float: right;
	position: relative;
	right: 160px;
	font-size: 14px;
}


/*
Old Header Styles
*/

#header {
  width: 940px;
  height: 45px;
  margin: 10px auto 50px auto;
  position: relative;
}

#header .top_bar {
  font-size: 12px;
  float: left;
  width: 100%;
  line-height: 3em;
}

#header h1 {
  float: left;
  margin: 10px 0 0 0px;
  font-size: 12px;
  float: left;
}

#header h1 a, #header h1 span.logo {
  background: url(../images/logo.png) 0 10px no-repeat;
  margin: 0;
  overflow: hidden;
  padding: 50px 0 0;
  height: 0;
  width: 290px;
  display: block;
}

#header h1 a:hover{
  background: url(.../images/logo.png) 0 -59px no-repeat;
}

div#main_nav {
  float: left;
}

div#main_nav ul {
  margin: 18px 0 0 15px;
}

div#main_nav ul li {
  float: left;
  list-style: none;
}

div#main_nav ul li a {
  text-decoration: none;
  color: #000;
  padding: 0 12px 5px 20px;
  font-size: 18px;
  display: block;
  line-height: 30px;
  text-align: center;
}

div#main_nav ul li a:hover {
  color: #3196ad;
}

div#main_nav ul li#nobdr a {
  padding: 0px 18px 5px 0;
}

div#main_nav ul li#nobdr {
  border-right: 1px #FFF solid;
}

div#main_nav ul li a em {
  font-size: 12px;
  line-height: 0px;
  text-align: center;
  display: block;
  font-style: normal;
}

/*
alphaNav
*/

ul#subnav {
  margin: 30px 0 0 0;
  float: right;
}

ul#subnav li {
  float: left;
  line-height: 12px;
  list-style: none;
  margin: 0 10px;
  text-transform: capitalize;
}

ul#subnav li.u_login {
  padding-left: 15px;
  background: url(../images/interface/bullet_login.gif) no-repeat left center; 
}

ul#subnav li a {
  color:#319ac5;
  text-decoration: underline;
  font-size: 12px;
}

ul#subnav li a:hover {
  text-decoration:none;
}

ul#subnav li#subnav_menu {
  position: relative;
  top: -10px;
  right: 8px;
}

.wrapper {
  width: 940px;
  margin: 25px auto;
}


/* Language Modal
------------------------------------------------*/

.language_modal { 
  display: none;
  background-color: #fff;
  width: 475px;
  color: #818b8f;
  padding: 20px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
	z-index: 4000 !important;
}

.language_modal p {
  font-size: 14px;
  line-height: 24px; 
}
  
.language_modal h2 { 
  font-size: 22px;
  margin: 0;
  color: #000;
}

.language_modal #language_picker {
  margin: 0;
  position: relative;
  left: 0;
}
  
.language_modal ul { 
  list-style-type: none;
  width: 200px;
  float: left;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  text-indent: -18px;
}

.language_modal ul#last {
  border: 0;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
}
  
.language_modal ul li {
  margin: 5px 0 5px 0;
}
.
.mirosubs-modal-lock-warning {
    background-color: #fff;
    width: 475px;
    color: #818b8f;
    padding: 20px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    z-index: 4000 !important;
}

/*/////////////////////////////////////////////

~ Index Page

/////////////////////////////////////////////*/

.translation-party {
  background: url(../images/translation-party.png) no-repeat;
  /* display: block; */
  display: none;
  text-indent: -9999px;
  height: 122px;
  width: 953px !important;
  margin-top: 15px;
}

.callout{
background: #a7c9c4;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius:5px;
padding-left: 10px;
position: relative;
margin-top: 0px;
}

.callout .arrow_up{
background: url(../images/arrow_up.gif) 0px 0px no-repeat;
position: absolute;
top: -11px;
left: 483px;
width: 23px;
height: 11px;
}


.callout .grid_7{
padding: 25px 10px;
font-size: 11px;
}


.callout h3{
font-size: 14px;
text-shadow: none;
}


.callout .grid_3{
  background: #86aba5;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 151px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius:5px;
  width: 330px;
  padding-left: 10px
  }

.callout .grid_3 span{
clear: both;
float: left;
padding: 0 0 0 20px;
font-size: 11px;
margin: 2px 0 0 0;
color: #fff;
}

.callout .grid_3 label{
padding: 17px 0 6px 20px;
float: left;
font-weight: bold;
font-size: 14px;
color: #fff;
text-shadow: none;
}


.callout .grid_3 input{
margin: 0 0 0 20px;
width: 212px;
float: left;
padding: 12px 0 8px 10px;

}


.callout .grid_3 p{
width: 200px;
float: left;
}


.callout .grid_3 button{
float: right;
clear: none;
margin: 54px 20px 0 0;
}


.callout textarea{
font-size: 10px;
width: 504px;
padding: 10px;
height: 24px;
float: left;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
display: block;
overflow: hidden;
  text-shadow: 0 1px 0px #fff;
  
  border: 3px solid #4e7179;

  
  -moz-box-shadow: 0 0px 2px #cbeeea, inset 0 0px 2px #fff;
  -webkit-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
  box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf9fc', endColorstr='#d6e8eb'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ecf9fc), to(#d6e8eb)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #cde2e5,  #ecf9fc); /* for firefox 3.6+ */
  margin-bottom: 10px;
}



.callout object#clippy{
display: block;
float: left;
height: 42px;
width: 190px !important;
margin-bottom: 8px;
overflow: hidden;
padding-top: 14px;
padding-left: 20px;
}


.callout object#clippy embed{
width: 100px !important;
height: 142px;
}

.callout object#clippy object{
border: 1px solid !important;
}

.example p {
text-align: center;
padding: 0 30px;
font-style: italic;
}


.arrows{
font-size: 14px;
border: 0 !important;
padding: 35px 0 0px;
}


.one div, .two div, .three div{
padding-left: 50px;
background: url(../images/numbers.png) 0 0px no-repeat;

}

.two div{
background: url(../images/numbers.png) -318px 0px no-repeat;
}

.three div{
background: url(../images/numbers.png) -635px 3px no-repeat;
}


.one h4, .two h4, .three h4{
font-size: 18px;
margin: 0;
padding: 2px 0 0;
line-height: 1.4em;
}


.enable{
background: url(../images/broswer.png) 0px 0px no-repeat;
padding: 20px 0px 0 230px;
margin-top: 80px;
height: 190px;
color: #4395aa !important;

}



.enable *{
margin-bottom: 10px;
display: block;
font-size: 16px;
line-height: 1.4em;
  text-shadow: 1px 1px 1px #fff;
}



.enable span{
font-weight: bold;
}

.share{
margin-top: 33px;
padding-top: 10px;
display: none;
}


.share div{
float: right;
}

.share h4{
font-size: 16px;
float: left;
margin: 12px 20px 0 0 ;
display: none;
}



.share .twitter{
background: url(../images/share_icons.png) 0px -37px no-repeat;
padding: 20px 0 0 !important;
height: 0;
overflow: hidden;
float: left;
margin: 10px 10px 0 0;
width: 20px;
}

.share .facebook{
background: url(../images/share_icons.png) 0px 0px no-repeat;
padding: 20px 0 0 !important;
height: 0;
overflow: hidden;
float: left;
margin: 10px 20px 0 0;
width: 20px;
}


.beat{
padding: 20px 0 120px;
display: none;
}


.beat a{
background: url(../images/beat.png) 0px 0px no-repeat;
padding: 42px 0 0 !important;
height: 0;
overflow: hidden;
float: right;
margin: 15px 0 0;
float: left;
width: 140px;
}


.beat p{
display: block;
clear: both;
margin-right: 40px;
float: left;
font-size: 14px;
font-weight: bold;
}

.beat span{
display: block;
font-size: 12px;
}


p.index_intro{
font-size: 17px;
margin: 5px 0 10px;
}



h2.centered{
font-size: 28px;
margin: 0 0 30px;
padding: 0px;
text-shadow: #fff 1px 1px 1px;
line-height: 2.5em;
text-align: center;
border-bottom: 0 !important;
}


p.larger{
margin: 5px 0 10px;
}


.get_it{
height: 120px;
padding: 80px 0px 0 95px;
text-align: center;
text-decoration: none !important;
display: block;
clear: both;
line-height: 1.2em;
margin-left: 30px;
margin-top: 70px;
font-style: italic;
font-size: 20px;
  text-shadow: 1px 1px 1px #fff;
font-weight: bold;
color: #4395aa !important;
background: url(../images/bub.png) right 0px no-repeat;
}


.get_it *{

text-decoration: none !important;

border: none !important;

}

.small_sub{
padding-top: 30px !important;
padding-bottom: 30px !important;

}


.small_sub_now {
position: relative;
padding: 0px 0 0;

}



.small_sub_now input{
width: 300px;
padding: 12px 0 8px 10px;

}



.small_sub_now label{
font-weight: bold;
font-size: 18px;
margin-bottom: 15px;
display: block;
width: 400px;
}



.small_sub_now button{
position: absolute;
right: 0px;
top: 44px;
-moz-border-radius-top-left: 0 !important;
}




.seal{
position: absolute;
top: 145px;
right: 5px;
z-index: 99999999999;
width: 133px;
height: 133px;
background: url(../images/seal.png) 0px 0px no-repeat;
overflow: hidden;
-webkit-transform:rotate(25deg);
}



.seal div{
text-align: center;
margin: 45px 0 200px;
font-size: 15px;
font-weight: bold;
color: #fff9d9;
  text-shadow: 0 1px 0px #a89838;

}








.problem, .mission{
padding: 0px 80px;
margin-top: 10px;
float: left;
line-height: 1.3em;
}

.problem strong, .mission strong{
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
color: #fff;
font-size: 12px; 
width: 120px;
margin: -1px 20px 10px 0;
text-align: center;
float: left;
text-shadow: #333 1px 1px 1px;
}



.mission{
color: #555;
display: block;
margin-bottom: 50px;
padding-top: 10px;
}

span.problem{
color: #555;
margin-bottom: 10px;
display: block;
}


.problem strong{
background: #c84f4f;

}

.mission strong{
background: #57a927;

}

.right_now{
font-size: 23px;
padding: 25px 30px 20px 30px;
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
margin: 0px 0 0px;
display: block;
border: 1px solid #e3e3a9;
clear: both;
background: #f0f3d0;
text-align: center;
}


.right_now strong{
color: #333;


}


.problem span, .mission span{
}


p.pitch{
float: left;
width: 100%;
margin: 10px 0 45px;
padding: 0px 0 0;
font-size: 20px;
line-height: 34px;
text-shadow: #fff 1px 1px 1px;
}





/*//////////   ~  Alpha Tag  ~   //////////*/

h3.alpha{
background: url(../images/alpha.png) 130px 0px no-repeat;
}




.project{
display: none;
}

.bigger{
font-size: 18px;
line-height: 1.5em;
margin: 0;
}


.box{
position: relative;
clear: both;
padding: 20px 30px 20px 30px;
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
margin:0px 0 25px;
  background: url(../images/1x1.png);

}



.box h3{
font-size: 18px;
margin: 0px 0 0;
padding: 10px 0 0;
}

.box a{
position: absolute;
bottom: 20px;
right: 20px;
}

.box img{
margin-right: 20px;
margin-top: 4px;
}






.how-to-video-image{
margin: 0 !important;
}

#how-to-video-flash{
width: 800px;
}




/*//////////   ~  Drumbeat stuff  ~   //////////*/


.drumbeat{
background: url(../images/drum.png) 0px 7px no-repeat;
clear: both;
width: 440px;
height: 130px;
margin-left: -7px;
}

.box h3{
border-bottom: 0 !important;
}


.drumbeat .button{
margin: 17px 40px 20px 0;
}


.drumbeat div{
float: left;
width: 500px;
}


.drumbeat div p{
margin: 0 0 10px;
}


.drumbeat div p a{
padding-left: 40px;
}




.how-to-video-image{
margin: 15px 0 30px;
display: block;
}


.how-to-video-image img{
border: 1px solid #999;
-moz-border-radius: 10px;  
-webkit-border-radius: 10px;
display: block;
}

#index #feedback_form, #about #feedback_form{
display: none;
}




/*/////////////////////////////////////////////

~ 3 columns

/////////////////////////////////////////////*/


.three_column{
margin: 0px 0 20px;
float: left;
padding: 0;
}


.col1, .col2, .col3{
float: left;
width: 220px;
padding-left: 80px;
background: url(../images/big_icons.png) -10px 13px no-repeat;
}


.col1{
background: url(../images/widg_button.png) 0px 13px no-repeat;
}

.col1 h3, .col2 h3, .col3 h3{
font-size: 16px;
line-height: 1.4em;
margin-bottom: 0;
padding-bottom: 0;
border-bottom: none !important;
}


.col1 p, .col2 p, .col3 p{
font-size: 14px;
line-height: 20px;
margin-top: 8px;
}


.col1, .col3{
margin-right: 20px;
}


.col2{
background-position: -10px -198px;
}


.col3{
background-position: -10px -417px;
}



.get_updates{
clear: both;
font-size: 18px;
padding: 20px 0px 20px 30px;
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
margin:35px 0 50px;
float: left;
width: 900px;
background: url(../images/1x1.png);
}





.get_updates .update_text{
float: left !important;
line-height: 2em;
margin: 0;
padding: 8px 40px 0 0;
}



.get_updates form  {
float: left !important;
clear: none !important;

}


.get_updates form p {
float: left !important;
clear: none !important;
width: 270px;
margin: 0 50px 0 0;
}



.get_updates form p input{
float: left !important;
clear: none;
margin: 0;
width: 270px;
padding-top: 14px;
padding-left: 14px;
border-bottom: #333;
}


.get_updates button{
margin-right: 0;
}



/*/////////////////////////////////////////////

~ Home Page

/////////////////////////////////////////////*/




.left_column ol{
padding: 0;
margin: 0;
height: 100px;
background: url(../images/numbers.png) left top no-repeat;
font-size: 20px;
}


.left_column ol li{
margin: 0;
list-style: none;
float: left;
padding: 13px 0 0 60px;
width: 78px;
margin-right: 25px;
}



.left_column ol li.three{
width: 74px;
margin-right: 0;
}


.left_column ol li span{
display: block;
font-size: 11px;
padding-top: 10px;
}




table{
  background: #fff;
  border-collapse: collapse;
  padding: 0;
  clear: both;
  width: 100%;  
}

thead{
  background: #fff url(../images/gradient_light.png) 0 2px repeat-x;
  border-bottom: 1px solid #aaa;
  }

thead th{
  text-align: left;
  padding: 0;
  border-right: 1px solid #ccc;
  margin: 0 !important;
  display: table-cell !important;
  float: none !important;
  }

th a, th.header{
  margin-right: 15px;
  padding-right: 25px;
  text-decoration: none !important;
  background: url(../images/sort_arrows.gif) right 11px no-repeat;
  }

th.headerSortDown, th a.desc{
    background: url(../images/sort_arrows.gif) right -62px no-repeat;
}

th.headerSortUp, th a.asc{
    background: url(../images/sort_arrows.gif) right -25px no-repeat;
}

tr{ display: table-row;}


tr.even{ background: #edfcfd !important;}


td.last{ border-right: none;}


th span, th a{
  color: #333 !important;
  padding: 10px 15px;
  display: block;
  text-shadow: 1px 1px 0px #fff;
  }

td{
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  border-right: 1px solid #ddd;
  margin: 0 !important;
  display: table-cell !important;
  float: none !important;
  }



th.last{ border-right: none !important;}



.checkbox input{
  float: left;
  width: 15px;
  margin: 7px 10px 0 0;
  }


table .checkbox input{
  float: none;
  margin: 0;
  width: 15px !important;
  margin: 0px 0px 0 0;
  }