body {
  background: #FFF;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}

a {
}

a:visited {
  color: #506a70;
}

a:active {
}

a:link {
  color: #3196ad;
  text-decoration: underline;
} 

a:hover,a:focus {
  color: #;
  text-decoration: none;
  outline: none !important;
  -moz-outline: none !important;
}

button::-moz-focus-inner {
  border: 0;
}

/*
Type
*/

strong {
	font-weight: bold;
}

p {
  line-height: 1.5em;
}

h2 {
	margin: 0 0 15px;
	line-height: 1.4em;
  clear: left;
  font-size: 22px;
	font-weight: bold;
}

h3 {
	padding-bottom: 10px;
	margin: 0;
  font-size: 16px;
	font-weight: bold;
}

h4 {
	font-weight: bold;
}

h4.inline {
  display: inline;
  line-height: 3em;
  font-size: 16px;
}

/*
Formatting
*/

hr {
  clear: both !important;
  border: none;
}

ul {
	padding: 0 0 0 14px;
}

ul li {
	padding-bottom: 10px;
}

#faq h2.main-title {
  margin: 60px 0 10px 0;
  clear: left;
  line-height: 22px;
  font-size: 22px;
  padding: 0;
  text-shadow: 1px 1px 1px #fff;
}