.search input{
  border: 1px solid #BDBDBD;
}

.mirosubs-howto-image {
   position: absolute !important;
   top: 0 !important;
   left: 0 !important;
   cursor: pointer !important;
   cursor: hand !important;
   margin: 0 0 0 150px !important;
}

.mirosubs-howtopanel .goog-checkbox {
  margin-top: 25px !important;
}

.ajax-file-upload-field {
	position: relative !important;
	width: 200px !important;
}

#id_txtfile_form button {
	display: none !important;
}

#id_txtfile_form label#ie-only_file_label {
	display: block;
}