/*
section_primary
*/

#intro {
  width: 460px;
  float: left;
	margin: 0 0 0 0;
}

#intro h1 {
  width: 100%;
  font-size: 23px;
  line-height: 31px;
  font-weight: normal;
}

ul.user_service_menu {
  width: 100%;
  padding: 15px 0 0 0;
  overflow: hidden;
}

ul.user_service_menu li {
  width: 390px;
  padding: 0 0 29px 50px;
  float: left;
  list-style: none;
  line-height: 17px;
}

ul.user_service_menu li.service_00 { background:url(../images/interface/user_service_00.gif) no-repeat; }
ul.user_service_menu li.service_01 { background:url(../images/interface/user_service_01.gif) no-repeat; }
ul.user_service_menu li.service_02 { background:url(../images/interface/user_service_02.gif) no-repeat; } 
ul.user_service_menu li.service_03 { background:url(../images/interface/user_service_03.gif) no-repeat; }
ul.user_service_menu li.service_04 { background:url(../images/interface/user_service_04.gif) no-repeat; } 

ul.user_service_menu li a {
  color: #000;
  width: 100%;
}

#intro_video {
  width: 460px;
  float: right;
}
    
.counter { 
  font-weight: bold;
  font-size: 15px;
}
  
.counter .number { 
  background-color: #8ba1a8;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-weight: normal;
  padding: 3px 5px;
  margin-right: 5px;
  letter-spacing: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius:    4px;
}

/*
section_secondary
=========================================*/
#index_add_subtitles {
  width: 980px;
  height: 405px;
  margin: 25px auto;
  text-align: left;
	color: #FFF;
	background: url(../images/interface/bg_secondary_section.png) no-repeat;
}

#index_add_subtitles h2 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 25px 0 0 0;
  font-weight: normal;
	text-shadow: 0 0 0;
}

#index_add_subtitles form {
	width: 900px;
	margin: 35px auto;
}

#index_add_subtitles form fieldset {
	float: left;
	width: 350px;
	margin: 10px;
}

#index_add_subtitles form fieldset#submit_video {
	margin: 10px 60px 10px 10px;
}

#index_add_subtitles form fieldset#submit_video span.caption {
	width: 300px;
	display: block;
}

#index_add_subtitles form fieldset label {
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 10px 0;
}

#index_add_subtitles form fieldset input {
	width: 350px;
	background: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: block;
	float: none;
	margin: 0 0 5px 0;
	border: 0;
	padding: 10px;
}

#index_add_subtitles form fieldset#any_video input {
	cursor: text;
}

#index_add_subtitles form fieldset span.caption {
	color: #afcbc8;
}

#index_add_subtitles form fieldset button.green_button {
	float: right !important;
	display: block;
	-webkit-border-radius: 5px;
	margin: 0;
	-webkit-box-shadow: 0 0 0, inset 0 1px 0 #B7E4AC;
	border: 1px #365a36 solid;
	position: relative;
	right: 0px;
}

#index_add_subtitles h4 {
	font-weight: bold;
	font-size: 16px;
	margin: 85px 0 0 20px !important;
}

#index_add_subtitles div#video_sites {
	margin: 30px 0 0 20px;
	position: relative;
}

#index_add_subtitles div#video_sites img#example_video {
	float: right;
	position: absolute;
	right: 50px;
	top: -85px;
}

#unisubs_features h2, #unisubs_features h3, #unisubs_features h4 {
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0;
	line-height: 0;
}

#unisubs_features h2 {
	font-size: 18px;
	margin: 0 0 40px 0;
}

#unisubs_features h3, #unisubs_features h4 {
	font-size: 15px;
	text-shadow: 0 0 0;
}

#unisubs_features h3 {
	margin: 0 0 15px 0;
}

#unisubs_features p {
	font-size: 14px;
	line-height: 24px;
	color: #333;
}

/*/////////////////////////////////////////////

~ drumbeat

/////////////////////////////////////////////*/
#unisubs_features #drumbeat_box {
  width: 380px;
  float: left;
  position: relative;
  padding: 20px 30px 20px 30px;
  -moz-border-radius: 5px;  
  -webkit-border-radius: 5px;
  background: #dceef2;
}

#unisubs_features #drumbeat_box h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
  padding: 10px 0 0 0;
}

#unisubs_features #drumbeat_box a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#unisubs_features #drumbeat_box img {
  margin-right: 20px;
  margin-top: 4px;
}

#unisubs_features .drumbeat {
  background: url(../images/drum.png) 0px 7px no-repeat;
  clear: both;
  width: 440px;
  height: 130px;
  margin-left: -7px;
}

#unisubs_features .drumbeat .button {
  margin: 17px 40px 20px 0;
}

#unisubs_features .drumbeat div {
  float: left;
  width: 500px;
}

#unisubs_features .drumbeat div p {
  margin: 0 0 10px;
}

#unisubs_features .drumbeat div p a {
  padding-left: 40px;
}

/*
one, two, three
*/

.one, .two, .three { 
  float: left;
  width: 300px;
  margin: 0 20px 40px 0;
}

.three {
  margin-right: 0;
}

.one h4, .two h4, .three h4 {
  background: url(../images/numbers.png) 0 0 no-repeat;
	padding: 15px 0 15px 40px !important;
}

.two h4 {
  background-position: -318px 0;
}

.three h4 {
  background-position: -640px 3px;
}

.its-free, .how { 
  margin: 0 0 20px 0;
}

.its-free p, .how p { 
  margin-bottom: 10px;
}

.its-free { 
  width: 600px;
  float: left;
}

.its-free p strong {
	font-weight: bold;
}
  
.how { 
  width: 300px;
  float: left;
	margin: 0 0 0 40px;
}
  
.different {
  float: left;
  width: 450px;
  margin-right: 40px;
}

.different ul { 
	margin: 20px 0 0 0;
}
  
.different ul li { 
  margin: 5px 0 0 10px;
	list-style-type: disc;
	line-height: 20px;
	font-size: 14px;
	color: #444;
}