.wrapper {
  margin: 0 auto;
  position: relative;
}

.right_column {
  width: 440px;
  float: right;
}

.left_column {
  width: 440px;
  float: left;
}

.content {
  min-height: 300px;
  clear: both;
  line-height: 15px;
  font-size: 12px;
  margin-bottom: 50px;
}

.mirosubs-videoDiv video,
.mirosubs-videoDiv video *,
.mirosubs-videoDiv object,
.mirosubs-videoDiv embed{
  display: block;
  width: 470px ;
}



/*/////////////////////////////////////////////

~ Header

/////////////////////////////////////////////*/


.header {
  min-height: 130px;
  width: 100%;
}

.header .top_bar {
  font-size: 12px;
  float: left;
  width: 100%;
  line-height: 3em;
}

.header h1 {
  float: left;
  margin: 10px 0 0 0px;
  font-size: 12px;
  position: absolute;
  top: 20px;
  left: 0;
}

.header h1 a, .header h1 span.logo {
  background: url(../images/logo.png) 0 10px no-repeat;
  margin: 0;
  overflow: hidden;
  padding: 50px 0 0;
  height: 0;
  width: 290px;
  display: block;
}

.header h1 a:hover{
  background: url(../images/logo.png) 0 -59px no-repeat;
}

.content h1 {
  line-height: 1.1em;
}


/*/////////////////////////////////////////////

~ Standard List

/////////////////////////////////////////////*/



.big_list,
.small_list{
  margin: 0;
  padding: 0;
  }


.big_list,
.big_list *{
  font-size: 13px;
  line-height: 1.4em;
  }


.small_list,
.small_list *{
  font-size: 11px;
  line-height: 1.3em;
  }


.big_list .info{
  margin-left: 120px;
  }


/*.small_list .info{
  margin-left: 65px;
  }*/
  

.big_list li,
.small_list li{
  margin: 0px 0;
  padding: 20px 0;
  list-style: none;
  clear: both;
  overflow: auto;
  border-bottom: 1px solid #fff;
  }

.small_list li{
  padding: 15px 0;
  }



.big_list li a,
.small_list li a{
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
  }


.big_list li a:hover,
.small_list li a:hover{
  text-decoration: underline;
  }



.big_list li h4,
.small_list li h4{
  margin: 0;
  }


.big_list li h4 a,
.small_list li h4 a{
  margin: 0;
  color: #333;
  padding: 0;
  font-size: 1.3em;
  }

.big_list li div span,
.small_list li div span{
  margin: 0px;
  color: #888;
  padding: 0;
  font-size: .9em;
  }
  

.big_list li div div{
margin-top: 5px;
line-height: 1.8em;
float: left;
  }
  

.big_list li div div a,
.small_list li div div a{
  font-size: .9em;
  }
  


.big_list li p,
.small_list li p{
  margin: 5px 0 0 0;
  padding: 0;
  color: #444;
float: left;
  }

.small_list li p{

float: none;
  }

.small_list li p{
  margin: 0px 0 0 0;
  }


/*

.need_help span{
  background: url(../images/ribbons.png) left 0 no-repeat;
float: left;
padding: 0px 15px 0px 20px !important; 
color: #fff !important;
margin-right: 10px !important;
line-height: 2em;
width: 123px;
}



.completed_in span{
  background: url(../images/ribbons.png) left -34px no-repeat;
float: left;
padding: 0px 15px 0px 20px !important; 
color: #fff !important;
margin-right: 10px !important;
line-height: 2em;
width: 123px;
}


*/

.need_help {
display: block;
clear: both;

}

.need_help *,
.completed_in *{
color: #000 !important;
font-weight: bold;
}


.need_help a,
.completed_in a{
text-decoration: underline !important;
}



.completed_in {
clear: both;
display: block;
margin: 0px !important;
}



/*/////////////////////////////////////////////

~ Share

/////////////////////////////////////////////*/


.mirosubs-share h2{
  border-bottom: 0 !important;;
  padding: 0 !important;
  line-height: 1em;
  }

.mirosubs-share h3{
  border-bottom: 0 !important;;
  padding: 0 !important;
  }
  
.embed_options_link {
	font-size: 10px;
	position: relative;
	bottom: 5px;
}



/*/////////////////////////////////////////////

~ Footer

/////////////////////////////////////////////*/


.footer{
  padding: 20px 30px 16px;
  margin: 50px 0 80px;
  color: #333;
  clear: both;
  width: 920px;
  margin: 60px auto;
  font-weight: bold;
  font-size: 13px;
  background: url(../images/1x1.png);
  -moz-border-radius: 5px;  
  -webkit-border-radius: 5px;
  height: 1.6em;
  }


.footer a{ color: #333;}


.footer .floatright a{ padding-left: 20px;}



.boxx{
background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
text-shadow: 0 1px 0px #fff;

border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: 1px solid #88afb6;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf9fc', endColorstr='#d6e8eb'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#ecf9fc), to(#d6e8eb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */



position: relative;
}



.sort_button:hover{
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-radius: 3px;
border-radius:3px;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ecf9fc'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ecf9fc)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fff,  #ecf9fc); /* for firefox 3.6+ */


}

.boxx .sort_button{
margin: 3px 2px !important;
}


.boxx .sort_button ul li{
padding: 0 !important;

}





.sub_content{
padding-left: 130px;
}




.search_toggles{
float: right;
padding-top: 10px;
}



.toggle{
background: #fff;
text-shadow: 0 1px 0px #fff;

font-size: 11px;

text-decoration: none !important;
-moz-box-shadow:inset 0 1px 0px #fff;
-webkit-box-shadowinset 0 1px 0px #fff;
box-shadow:inset 0 1px 0px #fff;

border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: 1px solid #88afb6;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf9fc', endColorstr='#d6e8eb'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#ecf9fc), to(#d6e8eb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */
float: right;

}


.toggle span{
background: #fff;
  -moz-border-radius: 15px;  
  -webkit-border-radius: 15px;

margin-right: 10px;

font-size: 11px;

text-decoration: none !important;

border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: 1px solid #88afb6;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf9fc', endColorstr='#d6e8eb'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#ecf9fc), to(#d6e8eb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */
float: left;
padding: 5px;
display: none;

}



.toggle.on{
background: #fff;
margin-top: 1px;
color: #5a777b;

text-shadow: 0 1px 0px #eef9fb;

font-size: 11px;

text-decoration: none !important;

border: none;
-moz-box-shadow:inset 0 1px 2px #99b8bc, 0 1px 1px #fff;
-webkit-box-shadow:inset 0 1px 2px #99b8bc, 0 1px 1px #fff;
box-shadow:inset 0 1px 2px #99b8bc, 0 1px 1px #fff;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccdadc', endColorstr='#dcebee'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#ccdadc), to(#dcebee)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ccdadc,  #dcebee); /* for firefox 3.6+ */
float: left;

}


.search_title {
  -moz-border-radius: 35px !important;  
  -webkit-border-radius: 35px;
	padding: 8px 13px 5px 16px;
}

.search_full {
  -moz-border-radius: 35px !important;  
  -webkit-border-radius: 35px;
	padding: 8px 16px 5px 13px;
}

div.lang_avail {
	width: 250px;
	float: left;
	border-right: 1px #c2cacb solid;
	padding: 0 10px 0 0;
	margin: 0 15px 0 0;
}

div.lang_avail h2 {
	margin: 0 0 5px 0;
	padding: 0;
	color: #495253;
}

div.lang_avail a {
	display: block;
	float: left;
	white-space: nowrap;
	margin: 5px;
	padding: 0 !important;
	font-weight: bold;
	color: #495253;
	font-size: 10px !important;
}

div.lang_avail a span {
	color: #495253;
	font-weight: normal;
}

div.lang_avail a span {
	padding: 7px 10px 7px 10px;
	-webkit-border-radius: 95px;
	-moz-border-radius: 95px;
	text-decoration: none !important;
}

div.lang_avail a span.fourty, div.lang_avail a span.twenty,
div.lang_avail a span.thirty, div.lang_avail a span.eighty,
div.lang_avail a span.sixty {
	background: #e5e3b7;
}

div.lang_avail a span.zero {
	background: #ebd7c9;
}

div.lang_avail a span.full {
	background: #c9ebce;
}

div.lang_avail a:hover {
	text-decoration: none !important;
	color: #909ea0;
}

div.lang_avail a:hover span {
	background: #FFF;
}

div.video_details {
	float: left;
	width: 150px;
	border-left: 1px #c2cacb solid;
	padding: 0 0 0 10px;
	position: relative;
	left: -16px;
}

div.video_details div {
	float: none !important;
	margin: 0 !important;
	line-height: 14px;
	font-size: 12px;
	color: #495253;
}

div.video_details div strong {
	color: #495253;
}

.started, .last_worked, .page_loads, .fetched {
	padding: 0 0 0 20px !important;
}

.started {
	background: transparent url(../images/video_details_icons.png) 0 -31px no-repeat;
}

.last_worked {
	background: transparent url(../images/video_details_icons.png) 0 -31px no-repeat;
}

.page_loads {
	background: transparent url(../images/video_details_icons.png) 0 -14px no-repeat;
}

.fetched {
	background: transparent url(../images/video_details_icons.png) 0 5px no-repeat;
}

.info p {
	float: none !important;
}

/* Search
------------------------------------------------*/

.search_filters {
  background-color: rgba(20, 95, 123, 0.10);
  padding: 10px;
  margin-top: 18px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0,71,90, 0.2);
}

.search_filters h3 {
	margin: 0;
	padding: 4px 0 10px 0;
}

.search_filters select {
	width: 253px;
}

.search_filters p {
	margin: 0 5px 0 5px;
	padding: 0;
	float: none !important;
	display: inline !important;
	font-size: 12px;
	color: #333;
	font-weight: bold;
}

.search_filters #sort_filter {
	float: right;
	margin: 0 3px 0 0;
}

.search_filters #sort_filter select {
	width: auto;
}

.search_filters p.last {
  border-bottom: 0;
}

/*/////////////////////////////////////////////

~ Navs

/////////////////////////////////////////////*/


/*//////////   ~  Nav  ~   //////////*/


.nav{
  margin: 40px 0 0 290px;
  padding: 0;
  float: left;
width: 390px;
  }


.nav li{
  margin: 0;
  float: left;
  padding: 1px 0;
  list-style: none;
  }




.nav li.last{}

.nav li.last a {
  border: none;
/*  background: url(../images/nav2.png) right top no-repeat;*/ 
 }


.nav li.last a:hover {
  border: none;
/* background: url(../images/nav2.png) right -45px no-repeat;*/
  }

.nav li.last a:active {
  border: none;

/*background: url(../images/nav2.png) right -89px no-repeat;*/
  }



#about .header .nav li.last a {
  border: none;
  cursor: default;
  /*background: url(../images/nav2.png) right -89px no-repeat;*/
  }



.nav li.last a span{ border: none;}


.nav li a{
  font-size: 12px;
  margin: 0;
  float: left;
  color: #333;
  text-decoration: none;

  padding: 0px 20px 0 0;

/*

  background: url(../images/nav2.png) center top no-repeat;
*/
  }



.nav li a:hover{ /*background: url(../images/nav2.png) center -45px no-repeat;*/}


.nav li a span{

  display: block;
  font-size: 18px;
  }


.nav li.first{
  border-right: #fff 1px solid;
margin-right: 20px;
}



.nav li a:active,
#login .header .nav li.login_link a,
#faq .header .nav li.faq_link a,
#video .header .nav li.videos_link a{
  /*background: url(../images/nav2.png) center -89px no-repeat;*/
  }

/*




.nav li.first a:hover{ background: url(../images/nav2.png) left -45px no-repeat;}


.nav li.first a:active{ background: url(../images/nav2.png) left -89px no-repeat;}


.nav li a:active{ background-position-y: -90px !important;}


*/
/*//////////   ~  Sub Nav  ~   //////////

.about_link a.about{
padding-right: 15px !important;
background: url(../images/sub_nav_arrows.png) 46px 7px no-repeat;
}


.about_link a.about:hover{
padding-right: 15px !important;
background: url(../images/sub_nav_arrows.png) 46px -28px no-repeat;
}
*/


.sub_nav{
  float: right;
  clear: right;
  margin: 39px 0 0 0;
  padding: 8px 0 0;
  }


.sub_nav li{
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
  font-size: 12px;
position: relative;
float: left;
  }

.sub_nav li a{
display: block;
padding: 5px 10px;

  }


.sub_nav li ul{
  display: none;
}


.sub_nav li ul li a{
padding: 5px 0;
}


.sub_nav li:hover ul{
  display: block;
position: absolute;
left: -4px;
}


/*//////////   ~  Left Nav  ~   //////////*/



.left_nav_wrapper{
  position: relative;
  }


.left_nav{
  position: relative;
  margin: 5px 0 20px;
  padding: 0;
  width: 237px;
  overflow: hidden;
  }



.left_nav li{
  margin: 0 0 0px;
  padding: 0;
  width: 100%;

  float: left;
  list-style: none;
  }



.left_nav li a{
  margin: 0 1px 0 0;
  padding: 10px 0 10px 15px;
  display: block;
  float: none;
  font-size: 13px;
  width: 242px;
  -moz-border-radius-topleft: 5px;  
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius-top-right: 5px;
  -webkit-border-radius-bottom-right: 5px;
  text-decoration: none;
  }


.left_nav li a:hover{
  background: #fff;
  }


.left_nav li.active a{
  font-weight: bold;
  background: #a4c3ca;
  margin: 0;
  cursor: default;
  color: #fff;
  -moz-box-shadow: 0px 0px 1px #fff;
  -webkit-box-shadow: 0px 0px 1px #fff;
  box-shadow: 0px 0px 1px #fff;
  }

.left_nav li.active a:hover{
  background: #a4c3ca;
  }




/*//////////   ~  Inline Tabs  ~   //////////*/




.inline_tabs {
  display: inline !important;
  clear: none !important;
  margin: 0;
  padding: 10px !important; 
  }


.inline_tabs li{
  display: inline;
  margin: 0;
  padding: 0; 
  }


.inline_tabs li a{
  display: inline !important;
  clear: none !important;
  text-decoration: none;
  color: #333;
  }

.inline_tabs li a:hover span.inline_text{
  text-decoration: underline;
  }

.inline_tabs li.active a{
  font-weight: bold;
  }



.inline_tabs li a .badgy{
  background: #fff;
  margin-left: 4px;
  padding: 4px 6px 2px;
  margin-top: -1px;  
  }


.search{
}


#languages-tab .inline_tabs {
	padding: 10px !important;
	display: block !important;
}


a.active {
   text-decoration: none;
}