.msg_header { 
  margin-bottom: 0;
}
  
table.messages thead {
  color: #728286;
  border-bottom: 1px solid #d1dee0;
} 

table.messages th { 
  padding: 0 10px;
  background-color: #f1f8f9;
  font-weight: normal;
  border: 0;
  line-height: 26px;
  font-size: 11px;
}
  
table.messages td { 
  border: 0;
  color: #717171;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #e3e3e3;
  white-space: nowrap;
}

table.messages .msg_avatar { 
  padding-right: 0;
}

table.messages .msg_from {
  font-weight: bold; 
  color: #4c4c4c;
  padding-right: 20px;
}
  
table.messages .msg_body { 
  width: 60%;
  white-space: normal;
}

table.messages tr.unread { 
  background-color: #f1f8f9;
  font-size: 1.1em;
}

table.messages tr.unread td { 
    font-weight: bold;
}

table.messages .delete {
    cursor: pointer;
}

.no_messages { 
  font-size: 18px;
  text-align: center;
  line-height: 100px;
}
  
.msg_nav { 
  position: relative; 
  float: right;
}
  
/* Modal */

.msg_modal_wrap { 
  display: none;
  width: 500px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 4px solid rgba(0,0,0,0.2);
	background: #E7EFF1; 
}

.msg_modal {
  background: #E7EFF1; 
  font-size: 13px;
  -moz-border-radius: 4px;
  border-radius: 4px;
	padding: 10px 20px 10px 10px;
}

.msg_modal_wrap .close {
  background: url(../images/sprite.png) no-repeat 0px -256px !important;
  display: block;
  text-indent: -9999px;
  height: 27px;
  width: 30px;
  float: right;
  position: relative;
  left: 30px;
  top: 10px;
}

.msg_modal img { 
  vertical-align: middle;
  height: 20px;
}

.msg_modal h3 { 
  background-color: #E7EFF1;
  font-size: 14px;
  line-height: 50px;
  padding: 0;
  font-weight: normal;
  //text-indent: 10px;
  /*border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: -moz-linear-gradient(top, #f0f5f6, #e3edef);
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f5f6), to(#e3edef));*/
}

.msg_modal h3 span {
  font-weight: bold; }

.msg_modal dl { 
  margin: 0;
  clear: both;
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
}
  
.msg_modal dt { 
  font-weight: bold;
  width: 100px;
  float: left;
}

.msg_modal dd { 
  width: 360px;
  float: right;
  margin: 0;
  line-height: 18px;
}
  
.msg_modal dl p {
  margin-top: 0;
}

.msg_modal textarea { 
  width: 100%;
  height: 80px;
}
  
.message-subject { 
  margin: 0;
}