.mirosubs-widgetContainer {
    width: 100%;
    height: 100% !important;
    position: relative;
}


.mirosubs-modal-widget, .mirosubs-modal-widget:active, .mirosubs-modal-widget:hover, a, a:hover, a:active{

outline: none;

}


.mirosubs-widget {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px !important;
   color: #000 !important;
   line-height: 16px;
   width: 400px;
}


.mirosubs-modal-widget {
    width: 842px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px !important;
    color: #000 !important;
    line-height: 16px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,01);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,01);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #000;
    padding: 10px;
    background: #fff;
    position: absolute;
}


.mirosubs-modal-widget-content {
    border: 1px solid #000;
    background: #000;
}

.mirosubs-modal-widget-content h1{
color: #fff;
text-align: center;
padding: 25px;
}

.mirosubs-moreHelp{
width: 400px;
margin: 80px auto 0;
}


.mirosubs-showTimeline{
position: absolute;
left: -10px;
background: #fff;
top: -70px;
border: 1px solid #333;
padding: 4px 6px;
line-height: 1em;
text-decoration: none;
font-weight: bold;
z-index: 5667666666666;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


.mirosubs-moreHelp p a{
color: #fff;
text-align: center;
}

.mirosubs-moreHelp p{
color: #fff;
text-align: center;
}





.mirosubs-BANG {
text-shadow: 
0px 0px 25px red,
0px 0px 35px red,
0px 0px 35px red,
0px 2px 0px red,
-1px 3px 0px red,
-2px 2px 0px red,
-2px 1px 0px red,
-2px 0px 0px red,
2px 2px 0px red,
1px 2px 0px red,
0px -2px 0px red,
2px -2px 0px red,
-2px -1px 0px red;
}

.mirosubs-modal-widget-title-close {
    background: url("../images/sprite.png") 0 -256px no-repeat;
    position: absolute;
    top: -17px;
    right: -17px;
    height: 0px; 
    width: 30px;
    overflow: hidden;
    padding-top: 30px;
    cursor: pointer;
    cursor: hand;
}

.mirosubs-langDrop {
background: #999;
padding: 15px 0;
text-align: center;
border-bottom: 1px solid #333;
border-top: 1px solid #333;
}

.mirosubs-langDrop select{
background: #fff;
line-height: 2em !important;
border: 1px solid;
font-size: 15px;
}



.mirosubs-langDrop option{

}


.mirosubs-left{
	width: 400px;
	float: left;

	}

.mirosubs-right{
	width: 380px !important;
	padding: 20px 30px !important;
	float: left;
	}

.mirosubs-modal-widget-content.finished {
height: 670px;
	}




.mirosubs-modal-widget-content.finished .mirosubs-right{
	width: 360px !important;
	padding: 0px 30px 0 0 !important;
	float: right;
	}



.mirosubs-modal-widget-content.finished .mirosubs-videoDiv{
margin-left: 30px;
}



::-moz-selection{background: transparent; !important} 

::selection {background: transparent; !important} 


.mirosubs-help{
	color: #fff;
	margin: 10px 0;

	}

.mirosubs-help h2{
	color: #fff;
	margin: 0px 0 0;
font-size: 18px;
	}

.mirosubs-help p{
font-size: 14px;
line-height: 1.5em;
}


.mirosubs-steps{
position:absolute;
bottom: 30px;
width: 383px;
border: 1px solid #000;
background: #000;
}


.mirosubs-restart{
    padding-left: 23px;
    margin: 10px 0 0 0px;
    font-size: 11px;
    float: right;
    text-decoration: none;
    line-height: 2em;
    background: url("../images/sprite.png") 0 -153px no-repeat;
    color: #777;

}

  

.mirosubs-backTo{
    padding-left: 16px;
    margin: 10px 0 0 0px;
    font-size: 11px;
    text-decoration: none;
    float: left;
    line-height: 2em;
background: url("../images/sprite.png") left -211px no-repeat;
    color: #777;

}


.mirosubs-loggedIn{
color: #fff;
text-align: center;
}

.mirosubs-done{
color: #333;
font-size: 16px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
border: 1px solid #fff;
padding: 10px 3px 10px 8px;
clear: both;
margin: 15px 30px 20px;
position: relative;
text-align: center;
text-decoration: none;
    text-shadow: #fff 1px 1px 1px;
display: block;
background: #fff url("../images/gradient.png") right -2px repeat-x;
}

.mirosubs-done img{
border: 0;
position: absolute;
left: 30px;

}


.mirosubs-done span{
padding-right: 19px;
background: url("../images/sprite.png") right -236px no-repeat;
}


.mirosubs-done.left span{
padding-left: 19px;
background: url("../images/sprite.png") left -214px no-repeat;
}

.mirosubs-done:hover{
background: #fff url("../images/gradient.png") right 32px repeat-x;
}

.mirosubs-done:active{
background: #fff url("../images/gradient.png") right -82px repeat-x;
border-color: #000;
}

.mirosubs-translateField{
padding: 3px;
width: 350px !important;
margin-top: 3px;
height: 34px;
}

.mirosubs-whats{
display: block;
font-size: 11px;
color: #999;
margin-left: 40px;
}

.mirosubs-needLogin{
color: #fff;
font-size: 15px;
padding-left: 35px;
background: url("../images/sprite.png") 10px -119px no-repeat;
line-height: 2em;
text-align: center;
}


.mirosubs-needLogin a{
color: #fff;

}


.mirosubs-legend{
color: #fff;
background: #444 url("../images/big_grad.png") right bottom repeat-x;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
padding: 20px;
margin: 40px 0 0;
border-top: 1px solid #444;
border-right: 1px solid #555;
border-bottom: 1px solid #555;
border-left: 1px solid #555;
clear:both;
}



.mirosubs-play,
.mirosubs-skip,
.mirosubs-begin{
font-size: 18px;
line-height: 2.1em;
clear:both;
text-shadow: 1px 1px 1px #000;
}

.mirosubs-skip{
margin-top: 10px;
}

.mirosubs-play .mirosubs-tab, 
.mirosubs-skip .mirosubs-control{
font-size: 20px;
color: #333;
font-size: 11px;
height: 22px;
padding: 18px 0 0 10px;
display: block;
background: url("../images/sprite.png") 0 0px no-repeat;
width: 58px;
text-shadow: 1px 1px 1px #fff;
float: left;
line-height: 1em;
margin: 0 10px 0 44px;
}


.mirosubs-begin .mirosubs-spacebar{
font-size: 20px;
color: #333;
font-size: 11px;
height: 22px;
padding: 14px 0 4px 0px;
display: block;
background: url("../images/spacebar.png") 0 0px no-repeat;
width: 110px;
float: left;
text-align: center;
line-height: 1em;
text-shadow: 1px 1px 1px #fff;
margin: 0 10px 10px 0;
}

.mirosubs-play .mirosubs-tab:hover,
.mirosubs-skip .mirosubs-control:hover{
background: url("../images/sprite.png") 0 -41px no-repeat;
cursor: pointer;
}

.mirosubs-play .mirosubs-tab:active,
.mirosubs-skip .mirosubs-control:active{
background: url("../images/sprite.png") 0 -83px no-repeat;
cursor: pointer;
}


.mirosubs-begin .mirosubs-spacebar:hover{
background: url("../images/spacebar.png") 0 -41px no-repeat;
cursor: pointer;
}

.mirosubs-begin .mirosubs-spacebar:active{
background: url("../images/spacebar.png") 0 -83px no-repeat;
cursor: pointer;
}

.mirosubs-auto{
float: left;
line-height: 1.7em;
margin: 0px 30px 0 40px;
}

.mirosubs-auto .mirosubs-enable{
padding-left: 40px;
float: left;
line-height: 1.7em;
background: url("../images/sprite.png") 0 -183px no-repeat;
margin: 20px 0 0 0px;
}
.mirosubs-auto a{
    color: #fff;
}


.mirosubs-hide{
    float: right;
    color: #555;
    padding-left: 15px;
    background: url("../images/sprite.png") 0 -214px no-repeat !important;
    text-decoration: none;
}

.mirosubs-clear{
    clear:both;
    height: 0;
}

.mirosubs-watch {
    color: #fff;
    margin: 20px 0;
    display: block;
    padding-left: 30px;
    background: url("../images/sprite.png") 0px -328px no-repeat !important;
}

.mirosubs-watch span {

}

.mirosubs-left object, .mirosubs-left embed{
    width: 400px;
    height: 350px;
}

.mirosubs-left video{
    width: 400px;
    height: 300px;
}

.mirosubs-widget .mirosubs-videoTab {
    font-size: 10px;
    float: left;
    margin: -5px 0 0 0;
}

.mirosubs-loginStatus {
    margin: 0 !important;
    padding: 5px 8px !important;
    list-style: none !important;
    float: left;
    display: none;
}

.mirosubs-loginStatus.notLogged {
    display: none;
}

.mirosubs-dropdown {
    width: 250px;
    position: absolute;
    top: 27px;
    left: 0;
    border: 1px solid #aaa;
    border-top: none;
    background: #fefefe;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius-right-bottom: 5px;
    -webkit-border-radius-left-bottom: 5px;
}

.mirosubs-dropdown ul.mirosubs-languageList {
    padding: 0;
    margin: 0;
}

.mirosubs-dropdown ul.mirosubs-languageList li {
    list-style: none;
}

.mirosubs-dropdown ul.mirosubs-languageList a {
    padding: 0;
    margin: 0;
    font-size: 11px;
    display: block;
    border-top: 1px solid #ddd;
    text-decoration: none;
    padding: 2px 7px;
}

.mirosubs-dropdown ul.mirosubs-languageList a:hover {
    text-decoration: underline;
}

.mirosubs-dropdown p {
    padding: 0;
    margin: 0;
    font-size: 11px;
    display: block;
    padding: 2px 7px;
}

.mirosubs-videoTab a {
    color: #333;
}

.mirosubs-videoTab a.mirosubs-subtitleMeLink {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    background: #fff url("../images/gradient.png") right 2px repeat-x;
    -webkit-border-bottom-left-radius: 5px; 
    -webkit-border-bottom-rught-radius: 5px; 
    display:block;
    line-height: 1.1em;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    border: 3px solid #90b60f;
    border-top: none;
}

.mirosubs-videoTab a.mirosubs-subtitleMeLink img {
    float: left;
    border: none;
    height: 17px;
    width: 17px;
    margin: 7px 0 0 7px;
}

.mirosubs-videoTab a.mirosubs-subtitleMeLink span {
    display: block;
    padding: 8px 10px 8px 30px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px; 
    -webkit-border-bottom-rught-radius: 5px; 
    border-bottom: 1px solid #ddd;
}


.mirosubs-subtitleMe a.mirosubs-subtitleMeLink:hover {
    background: #fff url("../images/arrow.gif") 7px center no-repeat;
}


.mirosubs-subtitleMe a.mirosubs-subtitleMeLink:hover span{
    border-bottom: 1px solid #fff;
}

.mirosubs-captioningArea {
position: relative;
    background: #fff url("../images/big_grad.png") 0 bottom repeat-x !important;
}

ul.mirosubs-titlesList {
    margin: 0 !important;
    padding: 0 0 150px 0 !important;
    border-bottom: 1px solid #ccc;
    overflow: auto;
    position: relative;
    height: 130px;
}


ul.mirosubs-titlesList li {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin: 0 !important;
    position: relative;
    min-height: 23px;
    padding: 10px !important;
    list-style: none !important;
}


ul.mirosubs-titlesList.taller {
    height: 210px !important;
}

ul.mirosubs-titlesList.sync {
    margin: 0 !important;
    padding: 0 !important;
    height: 200px;
    border-bottom: 1px solid #ccc;
    overflow: auto;
}


.mirosubs-widget a:active,
.mirosubs-widget a:focus,
.mirosubs-widget a:hover {
    outline: none;
}

.mirosubs-widget li.selected{
    background: #0090cb;
}

.mirosubs-modal-dialog-bg {
  position: absolute;
  background-color: #666;
  top: 0;
  left: 0;
}

.mirosubs-modal-widget-bg {
  position: absolute;
    background: #000 url("../images/trans.gif");
  top: 0;
  left: 0;
}

.mirosubs-modal-dialog {
  position: absolute;
  padding: 5px;
  background-color: #bcf;
  border: 1px solid #000;
  font-family: arial, sans-serif;
  width: 475px;
  color: #000;
  outline: none;
}

.mirosubs-modal-dialog a,
.mirosubs-modal-dialog a:link,
.mirosubs-modal-dialog a:visited  {
  color: #0066cc;
  cursor: pointer;
}

.mirosubs-modal-dialog-title {
  position: relative;
  background-color: #ebeff9;
  color: #000000;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
  cursor: hand;
}

.mirosubs-modal-dialog-title-close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 15px;
    height: 16px;
    background: url("../images/dialog_close_box.gif") no-repeat center;
    cursor: default;
}

.mirosubs-modal-dialog-content {
    padding: 15px;
    font-size: 90%;
    background-color: #fff;
}

.mirosubs-modal-dialog-buttons {
    padding: 0 15px 15px;
    background-color: #fff;
}

.goog-buttonset-default {
    font-weight: bold;
}

.mirosubs-label-input-label {
    color: #666;
}

.mirosubs-activecaption-input-label {
    background-color: #fbb;
}

.mirosubs-captionDiv {
    position: absolute;
    top: 220px !important;
    left: 10px;
    width: 360px;
letter-spacing: .04em;
text-shadow:
0px 2px 1px #000,
-1px 3px 1px #000,
-2px 2px 1px #000,
-2px 1px 1px #000,
-2px 0px 1px #000,
2px 2px 1px #000,
1px 2px 1px #000,
0px -2px 1px #000,
2px -2px 1px #000,
-2px -1px 1px #000,
-1px -3px 1px #000,
-3px -2px 1px #000,
0px 0px 25px #000,
0px 0px 35px #000,
0px 0px 35px #000,
0px 0px 31px #fff,
0px 0px 31px #fff,
0px 0px 31px #fff;
font-size: 14px;
    text-align: center;
    color: white;
    font-weight: bold;
	z-index: 4534534544433 !important;
    padding: 8px 20px !important;

}

iframe.mirosubs-captionDivBg { 
    position: absolute; 
    border: none; 
    top: 220px !important;
} 


/*--- "Finished Page" version ---*/

ul.mirosubs-titlesList.finished {
    margin: 0 !important;
    padding: 0 !important;
    height: 56px;
    border-bottom: 1px solid #ccc;
    overflow: auto;
}



ul.mirosubs-titlesList.mirosubs-beginTab {
overflow: hidden;
margin-bottom: 0px !important;
background: url("../images/begin_tab.jpg") 0 -74px no-repeat;
    text-shadow: #333 1px 1px 1px;
border-bottom: none;
}


ul.mirosubs-titlesList.mirosubs-beginTab .mirosubs-beginTabLi {
height: 102px;
padding: 110px 0px !important;
text-align: center;
font-size: 20px;
line-height: 1.5em;
color: #fff;

}


ul.mirosubs-titlesList li:hover {
cursor: default;
}

ul.mirosubs-titlesList li.active {
    background: #caf3ff;
}

ul.mirosubs-titlesList li textarea {
    width: 350px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    border-top: 1px solid #999;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #ddd;
}


ul.mirosubs-titlesList li input.mirosubs-translateInput {
    width: 95%;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    border-top: 1px solid #999;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #ddd;
margin: 7px 0 0 0;
}

.mirosubs-timestamp {
    margin: 0 !important;
    right: 0;
    font-size: 10px;
    position: absolute;
    line-height: 18px;
    top: 0;
    .top: -3px;
    font-weight: normal;
    width: 60px;
    color: #aaa;
    height: 29px;
    padding: 0 0px 0 5px !important;
}

.mirosubs-timestamp.none {
    color: #aaa;
}

.mirosubs-changeTime {
width: 31px;
margin: 0;
position: absolute;
right: 0;
height: 27px;
top: 0;

}

.mirosubs-timestamp:hover .mirosubs-changeTime a{
display: block;
}

.mirosubs-changeTime a{
width: 15px;
float: right;
display: none;
height: 0;
padding-top: 18px;
overflow: hidden;
}



.mirosubs-changeTime a.mirosubs-up{
float: right;
height: 0;
overflow: hidden;
border-left: 1px solid #aaa;
background: url("../images/time_arrows.png") right -1px no-repeat;
}



.mirosubs-changeTime a.mirosubs-down{
height: 0;
float: left;
overflow: hidden;
background: url("../images/time_arrows.png") left -1px no-repeat;
}


.mirosubs-changeTime a.mirosubs-down:hover{
cursor: default;
background: url("../images/time_arrows.png") left -20px no-repeat;
}



.mirosubs-changeTime a.mirosubs-down:active{
cursor: default;
background: url("../images/time_arrows.png") left -39px no-repeat;
}


.mirosubs-changeTime a.mirosubs-up:hover{
cursor: default;
background: url("../images/time_arrows.png") right -20px no-repeat;
}


.mirosubs-changeTime a.mirosubs-up:active{
cursor: default;
background: url("../images/time_arrows.png") right -39px no-repeat;
}


.mirosubs-title {
    line-height: 1.7em;
    display: block;
    padding-top: 2px;
    .padding-top: 0px;

    margin-right: 65px;
}

.mirosubs-title-notime {
    padding-left: 0;
}

.mirosubs-nextStep {
    padding: 10px 0;
    text-align: right;
    float: left;
    width: 100%;
    background: #fcfcfc url("../images/gradient.png") 0 14px repeat-x;
}

.mirosubs-nextStep strong {
    padding-right: 17px;
    background: url("../images/right_arrow.png") right 3px no-repeat;
}

.mirosubs-nextStep span {
    padding-right: 15px;
}

.mirosubs-nextStep a {
    float: right;
    padding: 1px 10px 0;
    line-height: 2em !important;
    background: url("next.gif") 0 -4px repeat-x;
    text-decoration: none;
    color: #fff;
    border: 1px solid #666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-right: 10px;
}

.mirosubs-nextStep a:hover {
    border: 1px solid #333;
}

.mirosubs-nextStep a.mirosubs-logoutLink {
    background: none;
    color: #aaa;
    text-decoration: underline;
    border: 0;
    float: left;
    margin: 0 0 0 10px;
}


.mirosubs-nextStep a.mirosubs-logoutLink:hover {
    background: none;
    color: #666;
    border: 0;
}

.mirosubs-nextStep a.mirosubs-logoutLink:active {
    background: none;
    color: #666;
    border: 0;
}

.mirosubs-nav {
    margin: 0;
    padding: 0;
    clear: both;
    height: 2.5em;
}

.mirosubs-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 33%;
    float: left;
}

.mirosubs-nav li.active a {
    border-top: 1px solid #ededed;
    background: #efefef url("../images/gradient.png") 0 -39px repeat-x;
}

.mirosubs-nav a {
    margin: 0;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-weight: bold;
    color: #333;
    padding: 0;
    float: left;
    border-top: 1px solid #ddd;
    line-height: 2.5em;
    background: #efefef url("../images/gradient.png") 0 -9px repeat-x;
}

.mirosubs-navTranscribe a {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.mirosubs-navSync a {
    border-left: 1px solid #ccc;
}

.mirosubs-navReview {
    width: 34%;
}

.mirosubs-navReview a {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.mirosubs-navSync a {
   border-right: 1px solid #ccc;
   width: 99%;
}

.mirosubs-nav a:hover {
    border-top: 1px solid #ededed;
    background: #efefef url("../images/gradient.png") 0 -39px repeat-x;
}

.mirosubs-transcribeControls {
    background: #ddd;
    border-bottom: 1px solid #999;
    border-top: 1px solid #eee;
}

.mirosubs-transcribeControls input.trans {
    width: 91%;
    margin: 10px;
    padding: 5px;
    font-size: 13px;
}

.mirosubs-widget li.mirosubs-transcribeHelp {
    margin:0px !important;
    padding: 0px !important; 
    background: #eee;
    border-bottom: 1px solid #ddd;
}

.mirosubs-widget li.mirosubs-transcribeHelp:hover {
    background: #eee !important;
}

.mirosubs-widget li.mirosubs-transcribeHelp .mirosubs-helpInner {
    margin: 10px !important;
    padding: 0px !important; 
    border: 1px solid #333;
    -moz-border-radius: 5px;
    background: url("../images/blue_grad.gif") 0 0 repeat-x;
    border-right: 1px solid #1d8bb0;
    border-left: 1px solid #1d8bb0;
    border-bottom: 1px solid #fff;
    -webkit-border-radius: 5px;
}

li.mirosubs-transcribeHelp p {
    color: #fff;
    font-weight: bold;
    padding: 0 25px 5px 15px;
    margin: 0px 0px 0 0;
    font-size: 11px;
    text-shadow: #6374AB 1px 1px 1px;
}

li.mirosubs-transcribeHelp p.mirosubs-topP {
    padding-top: 10px;
}

.mirosubs-transcribeHelp,
.mirosubs-transcribeHelp li:hover {

}

.mirosubs-transcribeHelp .mirosubs-keys {
    width: 100%;
    height: 127px; 
    border: 1px solid #333; 
    border-bottom: 0; 
    margin-left: -223px; 
    position: fixed; 
    width: 200px; 
    margin-top: -10px; 
    padding: 15px 5px; 
    background: url("../images/keys.png") 0 0 repeat-x;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    background: url("../images/blue_grad.gif") 0 0 repeat-x;
    -webkit-border-bottom-left-radius: 5px; 
    -webkit-border-top-left-radius: 5px; 
}

.mirosubs-transcribeHelp .mirosubs-keys h3{ 
    margin: 0 0 10px; 
    padding: 0 0 0 10px; 
    color: #fff; 
} 

.mirosubs-transcribeHelp .mirosubs-keys a { 
    margin: 0; 
    padding: 0 0 0 10px; 
    color: #fff; 
    position: absolute; 
    bottom:10px; 
    right: 10px; 
} 

.mirosubs-transcribeHelp .mirosubs-keys span {
    float: left;
    font-weight: bold;
    font-size: 10px;
    text-shadow: #6374AB 1px 1px 1px;
    color: #fff;
    margin-bottom: 5px;
    padding: 5px 5px 5px 15px;
}

.mirosubs-transcribeHelp .mirosubs-keys span.mirosubs-tab{
    float: left;
    font-weight: bold;
    font-size: 10px;
    padding: 5px 5px 5px 50px;
    background: url("../images/keys_buttons.png") 10px -48px no-repeat;
}

.mirosubs-transcribeHelp .mirosubs-keys span.mirosubs-back{
    float: left;
    font-weight: bold;
    font-size: 10px;
    padding: 5px 5px 5px 50px;
    background: url("../images/keys_buttons.png") 10px -97px no-repeat;
}

li.mirosubs-transcribeHelp span.mirosubs-space_bar{
    background: url("../images/keys_buttons.png") 10px 1px no-repeat;
    padding: 6px 0 5px 100px;
}

.mirosubs-transcribeHelp ol {
    margin: 0;
    background: none;
    padding: 0;
}

li.mirosubs-transcribeHelp ol li {
    background: none !important;
    margin: 0;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.4em;
    border: none !important;
    padding: 3px !important;
}

.mirosubs-tips p {
    padding: 0 0 4px;
    font-size: 11px;
    margin: 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .mirosubs-navSync {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;

    }

    .mirosubs-navSync a{
        border-left: none;
        width: 100%;
    }

    .mirosubs-navReview a{
        border-left: none;
    }

    .mirosubs-navReview {
    }
}

.mirosubs-langmenu {
    background-color:#FFFFFF;
    border-color:#CCCCCC #666666 #666666 #CCCCCC;
    border-style:solid;
    border-width:1px;
    border-top: none;
    cursor:default;
    margin:0;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    padding:px 0;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px; 
    -webkit-border-bottom-rught-radius: 5px; 
    position: absolute;
}

.mirosubs-langmenuitem {
    font-size:11px;
    margin:0;
    padding:4px 7px;
}

.mirosubs-langmenuitem-highlight {
    background-color: #333;
    cursor: pointer;
    color: white;
}

.mirosubs-langmenusep {
    border-top: 1px solid #666;
    margin: 0px 0;
    padding: 0;
}


.mirosubs-embed{
position: relative;
}



embed#clippy{
position: absolute;
top: 5px;
left: 230px;
}


.mirosubs-embed input {
width: 205px;
overflow: hidden;
padding: 5px;
height: 11px;
font-size: 11px;
}


.mirosubs-share{
background: #e1eff4;
padding: 20px 20px 30px;
position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}


.mirosubs-share h2{
margin: 0;
}


.mirosubs-share h3{
margin: 15px 0 5px 0;
}

.mirosubs-permalink{
color: #777;
}


.mirosubs-blueTriangle{

position: absolute;
left: -8px;
top: 18px;
}


.mirosubs-share ul{
margin: 0 0 0 0px;
padding: 0;
}


.mirosubs-share ul li{
list-style: none;
padding: 0;
margin-bottom: 5px

}


.mirosubs-share ul li a{
list-style: none;
line-height: 1.8em;
padding: 0 0 0 28px;
margin-bottom: 5px
display: block;
color: #333;
text-decoration: none;
font-weight: bold;
}


.mirosubs-twitter{
    background: url("../images/share_icons.png") 0 -37px no-repeat;
}


.mirosubs-facebook{
    background: url("../images/share_icons.png") 0 0px no-repeat;
}


.mirosubs-friends{
    background: url("../images/share_icons.png") 0 -73px no-repeat;
}



.mirosubs-translating{
padding: 5px;
color: #fff;
background: #444 url("../images/big_grad.png") right bottom repeat-x;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
padding: 30px;
margin: 30px;
border-top: 1px solid #444;
border-right: 1px solid #555;
border-bottom: 1px solid #555;
border-left: 1px solid #555;
clear:both;
height: 110px;
width: 720px;
}


.mirosubs-translating p{
float: left;
width: 420px;
font-size: 15px;
margin: 0 0 20px;
line-height: 1.3em;

}

.mirosubs-translating .mirosubs-buttons{
float: right;
width: 240px;
}

.mirosubs-translating .mirosubs-done{
margin: 0 0 35px;
}

.mirosubs-autopause {
    font-size: 16px;
    margin: 10px 0 0 95px;
    line-height: 16px;
}

.goog-checkbox {
  border: 1px solid #1C5180;
  cursor: pointer;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 1px;  /* Fixes the height in IE6 */
  height: 11px;
  margin: 0 4px 0 1px;
  vertical-align: text-bottom;
  width: 11px;
}

.goog-checkbox-checked {
  background: #fff url('../images/check-sprite.gif') no-repeat 2px center;
}

.goog-checkbox-undetermined {
  background: #bbb url('../images/check-sprite.gif') no-repeat 2px center;
}

.goog-checkbox-unchecked {
  background: #fff;
}

.goog-checkbox-disabled {
  border: 1px solid lightgray;
  cursor: default !important;
  background-position: -7px;
}


.mirosubs-videoHelp video{
width: 600px;
height: 300px;
margin: 30px 0 0 125px !important;
}


.mirosubs-langmenu{
width: 110px;
}

.mirosubs-langmenuitem-content, .mirosubs-langmenuitem-content a{
font-family: Arial, Helvetica, sans-serif;
color: #333;
text-decoration: none;
}



/*///////////////////////////////////////////////

~ Video Controls

///////////////////////////////////////////////*/

.mirosubs-videoControls{
width: 100%;
border-bottom: 1px solid;
width: 400px;
height: 30px;
background: #fff url("../images/gradient.png") 0 1px repeat-x;
}



.mirosubs-timespan {
float: left;
font-size: 11px;
padding: 7px 0 0;
font-weight: bold;
}


.mirosubs-timespan .mirosubs-timeElapsed{
float: left; 
padding-right: 1px;
font-size: 11px;
}


.mirosubs-playPause {
float: left;
border-right: 1px solid;
padding: 9px 10px 8px 11px;
margin-right: 8px;
}

.mirosubs-playPause:hover {
background: url("../images/gradient.png") 0 1px repeat-x;
cursor: pointer;
}


.mirosubs-playPause span{
   width: 10px;
   padding-top: 13px;
   overflow: hidden;
   float: left;
}

.mirosubs-playPause.play span {
   background: url("../images/play_pause.png") 0 0px no-repeat;
}

.mirosubs-playPause.pause span {
   background: url("../images/play_pause.png") 0 -32px no-repeat;
}

.mirosubs-volume {
height: 30px;
float: right;
width: 31px;
border-left: 1px solid #777;
position: relative;
}


.mirosubs-volume span{
height: 30px;
float: right;
width: 31px;
background: url("../images/play_pause.png") 9px -55px no-repeat;
}

.mirosubs-volume:hover {
background: url("../images/gradient.png") 0 1px repeat-x;
cursor: pointer;
}

.mirosubs-volume .mirosubs-volume-container {
   overflow: hidden;
   height: 0;
   bottom: 29px;
   width: 31px;
   -moz-border-radius-topright: 3px;
   -moz-border-radius-topleft: 3px;
   -webkit-border-top-right-radius: 3px;
   -webkit-border-top-left-radius: 3px;
   position: absolute;
   background: #ededed url("../images/gradient.png") left 30px repeat-x;
}


.mirosubs-volume-slider {
   height: 75px !important;
   width: 10px !important; 
   border: 1px solid;
outline: none !important;
-moz-outline: none !important;
   top: 12px;
   left: 10px;
   position: absolute;
   background: #333;
   -moz-border-radius: 10px;
   -webkit-border-radius: 0px;
}


.mirosubs-volume-scrobbler {
   height: 0px !important;
   width: 0px !important;
   border: 1px solid red;
   top: 0;
outline: none !important;
-moz-outline: none !important;
   border: 1px solid;
   left: -3px;
   position: absolute;
   padding: 7px;
   border-top: 1px solid #666;
   border-right: 1px solid #333;
   border-bottom: 1px solid #333;
   border-left: 1px solid #333;
   background: #fff url("../images/gradient.png") 0 1px repeat-x;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
}


.mirosubs-scrobbler {
   border: 1px solid;
  padding: 7px;
  position: absolute;
  left: -8px;
  border-top: 1px solid #666;
outline: none !important;
-moz-outline: none !important;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  background: #fff url("../images/gradient.png") 0 1px repeat-x;
  top: -3px;
  margin: 0 0 0 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.mirosubs-scrobbler:hover{
background: #fff url("../images/gradient.png") 0 31px repeat-x;
border-top: 1px solid #666;
border-right: 1px solid #333;
border-bottom: 1px solid #000;
border-left: 1px solid #333;
}

.mirosubs-progress-slider {
    position: absolute;
    height: 10px;
outline: none !important;
-moz-outline: none !important;
    width: 250px;
}


.mirosubs-progress{
    border: 1px solid;
height: 10px;
position: relative;
background: #fff url("../images/gradient.png") 0 -109px repeat-x;
float: left;
border: 1px solid #888;
border-top: 1px solid #111;
outline: none !important;
-moz-outline: none !important;
border-bottom: 1px solid #666;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
width: 250px;
margin: 9px;
}

.mirosubs-progress .mirosubs-buffered-container {
    position: relative;
    width: 250px;
    height: 10px;
    float: left;
outline: none !important;
-moz-outline: none !important;
}

.mirosubs-progress .mirosubs-buffered {
    height: 10px;      
    background: #222 url("../images/gradient.png") 0 40px ;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: absolute;
outline: none !important;
-moz-outline: none !important;
}

.mirosubs-progress .mirosubs-played {
   width: 10px;
   height: 8px;
   position: absolute;
   -moz-border-radius: 5px;
outline: none !important;
-moz-outline: none !important;
   -webkit-border-radius: 5px; 
   width: 0;
   border: 1px solid #a6dd13;
   border-top: 1px solid #c5ff27;
   border-bottom: 1px solid #7ba115;
   background: #a6dd13 url("../images/gradient.png") 0 0px repeat-x ;
}

/* ////////////////////

~ Timeline

////////////////////// */

.mirosubs-timeline {
    margin: 0;
    padding: 0;
    width: 360px;
    height: 80px;
    overflow: hidden;
    position: relative;
    background: #333;
}

.mirosubs-timeline .top {
    height: 22px;
    background: #fefefe url("../images/gradient.png") 0 0px repeat-x;
}

.mirosubs-timeline-inner, .mirosubs-timeline-timerow, 
.mirosubs-timeline-time, .mirosubs-timeline-subs, 
.mirosubs-timeline-sub {
    position: absolute;
}

.mirosubs-timeline-inner {
    top: 0px;
}

.mirosubs-timeline-subs {
    top: 22px;
    height: 30px;
}

.mirosubs-timeline-sub {
    background-color: #FFDDDD;
}

.mirosubs-timeline .mirosubs-subpanel div {
    position: absolute;
    top: 3px;
    height: 24px;
    background-color: #FFDDDD;
}

.mirosubs-timeline .marker {
    background: url("../images/marker.png") 0 0px no-repeat;
    position: absolute;
    top: 17px;
    left: 50%;
    height: 73px;
    width: 13px;
}

.mirosubs-timeline ul {
    margin: 0;
    padding: 0;
    line-height: 16px;
}

.mirosubs-timeline ul.mirosubs-timeline-time {
    border-bottom: 1px solid #ddd;
}

.mirosubs-timeline ul.mirosubs-timeline-time li {
    margin: 0;
    list-style: none;
    font-size: 10px;
    float: left;
    width: 50px;
    padding: 3px 0px 3px 10px;
    background: url("../images/ticks.gif") 5px bottom no-repeat !important;
}

.mirosubs-timeline-sub {
    top: 7px;
    height: 46px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,01);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,01);
    background: #fefefe url("../images/gradient.png") 0 21px repeat-x;
}

.mirosubs-timeline ul.mirosubs-timeline-titles li.selected a{
    color: #fff;
}

.mirosubs-timeline ul.mirosubs-timeline-titles li.not_synced{
    background: #aaa;
}

.mirosubs-timeline ul.mirosubs-timeline-titles li.selected a{
    color: #fff;
}

.mirosubs-timeline ul.mirosubs-timeline-titles li a{
    display: block;
    padding: 15px 20px 10px 20px;
    position: relative;
    text-decoration: none;
    color: #333;
    cursor: default;
}

.mirosubs-timeline-sub .mirosubs-grabber {
    position: absolute;
    height: 30px;
    width: 13px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,01);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,01);
    border: 1px solid #fff;
    background: #fefefe url("../images/gradient.png") 0 9px repeat-x;
    top: 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: none;
}

.mirosubs-timeline-sub .mirosubs-grabber strong {
    position: absolute;
    height: 17px;
    width: 13px;
    background:  url("../images/arrows.gif") 2px 0px no-repeat;
    top: 12px;
    display: block;
}

.mirosubs-timeline-sub .mirosubs-grabber-over {
    background: #fefefe url("../images/gradient.png") 0 -35px repeat-x;
    display: block;
}

.mirosubs-timeline-sub span.mirosubs-leftGrabber {
    left: 0;
    margin: -7px 0 0 -3px;
}

.mirosubs-timeline-sub span.mirosubs-rightGrabber {
    right: 0;
    margin: -7px -3px 0 0;
}


.mirosubs-loginPopup{
border: 3px solid;
position: absolute;
top: 50%;
left: 50%;

padding: 15px 0;
margin: -145px 0 0 -250px;
width: 500px;
height: 200px;
background: #fff url("../images/uni-logo.png") center 165px no-repeat;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
   -moz-box-shadow: 0px 5px 50px rgba(0,0,0,01);
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,01);
z-index: 9999999999;
}

.mirosubs-loginPopup h4{
text-align:center;
font-size: 16px;
}



.mirosubs-loginPopup .mirosubs-small{
padding-top: 20px;
clear: both;}


.mirosubs-loginPopup p{
text-align:center;
font-size: 12px;
font-style: italic;
clear: both;
}

.mirosubs-loginPopup a{
float: left;
color: #333;
font-weight:bold;
text-decoration: none;

}


.mirosubs-loginPopup a.mirosubs-log:hover{
background: #fff url("../images/gradient.png") right -101px repeat-x;
    -moz-box-shadow: 0px 0px 0px rgba(0,0,0,01);
border-top: 1px solid #666;
border-right: 1px solid #888;
border-left: 1px solid #888;
border-bottom: 1px solid #ddd;
}

.mirosubs-loginPopup a span{
display: block;
float:left;
padding: 10px 17px;
}


.mirosubs-loginPopup a.mirosubs-log{
margin: 0 10px 0 30px;
border-top: 1px solid #ddd;
border-right: 1px solid #bbb;
border-left: 1px solid #bbb;
border-bottom: 1px solid #888;
background: #fff url("../images/gradient.png") right 1px repeat-x;
    -moz-box-shadow: 0px 1px 0px rgba(0,0,0,01);
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,01);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: #fff 1px 1px 1px;
}

a.mirosubs-twitter span{
padding-left: 35px;
background: url("../images/social_login.png") -120px 0px no-repeat;

}


a.mirosubs-openid span{
margin-right: 0;
}

.mirosubs-openid{
height: 0;
padding-top: 34px;
overflow: hidden;
margin-left: 17px;
width: 115px;
margin-top: 4px;
background: url("../images/social_login.png") 0 0px no-repeat !important;
}


.mirosubs-twitter{
background: url("../images/social_login.png") -120px 0px no-repeat !important;
margin-top: 4px;
height: 0;
padding-top: 34px;
overflow: hidden;
width: 99px;
}

