body{

background: #d3e9ed url(../images/main_bg.gif) repeat-x;
margin: 0 auto;
position: relative;
font-family: Arial, Helvetica, sans-serif;
}

.cloud{
background: url(../images/cloud.png) center top no-repeat;
}



a{

}


a:link {color: #333;text-decoration: underline} 
a:visited {color: #;}
a:hover,a:focus {color: #;text-decoration: none;}
a:active {}

.wrapper{
padding: 0 0px 10px;
width: 940px;
margin: 0 auto;
}

h2{
clear: both !important;
}


.header{

}

.header .top_bar{
font-size: 12px;
float: left;
width: 100%;
line-height: 3em;
}



.header h1 {
float: left;
margin: 0 0 0 -10px;
}


.header h1 a{
background: url(../images/logo.png) 0 10px no-repeat;
margin: 0;
overflow: hidden;
padding: 64px 0 0;
	height: 0;
width: 290px;
display: block;
}


.header h1 a:hover{
background: url(../images/logo.png) 0 -59px no-repeat;
}

.header .nav{
margin: 7px 0 0;
padding: 0;

float: right;
}


.header .nav li{
margin: 0;
float: left;
padding: 1px 0;
list-style: none;
}


.header .nav li.search{
float: right;
}

.header .nav li.search a {
border: none;
background: url(../images/nav.png) right top no-repeat;
}


.header .nav li.search a:hover {
border: none;
background: url(../images/nav.png) right -45px no-repeat;
}

.header .nav li.search a span{
border: none;
}


.header .nav li a{
font-size: 12px;
margin: 0;
float: left;
color: #333;
text-decoration: none;
padding: 0px 0px;
font-weight: bold;
padding: 1px 0 3px;
background: url(../images/nav.png) center top no-repeat;
}



.header .nav li a:hover{
background: url(../images/nav.png) center -45px no-repeat;
}


.header .nav li a span{
border-right: #ddd 1px solid;
line-height: 36px;
display: block;
padding: 0 22px;
}




.header .nav li.first a{
background: url(../images/nav.png) left top no-repeat;
}


.header .nav li.first a:hover{
background: url(../images/nav.png) left -45px no-repeat;
}


.accountstatus{
width: 40%;
text-align: right;
float: right;
}


.accountstatus p{
margin: 0;
padding-right: 10px;
}


.content{
min-height: 700px;
clear: both;
padding-top: 70px;
font-size: 12px;
}




.footer{
clear: both;
min-height: 20px;
width: 100%;
font-size: 12px;
padding: 10px 0 0;
color: #999;
}

table{
width: 900px;
}

th, td{
text-align: left;
border-bottom: 1px solid #ddd;
padding: 5px;
}

.main_video_form{
padding-top: 60px;
width: 880px;
margin: 0 auto;
min-height: 200px;
}

.main_video_form h2.main_heading{
float: left;
margin: 0;
font-size: 25px;
padding-right: 40px;
line-height: 1.8em;
}

.begin{
background: url(../images/begin.png) left top no-repeat;
width: 133px;
height: 42px;
display: block;
float: right;
border: 0;
text-shadow: 1px 1px 1px black;
padding: 1px 0 3px;
font-size: 18px;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: #fff;
  outline: none;
}

.begin:hover{
background: url(../images/begin.png) left -45px no-repeat;
cursor: pointer;
}


.begin:active{
background: url(../images/begin.png) left -90px no-repeat;
}


.main_video_form .main_video_form_field{
float: left;
border: none;
padding: 9px;
font-size: 20px;
width: 466px;
background: url(../images/form.png) left top no-repeat;
}

.right_column{
width: 400px;
float: right;
}

.left_column{
width: 480px;
float: left;
}




/*/////////////////////////////////////////////

~ Home Page

/////////////////////////////////////////////*/




.left_column ol{
padding: 0;
margin: 0;
height: 100px;
background: url(../images/numbers.png) left top no-repeat;
font-size: 20px;
}


.left_column ol li{
margin: 0;
padding: 0;
list-style: none;
float: left;
padding: 13px 0 0 58px;
width: 100px;
margin-right: 2px;
}


.left_column ol li span{
display: block;
font-size: 13px;
padding-top: 5px;
}


/*/////////////////////////////////////////////

~ Recent Activity

/////////////////////////////////////////////*/



.recent_activity{
border: 1px solid;
padding: 0;
margin: 0;
}

.recent_activity li{
border: 1px solid;
padding: 0 0 0 30px;
margin: 0;
list-style: none;
}



/*/////////////////////////////////////////////

~ Standard Form

/////////////////////////////////////////////*/


.content form{
clear: both;
}



form p{
clear: both;
}

form p label{
float: left;
margin: 0;
line-height: 2.4em;
width: 160px;
font-size: 13px;
}

form p input{
font-size: 13px;
padding: 3px;
}


/*/////////////////////////////////////////////

~ Feedback Form

/////////////////////////////////////////////*/


#feedback_form{
border-top: 1px solid #bed3d7;
border-bottom: 1px solid #ebfcff;
border-left: 1px solid #c6dee2;
border-right: 1px solid #c6dee2;
padding: 30px;
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
background: url(../images/1x1.png);
}


input#email_friend_id_from_email, input#email_friend_id_to_emails,
input#email_friend_id_subject {
    width: 339px;

}





