body{
background: #d3e9ed url(../images/main_bg.gif) repeat-x;
margin: 0 auto;
position: relative;
background-attachment:fixed;

font-family: Arial, Helvetica, sans-serif;
}

a{}

a:visited {color: #506a70;}
a:active {}


p{
line-height: 1.5em;
}

.small{
display: block;
font-size: 11px;
color: #888;
padding-top: 5px;
}


h2{
margin: 0px 0 15px;
clear: both !important;
line-height: 1.1em;
font-size: 20px;
}


table{
width: 100%;
background: #fff;
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
clear: both;
border: 1px solid #ccc;
}

thead{
-moz-border-radius: 5px;  
background: #fff url(../images/gradient_light.png) 0 2px repeat-x;
-webkit-border-radius: 5px;
border-bottom: 1px solid #aaa;
}

th{
text-align: left;
padding: 0;
border-bottom: 1px solid #aaa;
border-right: 1px solid #ccc;
}

th a{
margin-right: 15px;
padding-right: 25px;
text-decoration: none !important;
background: url(../images/sort_arrows.gif) right 11px no-repeat;
}


td.last{
border-right: none;
}



th span, th a{
color: #333 !important;
padding: 10px 15px;
display: block;

text-shadow: 1px 1px 0px #fff;
}


td{
text-align: left;
border-bottom: 1px solid #ddd;
padding: 15px;
border-right: 1px solid #ddd;

}

tr.even{
background: #edfcfd !important;
}


th.last{
border-right: none !important;
}


.cloud{
background: url(../images/cloud.png) center top no-repeat;
background-attachment:fixed;

}

.watercolor{
background: url(../images/watercolor3.png) center 0px repeat-x;
background-attachment:fixed;
}

.center{
text-align: center;
}

a:link {color: #3196ad;text-decoration: underline;} 
a:hover,a:focus {color: #;text-decoration: none; outline: none !important; -moz-outline: none !important;}
button::-moz-focus-inner { border: 0; }

#id_changes_notification{
width: 1em !important;
float: left;
margin: 7px 10px 0 0;
}


#demo #widget_div{
margin: 50px auto 80px;
}


.badgy{
background: #bcd6dd;
padding: 6px 9px 4px;
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
font-size: 11px;
}




.badgy.no-sync{
color: #fff;
padding: 6px 20px 4px;
text-align: center;
}


.badgy.start{
background: #829601;
color: #fff;
}


.badgy.end{
background: #9b3e3e;
color: #fff;
}


.nomargin{
margin: 0 !important;
}


.styled{
border: 1px solid #aaa;;
background: #fff;
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
}

.styled .head{
background: #fff url(../images/table_head.gif) 0px 0px repeat-x;
}





/*/////////////////////////////////////////////

~ Classes

/////////////////////////////////////////////*/


.marginleft{
margin-left: 30px;
}



.alpha{
background: url(../images/alpha.png) 130px 0px no-repeat;
}

.clearboth,
.clear{
clear: both !important;
}


.floatleft{
float: left !important;
}


.floatright{
float: right !important;
}

.margin-top{
margin-top: 40px;
}

.clear.tall{
margin-top: 40px;
}


.full_width{
width: 960px;
float: left;
margin-bottom: 30px;  
}


.full_width.center{
text-align: center;
}

.full_width #widget_div{


}

.padding{
padding: 30px;
}


.project{
font-weight: normal;
padding-left: 53px;
position: absolute;
top: 45px;
font-size: 11px;
}

.bigger{
font-size: 18px;
line-height: 1.5em;
margin: 0;
}


.box{
position: relative;
clear: both;
padding: 20px 30px 20px 30px;

-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
margin:15px 0 5px;
float: left;
background: url(../images/1x1.png);

width: 400px;
}

.box h3{
font-size: 18px;
margin: 0px 0 0;
padding: 10px 0 0;
}

.box a{
position: absolute;
bottom: 20px;
right: 20px;
}

.box img{
margin-right: 20px;
margin-top: 4px;
}



.small_close{
height: 0px;
width: 18px;
background: url(../images/small_close.png) 0 0px no-repeat;
padding-top: 19px;
overflow: hidden;
margin: 0 10px 0 0;
float: left;
}

.small_close:hover{
background: url(../images/small_close.png) 0 -20px no-repeat;
}

.small_close:active{
background: url(../images/small_close.png) 0 -40px no-repeat;
}



button.small_button{
padding-right: 16px !important;
font-size: 12px;
background: url(../images/small_buttons.png) right 0px no-repeat;
}

button.small_button span{
padding: 8px 0 8px 20px;
background: url(../images/small_buttons.png) left 0px no-repeat;
}


button.small_button:hover{
background: url(../images/small_buttons.png) right -34px no-repeat;
}

button.small_button:hover span{
text-shadow: 0px 1px 1px #beec32 ;

background: url(../images/small_buttons.png) left -34px no-repeat;
}

button.small_button:active{
background: url(../images/small_buttons.png) right -68px no-repeat;
}

button.small_button:active span{
background: url(../images/small_buttons.png) left -68px no-repeat;
}


a.small_button{
padding-right: 18px !important;
font-size: 12px;
text-decoration: none;
font-weight: bold;
float: left;
background: url(../images/small_buttons.png) right 0px no-repeat;
}

a.small_button span{
padding: 8px 0 8px 20px;
float: left;
color: #485c14;
text-transform: uppercase;
text-shadow: 0px 1px 1px #abce1d;
background: url(../images/small_buttons.png) left 0px no-repeat;
}

a.small_button:hover{
background: url(../images/small_buttons.png) right -34px no-repeat;
}

a.small_button:hover span{
text-shadow: 0px 1px 1px #beec32 ;
background: url(../images/small_buttons.png) left -34px no-repeat;
}

a.small_button:active{
background: url(../images/small_buttons.png) right -68px no-repeat;
}

a.small_button:active span{
background: url(../images/small_buttons.png) left -68px no-repeat;
}




.plus{
background: url(../images/sprites.png) -35px -264px no-repeat !important;
float: left;
}




/*/////////////////////////////////////////////

~ Layout

/////////////////////////////////////////////*/


.wrapper{
padding: 0 0px 10px;
width: 940px !important;
margin: 0 auto;
position: relative;
}

h2.main-title{
margin: 0 0 20px;
padding: 0 0 20px 0;
clear: both !important;
font-size: 20px;
border-bottom: 1px solid #fff !important;
}

h2.main-title span{
float: right;
font-weight: normal
}

.header{
border-bottom: 1px solid #fff;
min-height: 130px;
width: 100%;
margin-bottom: 20px;
}

.header .top_bar{
font-size: 12px;
float: left;
width: 100%;
line-height: 3em;
}



.header h1 {
float: left;
margin: 10px 0 0 -10px;
font-size: 12px;
position: absolute;
top: 20px;
}


.header h1 a, .header h1 span.logo {
background: url(../images/logo.png) 0 10px no-repeat;
margin: 0;
overflow: hidden;
padding: 50px 0 0;
	height: 0;
width: 290px;
display: block;
}




.header h1 a:hover{
background: url(../images/logo.png) 0 -59px no-repeat;
}

.header .nav{
margin: 42px 0 0;
padding: 0;
float: right;
}


.header .nav li{
margin: 0;
float: left;
padding: 1px 0;
list-style: none;
}


.header .nav li.last{
}

.header .nav li.last a {
border: none;
background: url(../images/nav2.png) right top no-repeat;
}


.header .nav li.last a:hover {
border: none;
background: url(../images/nav2.png) right -45px no-repeat;
}

.header .nav li.last a:active {
border: none;
background: url(../images/nav2.png) right -89px no-repeat;
}



#about .header .nav li.last a {
border: none;
cursor: default;
background: url(../images/nav2.png) right -89px no-repeat;
}

.header .nav li.last a span{
border: none;
}


.header .nav li a{
font-size: 12px;
margin: 0;
float: left;
color: #333;
text-decoration: none;
padding: 0px 0px;
font-weight: bold;
padding: 1px 0 3px;
background: url(../images/nav2.png) center top no-repeat;
}



.header .nav li a:hover{
background: url(../images/nav2.png) center -45px no-repeat;
}


.header .nav li a span{
border-right: #ccc 1px solid;
line-height: 39px;
display: block;
padding: 0 22px;
}


.header .nav li a:active,
#login .header .nav li.login_link a,
#faq .header .nav li.faq_link a,
#video .header .nav li.videos_link a{
background: url(../images/nav2.png) center -89px no-repeat;
}





.header .nav li.first a{
background: url(../images/nav2.png) left top no-repeat;
}


.header .nav li.first a:hover{
background: url(../images/nav2.png) left -45px no-repeat;
}


.header .nav li.first a:active{
background: url(../images/nav2.png) left -89px no-repeat;
}


.header .nav li a:active{
background-position-y: -90px !important;
}


.sub_nav{
float: right;
clear: right;
margin: 0;
padding: 8px 0 0;
}


.sub_nav li{
margin: 0;
padding: 0;
list-style: none;
display: inline;
font-size: 12px;
padding-left: 10px;
}







.accountstatus{
width: 600px;
text-align: right;
float: right;
}


.accountstatus p{
margin: 0;
padding: 6px 0px 0 0;
}



.accountstatus p a{
margin: 0;
padding: 0px 10px 0 0;
}


.content{
min-height: 300px;
clear: both;

line-height: 15px;
font-size: 12px;
}

.watercolor2{
background: url(../images/watercolor2.png) center 70px no-repeat;

}

.main_video_form{
padding-top: 30px;
width: 880px;
margin: 0 auto;
min-height: 130px;
}

.main_video_form h2.main_heading{
float: left;
margin: 0;
font-size: 25px;
padding-right: 40px;
line-height: 1.8em;
}

.begin{
background: url(../images/begin.png) left top no-repeat;
width: 133px;
height: 42px;
display: block;
float: right;
border: 0;
text-shadow: 1px 1px 1px black;
padding: 1px 0 3px;
font-size: 18px;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: #fff;
margin: 0;
clear: none;
  outline: none;
}

.begin:hover{
background: url(../images/begin.png) left -45px no-repeat;
cursor: pointer;
}


.begin:active{
background: url(../images/begin.png) left -90px no-repeat;
}


.main_video_form .main_video_form_field{
float: left;
border: none;
padding: 9px;
font-size: 20px;
width: 466px;
background: url(../images/form.png) left top no-repeat;
}




.main_video_form p{
font-size: 13px;
clear: both;
float: left;
padding: 15px 0 0 227px;
}

.right_column{
width: 460px;
float: right;
}

.left_column{
width: 460px;
float: left;
}




/*/////////////////////////////////////////////

~ Home Page

/////////////////////////////////////////////*/




.left_column ol{
padding: 0;
margin: 0;
height: 100px;
background: url(../images/numbers.png) left top no-repeat;
font-size: 20px;
}


.left_column ol li{
margin: 0;
list-style: none;
float: left;
padding: 13px 0 0 60px;
width: 78px;
margin-right: 25px;
}



.left_column ol li.three{
width: 74px;
margin-right: 0;
}


.left_column ol li span{
display: block;
font-size: 11px;
padding-top: 10px;
}


/*/////////////////////////////////////////////

~ Recent Activity

/////////////////////////////////////////////*/



.recent_activity{
padding: 0;
margin: 0;
}

.recent_activity li{
padding: 10px 0 10px 60px;
margin: 0 0 15px;

list-style: none;
color: #666;
}



.recent_activity li a{
font-weight: bold;
color: #333;
text-decoration: none;
}





/*/////////////////////////////////////////////

~ Standard Form

/////////////////////////////////////////////*/


.content form{
clear: both;
}



form p{
clear: both;
font-size: 11px;
color: #666;
margin: 0 0 10px 0px;
float: left;
width: 100%;
line-height: 15px;
padding: 0;

}

form p label{

margin: 0;
width: 220px;
font-size: 15px;
color: #333;
line-height: 30px;
}

form p input, form p textarea, #feedback_form p input{
display: block;
border: 0;
font-size: 15px;
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
padding: 10px;
margin-bottom: 5px;
width: 378px;
line-height: 15px;
font-family: Arial, Helvetica, sans-serif;
box-shadow:inset 0px 1px 2px #555;
-moz-box-shadow:inset 0px 1px 2px #555;
-webkit-box-shadow:inset 0px 1px 2px #555;
background: -moz-linear-gradient(top,  #ddd,  #fff);
}

form p textarea{
background: #fff;
padding: 10px 8px;
}

button{
background: url(../images/main_buttons.png) right 0px no-repeat;
border: none;
font-weight: bold;
padding:0 6px 0 0 !important;
font-size: 15px;
margin: 0;
clear: both;
line-height: 15px;
font-family: Arial, Helvetica, sans-serif;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
button{
padding:0 8px 0 0 !important;
}
}

button span{
background: url(../images/main_buttons.png) 0px top no-repeat;
border: none;
padding: 13px 13px 16px 21px;
display: block;
line-height: 15px;
color: #485c14;
text-transform: uppercase;
text-shadow: 0px 1px 1px #abce1d;
}

button:hover{
background: url(../images/main_buttons.png) right -45px no-repeat;
cursor: pointer;
text-shadow: 0px 1px 1px #beec32;
}


button:hover span{
background: url(../images/main_buttons.png) left -45px no-repeat;
}


.button{
background: url(../images/main_buttons.png) right 0px no-repeat;
border: none;
font-weight: bold;
padding:0 8px 0 0 !important;
font-size: 15px;
margin: 0;
float: left;
clear: both;
text-decoration: none !important;
line-height: 15px;
font-family: Arial, Helvetica, sans-serif;
}

.button span{
background: url(../images/main_buttons.png) 0px 0px no-repeat;
border: none;
padding: 13px 13px 16px 21px;
display: block;
line-height: 15px;
color: #485c14;
text-transform: uppercase;
text-shadow: 0px 1px 1px #abce1d;
}



.button:hover{
background: url(../images/main_buttons.png) right -45px no-repeat;
cursor: pointer
}


.button:hover span{
background: url(../images/main_buttons.png) left -45px no-repeat;
}


.button:active span{
background: url(../images/main_buttons.png) left -90px no-repeat;
}


.button:active{
background: url(../images/main_buttons.png) right -90px no-repeat;
}


.forgot{
padding-left: 115px;
}


form p.checkbox input{
float: left;
width: 15px;
margin: 7px 10px 0 0;

}

/***********************************************
Forms with <div>, not <p> 
<p> can't contain block tags
***********************************************/

form.div-based-form div{
clear: both;
font-size: 11px;
color: #666;
margin: 0 0 10px 0px;
float: left;
width: 100%;
line-height: 15px;
padding: 0;

}

form.div-based-form div label{
margin: 0;
width: 220px;
font-size: 15px;
color: #333;
line-height: 30px;
}


form.div-based-form div span{
display: block;
margin-bottom: 5px;
}


form.div-based-form div input, form.div-based-form div textarea{
display: block;
border-top: 1px solid #bed3d7;
border-bottom: 1px solid #ebfcff;
border-left: 1px solid #c6dee2;
border-right: 1px solid #c6dee2;
font-size: 15px;
background: url(../images/form.png) -2px -10px no-repeat;
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
padding: 5px 8px;
margin-bottom: 5px;
width: 380px;
line-height: 15px;
font-family: Arial, Helvetica, sans-serif;
}

form.div-based-form div textarea{
background: #fff;
padding: 10px 8px;
font-size: 12px;
}

form.div-based-form div.checkbox input{
float: left;
width: 15px;
margin: 7px 10px 0 0;
}



/*/////////////////////////////////////////////

~ Feedback Form

/////////////////////////////////////////////*/


#feedback_form{
border-top: 1px solid #bed3d7;
border-bottom: 1px solid #ebfcff;
padding: 60px 0;
margin: 60px 0;
clear: both;
width: 100%;
float: left;
text-align: center;

background: url(../images/1x1.png);
}


#feedback_form h2{
margin-bottom: 15px;
}


#feedback_form p{
margin-bottom: 25px;
font-size: 15px;
}


#feedback_form textarea{
width: 600px;
margin: 0 auto;
}

input#feedback_email, input#feedback_math_captcha_field{
margin: 0 auto;
width: 300px;
float: none;
}


input#email_friend_id_from_email, input#email_friend_id_to_emails,
input#email_friend_id_subject {
    width: 339px;
}

.mirosubs-share{
margin: 0px 0 0 0px;
}

#email_friend_from textarea{
width: 400px;
}


#id_picture{

}



#id_preferred_language{
margin-left: 20px;
}



#id_valid_email{

width: 20px;
}


.errorlist{
margin: 10px 0 10px;
clear: both;
padding: 0 0 8px;
width: 400px;
background: url(../images/red_arrow.png) 20px bottom no-repeat;
}


.errorlist li{
font-weight: bold;
margin: 0;
list-style: none;
background: #d75b5b;
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
clear: both;
color: #fff;
padding: 10px 13px;

}


.open-id{
background: url(../images/social_login.png) 0 0px no-repeat;
display: block;
width: 113px;
float: left;
padding-top: 33px;
height: 0;
overflow: hidden;
}

input.open-id{
background: url(../images/social_login.png) 0 0px no-repeat;
display: block;
width: 113px;
float: left;
padding: 33px 0 0 0;
height: 0 !important;
overflow: hidden;
margin-top: 10px;
}




.twitter{
background: url(../images/social_login.png) -120px 0px no-repeat;
display: block;
width: 113px;
float: left;
padding-top: 33px;
height: 0;
overflow: hidden;
}



.google{
background: url(../images/social_login.png) -222px 0px no-repeat;
display: block;
width: 113px;
float: left;
padding-top: 33px;
height: 0;
overflow: hidden;
}


/*/////////////////////////////////////////////

~ Index Page

/////////////////////////////////////////////*/


h2.centered{
font-size: 38px;
text-align: center;
margin: 0;
padding: 10px 0 20px;
text-shadow: #fff 1px 1px 1px;
}

.problem, .mission{
padding: 0px 80px;
margin-top: 10px;
float: left;
line-height: 1.3em;
}

.problem strong, .mission strong{
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
color: #fff;
font-size: 12px; 
width: 120px;
margin: -1px 20px 10px 0;
text-align: center;
float: left;
text-shadow: #333 1px 1px 1px;
}



.mission{
color: #555;
display: block;
margin-bottom: 50px;
padding-top: 10px;
}

span.problem{
color: #555;
margin-bottom: 10px;
display: block;
}


.problem strong{
background: #c84f4f;

}

.mission strong{
background: #57a927;

}

.right_now{
font-size: 23px;
padding: 25px 30px 20px 30px;
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
margin: 0px 0 0px;
display: block;
border: 1px solid #e3e3a9;
clear: both;
background: #f0f3d0;
text-align: center;
}


.right_now strong{
color: #333;


}


.problem span, .mission span{
}


p.pitch{
border-top: 1px solid #fff;
float: left;
width: 100%;
margin: 10px 0 45px;
padding: 40px 0 0;
font-size: 20px;
line-height: 34px;
text-shadow: #fff 1px 1px 1px;
}


/*/////////////////////////////////////////////

~ 3 columns

/////////////////////////////////////////////*/


.three_column{
margin: 0px 0 20px;
float: left;
padding: 0;
}


.col1, .col2, .col3{
float: left;
width: 220px;
padding-left: 80px;
background: url(../images/big_icons.png) -10px 13px no-repeat;
}


.col1{
background: url(../images/widg_button.png) 0px 13px no-repeat;
}

.col1 h3, .col2 h3, .col3 h3{
font-size: 16px;
line-height: 1.4em;
margin-bottom: 0;
}


.col1 p, .col2 p, .col3 p{
font-size: 14px;
line-height: 20px;
margin-top: 8px;
}


.col1, .col3{
margin-right: 20px;
}


.col2{
background-position: -10px -198px;
}


.col3{
background-position: -10px -417px;
}



.get_updates{
clear: both;
font-size: 18px;
padding: 20px 0px 20px 30px;
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
margin:35px 0 50px;
float: left;
width: 900px;
background: url(../images/1x1.png);
}





.get_updates .update_text{
float: left !important;
line-height: 2em;
margin: 0;
padding: 8px 40px 0 0;
}



.get_updates form  {
float: left !important;
clear: none !important;

}


.get_updates form p {
float: left !important;
clear: none !important;
width: 270px;
margin: 0 50px 0 0;
}



.get_updates form p input{
float: left !important;
clear: none;
margin: 0;
width: 270px;
padding-top: 14px;
padding-left: 14px;
border-bottom: #333;
}


.get_updates button{
margin-right: 0;
}



/*/////////////////////////////////////////////

~ FAQ

/////////////////////////////////////////////*/


ol.questions{
width: 600px;
padding: 5px 0 0 19px;
margin: 0;
}


ol.questions li{
padding: 0px 0 20px 0px;
margin: 0;
}


ul.question-linked{
padding: 10px 0 30px 0px;
margin: 0;
border-bottom: 1px solid #ddd;


}

ul.question-linked li{
margin: 0;
list-style: none;
}


ul.question-linked a{
padding: 5px 0 5px 25px;
margin: 0;
display: block;
font-size: 14px;
background: url(../images/question.png) left center no-repeat;

}


/*/////////////////////////////////////////////

~ About

/////////////////////////////////////////////*/


.peeps{
padding: 0;
margin: 0;
}

.peeps li{
padding: 0;
margin: 0;
list-style: none;
}


/*/////////////////////////////////////////////

~ Note

/////////////////////////////////////////////*/


#index .note{
display: none;
}

.note{
text-align: center;
color: #333;
background: #faf9c5 url(../images/note.gif) left 0 repeat-x;
text-shadow: 1px 1px 1px #fff;
font-size: 16px;
border-bottom: 1px solid #bfbe78;
height: 42px;
padding-top: 22px;
}

.note a{
color: #333;
font-weight: bold;
}


/*/////////////////////////////////////////////

~ Revision History

/////////////////////////////////////////////*/



.pag{
width: 480px;
margin: 0 auto;
text-align: center;
padding: 0;
}

.pag li{
list-style: none;
}

.pag li.previous{
float: left;
}

.pag li.next{
float: right;
}



.revision_list{
padding:0;
clear: none;
float: left;
width: 450px !important;
margin: 0 !important;
}


.revision_list li{
list-style: none;
padding: 15px;
width: 450px;
line-height: 1.6em;
padding: 15px !important;
}


li.even, li.even li{
background: #edfcfd !important;
}



a.roll_back{
width: 458px;
display: block;
margin: 0px auto;
padding: 15px 10px;
background: #c74141 url(../images/gradient_light.png) 0 0px repeat-x;
text-align: center;
text-decoration: none;
font-weight: bold;
color: #000;
border: 1px solid #9e381d;
font-size: 14px;
text-shadow: 1px 1px 0px #c67573;
box-shadow:inset 0px 1px 1px #c67573;
-moz-box-shadow:inset 0px 1px 0px #c67573;
-webkit-box-shadow:inset 0px 1px 2px #c67573;
}


a.new_edit{
width: 458px;
display: block;
margin: 0px auto 0;
padding: 15px 10px;
background: #69b165 url(../images/gradient_light.png) 0 0 repeat-x;
text-align: center;
text-decoration: none;
font-weight: bold;
color: #052803;
border: 1px solid #2a6a20;
font-size: 14px;
-moz-border-radius-topright: 5px;  
-moz-border-radius-topleft: 5px;  
-webkit-border-radius: 5px;
text-shadow: 1px 1px 0px #97c595;
box-shadow:inset 0px 1px 1px #97c595;
-moz-box-shadow:inset 0px 1px 0px #97c595;
-webkit-box-shadow:inset 0px 1px 2px #97c595;
}

.revision_buttons{
margin: 0;
}




.viewing_old{
display: block;
margin: 20px auto ;
padding: 15px 10px;
background: #e45129;
text-align: center;
text-decoration: none;
font-weight: bold;
color: #fff;
border: 3px solid #9e381d;
font-size: 14px;
}


.time_change{
color: #e45129;
}


.diff_title{
font-weight: normal;
}


/*/////////////////////////////////////////////

~ Close Link

/////////////////////////////////////////////*/


a.next_edit{
float: right;
padding-right: 20px;
}


a.previous_edit{
float: left;
padding-left: 20px;
}


a.next_edit ,a.previous_edit{
font-weight: bold;
font-size: 16px;
}

/*/////////////////////////////////////////////

~ Faux Table

/////////////////////////////////////////////*/

.nothing{
background: white;
width: 940px;
padding: 20px;
clear: both;
border: 1px solid #aaa;
}


.table_head{
margin: 0px 0 0;
padding: 0;
height: 34px;
border: 1px solid #aaa;
border-left: none;
clear: both;
width: 980px;
border-bottom: 1px solid #bbb;
float: left;
-moz-border-radius-topright: 5px;  
-webkit-border-radius-top-right: 5px;
background: #fff url(../images/table_head.gif) 0px 0px repeat-x;
}

.table_head li{
margin: 0;
padding: 0;
list-style: none;
float: left;
line-height: 3em;
}

.table_head li a{
font-weight: bold;
text-decoration: none;
display: block;
line-height: 3em;
margin-right: 10px;
background: url(../images/sort_arrows.gif) right 12px no-repeat;
}

.table_head li a.asc:hover{
    background: url(../images/sort_arrows.gif) right -61px no-repeat;
}

.table_head li a.desc:hover{
    background: url(../images/sort_arrows.gif) right -26px no-repeat;
}

.table_head li.table_text a{
margin-right: 0px;
}



li.table_language{
width: 459px;
padding-left: 20px !important;
border-right: 1px solid #ddd;
}



li.table_rating{
width: 140px;
padding-left: 20px !important;
border-right: 1px solid #ddd;
}


li.table_done{
width: 316px;
padding-left: 20px !important;

border-right: none;
}




li.table_most_recent{
width: 219px;
padding-left: 20px !important;
border-right: 1px solid #ddd;
}

.td_user{
width: 778px;
padding-left: 20px !important;
border-right: 1px solid #ddd;
float: left;
}

span.td_user{
padding: 10px 0 10px 45px !important;
width: 753px;
}

.rolled_back{
background: url(../images/history_icons.png) 20px 12px no-repeat;
}

.thumb_up{
background: url(../images/history_icons.png) 20px -23px no-repeat;
}

.thumb_down{
background: url(../images/history_icons.png) 20px -59px no-repeat;
}

.commented{
background: url(../images/history_icons.png) 20px -96px no-repeat;
}

.language_rating{
background: url(../images/history_icons.png) 20px -132px no-repeat;
}

.language_begins{
background: url(../images/history_icons.png) 20px -168px no-repeat;
}

.video_begins{
background: url(../images/history_icons.png) 20px -204px no-repeat;
}

li.table_note{
width: 299px;
padding-left: 20px !important;
border-right: 1px solid #ddd;

}

.td_time{
width: 159px;
padding-left: 20px !important;
font-weight: bold;
float: left;
}


span.td_time{
padding: 10px 0 10px 20px !important;
}


.comment_date{
font-size: 11px;
}


li.table_text{
width: 58px;
padding-left: 20px !important;
padding-right: 20px !important;
font-weight: bold;
margin-right: 0 !important;
}

ul.table_body{
float: left;
width: 980px;
border-right: 1px solid #aaa;
}


ul.table_body, .table_body li, .table_body li ul, .table_body li ul li{
padding: 0;
margin: 0;
background: #fff;
list-style: none;
}

ul.table_body li{
padding: 0px 0;
float: left;
border-bottom: 1px solid #ddd;
}


ul.table_body li.added{
color: green;
}

ul.table_body li.odd li{
background: #f7f7f7 !important;
}


.table_body ul{
margin: 0;
padding: 0;
float: left;
width: 100%;
}

.table_body ul li{
padding-top: 10px !important;
padding-bottom: 10px !important;
margin: 0;
float: left;
border-bottom:none;
}




.table_body ul li.table_most_recent input{
padding: 0;
margin: 0 10px 0 0;
}


.view_all{
float: right;
padding: 10px;
}

.view_history{
float: right;
margin-right: 20px;
}




.compare_versions_button{
position:absolute;
left: 0;
top: -90px;
}



#comment-form{
width: 938px;
background: #fff;
border: 1px solid #aaa;
margin-left: -1px !important;
padding: 20px 20px 215px;
}

.comment-form{
clear: both;
background: #fff;
border: 1px solid #aaa;
border-bottom: none;
padding: 20px 20px 215px;
}

#comment-form textarea{
width: 815px;
margin-left: 0px;
padding: 10px;
float: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
letter-spacing: .04em;
}



#comment-form button{
clear: none !important;
float: right; 
}


ul.table_body.comments{
width: 978px;
clear: left;
}


ul .table_transcript{
width: 939px;
clear: left;
padding: 20px !important;
}


.table_body li.table_comment{
width: 938px;
padding: 20px !important;
float: right;
border-left: 1px solid #aaa;
}

.table_body li.table_comment ul{
margin: 0 !important;
padding: 0 !important;

}

.table_body li.table_comment li.table_comment{
width: 838px;
padding-left: 100px !important;
border-left: 1px solid #ddd;
padding-right: 0px !important;
}

.table_body li.table_comment li.table_comment li.table_comment{
width: 738px;
}
.table_body li.table_comment li.table_comment li.table_comment li.table_comment{
width: 638px;
}

.table_body li.table_comment li.table_comment li.table_comment li.table_comment li.table_comment{
width: 538px;
}

.table_body li.table_comment li.table_comment li.table_comment li.table_comment li.table_comment li.table_comment{
width: 438px;
}

.table_body li.table_comment li.table_comment li.table_comment li.table_comment li.table_comment li.table_comment li.table_comment{
width: 338px;
}


.table_body li.table_comment .comment_text{
padding: 0;
margin: 0;
}

.table_body li.table_comment .comment_text p{
padding: 0;
margin: 0 0 10px;
line-height: 1.7em !important; 
}


.table_user_deets{
float: left;
width: 100px;
margin: 0px 30px 0 0;
}


.table_comment.table_rated{
height: 10px;

}



.table_user_deets a{
font-size: 13px;
margin: 10px 0 5px;
float: left;
width: 100px;
padding-right: 10px;
font-weight: bold;
display: block;
}



.table_body li.table_comment .user_thumb{
margin-right: 25px;
}


.table_rated{
height: 20px;

margin: 0 0 20px 130px;
}





.user_thumb{
height: 100px;
width: 100px;
float: left;
background: url(../images/default_thumb.png) 0 0px repeat-x;

}

.progress{
background: url(../images/gradient.png) 0 -50px repeat-x;
border: 1px solid #666;
width: 760px;
height: 13px;
float: left;
display: block;
-moz-border-radius: 15px;  
-webkit-border-radius: 15px;
box-shadow:inset 0px 1px 1px #555;
-moz-box-shadow:inset 0px 1px 0px #999;
-webkit-box-shadow:inset 0px 1px 2px #555;
position: relative;
background: -moz-linear-gradient(top,  #ddd,  #fff);
}


.progress .completion{
height: 13px;
display: block;
-moz-border-radius: 15px; 
background: #d0e9ed url(../images/gradient.png) 0 0px repeat-x;
-webkit-border-radius: 15px;
box-shadow: 1px 0px 0px #000;
-moz-box-shadow: 1px 0px 0px #000;
-webkit-box-shadow: 1px 0px 0px #000;
}




.progress .completion.ten_percent{
width: 30px !important;
}


.progress .completion.twenty_percent{
width: 60px !important;
}

.progress .completion.thirty_percent{
width: 120px !important;
}

.progress .completion.fourty_percent{
width: 240px !important;
}


.progress .completion.fifty_percent{
width: 300px !important;
}



.progress .completion.red{
background: #cc3335 url(../images/gradient.png) 0 0px repeat-x;
}

.progress .completion.yellow{
background: #ffff66 url(../images/gradient.png) 0 0px repeat-x;
}

.progress .completion.green{
background: #33cc00 url(../images/gradient.png) 0 0px repeat-x;
}


.replied{
padding: 15px 20px;
background: #ddd;
margin: 2px 0 20px 130px;
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
line-height: 1.5em;
}




/*/////////////////////////////////////////////

~ Thumbs

/////////////////////////////////////////////*/

.user_approval{
float: right;
margin-top: 73px;
border: 1px solid;
width: 390px;
padding: 0;
}


.user_approval li{
margin: 0;
padding: 10px;
list-style: none;
border-bottom: 1px solid #333;
}



.user_approval li .thumb{
float: left;
width: 13px;
height: 13px;
margin-right: 13px;
}

.user_approval li a{
color: #fff;}



.user_approval li.thumb_down{
background: #ff0000 url(../images/gradient.png) 0 0px repeat-x;
font-weight: bold;
color: #fff;
}

.user_approval li.thumb_up .thumb{
background:  url(../images/thumb.png) 3px 0px no-repeat !important;
}


.user_approval li.thumb_up{
background: #1fd211 url(../images/gradient.png) 0 0 repeat-x;
font-weight: bold;  
color: #fff;
}

.user_approval li.thumb_down .thumb{
background:  url(../images/thumb.png) 3px bottom no-repeat !important;
}




/*/////////////////////////////////////////////

~ Profile Pages

/////////////////////////////////////////////*/


.thumbnail_medium{
width: 128px;
height: 128px;
float: left;
border: 1px solid #999;
padding: 4px;
margin-right: 30px;
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
}


#profile .full_width h3{
margin: 0px;
}




/*/////////////////////////////////////////////

~ Edit Profile Form

/////////////////////////////////////////////*/


.edit_profile_shell{
clear: both;
padding: 0px 0px 20px 0px;
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
margin:45px 0 50px;
background: url(../images/1x1.png);
float: left;
width: 100%;
position: relative;
}


.edit_profile_shell h2 button{
position: absolute;
margin: 0 !important;
right: 10px;
top: 12px;
}

.edit_profile_shell .edit_profile button span{
padding: 8px 0 8px 20px;
background: url(../images/small_buttons.png) left 0px no-repeat;
}

.edit_profile_shell .left_column{
padding: 20px 30px;
}

.edit_profile_shell .right_column{
padding: 20px 0px;
}

.edit_profile_shell h2{
clear: both;
padding: 20px 0px 20px 30px;
-moz-border-radius-topright: 5px;  
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
margin:0px 0 0px;
border-bottom: 1px solid #bbd2d8;
background: url(../images/1x1.png);
}

.edit_profile_shell #id_picture {
    position: absolute;
    margin-left: 175px;
    margin-top: 3px;
    opacity: 0;
    z-index: 2;
}

.edit_profile{
padding: 0px 0px 0px 0px;
}

.language_list{
margin: 0;
padding: 0;
}

.language_list li{
margin: 0;
padding: 0;
list-style: none;
border-bottom: 1px solid #b5ced2;
margin: 12px 0;
padding-bottom: 12px;
}




#profile .edit_profile_shell .left_column{
width: 200px;
}



/*/////////////////////////////////////////////

~ Footer

/////////////////////////////////////////////*/


.footer{
padding: 20px 30px 16px;
margin: 50px 0 80px;
color: #333;
clear: both;
width: 920px;
margin: 60px auto;
font-weight: bold;
font-size: 13px;
background: url(../images/1x1.png);
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
height: 1.6em;
}


.footer a{
color: #333;
}


.footer .floatright a{
padding-left: 20px;
}


.drumbeat{
background: url(../images/drum.png) 0px 7px no-repeat;
clear: both;
width: 440px;
height: 130px;
margin-left: -7px;
}

.drumbeat .button{
margin: 17px 40px 20px 0;
}


.drumbeat div{
float: left;
width: 500px;
}


.drumbeat div p{
margin: 0 0 10px;
}


.drumbeat div p a{
padding-left: 40px;
}


.how-to-video-image{
margin: 15px 0 30px;
display: block;
}


.how-to-video-image img{
border: 1px solid #999;
-moz-border-radius: 10px;  
-webkit-border-radius: 10px;
display: block;
}

#index #feedback_form, #about #feedback_form{
display: none;
}

.badgy_out{
padding: 0 0 0 25px;
}


.video_tabs{
float: left;
margin: 50px 0 0;
padding: 0;
}

.video_tabs li.active .badgy{
padding: 4px 8px 2px;
position: absolute;
margin: 0px;
font-weight: normal;
top: 9px;
background: #eee;
border: 1px solid #ddd;
right: 9px;
}


.video_tabs .badgy{
padding: 4px 8px 2px;
position: absolute;
margin: 0px;
font-weight: normal;
top: 6px;
background: #eee;
border: 1px solid #ddd;
right: 6px;
}


.video_tabs li{
list-style: none;
padding: 0;
position: relative;
margin: 0;
float: left;
}


.video_tabs li a{
list-style: none;
padding: 10px 20px 9px;
margin: 0;
float: left;
border: 1px solid #ccc;
position: relative;
font-size: 14px;
color: #333;
border-bottom:none;
margin-top: 8px;
-moz-border-radius-topleft: 5px;
-webkit-border-radius-top-left: 5px;
text-decoration: none;
margin-right: 10px;
-moz-border-radius-topright: 5px;  
-webkit-border-radius-top-right: 5px;
background: #fff url(../images/gradient_light.png) 0 0px repeat-x;

}


.video_tabs li.active a{
font-weight: bold;
background: #fff url(../images/table_head.gif) 0px 4px repeat-x;
border-bottom:none;
margin-top: 1px;
padding: 13px 25px;
font-size: 16px;
cursor: default;

}




.video_tabs li a:hover{
border-color: #999;
background: #fff url(../images/gradient_light.png) 0 -90px repeat-x;
}



.video_tabs li.active a:hover{
border: 1px solid #ccc;
border-bottom:none;
background: #fff url(../images/table_head.gif) 0px 4px repeat-x;
}




#revisions-tab {
clear: both;
position: relative;
}







/*/////////////////////////////////////////////

~ Send Message

/////////////////////////////////////////////*/

form.message{
margin: 0;
}


div#nyroModalWrapper h3{
background: #fff url(../images/gradient.png) 0 0px repeat-x !important;
padding: 15px;
font-size: 14px;
margin: 0 0 0px;
-moz-border-radius-topright: 5px;  
-moz-border-radius-topleft: 5px;  
-webkit-border-radius-top-right: 5px;
-webkit-border-radius-top-left: 5px;
}

form.message label{
width: 100px;
float: left;
clear: both;
}


form.message input{
width: 300px;
float: left;
font-size: 12px;

}


form.message p{
background: #fff;
padding: 20px;
width: 423px;
margin: 0 !important;
border-bottom: 1px solid #999;
background: #fff url(../images/big_grad.png) 0 0px repeat-x !important;

}

form.message textarea{
width: 300px;
font-size: 12px;
}


form.message p span{
padding: 4px 0 0 100px;
clear: both;
float: left;
}


form.message button{
float: right;
margin: 15px 15px 0 !important;
}



#messages{
position: absolute;
top: 110px;
text-align: center;
width: 800px;
left: 50%;
margin-left: -400px;
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;
background: #fff;
text-transform: uppercase;
line-height: 1em !important;
padding: 15px 0 13px;
font-weight: bold;
color: #3b6068;
}

#messages *{
margin: 0;
line-height: 1em !important;
padding: 0;
}



.pagination{
float: right;
margin: 47px 10px 0 0;
}


.pagination span{
float: left;
margin-right: 5px;
}


.pagination span.page{
}


.pagination span.page a{
padding: 5px 10px;
display: block;
text-decoration: none;
border: 1px solid #ccc;
color: #333;
border-bottom:none;
-moz-border-radius-topleft: 5px;
-webkit-border-radius-top-left: 5px;
text-decoration: none;
-moz-border-radius-topright: 5px;  
-webkit-border-radius-top-right: 5px;
background: #fff url(../images/gradient_light.png) 0 0px repeat-x;
}


.pagination span.current_page{
padding: 5px 10px;
}


.view_revision{
float: right;
margin-right: 20px;
}




.grid_1{
padding: 8px 0 8px 20px;
width: 59px;
border-left: 1px solid #aaa;
padding-left: 20px !important;
float: left;
}


.grid_2{
padding: 8px 0 8px 20px;
width: 139px;
border-left: 1px solid #aaa;
padding-left: 20px !important;
float: left;
}


.grid_4{
padding: 8px 0 8px 20px;
width: 299px;
border-left: 1px solid #aaa;
padding-left: 20px !important;
float: left;

}


.grid_6{
padding: 8px 0 8px 20px;
width: 459px;
border-left: 1px solid #aaa;
padding-left: 20px !important;
float: left;
}


.grid_10{
padding: 8px 0 8px 20px;
width: 779px;
padding-left: 20px !important;
float: left;
border-left: 1px solid #aaa;
}

.grid_last{
padding-right: 20px !important;
}


.no_subs{
clear: both;
padding: 30px;
background: #fff;
border: 1px solid #aaa;
}





.sub_actions{
float: right;
}

.sub_actions .button{
float: right;
clear: none !important;
margin:0 0 20px 20px;
}


.up_down{
text-align: right;
}


.upload{
padding-left: 15px;
background: url(../images/updown.gif) left -1px no-repeat;
padding-right: 5px;
}

.download{
padding-left: 20px;
background: url(../images/updown.gif) -165px -1px no-repeat;
}




@media only screen and (max-device-width: 480px) {

.wrapper{


}



}



#upload-subtitles-form button{
margin-left: 50px;
}



#upload-subtitles-form #subtitles-file-field{
background: #444;
padding: 3px !important;
border: 1px solid #fff;
}





.mirosubs-twitter-share{
    background: url("../images/share_icons.png") 0 -37px no-repeat !important;
text-decoration: underline;
}


.mirosubs-facebook{
    background: url("../images/share_icons.png") 0 0px no-repeat !important;
text-decoration: underline;
}



.user_panel{
right: 0;
top: 15px;
font-size: 11px;
position: absolute;
}


.user_panel a{
text-decoration: none;
padding-right: 10px;
float: left;
margin-top: 3px;
margin-right: 10px;
}

.user_panel img{
border: none;
float: left;
margin-right: 10px;
}


.points{
background: url("../images/points.png") 0 1px no-repeat !important;
padding-left: 15px;
float: left;
margin-top: 2px;
margin-left: 0px;
}


.awards{
background: url("../images/award.png") 0 1px no-repeat !important;
padding-left: 15px;
float: left;
margin-left: 20px;
margin-top: 2px;
}


#how-to-video-flash{
width: 800px;
}








/* State selector menu */
ul.breadcrumb li ul.state-select {  
     list-style: none;  
     position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/  
     left: -1px;  
     background: #fff;  
     margin: 0; padding: 0;  
     display: none;  
     float: left;  
     width: 172px;  
top: 47px;
border: 1px solid #ddd;
border-top: 0;

}


ul.breadcrumb li ul.state-select li {  
     list-style: none;  
     width: 170px;  
background: none !important;
}

ul.breadcrumb li ul.state-select li a{  
     list-style: none;  
     width: 122px;  
background: none !important;
border-top: 1px solid #ddd;
}

ul.breadcrumb li ul.state-select li a:hover{  
background: #fbfbfc !important;
}



ul.breadcrumb li span.subhover {background-position: center bottombottom; cursor: pointer;} /*--Hover effect for trigger--*/  


.breadcrumb{
border: 1px solid #ddd;
-moz-border-radius: 4px;
height: 40px;
padding: 0;
clear: both;
letter-spacing: 0.01em;
margin: 15px 0 20px;
}

.breadcrumb li{
float: left;
list-style: none;
background: url(../images/crumb.png) right -1px no-repeat;
-moz-border-radius-topleft: 4px;
clear: none;
position: relative;
z-index: 100;
}

.breadcrumb li a span{
padding: 0 0 0 15px;
}




.breadcrumb .first{
z-index: 95;
margin-left: -30px;
}


.breadcrumb .first a{
padding-left: 45px;
}


.breadcrumb .second{
z-index: 90;
margin-left: -30px;
}


.breadcrumb .second a{
padding-left: 45px;
}


.breadcrumb li a{
float: left;
height: 24px;
list-style: none;
padding: 16px 35px 0 15px;
text-decoration: none;
color: #333; 
line-height: 1em;
font-size: 11px;
margin: 0;
position: relative;
}





.breadcrumb li:hover{
z-index: 120;
}


.breadcrumb li a:hover{
text-decoration: underline;
}




hr{
clear: both !important;
border: none;
border-bottom: 1px solid #e1f2f5 !important;
display: block !important;
height: 1px;
margin: 10px 0;
float: left;
width: 100%;
border-top: 1px solid #d4e8eb;
}



#transcripts-tab{

}

.time-span{
float: left;
margin-right: 20px;
width: 100px;
cursor: pointer;
}

.time-span .data{
    display: none;
}

.connector{
padding: 0 18px 0 0;
background: url(../images/connector.png) right center no-repeat;
}



.nohover:hover{
text-decoration: none !important;
cursor: default;
}

