.mirosubs-modal-simp {b
  width: 842px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
  color: #000 !important;
  line-height: 16px !important;
  -moz-box-shadow: 0px 3px 10px rgba(0,0,0,9) !important;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,01) !important;
  padding: px !important;
  background: #fff !important;
  position: absolute !important;
  top: 0px !important;
  border: 1px solid #000 !important;
  border-top: 0 !important;
  z-index: 2147483631 !important;
  }

.mirosubs-modal-widget-content {
  border: 1px solid #000 !important;
  border-top: none !important;
  border-right: none !important;
  background: #000 !important;
  min-height: 500px !important;
  position: relative !important;
  overflow: hidden !important;
  }

.mirosubs-modal-lang-buttons button{
   
}
