body {
  -webkit-font-smoothing: antialiased;
	font-family: Helvetica, Arial, sans-serif;
}

a { 
  color: #126895;
  text-decoration: none; 
}

a:hover { 
  color: #333;
  text-decoration: none; 
}

a:visited {
  color: auto;
}

ul {
  list-style-type:  none;
  padding: 0;
  margin: 0;
}

input {
  border-radius: 4px;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  height: 28px;
}


.button {
  display: inline-block;
  background-image: -moz-linear-gradient(top, #177db6, #1369a8);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #177db6),color-stop(1, #1369a8));
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#177db6', EndColorStr='#1369a8');
  height: 34px;
  line-height: 34px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  font-size: 14px;
  font-weight: bold;
  color: #fff !important;
  border: 1px solid #093362;
  border-radius: 3px;
  box-shadow: inset 0px 1px 0 #23bddb, 0 1px 3px rgba(0,0,0,0.1);
  padding: 0 16px;
	cursor: pointer;
}

.button {
  background-image: -moz-linear-gradient(top, #177db6, #1369a8);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #177db6),color-stop(1, #1369a8));
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#177db6', EndColorStr='#1369a8');
  height: 34px;
  line-height: 34px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  font-size: 14px;
  font-weight: bold;
  color: #fff !important;
  border: 1px solid #093362;
  border-radius: 3px;
  -moz-box-shadow: inset 0px 1px 0 #23bddb, 0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 1px 0 #23bddb, 0 1px 3px rgba(0,0,0,0.1);
  padding: 0 16px;
	cursor: pointer;
}

.button.grey {
  background-image: -moz-linear-gradient(top, #737373, #555);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #737373),color-stop(1, #555));
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#737373', EndColorStr='#555555');
  -moz-box-shadow: inset 0px 1px 0 #959595, 0 1px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 0px 1px 0 #959595, 0 1px 3px rgba(0,0,0,0.4);	
  border: 1px solid #393939;
}

.rounded-img {
  background-clip: padding-box !important;
}

.rounded-img img {
  opacity: 0;
  display: block;
}

.container {
  width:  980px;
  margin: 0 auto;
}

.ultra-nav {
	height: 45px;
  border-bottom: 1px solid #DDD;
}

.ultra-nav ul {
	width: 990px;
	padding: 0 10px;
	margin: 0 auto;  
}

.ultra-nav li {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ultra-nav li a {
	float: left;
	color: #555;
	padding: 16px 26px 13px 53px;
	text-decoration: none;
	margin: 0;
	height: 16px;
	overflow: hidden;
	font-size: 14px;
}

.ultra-nav li a:hover {
	text-decoration: none;
	color: #000;
}

.ultra-nav li:active {
	background-color:#F7FAFE;
}

.miro-top {
	background: url(../images/ultra_nav_small_icons.png) 22px 11px no-repeat !important;
	border-right: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
}

.ipad_link {
	background: url(../images/ultra_nav_small_icons.png) 22px -29px no-repeat;
	border-right: 1px solid #e4e4e4;
}

.mvc_link {
	background: url(../images/ultra_nav_small_icons.png) 22px -71px no-repeat;
	border-right: 1px solid #e4e4e4;
}

.mc_link {
	background: url(../images/ultra_nav_small_icons.png) 22px -113px no-repeat;
	border-right: 1px solid #e4e4e4;
}

.us_link {
	background: url(../images/ultra_nav_small_icons.png) 22px -157px no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.1)), to(rgba(255,255,255,.1))) !important;
}

.us_link a {
	border-right: 1px solid #E4E4E4;
}

.pcf_link {
}

.pcf_link a {
	padding: 30px 0 0 !important;
	height: 0px;
	width: 100px;
	overflow: hidden;
	line-height: 4em;
	background: url(../images/ultra_nav_pcf_logo.png) 18px 16px no-repeat;
}

.pcf_link a:hover {
	background: url(../images/ultra_nav_pcf_logo.png) 18px -21px no-repeat;
}

#header {
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #ddd));
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#ddd');
  height: 44px;
  line-height: 45px;
  border-bottom: 1px solid #fff;
}

#header h1 a { 
  background: url(../images/new_logo.png) 0 0 no-repeat;
  float: left;
  text-indent: -9999px;
  width: 205px;
	height: 28px;
  margin: 0;
	padding: 0;
	display: block;
	position: relative;
	top: 8px;
}

#header h1 a:hover {
	background-position: bottom;
}

#nav { 
  float: right; 
}

#nav li { 
  float: left;
  margin: 0 15px;
}

#nav a { 
  color: #7d7d7d;
  font-size: 14px;
}

#nav a:hover {
  color: #444;
}

#nav li#btn_twitter, #nav li#btn_facebook {
	padding: 12px 0 13px 0;
}

#nav li#btn_twitter a, #nav li#btn_facebook a {
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -99999px;
}

#nav li#btn_twitter a {
	background: transparent url(../images/icon_nav_twitter.png) 0 0 no-repeat;
}

#nav li#btn_facebook a {
	background: transparent url(../images/icon_nav_facebook.png) 0 1px no-repeat;
}

#nav li#btn_twitter a:hover, #nav li#btn_facebook a:hover {
	opacity: 0.7;
}

#user {
  margin-right: 0;
	position: relative;
	margin-left: 0;
}

#user a {
  background: url(../images/new_user_arrow.png) 85% center no-repeat;
  color: #116b8f;
	padding: 14px 30px 17px 10px;
}

#user a:hover {
	background: #FFF url(../images/new_user_arrow.png) 85% center no-repeat;
}
	
#user img {
  position: relative;
  top: 3px;
  margin-right: 8px;
}

#user #menu {
	display: block;
	position: absolute;
	right: 0;
	top: 45px;
	background: #FFF;
	border: 1px #EEE solid;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0, 0.3);
}

#user #menu ul {
	margin: 0;
}

#user #menu ul li {
	margin: 0;
	border-bottom: 1px #DDD solid;
}

#user #menu ul li#last {
	border: 0;
}

#user #menu ul li a {
	background: transparent;
	display: block;
	width: 150px;
	
	padding: 10px;
	margin: 0;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.5px;
}

#user #menu ul li a:hover {
	background: #EEE;
	color: #333;
}

#user #menu ul li.section {
	width: 150px;
	padding: 20px 10px 10px 10px;
}

#user #menu ul li.section strong {
	font-weight: bold;
	font-size: 13px;
	color: #777;
	margin: 0;
	padding: 0;
	line-height: 13px;
	display: block;
}

#user:hover #menu {
}

#subheader {
  background-image: -moz-linear-gradient(top, #0f5384, #1571a6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0f5384),color-stop(1, #1571a6));
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#0f5384', EndColorStr='#1571a6');
  height: 43px;
  line-height:  43px;
  box-shadow: inset 0 -1px 3px rgba(0,0,0,0.4);
}

#subheader li {
  float:        left;
}

#subheader a {
  display: block;
  height: 43px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  font-size: 14px;
  padding: 0 14px;
  margin: 0 14px;
}

#subheader a:hover {
  background-color: rgba(0,0,0,0.2);
}

#subheader a.current {
  background-color: #fff;
  color: #127096;
  text-shadow: none;
}

#subheader a:first-child {
  margin-left:  0px;
}

#search {
  float: right;
	margin: 0 15px 0 0;
}

#search input {
  background: #fff url(../images/new_search_lens.png) 6px 7px no-repeat;
  border: 1px solid #000;
  box-shadow: 0 1px 0 #1a90bf, inset 0 2px 4px rgba(0,0,0,0.2);
  padding-left: 24px;
	width: 245px;
}

#footer {
	width: 980px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  background: #126295;
  color:  #fff;
  padding: 20px;
	margin: 0 auto;
}

#footer a {
  color: #fff;
}

#footer ul {
  margin-bottom: 40px;
}

#footer li {
  display: inline-block;
  padding: 0 18px;
}

#footer li:first-child {
	padding-left:  0;
}

#footer li:last-child {
	padding-right: 0;
}

#footer li a {
  font-size:    14px;
  font-weight:  bold;
}

#footer #pcf {
  background:  url(../images/new_footer_pcf.png) no-repeat;
  float: left;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  height: 48px;
  padding: 12px 0 0 66px;
}

#footer #language-select {
  background-color: #fff;
  width: 225px;
  margin: 0 auto;
  border-top-left-radius:   5px;
  border-top-right-radius:  5px;
  position: relative;
	top: 36px;
	padding: 10px 10px 20px 10px;
}

#footer #language-select label {
  color: #126295;
  font-weight:  bold;
	display: block;
	font-size: 14px;
	margin: 0 0 5px 0;
}

#footer #language-select select {
}

#footer address {
  float: right;
  text-align: right;
  font-style: normal;
  font-size:  11px;
}