/*
This code authored by Eric Meyer.
http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/

The purpose of a reset file, stated in the words of Yahoo, "removes and neutralizes the 
inconsistent default styling of HTML elements, creating a level playing field across 
A-grade browsers and providing a sound foundation upon which you can explicitly 
declare your intentions." (see http://developer.yahoo.com/yui/reset/)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

body {
	line-height: 1;
}

ol li, ul li {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}
/* 
P.I.E. FLOAT CLEARING ----------------------------
See http://www.positioniseverything.net/easyclearing.html
and http://www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/
*/

.clearfix:after {
	content: ".";
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
	}

.clearfix {display:inline-block;}
.clearfix {display:block;}