body#solutions {
	background: #FFF !important;
}

#ngo_content h1, #ngo_content h2, #ngo_content h3,
#ngo_content h4, #ngo_content h5 {
	padding: 0;
	margin: 0;
}

#ngo_content h1 {
	font-size: 34px;
	font-weight: bold;
	color: #333;
	margin: 5px 0 10px 0;
	line-height: 36px;
}

#ngo_content h2 {
	font-size: 25px;
	font-weight: normal;
	color: #555;
	line-height: 25px;
}

#ngo_content h3 {
	font-size: 20px;
	color: #333;
}

#ngo_content p {
	font-size: 20px;
	line-height: 30px;
	color: #555;
}

#ngo_content ul {
	margin: 0px 0 0 0;
}

#ngo_content ul li {
	font-size: 14px;
	line-height: 20px;
	color: #555;
	margin: 8px 0 8px -15px;
	text-indent: 0;
	padding: 0 0 5px 20px;
	list-style-type: none;
	background: transparent url(../images/icon_ngo_bullet.png) 0 2px no-repeat;
}

#ngo_content .pod {
	background: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #CCC;
	-moz-box-shadow:    0 0 10px #CCC;
	padding: 20px 20px 0 20px;
	margin: 30px 0;
	border: 1px #d3d3d3 solid;
}

.left {
	float: left;
}

.right {
	float: right;
}

a.learn_more {
	font-size: 16px;
	background: transparent url(../images/ngo_icon_arrow.png) center right no-repeat;
	padding: 0 15px 0 0;
	font-weight: bold;
	color: #3c82b5;
	text-decoration: none;
}

a:hover.learn_more {
	text-decoration: underline;
}

#unisubs {
	padding: 20px 20px 10px 20px !important;
}

#unisubs #widget_div {
	width: 450px;
	height: 250px;
	background: #DDD;
	position: relative;
	top: 0 !important;
	left: 0 !important;
	padding: 0;
	margin: 0;
}

#unisubs h2 {
	font-size: 18px;
}

#unisubs p {
	margin: 10px 0 10px 0;
	font-size: 18px;
}

#organization {
	width: 325px;
	margin: 20px 0 0 0;
}

#benefits_unisubs ul li {
	font-size: 18px;
	margin: 25px 0 25px -15px;
}

#benefits_unisubs a.learn_more {
	float: right;
}

#how_work p, #who_uses p {
	font-size: 16px;
	line-height: 32px;
}

#miro_ad {
	padding: 0 !important;
}

#miro_ad a {
	text-decoration: none;
}

#miro_ad a span {
	display: block;
}

#miro_ad a span#mc_logo {
	width: 239px;
	height: 56px;
	display: block;
	background: transparent url(../images/ngo_mc_logo.png) 20px 20px no-repeat;
	border-right: 1px #DDD solid;
	padding: 20px;
	float: left;
}

#miro_ad a span#building {
	float: left;
	padding: 20px;
}

#miro_ad a span#building p strong {
	font-weight: bold;
	font-size: 16px;
	color: #333;
}

#miro_ad a span#building p em {
	font-weight: normal;
	font-size: 14px;
	color: #555;
	font-style: normal;
}

#miro_ad a span#building p {
	font-weight: normal;
	font-size: 13px;
	color: #777;
	line-height: 18px;
	text-decoration: none !important;
	margin: 0;
	padding: 0;
}

#miro_ad a span#try {
	background: #31789d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 15px 20px 15px 20px;
	font-weight: bold;
	color: #FFF;
	font-size: 16px;
	float: right;
	display: block;
	position: relative;
	top: 7px;
	right: 5px;
	margin: 20px;
}

#miro_ad a:hover span#try {
	background: -webkit-gradient(linear, left bottom, left top, from(#e4e4e4), to(#e4e4e4)) no-repeat;
  background: -moz-linear-gradient(bottom,  #e4e4e4,  #e4e4e4) no-repeat;
}

#miro_ad a:active span#try {
	background: -webkit-gradient(linear, left bottom, left top, from(#e4e4e4), to(#d4d4d4)) no-repeat;
  background: -moz-linear-gradient(bottom,  #e4e4e4,  #d4d4d4) no-repeat;
	-webkit-box-shadow: 0 0 0 #BBB, inset 0 1px 1px #999;
	-moz-box-shadow:    0 0 0 #BBB, inset 0 1px 1px #999;
	color: #656565;
	text-shadow: 0 0 0;
}

#miro_ad a span#unisubs_logo {
	width: 121px;
	height: 61px;
	display: block;
	background: transparent url(../images/ngo_unisubs_logo.png) 20px 20px no-repeat;
	border-right: 1px #DDD solid;
	padding: 20px;
	float: left;
}

.usubs_ad span#building {
	margin: 0px 0 0 0;
}

.usubs_ad span#building p {
	line-height: 22px;
	margin: 3px 0 0 0 !important;
}

#unisubs_action h3 {
	font-size: 24px;
}

#khan {
	width: 950px;
	height: 846px;
	background: transparent url(../images/ngo_khan_shot.png) 0 0 no-repeat;
	position: relative;
	left: -5px;
}

#khan #video_container {
	position: relative;
	top: 220px;
	width: 727px;
	height: 340px;
	left: 120px;
}

#start h1 {
	font-size: 36px;
	background: #31789d;
	color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
	padding: 20px;
	text-shadow: 0 -1px 0 #000;
}

#start h3 {
	font-size: 20px;
	color: #333;
	margin: 0 0 0 15px;
}

#start ul {
	margin: 0 0 45px 20px;
}

#start ul li {
	font-size: 20px;
	color: #555;
	margin: 24px 0 24px -15px;
	text-indent: 0;
	padding: 0 0 5px 20px;
	list-style-type: none;
	background: transparent url(../images/icon_ngo_bullet.png) 0 2px no-repeat;
}

#start a {
	background: #31789d;
	padding: 20px 25px 20px 25px;
	font-size: 18px;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
	color: #FFF;
	text-decoration: none;
	margin: 15px 0 0 0;
}