
.start_team {
  float: right !important;
  margin: 16px 0 0 !important;
}

.team_meta {
  margin: 0 0 40px;
  padding: 0;
}

.team_meta li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 11px;
}

.no-padding-top {
  padding-top: 0 !important;
}

.team_html { 
  background-color: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 15px 35px;
  margin-bottom: 20px;
}

.team_html img,
.team_html object,
.team_html iframe { 
  float: right;
  margin-left: 20px;
}

.team_html p { 
  color: #575757;
  line-height: 20px;
}

.team_html p img { 
  float: none;
  margin: 0;
}

.team_html h1 { font-size: 26px; }
.team_html h2 { font-size: 24px; }
.team_html h3 { font-size: 22px; }
.team_html h4 { font-size: 20px; }
.team_html h5 { font-size: 18px; }

#custom_volunteer #maincol {
  float: left;
  width: 580px;
}

#custom_volunteer #subcol {
  float: left;
  width: 275px;
  margin: 0 0 0 40px;
  border-left: 1px #c1dee5 solid;
  padding: 15px 15px 15px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#custom_volunteer h3 {
  margin: 15px 0 -5px 0;
  padding: 0;
  text-shadow: 0 0 0;
  
}

#custom_volunteer h3 em#volunteer_begin {
  color: #6a9200;
  font-style: normal;
  background: transparent url(../images/icon_custom_volunteer_arrow.png) right center no-repeat;
  padding: 0 20px 0 5px;
}

#custom_volunteer p {
  font-size: 14px;
  line-height: 24px;
  margin: 10px 0 0 0;
  padding: 0;
}

.share_team_buttons {
	margin: 20px 0 0 0;
	width: 440px;
	padding: 10px 20px 20px 20px;
  border-radius:      5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0 1px 3px rgba(0,0,0,0.3);
  background: -webkit-gradient(linear, 0% 100%, 0% 70%, from(#edf6f8), to(#fff)); /* for webkit browsers */
  background: -moz-linear-gradient(0% 75% 270deg, #fff, #edf6f8); /* for firefox 3.6+ */
}

.share_team_buttons p {
	font-size: 14px;
	line-height: 27px;
	margin: 0;
	color: #444;
}

.share_buttons {
	margin: 10px 0 0 0;
}

.share_team_buttons a.share_btn {
	margin: 0 5px 0 0;
}

#team_volunteer_detail {
	display: none;
}

#team_volunteer_detail #team_join_button {
	margin: 25px 0 15px 0;
}

#team_volunteer_detail #team_info img {
	float: left;
	margin: 0 10px 0 0;
}

#team_volunteer_detail ul#team_detail_actions {
	margin: 0 0 25px 0;
	padding: 0;
}

#team_volunteer_detail ul#team_detail_actions li {
	list-style-type: none;
	margin: 10px 0 10px 0;
	text-indent: 0;
	padding: 0;
}

.completed_translations {
	float: left !important;
	margin: 4px 0 0px 0 !important;
	display: block !important;
	line-height: 0 !important;
    width: 420px;
}

.completed_translations span {
	color: #333 !important;
	font-size: 13px !important;
}

.completed_translations a {
	font-size: 13px !important;
}

a.add_subtitles_bt{
    float:right;
    display:block;
    margin-left:400px;
}

.team-video-buttons-container{
    float: left;
}
.team-video-buttons-container a.blue_button_small{ 
    margin-right: 4px !important;

}

.team-detail-list-description{
    display:block;
    width: 400px;
}

.team-detail-list-video-in-lang{
    font-style:italic;
}

.inprogress-list{
    color: #A00;
    width: 400px;
    font-weight: bold;
}

.video-info{
   margin-left:80px;
}
.video-moderation-item{
   margin-bottom:40px;
}
