body#watch {
	font-family: Helvetica, Arial, sans-serif;
}

.pod {
  border-radius:         5px;
  -moz-border-radius:    5px;
	-webkit-border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  background: -webkit-gradient(linear, 0% 100%, 0% 50%, from(#edf6f8), to(#fff)); /* for webkit browsers */
  background: -moz-linear-gradient(0% 75% 270deg, #fff, #edf6f8); /* for firefox 3.6+ */
	margin: 0 0 10px 0;
}

body#watch h1 {
	font-size: 24px;
	font-weight: bold;
	color: #536064;
	margin: 0 0 15px 0;
	text-shadow: 0 1px 0 #FFF;
}

body#watch h1 a {
	text-decoration: none;
}

.pod .hd {
	border-bottom: 1px #e2e5e6 solid;
	-webkit-box-shadow: inset 0 -1px 0 #FFF;
	background: -webkit-gradient(linear, 0% 100%, 0% 40%, from(#ecf0f1), to(#FFF)); /* for webkit browsers */
  background: -moz-linear-gradient(0% 75% 270deg, #FFF, #ecf0f1); /* for firefox 3.6+ */
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.pod .hd h2 {
	font-size: 18px;
	font-weight: bold;
	color: #52686e;
	margin: 0;
	padding: 15px;
	text-shadow: 0 1px 0 #FFF;
}

.pod .hd a.btn_more_videos {
	font-weight: bold;
	font-size: 13px;
	color: #7a949b;
	display: block;
	background: transparent url(../images/icon_btn_more_videos.png) 90% center no-repeat;
	text-decoration: none;
	float: right;
	padding: 28px 40px 27px 25px;
	border-left: 1px #e2e5e6 solid;
	line-height: 0;
}

.pod .hd a:hover.btn_more_videos {
	opacity: 0.8;
	background: #FFF url(../images/icon_btn_more_videos.png) 90% center no-repeat;
}
	

.pod .bd {
	padding: 0;
	color: #747b81;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
}

#watch_search {
	float: right;
	position: relative;
	top: -5px;
	background: transparent;
	border: 1px #d3dadc solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 190px;
	height: 31px;
	background: -webkit-gradient(linear, 0% 100%, 0% 40%, from(#FFF), to(#ecf0f1)); /* for webkit browsers */
  background: -moz-linear-gradient(0% 75% 270deg, #ecf0f1, #FFF); /* for firefox 3.6+ */
	-webkit-box-shadow: 0 1px 0 #e5ebed;
}

#watch_search span.icon {
	width: 13px;
	height: 13px;
	background: transparent url(../images/icon_watch_search.png) 10px 10px no-repeat;
	text-indent: -99999px;
	display: block;
	float: left;
	padding: 13px 13px 13px 0;
}

#watch_search input {
	border: 0;
	background: transparent;
	float: left;
	width: 114px;
	position: relative;
	top: 8px;
	margin: 0 0 0 8px;
	font-size: 11px;
	color: #78868a;
}

#watch_search a#advanced_search {
	width: 11px;
	height: 7px;
	background: transparent url(../images/icon_watch_search_arrow.png) 12px 13px no-repeat;
	display: block;
	float: right;
	border-left: 1px #d3dadc solid;
	padding: 12px;
}

#watch_search #advanced_menu {
	display: none;
}

#watch_search #advanced_menu.open {
    display: block;    
}

#watch_search a:hover#advanced_search {
	background: #FFF url(../images/icon_watch_search_arrow.png) 12px 13px no-repeat;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

#watch_search a#advanced_search.btn_active {
	background: #FFF url(../images/icon_watch_search_arrow.png) 12px 13px no-repeat;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

#watch_search #advanced_menu {
	background: #FFF;
	width: 170px;
	position: relative;
	right: 1px;
	top: 31px;
	padding: 0 10px 10px 10px;
	border: 1px #d3dadc solid;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-box-shadow: 0 1px 3px #e5ebed;
}

#watch_search #advanced_menu .menu_item {
}

#watch_search #advanced_menu .menu_item label {
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-indent: 0;
	color: #6d787c;
	display: block;
	font-weight: bold;
}

#watch_search #advanced_menu .videos_in {
	margin: -20px 0 15px 0;
}

#watch_search #advanced_menu .menu_item select {
	width: 170px;
}

#watch_search #advanced_menu button {
	border: 1px #34454b solid;
	background: -webkit-gradient(linear, left top, left bottom, from(#6e8b93), to(#566d75)) no-repeat;
	background: -moz-linear-gradient(top,  #6e8b93,  #566d75) no-repeat;
	-webkit-box-shadow: 0 1px 1px #a1a1a1, inset 0 1px 0 #9ababf;
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0 -1px 0 #34454b;
	-webkit-border-radius: 5px;
	text-align: center;
	display: block;
	padding: 7px 5px 5px 5px;
	width: 100%;
	margin: 5px 0 0 0;
}

#watch_search #advanced_menu button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#7897a0), to(#607881)) no-repeat;
	background: -moz-linear-gradient(top,  #7897a0,  #607881) no-repeat;
	-webkit-box-shadow: 0 1px 1px #a1a1a1, inset 0 1px 0 #9ababf;
	color: #FFF;
	text-shadow: 0 -1px 0 #34454b;
}

#watch_search #advanced_menu button:active {
	background: -webkit-gradient(linear, left bottom, left top, from(#7897a0), to(#607881)) no-repeat;
	background: -moz-linear-gradient(bottom,  #7897a0,  #607881) no-repeat;
	-webkit-box-shadow: 0 -1px 1px #a1a1a1, inset 0 -1px 0 #9ababf;
	color: #FFF;
	text-shadow: 0 -1px 0 #34454b;
}

ul.video_list {
	margin: 20px 0 0 0;
}

ul.video_list li {
	width: 155px;
	float: left;
	margin: 0 13px 0 13px;
	height: 200px;
}

ul.video_list li a {
	text-decoration: none !important;
}

ul.video_list li a span.video_thumb {
	vertical-align: bottom;
	display: inline-block;
	_display: inline;
	overflow: hidden;
}

ul.video_list li a span.video_thumb span.clip {
	position: relative;
	overflow: hidden;
	display: block;
	width: 128px;
	height: 72px;
}

ul.video_list li a span.video_thumb span.clip img {
	top: -12px;
	position: absolute;
	display: block;
	left: 0;
}

ul.video_list li a h4 {
	margin: 0 0 5px 0;
	font-size: 13px;
	overflow: hidden;
	width: 155px;
}

ul.video_list li a:hover h4 {
	color: #7f878d;
}

ul.video_list li span {
	display: block;
	font-size: 13px;
}

ul.video_list li span strong {
	font-weight: normal;
}

ul.video_list li span.date {
	margin: 0 0 5px 0;
}

ul.video_list li span.languages {
	margin: 5px 0 0 0;
}

ul.video_list li span.languages a.lang_arrow {
	width: 18px;
	height: 18px;
	background: transparent url(../images/icon_lang_arrow.png) 0 0 no-repeat;
	display: block;
	float: left;
	margin: 0 5px 0 0;
	position: relative;
	top: -2px;
}

ul.video_list li span.languages a.lang_arrow div.lang_menu {
	display: none;
}

ul.video_list li span.languages a.lang_arrow div.lang_menu.menu_active {
	display: block;
	background: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	-webkit-box-shadow: 0 0 8px #BBB;
	-webkit-border-radius: 5px;
	border: 1px #b1bec3 solid;
	z-index: 2;
}

div.lang_menu div.hd {
	padding: 5px;
	background: -webkit-gradient(linear, left bottom, left top, from(#d3dee2), to(#eaeff1)) no-repeat;
	background: -moz-linear-gradient(bottom,  #d3dee2,  #eaeff1) no-repeat;
	-webkit-box-shadow: inset 0 1px 0 #FFF;
	
}

div.lang_menu div.hd .menu_close {
	float: right;
}

div.lang_menu div.bd {
	padding: 7px;
}

div.lang_menu div.bd span {
	display: block;
	float: left;
	background: #EEE;
	-webkit-border-radius: 55px;
	font-size: 11px;
	padding: 4px 8px 4px 8px;
	margin: 3px;
}

div.pages {
	width: 100%;
	text-align: center;
	border-top: 1px #cad1d4 solid;
}

div.pages span.page_count {
	display: inline-block;
	padding: 13px 0 0 0;
}

div.pages a.pag_first {
	display: block;
	float: left;
	padding: 12px 15px 12px 15px;
	border-right: 1px #cad1d4 solid;
}

div.pages a:hover.pag_first {
	opacity: 0.7;
}

div.pages a:active.pag_prev, div.pages a:active.pag_next,
div.pages a:active.pag_first, div.pages a:active.pag_last {
	-webkit-box-shadow: inset 0 2px 5px #c7dae1;
	background: -webkit-gradient(linear, left bottom, left top, from(#FFF), to(#d2e0e3)) no-repeat;
	background: -moz-linear-gradient(bottom,  #FFF,  #d2e0e3) no-repeat;
}

div.pages a.pag_prev {
	display: block;
	float: left;
	padding: 12px 15px 12px 15px;
	border-right: 1px #cad1d4 solid;
}

div.pages a:hover.pag_prev {
	opacity: 0.7;
}

div.pages a.pag_last {
	float: right;
	display: block;
	padding: 12px 15px 12px 15px;
	border-left: 1px #cad1d4 solid;
}

div.pages a:hover.pag_last {
	opacity: 0.7;
}

div.pages a.pag_next {
	float: right;
	display: block;
	padding: 12px 15px 12px 15px;
	border-left: 1px #cad1d4 solid;
}

div.pages a:hover.pag_next {
	opacity: 0.7;
}

div.pages a:active.pag_prev, div.pages a:active.pag_next,
div.pages a:active.pag_first, div.pages a:active.pag_last {
	-webkit-box-shadow: inset 0 2px 5px #c7dae1;
	background: -webkit-gradient(linear, left bottom, left top, from(#FFF), to(#d2e0e3)) no-repeat;
	background: -moz-linear-gradient(bottom,  #FFF,  #d2e0e3) no-repeat;
}

div.pages a.pag_prev span.icon {
	background: transparent url(../images/icon_pages_prev.png) 0 0 no-repeat;
	width: 12px;
	height: 18px;
	display: block;
}

div.pages a.pag_next span.icon {
	background: transparent url(../images/icon_pages_next.png) 0 0 no-repeat;
	width: 12px;
	height: 18px;
	display: block;
}

div.pages a.pag_first span.icon {
	background: transparent url(../images/icon_pages_first.png) 0 0 no-repeat;
	width: 18px;
	height: 18px;
	display: block;
}

div.pages a.pag_last span.icon {
	background: transparent url(../images/icon_pages_last.png) 0 0 no-repeat;
	width: 18px;
	height: 18px;
	display: block;
}

#popular_videos .hd h2 {
	float: left;
	padding: 15px 20px 15px 15px;
	border-right: 1px #cad1d4 solid;
	margin: 0;
}

#popular_videos .hd {
	position: relative;
}

#popular_videos .hd a#popular_sort {
	float: left;
	display: block;
	position: absolute;
	width: 100px;
	top: 0;
	left: 167px;
	padding: 22px 35px 18px 15px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	background: transparent url(../images/icon_sort_arrow.png) 85% 27px no-repeat;
}

#popular_videos .hd a#popular_sort span.current-sort {
	color: #6d787c;
}

#popular_videos .hd a#popular_sort #sort_menu {
	display: none;
}

#popular_videos .hd a:hover#popular_sort {
	background: #FFF url(../images/icon_sort_arrow.png) 85% 27px no-repeat;
	border-right: 1px #cad1d4 solid;
}

#popular_videos .hd a:hover#popular_sort #sort_menu {
	display: block;
	background: #FFF;
	position: absolute;
	top: 40px;
	left: -1px;
	-webkit-box-shadow: 0 1px 3px #DDD;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border: 1px #cad1d4 solid;
	border-top: 0;
	z-index: 2;
	padding: 20px 0 0 0;
	color: #6d787c;
}

#popular_videos .hd a:hover#popular_sort #sort_menu ul {
	margin: 0;
	padding: 0;
}

#popular_videos .hd a:hover#popular_sort #sort_menu ul li {
	font-size: 12px;
	display: block;
	padding: 5px 0 3px 0;
	width: 150px;
	text-align: center;
	margin: 4px 0 4px 0;
	color: #6d787c;
}

#popular_videos .hd a:hover#popular_sort #sort_menu ul li:hover {
	background: #ecf3f5;
}

body#watch_results #watch_search {
	top: 12px;
	right: 15px;
}

body#watch_results #sidebar {
	width: 170px;
	float: left;
	border-right: 1px #cad1d4 solid;
}

body#watch_results #sidebar h2 {
	font-size: 16px;
	border-bottom: 1px #cad1d4 solid;
	margin: 0 0 10px 0;
	padding: 13px 20px 10px 20px;
	text-align: right;
	color: #52686e;
}

body#watch_results #sidebar ul {
	border-bottom: 1px #cad1d4 solid;
	margin: 0;
	padding: 0 0 10px 0;
	display: block;
}

body#watch_results #sidebar ul.last {
	border: 0;
	padding: 0;
}

body#watch_results #sidebar ul li {
	margin: 0;
	padding: 0;
}

body#watch_results #sidebar ul li a {
	display: block;
	text-align: right;
	padding: 7px 10px 7px 10px;
	text-decoration: none;
	font-weight: bold;
	color: #788b90;
}

body#watch_results #sidebar ul li a:hover {
	background: #dce5e7;
}

body#watch_results #sidebar ul li.active a {
	color: #31879f;
	padding: 7px 10px 7px 30px;
	background: transparent url(../images/icon_results_active.png) 10% center no-repeat;
}

body#watch_results #sidebar ul li.active a:hover {
	background: #dce5e7 url(../images/icon_results_active.png) 10% center no-repeat;
}

body#watch_results #main_col {
	width: 764px;
	float: left;
	border-left: 1px #cad1d4 solid;
	position: relative;
	left: -1px;
}

body#watch_results .pages {
	width: 764px;
	margin: 0 0 0 175px;
	border-left: 1px #cad1d4 solid;
}
