*~
*.pyc
pip-log.txt
deploy/src/*
*.sqlite3
*calcdeps.js
*compiled.js
.DS_Store
closure-library
jsunit
media/profile_images
settings_local.py
commit.py
media/js/widgetizer/widgetizerconfig.js
media/js/mirosubs-widgetizer.js
media/teams/*