*~
*.pyc
pip-log.txt
deploy/src/*
*.sqlite3
*calcdeps.js
*compiled.js
.DS_Store
closure-library
jsunit
media/profile_images
media/pictures
media/CACHE
settings_local.py
commit.py
media/js/config.js
media/js/statwidget/statwidgetconfig.js
media/js/mirosubs-widgetizer.js
media/js/mirosubs-widgetizer-debug.js
media/js/mirosubs-extension.js
media/js/mirosubs-statwidget.js
media/js/mirosubs-api.js
media/static-cache/
media/teams/*
media/videos/*
disabled
server_local_settings.py
/mediabundles_list.py
deploy/build/*
celerybeat-schedule
/media/js/site_base_js.js
