*~
*.pyc
pip-log.txt
deploy/src/*
*.sqlite3
*calcdeps.js
*compiled.js
.DS_Store
closure-library
jsunit
media/profile_images
media/pictures
settings_local.py
commit.py
media/js/config.js
media/js/statwidget/statwidgetconfig.js
media/js/mirosubs-widgetizer.js
media/js/mirosubs-extension.js
media/js/mirosubs-statwidget.js
media/js/mirosubs-api.js
media/teams/*
media/videos/*
disabled
unisubs_settings.py
