@charset "utf-8";
/*======================================
				Creator: Jewel Rana
				DATE:2010-12-14
=======================================*/
body{
	text-align:center;
	font-family:Arial, sans-serif;
	font-size:12px;
	background:#d1e9ee url(images/interface/bg_body.jpg) no-repeat center top;
	padding-top:35px;
	padding-bottom:50px;
}
/*===========@Global Styles(Reset Base)============*/
*{margin:0; padding:0; outline:none}
img,fieldset{border:0}
a{
	text-decoration:none;
	outline:none
}

/*//////////   ~  Linkage  ~   //////////*/



a{}
a:visited {color: #506a70;}
a:active {}
a:link {color: #3196ad;text-decoration: underline;} 
a:hover,a:focus {color: #;text-decoration: none; outline: none !important; -moz-outline: none !important;}

/*==============================
				Module
==============================*/
.logo{
	width:256px;
	height:42px;
	float:left;
	}
.logo a{
	width:100%;
	height:100%;
	display:block;
	text-indent:-1000px;
	overflow:hidden;
	background:url(images/interface/logo.png) no-repeat
	}

div.mainNav{
	float:left;
	height:45px;
	}
div.mainNav ul{
	float:left;
	height:45px;
	}
div.mainNav ul li{
	float:left;
	line-height:45px;
	margin-right:8px;
	list-style:none;
	background:url(images/interface/divider_main_nav.jpg) no-repeat left 3px;
	}
div.mainNav ul li.nobdr{
	background:none;
	}
div.mainNav ul li a{
	width:120px;
	text-decoration:none;
	float:left;
	line-height:45px;
	color:#000;
	}
div.mainNav ul li a big{
	font-size:18px;
	display:block;
	line-height:20px;
	text-align:center;
	}
div.mainNav ul li a small{
	font-size:12px;
	line-height:15px;
	text-align:center;
	display:block
	}
/*alphaNav*/
div.alphaNav{
	float:right;
	height:45px;
}
div.alphaNav ul{
	float:left;
	height:45px;
}
div.alphaNav ul li{
	float:left;
	line-height:45px;
	list-style:none;
	margin:0 10px;
	text-transform:capitalize;
}
div.alphaNav ul li.u_login{
	padding-left:15px;
	background:url(images/interface/bullet_login.gif) no-repeat left center; 
}
div.alphaNav ul li a{
	color:#319ac5;
	text-decoration:underline;
}
div.alphaNav ul li a:hover{
	text-decoration:none;
}
/*Start--------------------------------------------Page Layout*/

/*========================================
					Header
=========================================*/
#header{
	width:940px;
	height:45px;
	margin:0 auto;
	text-align:left;
	position: relative;
	}
	
/*========================================
					section_primary
=========================================*/
#section_primary{
	width:940px;
	margin:0 auto;
	padding-top:60px;
	padding-bottom:20px;
	text-align:left;
	overflow:hidden;
	}
.section_primary_left{
	width:460px;
	float:left;
	}
.section_primary_left h2{
	width:100%;
	font-size:23px;
	line-height:26px;
	font-weight:normal;
}
ul.user_vervice_menu{
	width:100%;
	padding-top:35px;
	overflow:hidden;
	}
ul.user_vervice_menu li{
	width:390px;/*460*/
	padding-left:50px;
	float:left;
	list-style:none;
	line-height:17px;
	padding-bottom:29px;
	}

ul.user_vervice_menu li.service_00{background:url(images/interface/user_service_00.gif) no-repeat;}
ul.user_vervice_menu li.service_01{background:url(images/interface/user_service_01.gif) no-repeat;}
ul.user_vervice_menu li.service_02{background:url(images/interface/user_service_02.gif) no-repeat;}	
ul.user_vervice_menu li.service_03{background:url(images/interface/user_service_03.gif) no-repeat;}
ul.user_vervice_menu li.service_04{background:url(images/interface/user_service_04.gif) no-repeat;}	

ul.user_vervice_menu li a{
	color:#000;
	width:100%;
}
.section_primary_right{
	width:460px;
	float:right;
	}
/*========================================
					section_secondary
=========================================*/
#section_secondary{
	width:940px;
	height:405px;
	margin:0 auto;
	text-align:left;
	background:url(images/interface/bg_secondary_section.jpg) no-repeat;
	}
#section_secondary h3{
	width:100%;
	line-height:44px;
	color:#fff;
	text-align:center;
	font-size:16px;
	padding-top:10px;
	font-weight:normal;
}
.section_secondary_top{
	width:100%;
	height:180px;
}
.section_secondary_top_left{
	width:400px;/*470*/
	padding:0 35px;
	height:100%;
	float:left;
}
.section_secondary_top_left h4{
	width:100%;
	line-height:16px;
	color:#fff;
	padding:35px 0 10px 0;
}
.submit_video{
	width:386px;/*396*/
	height:23px;/*33*/
	line-height:23px;
	font-size:12px;
	padding:5px;
	border:0;
	background:url(images/interface/bg_video_upload.jpg) no-repeat;
}
.row{
	width:100%;
	height:35px;
	padding-top:18px;
}
span.caption{
	float:left;
	line-height:16px;
	color:#fff;
}
.btn_submit_video{
	width:135px;
	height:28px;
	background:url(images/interface/btn_submit_video.gif) no-repeat;
	border:0;
	float:right;
	cursor:pointer;
}
.section_secondary_top_right{
	width:400px;/*430*/
	padding-right:30px;
	height:100%;
	float:right;
}
.section_secondary_top_right h4{
	width:100%;
	line-height:16px;
	color:#fff;
	padding:35px 0 10px 0;
}
.input_url{
	width:386px;/*396*/
	height:23px;/*33*/
	line-height:23px;
	font-size:12px;
	padding:5px;
	border:0;
	background:url(images/interface/bg_video_upload.jpg) no-repeat;
}
span.indication{
	width:100%;
	line-height:16px;
	display:block;
	color:#fff;
	padding-top:14px;
}
.section_secondary_bottom{
	width:100%;
	height:170px;
}
.section_secondary_bottom_left{
	width:665px;/*700*/
	height:100%;
	padding-left:35px;
	float:left;
}

.section_secondary_bottom_left h5{
	width:100%;
	line-height:18px;
	padding-top:30px;
	font-size:16px;
	font-weight:normal;
	color:#fff;
}
.video_site_box{
	width:100%;
	height:30px;
	padding-top:18px;
	
}
.video_site_box a{
	float:left;
	margin-right:30px;
	
}
.section_secondary_bottom_right{
	width:200px;
	height:100%;
	float:right;
}
