{% load i18n %}

<p>
    <a class="join-team-by-application" data-modal="application-form-container" href="#">{% trans "Send application" %}</a>
</p>

<div id="application-form-container" style="display: none" class="modal-window-container modal-window-bg">
    <h2>{% trans "Apply to" %} "{{ team }}"</h2>
    <p>
        {% if team.application_text %}
            {{ team.application_text|linebreaksbr|urlize }}
        {% else %}
            <b>{% trans "Language skill" %}</b>  
            {% blocktrans %}
            No formal language training is required to translate for
            {{ team }}. But we do ask that all translators are confident in their
            translation abilities. Please make sure your profile has your language
            {% endblocktrans %} 
            <a href="{% url profiles:edit %}">{% trans "proficiency" %}</a> {% trans "specified" %}.
            <br/><br/>
            <b>Time commitment</b>  We request that each new applicant does at least one full
            set of subtitles within the first week of joining. Aside from that, it’s up to
            you!
            <br/><br/>
            <b>About you</b> Tell us a little bit about yourself and why you’re interested in
            translating with {{ team }}. This should be 3-5 sentences, no longer!
        {% endif %}
    </p>
    <p>
        <h3>{% trans "Application" %}</h3>
        <textarea></textarea>
        <button team_id="{{ team.pk }}">{% trans "Submit Application" %}</button>
    </p>
</div>
<script type="text/javascript">
        $('#application-form-container button').click(function(){
            var $t = $('#application-form-container textarea');
            TeamsApi.create_application($(this).attr('team_id'), $t.val(), function(response){
                if (response.error){
                    $.jGrowl.error(response.error);
                }else{
                    $.jGrowl(response.msg);
                    $t.val('');
                    $('.join-team-by-application').remove();
                    $('#application-form-container').modClose();
                }                
            });
            return false;
        });  
</script>