{% load i18n teams_tags %}
<a href="{{ search_record.video_absolute_url }}" class="thumbnail_medium">
    <img height="100" src="{{ search_record.thumbnail }}">
</a>
<div class="info">
  <h4><a href="{{ search_record.video_absolute_url }}">{{ search_record.title }}</a></h4>
  <div class="completed_translations">
    <strong>{% trans "Completed Languages" %}:</strong> 
    {% for l in display_languages %}
        <a href="{{ l.1 }}"><span>{{ l.0 }}</span></a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </div>
  <div class="team-video-buttons-container">
    <a class="blue_button small" href="{{ search_record.video_absolute_url }}">{% trans "Video Page" %}</a>
  </div>
</div>
