{% load i18n %}

<div class="share_team_buttons">
  <p>{% trans "According to your" %} <a data-modal="language_modal" href="#">{% trans "language choices" %}</a>, {% trans "there don't appear to be videos you can translate." %} {% trans "But check back soon! There may soon be translations for you to review." %} {% trans "You can also invite friends who speak other languages to help out." %}</p>
  <div class="share_buttons">
    <strong>Share</strong>
    <a class="share_btn facebook" href="javascript:void();">Facebook</a>
    <a class="share_btn twitter-link" target="twitter" href="http://twitter.com/home/?status={{ invite_message|urlencode }}">Twitter</a>
    <a class="share_btn email" target="email" href="{% url videos:email_friend %}?text={{ invite_message|urlencode }}">Email</a>
  </div><!-- // share_buttons -->
</div><!-- // share-team-buttons -->
<script type="text/javascript">
    jQuery(function($){
        var FACEBOOK_SHARE_URL = 'http://www.facebook.com/sharer.php?u={{ team.get_site_url|urlencode }}&t={{ invite_message|urlencode }}';
        
        $('.share-team-buttons .facebook').click(function(e){
            e.preventDefault();
            window.open(FACEBOOK_SHARE_URL,
                'post_to_fb', 'status=0,width=560,height=320');            
        })
    });
</script>
