{% load i18n teams_tags %}
<script type="text/javascript">
    jQuery(function($){
        $('a.join-team').click(function(){
            var IS_AUTHENTICATED = {% if user.is_authenticated %}true{% else %}false{% endif %};
            
            if ( ! IS_AUTHENTICATED){
                document.location = '{% url auth:login %}?next={{ request.path_info|urlencode }}';
            }else{            
                if (confirm('{% trans "Do you really wish to join this team?" %}')){
                    var $this = $(this);
                    TeamsApi.join($this.attr('team_id'), function(response){
                        if (response.error){
                            $.jGrowl.error(response.error);
                        }else{
                            $.jGrowl(response.msg);
                            $this.remove();
                        }
                    });
                };
            };
            return false;
        });
        $('a.leave-team').click(function(){
            if (confirm('{% trans "Do you really wish to leave this team?" %}')){
                var $this = $(this);
                TeamsApi.leave($this.attr('team_id'), function(response){
                    if (response.error){
                        $.jGrowl.error(response.error);
                    }else{
                        $.jGrowl(response.msg);
                        $this.parents('.team-detail').find('.your-team').remove();
                        $this.remove();
                    }
                });
            }
            return false;
        });
    });
</script>   

<div class="team-detail">
    {% if not team.video %}
    <div class="team_logo">
        {% if team.logo %}
        <img alt="{{ team }}" title="{{ team }}" src="{{ team.logo_thumbnail }}"/>
        {% endif %}
    </div>
    {% endif %}
    {% if team.description %}
    <p>
        <b>{% trans 'Team Description' %}:</b> {{ team.description|urlize }}
    </p>
    {% endif %}
    <p>
        <a href="{% url teams:detail_members team.slug %}">{% trans "Show Members" %} ({{ team.member_count }})</a>
    </p> 
    <p>
        <b>{% trans 'Team Managers' %}:</b>
        {% for item in team.members.managers %}
            <a href="{{ item.user.get_absolute_url }}">{{ item.user }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </p>
    <p>
        <b>{% trans 'Video Policy' %}:</b>
        {{ team.get_video_policy_display }}
    </p>
    <p>
        <b>{% trans 'Membership Policy' %}:</b>
        {{ team.get_membership_policy_display }}
    </p>
    {% if on_completed_video_page %}
    <p>
        <a href="{{ team.get_absolute_url }}">{{ team }}{% trans "Team Page" %}</a>            
    </p>
    {% else %}
    <p>
        <a href="{% url teams:completed_videos team.slug %}">{% trans "Completed Videos" %}</a>            
    </p>    
    {% endif %}
    {% if team|is_team_member:user %}
        <p>
            <a href="{{ team.get_edit_url }}" class="your-team">{% trans "Manager's Settings & Controls" %}</a><br/>
            <a class="leave-team" team_id="{{ team.pk }}" href="#">{% trans "Leave" %}</a>   
        </p>
    {% else %}
        {% if team.is_open %}
        <p>
           <a class="join-team" team_id="{{ team.pk }}" href="{% url teams:join_team team.slug %}">{% trans "Join this team now!" %}</a> 
        </p>
        {% endif %}
        {% if user.is_authenticated and team.is_by_application %}
            {% include "teams/_application_form.html" %}
        {% endif %}
    {% endif %} 
</div><!-- // team-detail -->

<div id="team_volunteer_detail">
      {% if team.is_open and not team|is_team_member:user %}
      <div id="team_join_button" class="clearfix">
        <a class="join-team green_button huge" team_id="{{ team.pk }}" href="{% url teams:join_team team.slug %}">{% trans "Join this team now!" %}</a>
      </div><!-- // team_join_button -->
      {% endif %}<!-- // if team|is_team_member:user -->
    {% if not team.video %}
    <div id="team_info" class="clearfix">
        {% if team.logo %}
        <div id="team_logo">
          <img alt="{{ team }}" title="{{ team }}" src="{{ team.logo_thumbnail }}"/>
        </div><!-- // team_logo -->
          {% if team.description %}
            <p><strong>{% trans 'Team Description' %}</strong>: {{ team.description|urlize }}</p>
          {% endif %}<!-- // if team.description -->
        {% endif %}<!-- // if team.logo -->
    </div><!-- // team_info -->
    {% endif %}<!-- // if not team.video -->
    
    <ul id="team_detail_actions">
      <li id="team_detail_managers">
        <strong>{% trans 'Team Managers' %}:</strong>
        {% for item in team.members.managers %}
        <a href="{{ item.user.get_absolute_url }}">{{ item.user }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </li>
      <li id="team_detail_members"><a href="{% url teams:detail_members team.slug %}">{% trans "Team Members" %} ({{ team.member_count }})</a></li>
      <li id="team_completed_subtitles"><a href="{% url teams:completed_videos team.slug %}">{% trans 'Completed Subtitles' %}</a></li>
      {% if team|is_team_member:user %}
          {% if team|is_team_manager:user %}
              <li id="team_manage_settings"><a href="{{ team.get_edit_url }}" class="your-team">{% trans "Manager's Settings & Controls" %}</a></li>
          {% endif %}
          <li id="team_leave_button" class="clearfix"><a class="leave-team" team_id="{{ team.pk }}" href="#">{% trans "Leave this team" %}</a></li>
      {% else %}
          {% if user.is_authenticated and team.is_by_application %}
              <li>
                {% include "teams/_application_form.html" %}
              </li>
          {% endif %}      
      {% endif %}
      <li id="team_video_policy"><strong>{% trans 'Video Policy' %}:</strong> {{ team.get_video_policy_display }}</li>
      <li id="team_member_policy"><strong>{% trans 'Membership Policy' %}:</strong> {{ team.get_membership_policy_display }}</li>
    </ul>
</div><!-- // team_volunteer_detail -->

<p class="notice">Want to create your own captioning and translation team? Contact Dean Jansen, <a href="mailto:dean@pculture.org">dean@pculture.org</a></p>