{% load i18n %}

{% for status in sub_statuses.items %}
    <span>
        <a href="{{ status.language_url }}">{{ status.language_display }}</a>
      ({% if status.is_dependent %}{{ status.percent_done }}%{% else %}{% if status.is_complete %}{% trans "complete"%}{% else %}{% trans "incomplete"  %}{% endif %}{% endif %})
      {% if not forloop.last %},{% endif %}
    </span>
{% endfor %}

{% if sub_statuses.total %}
{% trans "and" %}
<a href="{{ search_record.video_absolute_url }}">
    {% blocktrans count sub_statuses.total as total %}
    {{ total }} other.
    {% plural %}
    {{ total }} others.
    {% endblocktrans %}
</a>
{% endif %}
