{% load i18n %}

{% if user.is_authenticated and teams %}
    <div class="sort_button">
      <div class='arrow'></div>
      <span class="sort_label" style="border-bottom: 1px solid #A7C3C9; border-top:1px solid #FFFFFF;">
        <strong>{% trans 'Add video to team' %}</strong>
      </span>
      <ul>
        {% for team in teams %}
            <li>
                <a href="{% url teams:add_video team.slug %}?url={{ video_absolute_url|urlencode }}{% if video.title %}&title={{ video.title|urlencode }}{% endif %}">
                    {{ team }}
                </a>
            </li>
        {% endfor %}
      </ul>
    </div>
{% endif %}