{% load i18n %}

<script type="text/javascript">
    jQuery(function($){
        var $panel = $('.actions-panel');
        
        $('.nav-link', $panel).click(function(){
            var id = $(this).attr('href')
            $('ul', $panel).hide();
            $(id).show();
            return false
        });
    });
</script>
<div class="grid_4 omega actions-panel">
    <h3>{% trans 'Team Activity Stream' %}</h3>
    
    <a href="#team-video-activity" class="nav-link">{% trans 'Team Video Activity' %}</a>
    | <a href="#team-member-activity" class="nav-link">{% trans 'Member Activity' %}</a>
    
    <ul class="small_list" id="team-video-activity">
        <li>
        {% for item in videos_actions %}
            <li>{% include 'videos/_team_video_action_item.html' %}</li>
        {% endfor %}
        </li>
        <li>
            <a href="{% url teams:videos_actions team.pk %}" class="blue_button small margin-top floatright">{% trans 'Sea All Activity' %}</a>
        </li>        
    </ul>
    <ul class="small_list" id="team-member-activity" style="display: none">
        {% for item in membres_actions %}
            <li>{% include 'videos/_team_member_action_item.html' %}</li>
        {% endfor %}
        <li>
            <a href="#" class="blue_button small margin-top floatright">{% trans 'Sea All Activity' %}</a>
        </li>
    </ul>    
</div>