{% load i18n %}

<div class="sort_button floatright margin-top">
    <div class='arrow'>
    </div>
    <span class="sort_label">{% trans 'Managing' %} <strong>{{ team }}</strong></span>
    <ul>
        {% for item in objects %}
        <li>
            <a href="{{ item.get_edit_url }}" class="first">{{ item }}</a>
        </li>
        {% endfor %}
        {% if can_create_team %}
        <li>
            <a href="{% url teams:create %}" class="first" style="font-weight: bold">{% trans 'Add new team' %}</a>
        </li>
        {% endif %} 
    </ul>
</div>