{% load i18n teams_tags %}
<a href="{{ team_video.video.get_absolute_url }}" class="thumbnail_medium">
    <img height="100" src="{{ team_video.get_thumbnail }}">
</a>
<div class="info">
    <h4><a href="{{ team_video.video.get_absolute_url }}">{{ team_video }}</a></h4>
    <div class="clearfix">
    {% if can_edit_video %}
      <a style="margin-right: 5px !important;" class="blue_button small" href="{{ team_video.get_absolute_url }}">{% trans 'Edit' %}</a>
    {% endif %}
    <a class="blue_button small team_video_{{ team_video.pk }}" href="#">
      {% trans 'Add Subtitles' %}
    </a>
    </div><!-- // clearfix -->
    {% if team_video.description %}
    <p>
      {{ team_video.description|urlize }}
    </p>
    {% endif %}
    <div class="clearfix"></div>
    <div class="completed_translations">{% team_video_lang_list team_video.video %}</div>
</div>
<script type="text/javascript">
    $('a.team_video_{{ team_video.pk }}').click(function(){
        mirosubs.api.openUnisubsDialogOnsite(
            '{{team_video.video.video_id}}', 
            '{{team_video.video.get_video_url}}', 
            GLOBAL_WIDGET_SETTINGS);
        return false;
    });
</script>
