{% load i18n teams_tags %}
<script type="text/javascript">
    jQuery(function($){
        $('a.join-team').click(function(){
            var IS_AUTHENTICATED = {% if user.is_authenticated %}true{% else %}false{% endif %};
            
            if ( ! IS_AUTHENTICATED){
                document.location = '{% url auth:login %}?next={{ request.path_info|urlencode }}';
            }else{            
                if (confirm('{% trans "Do you really wish join this team?" %}')){
                    var $this = $(this);
                    TeamsApi.join($this.attr('team_id'), function(response){
                        if (response.error){
                            $.msg.clean().add(response.error, 'error');
                        }else{
                            $.msg.clean().add(response.msg);
                            $this.remove();
                        }
                    });
                };
            };
            return false;
        });
        $('a.leave-team').click(function(){
            if (confirm('{% trans "Do you really wish leave this team?" %}')){
                var $this = $(this);
                TeamsApi.leave($this.attr('team_id'), function(response){
                    if (response.error){
                        $.msg.clean().add(response.error, 'error');
                    }else{
                        $.msg.clean().add(response.msg);
                        $this.parents('.team-detail').find('.your-team').remove();
                        $this.remove();
                    }
                });
            }
            return false;
        });
    });
</script>   
    
<div class="team-detail">
    {% if not team.video %}
    <div class="team_logo">
        {% if team.logo %}
        <img alt="{{ team }}" title="{{ team }}" src="{{ team.logo_thumbnail }}"/>
        {% endif %}
    </div>
    {% endif %}
    {% if team.description %}
    <p>
        <b>{% trans 'Team Description' %}:</b> {{ team.description|urlize }}
    </p>
    {% endif %}
    <p>
        <a href="{% url teams:detail_members team.slug %}">{% trans "Show Members" %} ({{ team.member_count }})</a>
    </p> 
    <p>
        <b>{% trans 'Team Managers' %}:</b>
        {% for item in team.members.managers %}
            <a href="{{ item.user.get_absolute_url }}">{{ item.user }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </p>
    <p>
        <b>{% trans 'Video Policy' %}:</b>
        {{ team.get_video_policy_display }}
    </p>
    <p>
        <b>{% trans 'Membership Policy' %}:</b>
        {{ team.get_membership_policy_display }}
    </p>        
    {% if team|is_team_member:user %}
        <p>
            <a href="{{ team.get_edit_url }}" class="your-team">{% trans "Manager's Settings & Controls" %}</a><br/>
            <a class="leave-team" team_id="{{ team.pk }}" href="#">{% trans "Leave" %}</a>   
        </p>
    {% else %}
        {% if team.is_open %}
        <p>
           <a class="join-team" team_id="{{ team.pk }}" href="#">{% trans "Join" %}</a> 
        </p>
        {% endif %}
        {% if user.is_authenticated and team.is_by_application %}
            {% include "teams/_application_form.html" %}
        {% endif %}
    {% endif %} 
</div>