{% load i18n teams_tags %}
<a href="{{ team_video.video.get_absolute_url }}" class="thumbnail_medium">
    <img height="100" src="{{ team_video.get_thumbnail }}">
</a>
<div class="info">
    <h4><a href="{{ team_video.video.get_absolute_url }}">{{ team_video }}</a></h4>
    {% if team_video|can_edit_video:user %}
        <a class="blue_button small" href="{{ team_video.get_absolute_url }}">{% trans 'Edit' %}</a>
    {% endif %}
    {% if team_video.description %}
    <p>
        {{ team_video.description|urlize }}
    </p>
    {% endif %}
      
    {% if lang.language in USER_LANGUAGES %}
      {% if lang.is_original or lang.is_forked %}
        <div style="margin: 5px 5px 0 0;">
        <a class="blue_button small" href="{{ lang.get_absolute_url }}">{% trans "Review" %} {{ lang.language_display }} {% trans "Captions" %}</a>
        </div>
          {% else %}
            {% if lang.percent_done == 0 %}
              <div style="margin: 5px 5px 0 0;">
              <a class="blue_button small" href="{{ lang.get_widget_url }}">
                {% trans "Translate into" %} {{ lang.language_display }}
              </a>
              </div>
            {% endif %}
            {% if lang.percent_done == 100 %}
              <div style="margin: 5px 5px 0 0;">
              <a class="blue_button small" href="{{ lang.get_widget_url }}">
                {% trans "Review" %} {{ lang.language_display }} {% trans "Translation" %}
              </a>    
              </div>                    
            {% endif %}
          {% endif %}
        {% endif %}

</div>