{% load i18n %}

<script type="text/javascript">
    jQuery(function($){
        var $panel = $('.actions-panel');
        
        $('.nav-link', $panel).click(function(){
            $('.nav-link', $panel).removeClass('active');
            var id = $(this).addClass('active').attr('href')
            $('ul', $panel).hide();
            $(id).show();
            return false
        });
    });
</script>
<br />
<br />
<div class="actions-panel">
    <h3>{% trans 'Team Activity Stream' %}</h3>
     
    <ul class="small_list" id="team-video-activity">
        {% for item in videos_actions %}
            <li>{% include 'videos/_team_video_action_item.html' %}</li>
        {% empty %}
            <li>{% trans 'No Video Activity' %}</li>
        {% endfor %}
        {% if videos_actions %}
        <li>
            <a href="{% url teams:videos_actions team.slug %}" class="blue_button small margin-top floatright">
                {% trans 'See All Activity' %}
            </a>
        </li>
        {% endif %}         
    </ul>
   
</div>