{% extends "base.html" %}

{% load i18n teams_tags widget %}

{% block body_attrs %}id="teams"{% endblock %}

{% block title %}
    {% trans 'Team video' %} | Universal Subtitles
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}css/mirosubs-widget.css" media="all" type="text/css" rel="stylesheet" />
{% endblock %}

{% block main_content %}

{% team_select team %}

<h2>{% trans 'Manage Settings & Teams' %}</h2>
<div class="grid_3 left_nav_wrapper alpha">
    <ul class="left_nav">
        <li class="active">
            <a href="#">{% trans 'Your Teams' %}</a>
        </li>
    </ul>
</div>
<div class="wrap grid_9 omega">
    <h4 class="inline">{{ team }}</h4>
    {% with "videos" as active %}
        {% include 'teams/_edit_top_navigation.html' %}
    {% endwith %}
    <div class="boxx">
        <div class="padding">
            <h3>{% trans 'Add video' %}</h3>
            <form method='post' action="." enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button class="green_button small"><span>{% trans 'Save' %}</span></button>
            </p>
            </form>
            <div class="clearfix"></div>        
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}