{% extends "settings.html" %}

{% load i18n teams_tags widget media_compressor %}

{% block body_attrs %}id="teams"{% endblock %}

{% block title %}
    {% trans 'Team video' %} | Universal Subtitles
{% endblock %}

{% block css %}
    {{ block.super }}
     {% include_bundle "widget-css"%}
{% endblock %}

{% block settings_content %}
    <h2>{{ team }}</h2>
    {% with "videos" as active %}
        {% include 'teams/_edit_top_navigation.html' %}
    {% endwith %}
    <div class="boxx">
        <div class="padding">
            <h3>{% trans 'Add video' %}</h3>
            <form method='post' action="." enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}       
                        
            <p>
                <button class="green_button small"><span>{% trans 'Save' %}</span></button>
            </p>
            </form>
            <div class="clearfix"></div>        
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}