{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {% trans 'Create team' %} | Universal Subtitles
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{{ MEDIA_URL }}js/urlify.js" type="text/javascript"></script>    
    <script src="{{ MEDIA_URL }}js/prepopulate.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(function($){
            $('#id_slug').prepopulate($('#id_name'), 50);
        });
    </script>   
{% endblock %}

{% block main_content %}
    <h2 class="main-title">{% trans 'Create team' %}</h2>
    
    <div class="wrap grid_9 omega">  
        <div class="padding">      
            <form method='post' action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <p>
                    <button class="green_button big"><span>{% trans 'Create Team' %}</span></button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}
