{% extends "base.html" %}

{% load i18n teams_tags paginator profiles_tags widget markup %}

{% block title %}
    {{ team }} | Universal Subtitles
{% endblock %}

{% block body_attrs %}id="teams"{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}css/mirosubs-widget.css" media="all" type="text/css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include "widget/_js_onsite_dependencies.html" %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>
    <script type="text/javascript">
        var GLOBAL_WIDGET_SETTINGS = {{ general_settings|safe }};
    </script>
{% endblock %}

{% block select_language_dialog %}
    {% select_language_dialog 'force' %}
{% endblock %}



{% block main_content %}

{% if team.header_html_text %}
<div id="team_header_html" class="clearfix">
  {{team.header_html_text|safe}}
</div><!-- // team_header_html -->
{% endif %}

<h2 id="team_title">{{ team }} {% trans "Videos" %}</h2>

{% if team.page_content %}
  <div class="team_html clearfix">
    {{ team.page_content|force_escape|markdown }}
  </div>    
{% endif %}

<div style="margin-top: 6px;" class="grid_8 alpha">
    {% if not team.page_content and team.video %}
        {% widget widget_params %}
    {% endif %}
    
    <pre>
      Pass a ?langs=en,es parameter to change test languages
      languages = {{languages}} 

      Querysets:
      qs1        -> {{qs1.count}}
      qs2        -> {{qs2.count}}
      qs3        -> {{qs3.count}}
      qs4        -> {{qs4.count}}
      videos        -> {{videos_count}}
      additional -> {{additional_count}}
      qs         -> {{qs.count}}
      lqs        -> {{lqs.count}}

Qs1 qs.filter(percent_complete__gt=0,percent_complete__lt=100)
        <table>
        <tr>
          <th>id</th>
          <th>language pair</th>
          <th>lang  0 completesl id</th>
          <th>lang 0 sub count</th>
          <th>lang  1 completesl id</th>
          <th>lang 2 sub count</th>
          <th>precent complete</th>
          <th>Video info</th>
        </tr>

        {% for x in qs1 %}
        <tr>
          <td>{{x.id}}</td>
          <td>{{x.language_pair}}</td>
          <td>{{x.subtitle_language_0.is_complete}}</td>
          <td>{{x.subtitle_language_0.subtitle_count}}</td>
          <td>{{x.subtitle_language_1.is_complete}}</td>
          <td>{{x.subtitle_language_1.subtitle_count}}</td>
          <td>{{x.percent_complete}}</td>
          <td><a href="{{x.video.video_link}}">{{x.video.title_display}}</a> </td>
        </tr>
        {% endfor %}
        </table>
Qs2: qs.filter(percent_complete=0)
        <table>
        <tr>
          <th>id</th>
          <th>language pair</th>
          <th>lang  0 completesl id</th>
          <th>lang 0 sub count</th>
          <th>lang  1 completesl id</th>
          <th>lang 2 sub count</th>
          <th>precent complete</th>
          <th>Video info</th>
        </tr>

        {% for x in qs2 %}
        <tr>
          <td>{{x.id}}</td>
          <td>{{x.language_pair}}</td>
          <td>{{x.subtitle_language_0.is_complete}}</td>
          <td>{{x.subtitle_language_0.subtitle_count}}</td>
          <td>{{x.subtitle_language_1.is_complete}}</td>
          <td>{{x.subtitle_language_1.subtitle_count}}</td>
          <td>{{x.percent_complete}}</td>
          <td><a href="{{x.video.video_link}}">{{x.video.title_display}}</a> </td>
        </tr>
        {% endfor %}
        </table>

Qs3: lqs.filter(is_original=True, is_complete=False, language__in=languages)
      <table>
        <tr>
        <th>id</th>
        <th>language</th>
        <th>sl id</th>
        <th>sl is complete</th>
        <th>sl subtitle count</th>
        <th>sl subtitle percent done</th>
        <th>Video info</th>
        </tr>
      {% for x in qs3 %}
      <tr>
        <td>{{x.id}}</td>
        <td>{{x.language}}</td>
        <td>{{x.subtitle_language.id}}</td>
        <td>{{x.subtitle_language.is_complete}}</td>
        <td>{{x.subtitle_language.subtitle_count}}</td>
        <td>{{x.subtitle_language.percent_done}}</td>
        <td><a href="{{x.video.get_absolute_url}}">{{x.video.title_display}}</a> </td>
      </tr>
      {% endfor %}
      </table>

Qs4: lqs.filter(is_original=False, forked=True, is_complete=False, language__in=languages)
<table>
  <tr>
    <th>id</th>
    <th>language</th>
    <th>sl id</th>
    <th>sl is complete</th>
    <th>sl subtitle count</th>
    <th>sl subtitle pecent done</th>
    <th>Video info</th>
  </tr>
  {% for x in qs4 %}
  <tr>
    <td>{{x.id}}</td>
    <td>{{x.language}}</td>
    <td>{{x.subtitle_language.id}}</td>
    <td>{{x.subtitle_language.is_complete}}</td>
    <td>{{x.subtitle_language.subtitle_count}}</td>
    <td>{{x.subtitle_language.percent_done}}</td>
    <td><a href="{{x.video.video_link}}">{{x.video.title_display}}</a> </td>
  </tr>

  {% endfor %}
</table>

additional: TeamVideoLanguagePair.objects.filter(team=team).exclude(pk__in=current_ids).select_related('team_video', 'team_video__video') - only first 50 items shown
<table>
  <tr>
    <th>id</th>
    <th>language</th>

    <th>Video info</th>
  </tr>
  {% for x in additional|slice:":50" %}
  <tr>
    <td>{{x.id}}</td>
    <td>{{x.language}}</td>

    <td><a href="{{x.video.video_link}}">{{x.video.title_display}}</a> </td>
  </tr>

  {% endfor %}
</table>

    qs = TeamVideoLanguagePair.objects.filter(language_pair__in=langs_pairs, team=team) \
        .select_related('team_video', 'team_video__video')
    lqs = TeamVideoLanguage.objects.filter(team=team).select_related('team_video', 'team_video__video')

    
    </pre>
</div>



{% endblock %}
