{% extends "base.html" %}

{% load i18n teams_tags paginator widget %}

{% block title %}
    {{ team }} | Universal Subtitles
{% endblock %}

{% block body_attrs %}id="teams"{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}css/mirosubs-widget.css" media="all" type="text/css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include "widget/_js_onsite_dependencies.html" %}
{% endblock %}

{% block main_content %}
<div class="grid_8 alpha">
    <h2>{{ team }}</h2>
    
    {% if team.video %}
        {% widget widget_params %}
    {% endif %}    
    
    <ul class="video_tabs">
        <li>
            <a href="{% url teams:detail team.pk %}">
                {% trans 'Videos' %}<span class="badgy_out"><span class="badgy">{{ team.videos_count }}</span></span>
            </a>
        </li>
        <li class="active">
            <span class="tab-item">
                {% trans 'Members' %}<span class="badgy_out"><span class="badgy">{{ team.member_count }}</span></span>
            </span>
        </li>
    </ul>
    
    <div id="members-tab">
        <div class="boxx">
            <div class="padding_small">
                <div class="inline_search">
                    <form>
                        <input type="text" name="q" value="{{ query|default:'' }}">
                        <button class="green_button big">
                            {% trans 'Search' %}
                        </button>
                    </form>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
        <div class="grid_8 clearfix">
            <br/>
            <br/>
        </div>
        {% if is_paginated %}{% teams_search_ordered_paginator query %}{% endif %}
        <ul class="big_list">
            {% for member in team_member_list %}
            <li>
                <span class="user_thumb">
                    <img src="{{ user_obj.avatar }}" />
                </span>
                <div class="info">
                    <h4><a href="{{ member.user.get_absolute_url }}">{{ member.user }}</a></h4>
                    {% if member.user.biography %}
                    <p>
                        {{ member.user.biography|truncatewords:25|linebreaksbr }}
                    </p>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% if is_paginated %}{% teams_search_ordered_paginator query %}{% endif %}
    </div>
</div>

<div class="grid_4 omega">
    {% if not team.video %}
    <div class="team_logo">
        {% if team.logo %}
        <img alt="{{ team }}" title="{{ team }}" src="{{ team.logo_thumbnail }}"/>
        {% endif %}
    </div>
    {% endif %}
    {% if team.description %}
    <p>
        <b>{% trans 'Team Description' %}:</b> {{ team.description|urlize }}
    </p>
    {% endif %}
    <p>
        <b>{% trans 'Team Managers' %}:</b>
        {% for item in team.members.managers %}
            <a href="{{ item.user.get_absolute_url }}">{{ item.user }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </p>
    <p>
        <b>{% trans 'Video Policy' %}:</b>
        {{ team.get_video_policy_display }}
    </p>
    <p>
        <b>{% trans 'Membership Policy' %}:</b>
        {{ team.get_membership_policy_display }}
    </p>        
    {% if team|is_team_manager:user %}
        <p><a href="{{ team.get_edit_url }}">{% trans "Manager's Settings & Controls" %}</a></p>
    {% endif %}       

    {% team_activity team %}
</div>

{% endblock %}