{% extends "base.html" %}

{% load i18n teams_tags paginator profiles_tags %}

{% block title %}
    {{ team }} | Universal Subtitles
{% endblock %}

{% block body_attrs %}id="teams"{% endblock %}

{% block main_content %}
<div class="grid_8 alpha">
    <h2>{{ team }}</h2>

<img src="/site_media/images/mock_vid.png" />



    <ul class="video_tabs">
        <li class="active">
            <span class="tab-item">
                {% trans 'Videos' %}<span class="badgy_out"><span class="badgy">{{ team.videos_count }}</span></span>
            </span>
        </li>
        <li>
            <a href="{% url teams:detail_members team.pk %}">
                {% trans 'Members' %}<span class="badgy_out"><span class="badgy">{{ team.member_count }}</span></span>
            </a>
        </li>
    </ul>
    <div id="videos-tab">
        <div class="boxx">
            <div class="padding_small">
                <div class="inline_search">
                    <form>
                        <input type="text" name="q" value="{{ query|default:'' }}">
                        <button class="green_button big">
                            {% trans 'Search' %}
                        </button>
                    </form>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
        <div class="grid_8 clearfix">
            <br/>
            <br/>
        </div>
        {% if is_paginated %}{% teams_search_ordered_paginator query %}{% endif %}
        <ul class="big_list">
            {% for team_video in teamvideo_list %}
            <li>
                <a href="{{ team_video.video.get_absolute_url }}" class="thumbnail_medium">
                    {% if team_video.video.thumbnail %}
                    <img height="100" src="{{ team_video.video.get_thumbnail }}">
                    {% endif %}
                </a>
                <div class="info">
                    <h4><a href="{{ team_video.video.get_absolute_url }}">{{ team_video }}</a></h4>
                    {% if team_video.description %}
                    <p>
                        {{ team_video.description }}
                    </p>
                    {% endif %}
                    {% if team_video.languages.incomplete.exists %}
                    <div class="need_help">
                        <span>{% trans 'We need your help with' %}</span>
                        {% for lang in team_video.languages.incomplete %}
                            <a href="#">{{ lang }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="completed_in">
                        {% if team_video.languages.complete.exists %}
                            <span>{% trans 'Subtitles completed in' %}</span>
                            {% for lang in team_video.languages.complete %}
                                <a href="#">{{ lang }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            <span>{% trans 'No subtitles yet --' %}</span>
                            <a href="#">{% trans 'get started' %}</a>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% if is_paginated %}{% teams_search_ordered_paginator query %}{% endif %}
    </div>
</div>


<div class="grid_4 omega">
    <div class="team_logo">
        {% if team.logo %}
        <img alt="{{ team }}" title="{{ team }}" src="{{ team.logo_thumbnail }}"/>
        {% endif %}
    </div>
    {% if team.description %}
    <p>
        <b>{% trans 'Team Description' %}:</b> {{ team.description }}
    </p>
    {% endif %}
    <p>
        <b>{% trans 'Team Managers' %}:</b>
        {% for item in team.members.managers %}
            <a href="{{ item.user.get_absolute_url }}">{{ item.user }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </p>
    <p>
        <b>{% trans 'Video Policy' %}:</b>
        {{ team.get_video_policy_display }}
    </p>
    {% if team|is_team_manager:user %}
        <p><a href="{{ team.get_edit_url }}">{% trans "Manager's Settings & Controls" %}</a></p>
    {% endif %}       

    {% team_activity team %}
</div>





{% endblock %}