{% extends "base.html" %}

{% load i18n teams_tags paginator profiles_tags widget markup media_compressor %}

{% block title %}
    {{ team }} | Universal Subtitles
{% endblock %}

{% block body_attrs %}id="teams"{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}css/mirosubs-widget.css" media="all" type="text/css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    {{ block.super }}

    {% include_bundle "mirosubs-onsite-compiled" %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>
    <script type="text/javascript">
        var GLOBAL_WIDGET_SETTINGS = {{ general_settings|safe }};

        function showIndexedText(text) {
            alert(text);
        }
    </script>
{% endblock %}

{% block select_language_dialog %}
    {% select_language_dialog 'force' %}
{% endblock %}



{% block main_content %}

{% if team.header_html_text %}
<div id="team_header_html" class="clearfix">
  {{team.header_html_text|safe}}
</div><!-- // team_header_html -->
{% endif %}

<h2 id="team_title">{{ team }} {% trans "Videos" %}</h2>

{% if team.page_content %}
  <div class="team_html clearfix">
    {{ team.page_content|force_escape|markdown }}
  </div>    
{% endif %}

<div style="margin-top: 6px;" class="grid_8 alpha">
    {% if not team.page_content and team.video %}
        {% widget widget_params %}
    {% endif %}
    
    <pre>
      Pass a ?langs=en,es parameter to change test languages
      languages = {{languages}} 
    </pre>

    <h1>Querysets:</h1>
    {% for qs in qs_list %}
    <h2>qs{{forloop.counter}} -> {% if qs != None %}{{qs.count}} results{% else %}None{% endif %}</h2>
    {% if qs != None %}
    <pre>{{qs.query.build_query}}</pre>
    {% endif %}
    {% if qs %}
    <table>
      <tr>
        <th>Title</th>
        <th>Original Language</th>
        <th>Has Lingua Franca</th>
        <th>Indexed Text</th>
      </tr>
      {% for x in qs %}
      <tr>
        <td><a href="{{x.video_absolute_url}}">{{x.title}}</a></td>
        <td>{{x.original_language}}</td>
        <td>{{x.has_lingua_franca}}</td>
        <td><a href="javascript:void(0);" onclick="showIndexedText('{{x.text|escapejs}}');">link</a></td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}
