{% extends "base.html" %}

{% load i18n teams_tags paginator profiles_tags widget markup media_compressor %}

{% block title %}
    {{ team }} | Universal Subtitles
{% endblock %}

{% block body_attrs %}id="teams"{% endblock %}

{% block css %}
    {{ block.super }}
    {% include_bundle "widget-css"%}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_bundle "mirosubs-onsite-compiled" %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>
    <script type="text/javascript">
        var GLOBAL_WIDGET_SETTINGS = {{ general_settings|safe }};
    </script>
{% endblock %}

{% block select_language_dialog %}
	{% select_language_dialog %}
{% endblock %}

{% block main_content %}

{% if team.header_html_text %}
<div id="team_header_html" class="clearfix">
  {{team.header_html_text|safe}}
</div><!-- // team_header_html -->
{% endif %}

<h2 id="team_title">{{ team }} {% trans "Videos" %}</h2>

{% if team.page_content %}
  <div class="team_html clearfix">
    {{ team.page_content|force_escape|markdown }}
  </div>    
{% endif %}

<div style="margin-top: 6px;" class="grid_8 alpha">
    {% if not team.page_content and team.video %}
        {% widget widget_params %}
    {% endif %}
    
    <div id="videos-tab">
        {% if allow_noone_language %}
            {% invite_friends_to_team team %}
        {% endif %}

        <ul class="big_list">
            {% for md_obj in team_video_md_list %}
            <li>
                {% team_video_detail md_obj %}
            </li>
            {% endfor %}
        </ul>
        {% if is_paginated %}{% paginator %}{% endif %}
    </div>
</div>

<div class="grid_4 omega">
    <div id="sidebar_team_detail">
    {% include "teams/_team_detail.html" %}
    </div>
    {% team_activity team %}
</div>

{% endblock %}
