{% extends "base.html" %}

{% load i18n teams_tags paginator widget media_compressor %}

{% block title %}
    {{ team }} | Universal Subtitles
{% endblock %}

{% block body_attrs %}id="teams"{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}css/mirosubs-widget.css" media="all" type="text/css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_bundle "mirosubs-onsite-compiled" %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>     
{% endblock %}

{% block main_content %}
<div class="grid_8 alpha">
    <h2>
        <a href="{{ team.get_absolute_url }}">{{ team }}</a> 
        {% trans "Members" %}
    </h2>
    
    {% if team.video %}
        {% widget widget_params %}
    {% endif %}    
    
    <div id="members-tab">
        {% if is_paginated %}{% paginator %}{% endif %}
        <ul class="big_list">
            {% for member in team_member_list %}
            <li>
                <span class="user_thumb">
                    <img src="{{ member.user.avatar }}" />
                </span>
                <div class="info">
                    <h4><a href="{{ member.user.get_absolute_url }}">{{ member.user }}</a></h4>
                    {% if member.user.biography %}
                    <p>
                        {{ member.user.biography|truncatewords:25|linebreaksbr }}
                    </p>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% if is_paginated %}{% paginator %}{% endif %}
    </div>
</div>

<div class="grid_4 omega">
    {% include "teams/_team_detail.html" %}
    {% team_activity team %}
</div>

{% endblock %}
