{% extends "settings.html" %}

{% load i18n teams_tags paginator messages_tags %}

{% block body_attrs %}id="teams"{% endblock %}

{% block title %}
    {{ team }} {% trans 'Team Members' %} | Universal Subtitles
{% endblock %}

{% block scripts %}
    <script src="{% url messages:rpc_api %}" type="text/javascript"></script> 
    <script type="text/javascript">
        jQuery(function($){
            var TEAM_ID = '{{ team.pk }}';
            var INVITE_URL = '{% url teams:invite %}';
            
            $('a.invite-button').click(function(){
                var username = $('.username-invite-field').val();
                if (username){
                    $.post(INVITE_URL, {
                        username: username,
                        team_id: TEAM_ID,
                        note: $('.user-invite-note').val()
                    }, function(response){
                        if (response.error){
                            $('.invite-user-error').html(response.error).show();
                        }else{
                            $.jGrowl('User was invited. Wait for onfirmation.')
                            $('.invite-user-error').html('').hide();
                            $('#invite-user').modClose();
                            $('.username-invite-field, .user-invite-note').val('');
                        }
                    }, 'json');
                }else{
                    $('.invite-user-error').html('{% trans "Enter username." %}').show();
                }
            });
            
            $('a.remove-user').click(function(){
                if (confirm('{% trans "Remove this user?" %}')){
                    var $user_container = $(this).parents('.user-container');
                    $.post($(this).attr('href'), {}, function(response){
                        if (response.success){
                            $user_container.remove();
                        }else{
                            alert(response.error);
                        }
                    }, 'json');
                }
                return false;
            });

            function onRoleChangerSelected(e){
        
               var url = $(this).data("url");
               var role = $(this).val();
               $.ajax({
                url:url,
                dataType: 'json',
                type: "POST",
                data:{'role':role},        
                success: function(response){
                    var message = response.data.msg || "An error ocurred, we're working on getting this fixes asap.";
                    jQuery['jGrowl'](message, {'life': 10000});    
        
                },
                error: function(response){
                    var message = response.data.msg || "An error ocurred, we're working on getting this fixes asap.";
                    jQuery['jGrowl'](message, {'life': 10000});    
                }
              });
            }
        
            function wrapRoleChangingSelects(els){
               $(els).each(function(i, o){
                   $(o).change(onRoleChangerSelected);
               })


            }
           wrapRoleChangingSelects($(".role-changer"));
        
        });
    </script>
{% endblock %}

{% block settings_content %}
  <h2>{{ team.name }}</h2>
  {% with "members" as active %}
      {% include 'teams/_edit_top_navigation.html' %}
  {% endwith %}
  
    <div class="action_buttons">
        {% if team|can_invite_to_team:user %}
            <a href="#" data-modal="invite-user" class="blue_button small">{% trans 'Invite User' %}</a>
        {% endif %}
        {% if team|is_team_manager:user %}
            {% send_to_team_message_form team %}
        {% endif %}
    </div>
    
    {% if is_paginated %}{% paginator %}{% endif %}
    <table>
        <thead>
            <tr>
                <th>
                    {% ordered_column "username" _("Username") %}
                </th>
                <th>
                    {% ordered_column "role" _("Role") %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for member in members_list %}
            <tr class="user-container">
                <td>
                    <a href="{{ member.user.get_absolute_url }}" class="thumbnail_small">
                        <img src="{{ member.user.small_avatar }}"/>
                    </a>
                    <a href="{{ member.user.get_absolute_url }}"><strong>{{ member.user }}</strong></a>
                    <div class="small grey">
                        {% if team|is_team_manager:user and not member.user == user %}
                            <a href="{% url teams:remove_member team.slug member.user.pk %}" class="remove-user">{% trans 'Remove from Team' %}</a>

                            |
                        {% endif %}
                        {% if not member.user == user and member.user.email %}
                            {% send_message_form member.user 'True' %}
                        {% endif %}
                    </div>
                </td>
                <td>
                  {% if not member.user == user %}
                  <select name="role" class="role-changer" data-url="{% url teams:promote_member user_pk=member.user.pk,slug=team.slug %}">
                    {% for choice in role_choices %}
                    <option {% ifequal choice.0  member.role %}selected="selected" {% endifequal %} value="{{choice.0}}">{{choice.1}}</option>
                    {% endfor %}
                  </select>
                  <img class="role-change-help" src="{{MEDIA_URL}}images/brain.gif" title="{% trans '* Manager: This role has access to all team management functions including managing team members and approving moderated subtitles.&#13;* Contributor: This is the typical subtitle contributor role that applies to most members.&#13;* Member: This a special role is for team members with a high level of accuracy. When a trusted member adds subtitles to a moderated video the subtitles are automatically approved without review by the team manager.' %}"/>
                  {% else %}
                  {% trans member.role %}
                  {% endif %}



                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="clearfix"></div>

{% if team|can_invite_to_team:user %}
<div id="invite-user" class="msg_modal_wrap" style="display: none">
    <a href="#close" class="close">{% trans "Close" %}</a>
    <div class="msg_modal">
        <h3><span>{% trans 'Invite user' %}</span></h3>
        <p class="invite-user-error" style="display: none; color: #ff8080;"></p>
        <label>{% trans 'Username' %}</label>
        <input type="text" style="margin: 10px;" class="username-invite-field"/>
        <br/>
        <label>{% trans 'Message' %}</label>
        <textarea class="user-invite-note"></textarea>
        <div class="action_buttons" style="border-top: none;">     
            <a class="blue_button small invite-button">{% trans 'Invite User' %}</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
