{% extends "base.html" %}

{% load i18n teams_tags paginator %}

{% block body_attrs %}id="teams"{% endblock %}

{% block title %}
    {% trans 'Team video' %} | Universal Subtitles
{% endblock %}

{% block main_content %}

{% team_select team %}

<h2>{% trans 'Manage Settings & Teams' %}</h2>
<div class="grid_3 left_nav_wrapper alpha">
    <ul class="left_nav">
        <li class="active">
            <a href="#">{% trans 'Your Teams' %}</a>
        </li>
    </ul>
</div>
<div class="wrap grid_9 omega">
    {% with "videos" as active %}
        {% include 'teams/_edit_top_navigation.html' %}
    {% endwith %}
    <div>
        <a href="{% url teams:add_video team.pk %}" class="green_button small">{% trans 'Add video' %}</a>
    </div>
    {% if is_paginated %}{% teams_ordered_paginator %}{% endif %}
    <table>
        <tbody>
            {% for team_video in videos_list %}
            <tr class="video-container">
                <td>
                    <a href="{{ team_video.video.get_absolute_url }}"><strong>{{ team_video }}</strong></a>
                   
                    <div class="need_help">
                        <span>{% trans 'Need help' %}:</span>
                        {% if team_video.all_languages %}
                            {% trans 'with all languages' %}
                        {% else %} 
                            {{ team_video.languages.incomplete|join:', ' }}
                        {% endif %}
                    </div>
                    <div class="completed_in">
                        <span>{% trans 'Completed' %}:</span> {{ team_video.languages.complete|join:', ' }}
                    </div>
                    <div class="small grey">
                        <a href="{{ team_video.video.get_absolute_url }}">{% trans 'View' %}</a>
                        {% if can_remove_video %}
                        | <a href="{% url teams:remove_video team_video.pk %}" class="remove-video">{% trans 'Remove' %}</a>
                        {% endif %}
                        {% if can_edit_video %}
                        | <a href="{{ team_video.get_absolute_url }}">{% trans 'Edit' %}</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>{% trans 'Team has not videos.' %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="clearfix">
    </div>
<script type="text/javascript">
    $('a.remove-video').click(function(){
        if (confirm('{% trans "Remove this video?" %}')){
            var $video_container = $(this).parents('.video-container');
            $.post($(this).attr('href'), {}, function(response){
                if (response.success){
                    $video_container.remove();
                }else{
                    alert(response.error)
                }
            }, 'json');
        }
        return false;
    });
</script> 
{% endblock %}
