{% extends "settings.html" %}

{% load i18n teams_tags paginator %}

{% block body_attrs %}id="teams"{% endblock %}

{% block title %}
    {{ team }} {% trans 'Team Videos' %} | Universal Subtitles
{% endblock %}

{% block settings_content %}
    <h2>{{ team.name }}</h2>
    {% with "videos" as active %}
        {% include 'teams/_edit_top_navigation.html' %}
    {% endwith %}
    <div>
        <a style="margin: 5px 0 5px 20px" href="{% url teams:add_video team.slug %}" class="green_button small">{% trans 'Add video' %}</a>
    </div>
    {% if is_paginated %}{% paginator %}{% endif %}
    <table>
        <tbody>
            {% for team_video in videos_list %}
            <tr class="video-container">
                <td>
                    <a href="{{ team_video.video.get_absolute_url }}" class="thumbnail_small">
                        {% if team_video.video.thumbnail %}
                        <img height="50" src="{{ team_video.video.get_thumbnail }}">
                        {% endif %}
                    </a>                    
                    <a href="{{ team_video.video.get_absolute_url }}"><strong>{{ team_video }} </strong></a>
                    <div class="test-me">
                      {% team_video_lang_list team_video.video 6 %}
                      {% if team_video.get_pending_moderation  %}
                      <br>Video has languages pending approval (<a href="{% url moderation:edit_moderation team.pk %}">Review now </a>) 
                      {% endif %}

                    </div>

                    <div class="completed_in">
                        <span>{% trans 'Completed' %}:</span> {{ team_video.languages.complete|join:', ' }}
                    </div>
                    <div class="small grey">
                        <a href="{{ team_video.video.get_absolute_url }}">{% trans 'View' %}</a>
                        {% if team_video|can_remove_video:user %}
                        | <a href="{% url teams:remove_video team_video.pk %}" class="remove-video">{% trans 'Remove' %}</a>
                        {% endif %}
                        {% if team_video|can_edit_video:user %}
                        | <a href="{{ team_video.get_absolute_url }}">{% trans 'Edit' %}</a>
                        {% endif %}

                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>{% trans 'This team has not added any videos.' %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="clearfix"></div>
<script type="text/javascript">
    $('a.remove-video').click(function(){
        if (confirm('{% trans "Remove this video?" %}')){
            var $video_container = $(this).parents('.video-container');
            $.post($(this).attr('href'), {}, function(response){
                if (response.success){
                    $video_container.remove();
                }else{
                    alert(response.error)
                }
            }, 'json');
        }
        return false;
    });
</script> 
{% endblock %}
