{% extends 'videos/email_base.html' %}

{% load i18n localeurl_tags %}

{% block content %}
    <p style="font-size: 12px;">
        {% blocktrans with team as team_name %}
            {{ team_name }} needs your help subtitling and translating the following new videos:
        {% endblocktrans %}
        <br/><br/>
        <a href="http://{{ domain }}{{ team_video.video.get_absolute_url|rmlocale }}">{{ team_video }}</a>
        <br/><br/>
        {% trans "Or you can visit the team page to see the latest work" %}
        <br/><br/>
        <a href="http://{{ domain }}{{ team.get_absolute_url|rmlocale }}">{{ team }}</a>
        <br/><br/>
        <a href="http://{{ domain }}#">{% trans "Stop receiving new notifications when a new video is added." %}</a>
    </p>
{% endblock %}

{% block dont_send %}{% endblock %}