{% extends 'videos/email_base.html' %}

{% load i18n localeurl_tags %}

{% block content %}
    <p style="font-size: 12px;">
        {% blocktrans with team as team_name and team.get_absolute_url|rmlocale as team_url %}
            The <a href="http://{{ domain }}{{ team_url }}">{{ team_name }}</a> 
            team has added new videos, and they need your help:
        {% endblocktrans %}
        <br/><br/>
        <ul>
            {% for tv in team_videos %}
                <li>
                    <a href="http://{{ domain }}{{ tv.video.get_absolute_url|rmlocale }}">{{ tv }}</a>
                </li>
            {% endfor %}
        </ul>
        <br/><br/>
        {% trans "Thank you!" %}
        <br/><br/>
        {#<a href="http://{{ domain }}#">{% trans "Stop receiving new notifications when a new video is added." %}</a>#}
    </p>
{% endblock %}

{% block dont_send %}{% endblock %}