{% extends "base.html" %}

{% load paginator i18n teams_tags %}

{% block body_attrs %}id="teams"{% endblock %}

{% block title %}
    {% trans 'Teams' %} | Universal Subtitles
{% endblock %}

{% block main_content %}
{% if user.is_authenticated %}
    <a href="{% url teams:create %}" class="green_button big start_team">
        <span>{% trans 'Start a Team' %}</span>
    </a>
{% else %}
    <a href="{% url auth:login %}?next={{ request.path_info }}" class="green_button big start_team">
        <span>{% trans 'Login to start a team' %}</span>
    </a>
{% endif %}

<h2>{% trans 'Team Directory' %}</h2>

<div class="grid_8 alpha">
    <p class="intro">
        {% blocktrans %}
        Teams are a great way to work together on subtitling videos. 
        Membership and participation policies vary from team to team. 
        Don't know where to start? Check the sidebar!
        {% endblocktrans %}
    </p>
    <div class="boxx">
        <div class="padding_small">
            <div class="sort_button">
                <div class='arrow'>
                </div>
                <span class="sort_label">{% trans 'Sort by' %} <strong>{{ order_name }}</strong></span>
                <ul>
                    <li>
                        <a href="?o=members{% if query %}&q={{ query|urlencode }}{% endif %}" data-remote="true" class="first">{% trans 'Most Members' %}</a>
                    </li>
                    <li>
                        <a href="?o=date{% if query %}&q={{ query|urlencode }}{% endif %}" data-remote="true">{% trans 'Newest' %}</a>
                    </li>
                    <li>
                        <a href="?o=name{% if query %}&q={{ query|urlencode }}{% endif %}" data-remote="true" class="last">{% trans 'Name' %}</a>
                    </li>
                </ul>
            </div>
            <div class="inline_search">
                <form action=".">
                    <input type="text" name="q" value="{{ query|default:'' }}"/>
                    <button class="green_button big">
                        <span>{% trans 'Search' %}</span>
                    </button>
                </form>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <div class="grid_8 clearfix">
        <br/>
        <br/>
    </div>
    {% if is_paginated %}{% teams_search_ordered_paginator query %}{% endif %}
    <ul class="big_list">
        {% for team in teams_list %}
        <li>
            <a href="{{ team.get_absolute_url }}" class="thumbnail_medium">
                {% if team.logo %}<img src="{{ team.logo_thumbnail }}" width="100" height="100" alt="{{ team }}" title="{{ team }}"/>{% endif %}
            </a>
            <div class="info">
                <h4><a href="{{ team.get_absolute_url }}">{{ team }}{% if team|is_team_member:user %}({% trans 'your team' %}){% endif %}</a></h4>
                {% if team|is_team_manager:user %}
                    <a href="{{ team.get_edit_url }}">{% trans 'Edit' %}</a><br/>
                {% endif %}                
                <span class="small_sub">
                    {% blocktrans with team.member_count as count %}
                    Team with {{ count }} Members
                    {% endblocktrans %}
                </span>
                {% if team.description %}
                <p>
                    {{ team.description }}
                </p>
                {% endif %}
                {% if user.is_staff and perms.teams.change_team %}
                    <div>
                    {% if team.highlight %}
                        <a href="{% url teams:unhighlight team.pk %}">{% trans 'Unfeature this team' %}</a>
                    {% else %}
                        <a href="{% url teams:highlight team.pk %}">{% trans 'Feature this team' %}</a>
                    {% endif %}
                    </div>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% if is_paginated %}{% teams_search_ordered_paginator query %}{% endif %}
</div>
<div class="grid_4 omega">
    <h3>{% trans 'Highlighted Teams' %}</h3>
    <ul class="small_list">
        {% for team in highlighted_qs %}
        <li>
            <a href="{{ team.get_absolute_url }}" class="thumbnail_small">
                {% if team.logo %}<img src="{{ team.logo_thumbnail }}"/>{% endif %}
            </a>
            <div class="info">
                <h4><a href="{{ team.get_absolute_url }}">{{ team }}</a></h4>
                <span class="small_sub">
                    {% blocktrans with team.member_count as count %}
                    Team with {{ count }} Members
                    {% endblocktrans %}                    
                </span>
                
                {% if team.description %}
                <p>
                    {{ team.description }}
                </p>              
                {% endif %}
                
                {% if user.is_staff and perms.teams.change_team %}
                    <div>
                    {% if team.highlight %}
                        <a href="{% url teams:unhighlight team.pk %}">{% trans 'Unfeature this team' %}</a>
                    {% else %}
                        <a href="{% url teams:highlight team.pk %}">{% trans 'Feature this team' %}</a>
                    {% endif %}
                    </div>
                {% endif %}                
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
