{% extends "base.html" %}

{% load i18n teams_tags paginator profiles_tags %}

{% block title %}
    {{ team }} | Universal Subtitles
{% endblock %}

{% block body_attrs %}id="teams"{% endblock %}

{% block main_content %}
<div class="grid_8 alpha">
    <h2>
        <a href="{{ team.get_absolute_url }}">{{ team }}</a>
        {% if team|is_team_manager:user %}
            (<a href="{{ team.get_edit_url }}">{% trans 'Edit Team' %}</a>)
        {% endif %}   
    </h2>
</div>
<div class="grid_4 omega">
    <div class="team_logo">
        {% if team.logo %}
        <img alt="{{ team }}" title="{{ team }}" src="{{ team.logo_thumbnail }}"/>
        {% endif %}
    </div>
</div>
<div class="grid_8 alpha">
    <div id="videos-tab">
        {% if is_paginated %}{% paginator %}{% endif %}
        <ul class="big_list">
            {% with 1 as medium_thumb %}
            {% for item in action_list %}
                <li>{% include 'videos/_team_member_action_item.html' %}</li>
            {% endfor %}
            {% endwith %}
        </ul>
        {% if is_paginated %}{% paginator %}{% endif %}
    </div>
</div>

{% endblock %}