{% extends "settings.html" %}

{% load i18n teams_tags widget media_compressor %}

{% block body_attrs %}id="teams"{% endblock %}

{% block title %}
    {% trans 'Edit team video' %} | Universal Subtitles
{% endblock %}

{% block css %}
    {{ block.super }}
     {% include_bundle "widget-css"%}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_bundle "mirosubs-onsite-compiled" %}
{% endblock %}

{% block settings_content %}
    <h2>{{ team }}</h2>
    {% with "videos" as active %}
        {% include 'teams/_edit_top_navigation.html' %}
    {% endwith %}
    <div class="boxx">
        <div class="padding">
            {% widget widget_params %}
            <form method='post' action="." enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}              
            {% if form.is_moderated_by_other_team %}
                {% blocktrans %} This video is being moderated by team {% endblocktrans %} <a href="{% url teams:detail slug=form.is_moderated_by_other.slug %}">{{form.is_moderated_by_other_team}}</a>.
}


            {% endif %}

            <p>
                <br/>
                <button class="green_button small"><span>{% trans 'Save' %}</span></button>
            </p>
            </form>
            <div class="clearfix"></div>        
        </div>
        <div class="clearfix"></div>
    </div>
    <script type="text/javascript"> 
      {% include "teams/team_video.js" %}
    </script>

{% endblock %}
