{% load media_compressor %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 
1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% block scripts %}
{% endblock %}
  {% include_bundle "js-base-dependencies" %}

  {% if not js_use_compiled %}
  <script type="text/javascript">
    window.DEBUG_UNISUBS = true;
  </script>
  <script>
    goog.require('goog.debug.FancyWindow');
  </script>
  {% endif %}
  {% include_bundle "mirosubs-widgetizer" %}
</head>
<body>
{% block contents %}
{% endblock %}
</body>
</html>
