<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <script type="text/javascript" src="{{MEDIA_URL}}js/swfobject.js"></script>
  <script type="text/javascript">
    function whenLoaded() {
        var toRemove = document.getElementById('toRemove');
        var theP = toRemove.parentNode;
        theP.removeChild(toRemove);
        var div = document.createElement('div');
        theP.appendChild(div);
        var videoDiv = document.createElement('videoDiv');
        videoDiv.id = 'videodiv';
        div.appendChild(videoDiv);
        swfobject.embedSWF(
            'http://www.youtube.com/v/HfuwNU0jsk0',
            'videodiv', '400', '300', '8');
    }
  </script>
</head>
<body onload="whenLoaded()">
  <p>
    <object width="480" height="385" id="toRemove">
      <param name="movie" value="http://www.youtube.com/v/HfuwNU0jsk0?fs=1&amp;hl=en_US"></param>
      <param name="allowFullScreen" value="true"></param>
      <param name="allowscriptaccess" value="always"></param>
      <embed src="http://www.youtube.com/v/HfuwNU0jsk0?fs=1&amp;hl=en_US" 
             type="application/x-shockwave-flash" 
             allowscriptaccess="always" 
             allowfullscreen="true" 
             width="480" 
             height="385">
      </embed>
    </object>
  </p>
</body>
</html>
