{% extends "widget/widgetize_demo/base_widgetize_demo.html" %}
{% block scripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script>
  window.UNISUBS_JW_ONLY = true;
</script>
{% endblock %}

{% block contents %}
<div id="moviediv"></div>
<script type="text/javascript">
  swfobject.embedSWF(
      "{{MEDIA_URL}}test/player.swf", "moviediv", "530", "325", "9.0.0", null,
      { "file": "http://www.youtube.com/v/0a1EYZLXQRM",
        "autostart": "false",
        "image": "http://img.youtube.com/vi/0a1EYZLXQRM/0.jpg" },
      { "wmode": "opaque", "allowscriptaccess": "always" });
</script>
{% endblock %}

