{% extends "widget/widgetize_demo/base_widgetize_demo.html" %}

{% block pre_js_head %}
  <title>Add-on Development in Firefox Mobile</title> 
  <style type="text/css"> 
    body {
      background: #f0f0f0;
      margin: 0;
      padding: 0;
      font: 10px normal Verdana, Arial, Helvetica, sans-serif;
      color: #444;
    }
    h1 {font-size: 3em; margin: 20px 0;}
    .container {width: 850px; margin: 10px auto;}
    ul.tabs {
      margin: 0;
      padding: 0;
      float: left;
      list-style: none;
      height: 32px;
      border-bottom: 1px solid #999;
      border-left: 1px solid #999;
      width: 100%;
    }
    ul.tabs li {
      float: left;
      margin: 0;
      padding: 0;
      height: 31px;
      line-height: 31px;
      border: 1px solid #999;
      border-left: none;
      margin-bottom: -1px;
      background: #e0e0e0;
      overflow: hidden;
      position: relative;
    }
    ul.tabs li a {
      text-decoration: none;
      color: #000;
      display: block;
      font-size: 1.2em;
      padding: 0 20px;
      border: 1px solid #fff;
      outline: none;
    }
    ul.tabs li a:hover {
      background: #ccc;
    }
    html ul.tabs li.active, html ul.tabs li.active a:hover  {
      background: #fff;
      border-bottom: 1px solid #fff;
    }
    .tab_container {
      border: 1px solid #999;
      border-top: none;
      clear: both;
      float: left; 
      width: 100%;
      background: #fff;
      -moz-border-radius-bottomright: 5px;
      -khtml-border-radius-bottomright: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      -khtml-border-radius-bottomleft: 5px;
      -webkit-border-bottom-left-radius: 5px;
    }
    .tab_content {
      padding: 20px;
      font-size: 1.2em;
    }
    .tab_content h2 {
      font-weight: normal;
      padding-bottom: 10px;
      border-bottom: 1px dashed #ddd;
      font-size: 1.8em;
    }
    .tab_content h3 a{
      color: #254588;
    }
    .tab_content img {
      float: left;
      margin: 0 20px 20px 0;
      border: 1px solid #ddd;
      padding: 5px;
    }
  </style> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
{% endblock %}

{% block post_js_head %}
  <script type="text/javascript"> 
    $(document).ready(function() {
      //Default Action
      $(".tab_content").hide(); //Hide all content
      $("ul.tabs li:first").addClass("active").show(); //Activate first tab
      $(".tab_content:first").show(); //Show first tab content
      
      //On Click Event
      $("ul.tabs li").click(function() {
        $("ul.tabs li").removeClass("active"); //Remove any "active" class
        $(this).addClass("active"); //Add "active" class to selected tab
        $(".tab_content").hide(); //Hide all tab content
        var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
        $(activeTab).fadeIn(); //Fade in the active content
        return false;
      });
    });
  </script> 
{% endblock %}

{% block contents %}
<div class="container"> 
  <h1>Add-on Development in Firefox Mobile</h1> 
 
  <ul class="tabs"> 
    <li><a href="#tab1">Application Overview</a></li> 
    <li><a href="#tab2">Simple Add-on</a></li> 
    <li><a href="#tab3">Multi-Process Add-on</a></li> 
    <li><a href="#tab4">Downloads</a></li> 
  </ul> 
 
  <div class="tab_container"> 
    <div id="tab1" class="tab_content"> 
      <p>A walk through of the Firefox Mobile application. Get acquainted with the various parts of the UI and how add-ons can extend it. Also covers some high level goals for the mobile UX.</p> 
      <video controls src="http://people.mozilla.com/~mfinkle/videos/walk-thru.ogg"> 
    </div> 
    <div id="tab2" class="tab_content"> 
      <p>Learn how to build an add-on for Firefox Mobile that extends the Site Menu, Context Menu and adds Options specific to the add-on. A basic understanding of Mozilla add-on development is assumed.</p> 
      <video controls src="http://people.mozilla.com/~mfinkle/videos/simple-addon.ogg"/> 
    </div> 
    <div id="tab3" class="tab_content"> 
      <p>Learn how to build an add-on that works in the new multi-process architecture found in Firefox Mobile. A basic understanding of Mozilla add-on development is assumed.</p> 
      <video controls src="http://people.mozilla.com/~mfinkle/videos/multiproc-addon.ogg"/> 
    </div> 
    <div id="tab4" class="tab_content"> 
      <p>Files used or created in the tutorials.</p> 
      <ul> 
        <li><a href="http://ftp.mozilla.org/pub/mozilla.org/mobile/nightly/latest-mozilla-central-linux/fennec-4.0b3pre.en-US.linux-i686.tar.bz2">Nightly build of Firefox mobile for desktop Linux</a></li> 
        <li><a href="blank-addon.zip">Blank add-on templates</a></li> 
        <li><a href="simple-addon.zip">Simple demo add-on</a></li> 
        <li><a href="multiproc-addon.zip">MultiProc demo add-on</a></li> 
      </ul> 
    </div> 
  </div> 
{% endblock %}
