{% extends "widget/widgetize_demo/base_widgetize_demo.html" %}

{% block contents %}

  <object width='425' height='350'>
    <param name='movie' value='http://www.youtube.com/v/H2Ncxw1xfck&rel=1&fs=1&showsearch=0showinfo=1&iv_load_policy=1' />
    <param name='allowfullscreen' value='true' /> 
    <param name='wmode' value='opaque' /> 
    <param name="allowScriptAccess" value="always"></param>
    <embed src='http://www.youtube.com/v/H2Ncxw1xfck&rel=1&fs=1&showsearch=0showinfo=1&iv_load_policy=1' 
           type='application/x-shockwave-flash'
           allowscriptaccess='always'
           allowfullscreen='true' width='425' height='350' wmode='opaque'></embed> 
  </object>


{% endblock %}
