{% extends "widget/widgetize_demo/base_widgetize_demo.html" %}

{% block contents %}

<object
type="application/x-shockwave-flash" data="http://www.youtube.com/v/4jBra_gPDX4?rel=0&amp;autoplay=0&amp;loop=0&amp;egm=0&amp;border=0&amp;fs=1&amp;showinfo=0" style="width: 425px; height: 350px"><param
name="wmode" value="transparent" /><param
name="movie" value="http://www.youtube.com/v/4jBra_gPDX4?rel=0&amp;autoplay=0&amp;loop=0&amp;egm=0&amp;border=0&amp;fs=1&amp;showinfo=0" /><param
name="allowfullscreen" value="true" /> </object>

{% endblock %}
