{% extends "widget/widgetize_demo/base_widgetize_demo.html" %}

{% block contents %}



<object id="idOVideo" name="idOVideo" width="800" height="480"> 
  <param name="movie" value="http://www.youtube.com/v/yEAxG_D1HDw?hl=en_US&fs=1&rel=0&hd=1&border=0&enablejsapi=1"> 
  <param name="allowFullScreen" value="true"> 
  <param name="allowScriptAccess" value="always"> 
  <param name="wmode" value="transparent"> 
  <embed id="idPlayer" name="idPlayer" wmode="transparent" src="http://www.youtube.com/v/yEAxG_D1HDw?hl=en_US&fs=1&rel=0&hd=1&border=0&enablejsapi=1" type="application/x-shockwave-flash" allowScriptAccess="always" allowfullscreen="true" width="800" height="480"> 
</object> 

{% endblock %}
