<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" type="text/javascript"></script>
    </head>
    <body>
        <h1>PCF QUICK TARGETTER</h1>
        <div>
            <p>
                This page is for testing. You should see this text in green field:<br/>
                {{ config.message|safe }}
            </p>
            <div id="pcf-targetter-message" style="width: 500px; background-color: #33aa33"></div>
            <p>
                jQuery is required. You can add this on page:<br/>
                {% filter force_escape %}<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" type="text/javascript"></script>{% endfilter %}
                <br/>
                And add this:<br/>
                {% filter force_escape %}<script type="text/javascript" src="http://{{ domain }}{{ MEDIA_URL }}js/targetter/targetter.js"></script>{% endfilter %}
                <br/>
                Text appears in tag with id="pcf-targetter-message".
            </p>
            <textarea rows="5" cols="60">PcfTargetter.load('http://{{ domain }}{% url targetter:load %}', {{ config.pk }});</textarea>
        </div>
    </body>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/targetter/targetter.js"></script>
    <script type="text/javascript">
        PcfTargetter.load('{% url targetter:load %}', {{ config.pk }});
    </script>
</html>