        <ul class="table_head">
          <li class="td_user">{% ordered_column "user" "User" %}</li>
          <li class="td_time">{% ordered_column "text" "Happened" %}</li>
        </ul>
        
        <ul class="table_body"> 
          <li>
              <span class="td_user rolled_back"><a href="#">morganknutson</a> Rolled back <a href="#">Language</a> to an earlier version <a href="#" class="view_revision">View</a></span>
              <span class="td_time">22 hours ago</span>
          </li>
    
          <li class="table_user">
              <span class="td_user thumb_up"><a href="#">Username</a> gave <a href="#">Language</a> a thumbs up</span>
              <span class="td_time">1 Day Ago</span>
          </li>       
    
          <li class="table_user">
              <span class="td_user thumb_down"><a href="#">Username</a> gave <a href="#">Language</a> a thumbs down</span>
              <span class="td_time">2 Days Ago</span>
          </li>      
        
          <li class="table_user">
              <span class="td_user commented"><a href="#">Username</a> commented on this Video</span>
              <span class="td_time">1 Week Ago</span>
          </li>   


          <li class="table_user">
              <span class="td_user language_rating"><a href="#">Language</a> has a B+ rating</span>
              <span class="td_time">2 Weeks Ago</span>
          </li>   

          <li class="table_user">
              <span class="td_user language_begins"><a href="#">Username</a> started <a href="#">Language</a> subtitles</span>
              <span class="td_time">1 Month Ago</span>
          </li>   

          <li class="table_user">
              <span class="td_user video_begins"><a href="#">Username</a> added this video</span>
              <span class="td_time">2 Months Ago</span>
          </li>   
        
        </ul> 
        


           <div style="clear: both"></div>