{% load i18n %}

<!--<a href="{{ item.video.get_absolute_url }}" class="thumbnail_{% if medium_thumb %}medium{% else %}small{% endif %}">
    {% if item.video.thumbnail %}
    <img height="{% if medium_thumb %}100{% else %}50{% endif %}" src="{{ item.video.get_thumbnail }}">
    {% endif %}
</a>-->

<div class="info">

    {% if item.user %}
        <h4>
            <a href="{{ item.user.get_absolute_url }}">{{ item.user }}</a>
        </h4>
    {% endif %}
	
	{{ info|safe }}
    
    <div>
        <span>{{ item.created|date:"DATETIME_FORMAT" }}</span>
    </div>    

</div>