{% load thumbnail %}

<ul class="table_body">
{% for item in events %}
    <li class="table_transcript">
        {% if item.user %}
            {% if item.uprofile.picture %}
                <img src="{% thumbnail item.uprofile.picture 32x32 %}" />
            {% endif %}
            {{ item.time }} - <a class="username" href="{{ item.user.profile_url }}">{{ item.user }}</a>
        {% else %}
            <span class="username anon">Anonymous</span>
        {% endif %}
        
        {% if item.comment %}
            {% if item.comment.get_language %}
                commented on {{ item.comment.get_language }}.
            {% else %}
                commented on this video.
            {% endif %}
        {% else %}
            {% if item.language %}
                edited {{ item.get_language_display }} translations for 
            {% else %}
                edited subtitles for
            {% endif %}
            <a class="url" href="{% url videos:video item.video.video_id %}">{{ item.video }}</a> 
        {% endif %}
    </li>
{% endfor %}
</ul>