{% load i18n %}

<a href="#"  class="green_button small feature-video-{{ video.pk }}" video_id="{{ video.pk }}"></a>

<script type="text/javascript">
    (function($){
        var FEATURE_VIDEO = {% if video.featured %}true{% else %}false{% endif %};
        var $button = $('.feature-video-{{ video.pk }}');
        
        var update_button = function(){
            if (FEATURE_VIDEO){
                $button.html('{% trans "Unfeature video" %}')
            }else{
                $button.html('{% trans "Feature video" %}')
            }
        };
        
        $button.click(function(){
            if (FEATURE_VIDEO){
                VideosApi.unfeature_video($(this).attr('video_id'), function(){
                    FEATURE_VIDEO = false;
                    update_button();
                });
            }else{
                VideosApi.feature_video($(this).attr('video_id'), function(){
                    FEATURE_VIDEO = true;
                    update_button();
                });
            }
            return false;
        });
        
        update_button();
    })(jQuery);
</script>