{% load i18n %}
   
    <div style="display: none" class="feedback-form-container" id="feedback_container">
        <div class="feedback_bg">
            <form method="post" action="{% url videos:feedback %}" id="feedback_form">
            {% csrf_token %}
                <h2>
                    {% block form_title %}
                        {% trans 'How are you using Universal Subtitles?  What would make it better?' %}
                    {% endblock %}
                </h2>
                {% block hidden_fields %}{% endblock %}
                <p>{% trans 'Please let us know if you have any comments, questions, or suggestions!' %}</p>
                <div class="global-errors">
                    
                </div>
                <p>
                    <label for="feedback_email">{% trans 'Your email:' %} </label>{{ form.email }}
                </p>
                <p>
                    {{ form.math_captcha_field|safe }}
                    {{ form.math_captcha_question|safe }}
                </p>
                <p>
                    <label>{% trans 'Your Feedback' %}</label>
                    {{ form.message }}
                </p>
                <button type="submit" value="{% trans 'Send feedback' %}" class="green_button big">{% trans 'Send Feedback' %}</button>
                <p><a href="#close" class="">{% trans "Cancel" %}</a></p>
            </form>

            <div class="clear"></div>
        </div>
   
        <div style="display: none; padding: 10px" class="wrapper feedback_bg" id="feedback_success">
            {% trans 'Thank you for your feedback.' %}<br/>
            {% trans 'If you would like to perform some additional testing' %}
            {% trans 'please go to our' %} <a href="http://litmus.pculture.org/run_tests.cgi">{% trans 'Litmus regression tests' %}</a><br/>
            {% trans 'For new testers, we have' %} <a href="http://pculture.org/devblogs/mirotesting/getting-started-guide-for-new-testers/">{% trans 'a getting started guide' %}</a>
            <br/>
            <a href="#" id="send_more_feedback">{% trans 'Send more feedback.' %}</a>
            <p><a href="#close" class="">{% trans "Cancel" %}</a></p>
        </div>        
    </div>
    
<script type="text/javascript">
    jQuery(document).ready(function($){
        $('#feedback_container').bind('close-modal', function(){
            $('#feedback_form').parent().show();
            $('#feedback_success').hide();
        });
        
        var ERROR_MSG = "{% trans 'Enter feedback please.' %}";
        $('#send_more_feedback').click(function(){
           $(this).parent('div').hide().prev().show(); 
           return false;
        });
        
        $('#feedback_form').ajaxForm({
            dataType: 'json',
            success: function(data, status, xhr, $form){
                if (data.success){
                    $form.resetForm();
                    $form.parent().hide().next().show();
                    console.log($form.parent().hide().next())
                } else {
                    for (key in data.errors){
                        var $field = $('input[name="'+key+'"]', $form);
                        var error = '<p class="error_list">'+data.errors[key]+'</p>';
                        if ($field.length){
                            $field.before(error);
                        }else{
                            $('.global-errors', $form).prepend(error);
                        }
                    };
                }
            },
            beforeSubmit: function(formData, $Form, options){
                $('p.error_list', $Form).remove();
                var form = $Form[0];
                if (!form.message.value){
                    $(form.message).before('<p class="error_list">'+ERROR_MSG+'</p>');
                    return false;
                }
            }
        });
    });
</script>
