{% load i18n videos_tags  %}

  <div id="video_follow" class="clearfix">
      <button class="big follow-video-button"></button>
  </div><!-- // video_follow -->
  
<script type="text/javascript">
    jQuery(function($){
        $.widget("unisub.followVideoButton", {
            options: {
                videoId: null,
                languageId: null,
                languageName: null,
                isAuthenticated: false,
                isVideoFollower: false,
                isLanguageFollower: false,
                
                followCls: 'green_button',
                unfollowCls: 'blue_button',
                loginUrl: ''
              },
            _create: function() {
                var that = this;
                this.element.bind('click', function(){that._onClick.apply(that, arguments)})
                this._render();
            },
            _setFollowCls: function(){
                this.element.removeClass(this.options.unfollowCls)
                            .addClass(this.options.followCls)
            },
            _setUnfollowCls: function(){
                this.element.removeClass(this.options.followCls)
                            .addClass(this.options.unfollowCls)
            },            
            _render: function(){
                if (this.options.isVideoFollower){
                    this.element.html('{% trans "Unfollow Video" %}');
                    this._setUnfollowCls();
                }else if( ! this.options.languageId){
                    this.element.html('{% trans "Follow Video" %}');
                    this._setFollowCls();
                }else if(this.options.isLanguageFollower){
                    this.element.html('{% trans "Unfollow" %}'+' '+this.options.languageName);
                    this._setUnfollowCls();
                }else{
                    this.element.html('{% trans "Follow" %}'+' '+this.options.languageName);
                    this._setFollowCls();
                }
            },
            _onClick: function(e){
                if ( ! this.options.isAuthenticated){
                    this.onUnauthenticateClick();
                    return;
                };
                
                if (this.options.isVideoFollower || this.options.isLanguageFollower){
                    this.showUnfollowDialog();
                }else{
                    this.showFollowDialog();
                };
                
                e.preventDefault();
            },
            _unfollowDialogCallback: function(button){
                var that = this;
                if (button === 'ALL'){
                    VideosApi.unfollow(this.options.videoId, function(response){
                        if (response.error){
                            $.jGrowl.error(response.error);
                        }else{
                            $.jGrowl(response.msg);
                            that.options.isVideoFollower = false;
                            that.options.isLanguageFollower = false;
                            that._render();
                        }
                    });                             
                }else if(button === 'OK' && this.options.languageId){
                    VideosApi.unfollow_language(this.options.languageId, function(response){
                        if (response.error){
                            $.jGrowl.error(response.error);
                        }else{
                            $.jGrowl(response.msg);
                            that.options.isLanguageFollower = false;
                            that._render();
                        };
                    });                        
                }
            },
            showUnfollowDialog: function(){
                if (this.options.isVideoFollower){
                    var title = '{% trans "You will not receive any notification when subtitles in any language for this video are edited.  You can choose to follow again at any time." %}';
                    var button_name = "{% trans 'Stopped following all subtitles' %}";
                    
                }else{
                    var title = '{% trans "You will not receive any notification when " %}'
                        +this.options.languageName
                        +' {% trans " subtitles for this video are edited. You can choose to follow again at any time." %}';
                    var button_name = "{% trans 'Stopped following ' %}"
                        +this.options.languageName
                        +"{% trans ' subtitles' %}";
                };
                
                var options = {
                    extraButtons: []
                };
                
                if (this.options.isVideoFollower){
                    options.okButton = null;
                    options.extraButtons.push({
                        name: '{% trans "Unfollow all languages" %}',
                        id: 'unfollow-all-languages-button',
                        type: 'ALL'
                    });
                };
                
                var that = this;
                
                $.jConfirm(title, button_name, function(button){
                    that._unfollowDialogCallback(button);
                }, options);
            },
            _followDialogCallback: function(button){
                var that = this; 
                if (button === 'ALL'){
                    VideosApi.follow(this.options.videoId, function(response){
                        if (response.error){
                            $.jGrowl.error(response.error);
                        }else{
                            $.jGrowl(response.msg);
                            that.options.isVideoFollower = true;
                            that._render();
                        }
                    });                             
                }else if(button === 'OK' && this.options.languageId){
                    VideosApi.follow_language(this.options.languageId, function(response){
                        if (response.error){
                            $.jGrowl.error(response.error);
                        }else{
                            $.jGrowl(response.msg);
                            that.options.isLanguageFollower = true;
                            that._render();
                        };
                    });                        
                }                
            },
            showFollowDialog: function(){
                if (this.options.languageId){
                    var title = '{% trans "You will now receive an email when anyone edits " %}'
                        +this.options.languageName
                        +' {% trans " subtitles for this video. You can stop these emails at any time." %}';
                    var button_name = "{% trans 'Now following ' %}"
                        +this.options.languageName
                        +"{% trans ' subtitles' %}";
                }else{
                    var title = '{% trans "You will now receive an email when anyone edits any subtitles for this video. You can stop these emails at any time." %}';
                    var button_name = "{% trans 'Now following all subtitles' %}";
                };
                
                var options = {
                    extraButtons: []
                };

                options.extraButtons.push({
                    name: '{% trans "Follow all languages" %}',
                    id: 'unfollow-all-languages-button',
                    type: 'ALL'
                });
                
                if ( ! this.options.languageId){
                    options.okButton = null;
                };
                
                var that = this;
                
                $.jConfirm(title, button_name, function(button){
                    that._followDialogCallback(button);
                }, options);                
            },
            onUnauthenticateClick: function(){
                var that = this;
                $.jAlert('{% trans "You must log in to follow a video." %}', 
                         '{% trans "Authentication required" %}',
                         function(button){
                             if (button === 'OK'){
                                 window.location.href = that.options.loginUrl;
                             }
                         });
            }
        });
        
        $('.follow-video-button').followVideoButton({
            videoId: '{{ video.pk }}',
            languageId: '{{ language.pk }}',
            languageName: '{{ language.language_display }}',
            isAuthenticated: {% if user.is_authenticated %} true{% else %}false{% endif %},
            isVideoFollower: {% if video|is_follower:user %}true{% else %}false{% endif %},
            isLanguageFollower: {% if language|is_follower:user %}true{% else %}false{% endif %},
            loginUrl: '{% url auth:login %}?next={{ request.path_info|urlencode }}'
        });
    });
</script>