{% load i18n %}
<div>
{% trans 'Get counter code:' %}
<textarea>
<script type="text/javascript" language="javascript">
    <!--
        function draw_unisub_counter(data){
            document.write('<table cellpadding="0" cellspacing="0" border="0" style="padding:0;"><tr><td valing="top"><div style="margin: 0px; padding: 0px; font:10px Tahoma; width: 90px; background: #8f8;"><div><a href="http://{{ domain }}/">Universal subtitles</a></div><div>Videos count: '+data.videos_count+'</div></div></td></tr></table>'); 
        }
        (function(){
            var D = document;
            var n = Math.round((Math.random()* 1000000));
            D.write('<sc'+'ript type="text/javascript" language="javascript" src="http://{{ domain }}/counter/?'+n+'"></sc'+'ript>');
        })();
    //-->
</script>
</textarea>
</div>