{% load i18n subtitles_tags %}
    {% if video.subtitle_language %}
        <li class="{% complete_color video.subtitle_language %}{% if language.is_original %} active{% endif %}">
            <a href="{{ video.subtitle_language.get_absolute_url }}">
                <span class="done_indicator"></span>
                {{ video.subtitle_language.language_display }}
                <span class="done_percentage">({% complete_indicator video.subtitle_language %})</span>
                <span class="moderation_pending_cound">({{video.subtitle_language.pending_moderation_count}})</span>
            </a>
        </li>
    {% endif %}
    {% if translations %} 
      {% for item in translations %}  
         <li class="{% complete_color item %}{% if language == item %} active{% endif %}">
             <a href="{{ item.get_absolute_url }}">
                 <span class="done_indicator"></span>
                 {{ item.get_language_display }}
                 <span class="done_percentage">({% complete_indicator item %})</span>
                <span class="moderation_pending_cound" title="Video has pending moderation">({{item.pending_moderation_count}})</span>
             </a>
         </li>
      {% endfor %} 
    {% endif %}
