<ul class="pag" style="width: 420px">
    
  {% if version.prev_version %}
      <li class="previous">
        &#8592; 
        <a href="{% url videos:revision pk=version.prev_version.pk %}">
            Compare #{{ version.version_no }} to #{{ prev_version.version_no }}
        </a>
      </li>
  {% endif %}
  
  {% if version.next_version %}
      <li class="next">
        <a href="{% url videos:revision pk=version.next_version.pk %}">
            Compare #{{ version.version_no }} to #{{ next_version.version_no }}
        </a> &#8594;               
      </li>
  {% endif %}
  
  <li class="current">
    <a href="{% url videos:revision pk=latest_version.pk %}">
        Compare #{{ version.version_no }} to #{{ latest_version.version_no }}(current)
    </a>              
  </li>
  
</ul>