<ul class="pag" style="width: 420px">
    
  {% if version.prev_version %}
      <li class="previous">
        {% ifnotequal latest_version version.prev_version %}
            (<a href="{% url videos:diffing latest_version.pk version.prev_version.pk %}">diff</a>) 
        {% endifnotequal %}
        &#8592; 
        <a href="{% url videos:revision pk=version.prev_version.pk %}">
            Previous Revision
        </a>
      </li>
  {% endif %}
  
  {% if version.next_version %}
      <li class="next">
        <a href="{% url videos:revision pk=version.next_version.pk %}">
            Next Revision
        </a> &#8594;
        {% ifnotequal latest_version version.next_version %}
            (<a href="{% url videos:diffing latest_version.pk version.next_version.pk %}">diff</a>) 
        {% endifnotequal %}                
      </li>
  {% endif %}
  
  <li class="current">
    <a href="{% url videos:revision pk=latest_version.pk %}">
        The most recent revision
    </a>
    {% ifnotequal latest_version version %}
        (<a href="{% url videos:diffing latest_version.pk version.pk %}">diff</a>) 
    {% endifnotequal %}               
  </li>
  
</ul>