{% load i18n %}

{% if item.user %}
<a href="{{ item.user.get_absolute_url }}" class="thumbnail_{% if medium_thumb %}medium{% else %}small{% endif %}">
    <img src="{% if medium_thumb %}{{ item.user.avatar }}{% else %}{{ item.user.small_avatar }}{% endif %}"/>
</a>
{% else %}
<span class="thumbnail_small" style="margin: 0px"></span>
{% endif %}

<div class="info">
        {% if item.user %}
    
            <h4 style="font-size: 1.3em">
                {% if item.user %}
                    <a style="font-size: 1em" href="{{ item.user.get_absolute_url }}">{{ item.user }}</a>
                {% else %}
                    {% trans 'Anonymous' %}
                {% endif %}
            </h4>     
            
            {% if item.is_add_video %}
                {% trans 'submitted' %} <a href="{{ item.video.video_link }}">{{ item.video }}</a>.
            {% endif %}     
            
            {% if item.is_add_video_url %}
                {% trans 'added new URL for ' %} <a href="{{ item.video.video_link }}">{{ item.video }}</a>.
            {% endif %}
               
            {% if item.is_change_title %}
                {% blocktrans with item.new_video_title as title %}
                changed title to "{{ title }}" for 
                {% endblocktrans %}
                <a href="{{ item.video.video_link }}">{{ item.video }}</a>
            {% endif %}
            
            {% if item.is_comment %}
                {% if item.language %}
                    {% blocktrans with item.language.language_display as language and item.language.get_absolute_url as url %}
                    commented on <a href="{{ url }}#comments">{{ language }} subtitles</a>
                    {% endblocktrans %}            
                {% else %}
                    {% trans 'commented on ' %}<a href="{{ item.video.get_absolute_url }}">{{ item.video }}</a>
                {% endif %}
            {% endif %}
            
            {% if item.is_add_version %}
                {% trans 'edited' %} 
                <a href="{{ item.language.get_absolute_url }}">
                    {% if not item.language %}
                        {% trans 'original subtitles' %}
                    {% else %}
                        {{ item.language.language_display }} {% trans 'subtitles' %}
                    {% endif %}
                </a> {% trans 'for' %} 
                <a class="url" href="{{ item.video.get_absolute_url }}">{{ item.video }}</a> 
            {% endif %}
        
        {% else %}

            {% if item.is_add_video %}
                <a href="{{ item.video.video_link }}">{{ item.video }}</a> 
                {% trans ' added' %} .
            {% endif %}     
            
            {% if item.is_add_video_url %}
                {% trans 'New URL added for ' %} <a href="{{ item.video.video_link }}">{{ item.video }}</a>.
            {% endif %}
               
            {% if item.is_change_title %}
                {% blocktrans with item.new_video_title as title %}
                Title changed to "{{ title }}" for 
                {% endblocktrans %}
                <a href="{{ item.video.video_link }}">{{ item.video }}</a>
            {% endif %}
            
            {% if item.is_comment %}
                {% if item.language %}
                    {% blocktrans with item.language.language_display as language and item.language.get_absolute_url as url %}
                    Comment added for <a href="{{ url }}#comments">{{ language }} subtitles</a>.
                    {% endblocktrans %}            
                {% else %}
                    {% trans 'Comment added for' %} <a href="{{ item.video.get_absolute_url }}">{{ item.video }}</a>.
                {% endif %}
            {% endif %}
            
            {% if item.is_add_version %}
                <a href="{{ item.language.get_absolute_url }}">
                    {% if not item.language %}
                        {% trans 'original subtitles' %}
                    {% else %}
                        {{ item.language.language_display }} {% trans 'subtitles' %}
                    {% endif %}
                </a> {% trans 'edited for' %}
                <a class="url" href="{{ item.video.get_absolute_url }}">{{ item.video }}</a> 
            {% endif %}
        
        {% endif %}
    <div>
        <span>{{ item.created|date:"DATETIME_FORMAT" }}</span>
    </div>    
</div>