{% load i18n %}
{% if not has_translations %}
        <a href="#upload_subs-div" id="upload-subtitles-link" class="upload-button blue_button small">
            {% trans 'Upload Subtitles' %}
        </a>

    <div id="upload_subs-div" style="display: none">
    
        <h3>{% trans 'Upload Subtitles' %}</h3>
    
        <div class="padding">
            {% if user.is_authenticated %}
                <p>
                    {% blocktrans %}
                    Our site accepts SRT, SSA, and TTML format. Only files ending in .srt, .ssa, .sbv
                    or .xml (for TTML) are accepted.
                    {% endblocktrans %}
                </p>
                <br />
                <div id="upload-subtitles-div">
                    <form method="post" id="upload-subtitles-form" action="{% url videos:upload_subtitles %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="video" value="{{ video.id }}" />
                        <input type="file" name="subtitles" id="subtitles-file-field" />
                    </form>
                </div>
            {% else %}
                <a href="{% url auth:login %}?next={{ request.path_info }}">
                    {% trans 'Login to upload subtitles' %}
                </a>
            {% endif %}    
        </div>
    </div>

  <script type="text/javascript">
        (function($) {
            var LANGUAGE_PAGE_URL = '{% url videos:history video.video_id %}';
            var MSG = "{% trans "If you believe your subtitle file is compatible, <a href='mailto:feedback@universalsubtitles.org'>send it to us</a>" %}";
            
            $('#subtitles-file-field').change(function() {
                $('#upload-subtitles-form').submit();
            });
            
            $('#upload-subtitles-form').ajaxForm({
                dataType: 'json',
                success: function(data, status, xhr, $form){
                    if (data.success){
                        document.location = LANGUAGE_PAGE_URL;
                    } else {
                        $form.prepend('<p class="error_list">'+MSG+'</p>');
                        for (key in data.errors) {
                            var error = '<p class="error_list">' + data.errors[key] + '</p>';
                            $form.prepend(error);
                        }
                    }
                },
                beforeSubmit: function(formData, $Form, options) {
                    $('p.error_list', $Form).remove();
                }
            });
         })(jQuery);
    </script>
    <script type="text/javascript">
        jQuery(function(){
            $.nyroModalSettings({
                minWidth: 460,
                minHeight: 250,
                bgColor: '#fff',
                cssOpt: {
                    wrapper: {
                       backgroundColor: '#fff'
                    }                    
                },
                endRemove: function(){
                    $('#clippy').show();
                },
                processHandler: function(){
                    $('#clippy').hide();
                }
            }); 
            $('.upload-button').nyroModal();
          });
    </script>    
{% endif %}
