{% load i18n %}
    <a href="#" id="upload-subtitles-link" class="upload-button green_button small" data-modal="upload_subs-div">
        {% trans 'Upload Subtitles' %}
    </a>

    <div id="upload_subs-div" style="display: none" class="msg_modal_wrap" >
        <a href="#close" class="close">{% trans "Close" %}</a>
        <h3>{% trans 'Upload Subtitles' %}</h3>
        <div class="msg_modal">
            {% if user.is_authenticated %}
            <p>
              {% blocktrans %}
              Our site accepts SRT, SSA, SBV and TTML format. Only files ending in .srt, .ssa, .sbv
              or .xml (for TTML) are accepted. Or you can
              {% endblocktrans %}
              <a href="#" data-modal="upload-transcript" class="upload-transcript-button">
                  {% trans 'paste in a transcript' %}
              </a>
            </p>
                <div id="upload-subtitles-div">
                    <form method="post" id="upload-subtitles-form" action="{% url videos:upload_subtitles %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="video" value="{{ video.id }}" />
                        
                        <div style="margin: 5px 0 5px 0;"><label>{% trans 'Language' %}</label>{{ form.language }}</div>
                        {% if not video.has_original_language %}
                        <div style="margin: 10px 0 10px 0;"><label>{% trans 'Video Language' %}</label>{{ form.video_language }}</div>
                        {% endif %}
              <div><input type="file" name="subtitles" id="subtitles-file-field" /></div>
              <div><input type="checkbox" name="is_complete" id="updload-subtitles-form-is_complete" checked="checked"/>
              <label for="updload-subtitles-form-is_complete">{% trans "Check if these subtitles cover the entire video"%}</label></div>
              <div><button class="green_button small upload-subtitles-submit-button-" style="float: right">{% trans "Upload" %}</button></div>
                    </form>
                </div><!-- // upload-subtitles-div -->
            {% else %}
                <a href="{% url auth:login %}?next={{ request.path_info }}">
                    {% trans 'Login to upload subtitles' %}
                </a>
            {% endif %}    
        </div><!-- // msg_modal -->
    </div><!-- // upload_subs_div -->

  <script type="text/javascript">
        (function($) {
            var LANGUAGE_PAGE_URL = '{% url videos:history video.video_id %}';
            var ERROR_MSG = "{% trans "If you believe your subtitle file is compatible, <a href='mailto:feedback@universalsubtitles.org'>send it to us</a>" %}";
            var SUCCESS_MESSAGE = '{% trans "Thank you for uploading. It will take a minute or so for your subtitles to appear." %}';
             $('#subtitles-file-field ,select#id_language').change(function() {
                $(".upload-subtitles-submit-button-").show();
                $('p.error_list').remove();
                 $('p.#feedback-message').remove();
            });
            
            $('#upload-subtitles-form').ajaxForm({
                dataType: 'json',
                success: function(data, status, xhr, $form){
                    if (data.success){
                        $form.append('<p class="feedback-message" id="feedback-message">' + SUCCESS_MESSAGE + '</p>').fadeIn('fast');
                        $(".upload-subtitles-submit-button-").hide();
                    } else {
                        $form.prepend('<p class="error_list">'+ERROR_MSG+'</p>');
                        for (key in data.errors) {
                            var error = '<p class="error_list">' + data.errors[key] + '</p>';
                            $form.prepend(error);
                        }
                    }
                },
                beforeSubmit: function(formData, $Form, options) {
                    $('p.error_list', $Form ).fadeOut('fast');
                    $('p.#feedback-message', $Form ).fadeOut('fast');
                }
            });
            
            $('#upload_subs-div .upload-transcript-button').click(function(){
                $('#upload_subs-div').modClose();
            });
         })(jQuery);
    </script>
