<ul class="table_head">
    <li class="grid_10">
        <a href="#">Activity</a>
    </li>
    <li class="grid_2 grid_last">
        <a href="#">Happened</a>
    </li>            
</ul>
<ul class="table_body">
{% for item in events %}
    <li class="table_row">
      <span class="grid_10 table_activity">
        {% if item.user %}
            <a class="username" href="{{ item.user.profile_url }}">{{ item.user }}</a>
        {% else %}
            <span class="username anon">Anonymous</span>
        {% endif %}
        
        {% if item.comment %}
            {% if item.comment.get_language %}
                commented on {{ item.comment.get_language }}.
            {% else %}
                commented on this video.
            {% endif %}
        {% else %}
            {% if item.language %}
                edited <a href="{% url videos:translation_history item.video.video_id item.language %}">{{ item.get_language_display }} translation</a> for 
            {% else %}
                edited <a href="{% url videos:history item.video.video_id %}">original language subtitles</a> for
            {% endif %}
            <a class="url" href="{% url videos:video item.video.video_id %}">{{ item.video }}</a> 
        {% endif %}
      </span>
        <span class="grid_2 table_happened grid_last">
            {{ item.created|timesince }} ago
        </span>
    </li>
{% endfor %}
</ul>