{% load i18n %}

{# <ul class="video_list clearfix"> #}
    <li>
        <a href="{{ video.get_absolute_url }}">
            {% if video.small_thumbnail %}
            <span class="video_thumb">
              <span class="clip">
                <img src="{{ video.small_thumbnail }}"/>
              </span><!-- // clip -->
            </span><!-- // video_thumb -->
            {% else %}
                <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
            {% endif %}
            <h4>{{ video }}</h4>
        </a>
        <span class="views">
            <strong>
                {% if video_views %}
                    {{ video_views }}
                {% else %}
                    {{ video.total_views }}
                {% endif %}
            </strong> {% trans "Views" %}
        </span>
        <span class="languages">
            {% if video.languages_count %}
            <a class="lang_arrow" href="#" video_id="{{ video.pk }}"></a>
            {% endif %}
            <span>
                  {% blocktrans count video.languages_count as number %}
                      {{ number }} Language
                  {% plural %}
                      {{ number }} Languages
                  {% endblocktrans %}                
            </span>
        </span><!-- // languages -->
    </li>
{# </ul> #}