{% load i18n %}

<table>
  <thead>
    <tr>
      <th class="grid_7"><a>{% trans 'Activity' %}</a></th>
      <th class="grid_2"><a>{% trans 'Happened' %}</a></th>            
    </tr>
  </thead>

  <tbody>
{% for item in events %}
    <tr class="{{ item.type }}">
      <td class="grid_9 table_activity">         
            {% if item.user %}
                <a class="username" href="{{ item.user.profile_url }}">{{ item.user }}</a>
            {% else %}
                <span class="username anon">{% trans 'Anonymous' %}</span>
            {% endif %}

            {% if item.is_add_video %}
                {% trans 'submitted video.' %}
            {% endif %}    

            {% if item.is_add_video_url %}
                {% trans 'added new URL' %}.
            {% endif %}
            
            {% if item.is_change_title %}
                {% blocktrans with item.new_video_title as title %}
                changed title to "{{ title }}"
                {% endblocktrans %}
            {% endif %}
            
            {% if item.is_comment %}
                {% if item.language %}
                    {% blocktrans with item.language.language_display as language %}
                    commented on {{ language }}.
                    {% endblocktrans %}            
                {% else %}
                    {% trans 'commented on this video.' %}
                {% endif %}
            {% endif %}
            
            {% if item.is_add_version %}
                {% trans 'edited' %} 
                <a href="{{ item.language.get_absolute_url }}">
                    {% if not item.language %}
                        {% trans 'original subtitles' %}
                    {% else %}
                        {{ item.language.language_display }} {% trans 'subtitles' %}
                    {% endif %}
                </a> {% trans 'for' %} 
                <a class="url" href="{{ item.video.get_absolute_url }}">{{ item.video }}</a> 
            {% endif %}
      </td>
      <td class="grid_3 last">
          {{ item.created|timesince }} {% trans 'ago' %}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>