{% load i18n subtitles_tags %}

{# <ul class="video_list clearfix"> #}
    <li>
        <a href="{{ video.get_absolute_url }}">
            {% with video.get_thumbnail as thumbnail_url %}
                {% if thumbnail_url %}
                    <img src="{{ thumbnail_url }}" width="155" height="90"/>
                {% else %}
                    <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
                {% endif %}
            {% endwith %}
            <h4>{{ video.video_id }}</h4>
        </a>
        <span class="views">
            <strong>{{ video.views.total }}</strong> {% trans "Views" %}
        </span>
        <span class="languages">
            <a class="lang_arrow" href="#">
            <div class="lang_menu">
                <div class="hd">
                    {#<span class="menu_close">{% trans "close" %}</span>#}
                    <span>
                      {% blocktrans count video.languages_count as number %}
                          {{ number }} Language
                      {% plural %}
                          {{ number }} Languages
                      {% endblocktrans %}
                    </span>
                </div><!-- hd -->
                
                <div class="bd clearfix">
                    {% for lang in video.langs_cache|slice:":10" %}
                        {% with lang.subtitle_count as lines_count %}
                            {% if lines_count %}  
                                <span class="{% complete_color lang %}">
                                    {% complete_indicator lang %}
                                    {{ lang.language_display }}
                                </span>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}                    
                </div>
            </div><!-- // lang_menu -->
            </a>
            <span>
                  {% blocktrans count video.languages_count as number %}
                      {{ number }} Language
                  {% plural %}
                      {{ number }} Languages
                  {% endblocktrans %}                
            </span>
        </span><!-- // languages -->
    </li>
{# </ul> #}