{% load i18n %}
<div style="padding: 10px">
    {% blocktrans %}
    A single video is often hosted in different places online and same
    subtitles will work. 
    {% endblocktrans %}
    <a href="#" class="learn-more" data-modal="learn-more-urls">{% trans 'Learn more' %}</a><br/>
    {% if not video.allow_video_urls_edit %}
        {% blocktrans %}
        Only manager can edit URLs for this video.
        {% endblocktrans %}    
    {% endif %}
</div>
{% if video.allow_video_urls_edit or perms.videos_videourl_add %}
<a href="#" class="add-video-url-button green_button small" data-modal="add-video-url">
    {% trans 'Add new URL' %}
</a>
{% endif %}
<table cellpadding="0" cellspacing="0" id="video-url-table">
<thead>
  <tr>
    <th>
        <span>{% trans 'Title/URL' %}</span>
    </th>
    <th>
        <span>{% trans 'Format/Host' %}</span>
    </th>
    <th>
        <span>{% trans 'Added' %}</span>
    </th>
    <th>
        <span>{% trans 'Added by' %}</span>
    </th>
    <th class="last">
        <span>{% trans 'Actions' %}</span>
    </th>
  </tr> 
</thead>
<tbody>
    {% for item in video_urls %}
        <tr>
            <td class="url-td">
                <a href="{{ item.get_absolute_url }}">{{ item }}</a> 
                {% if item.primary %}
                    <span class="primary">[{% trans 'PRIMARY' %}]</span>
                {% endif %}
                {% if item.original %}
                    <span>[{% trans 'ORIGINAL' %}]</span>
                {% endif %}
            </td>
            <td>
                <a href="{{ item.url }}">{{ item.get_type_display }}</a>
            </td>
            <td time="{{ item.created_as_time }}">{{ item.created|timesince }} {% trans 'ago' %}</td>
            <td>{{ item.added_by|default:'' }}</td>
            <td>
                {% if video.allow_video_urls_edit or perms.videos_videourl_delete %}
                    {% if not item.original%}
                        <a href="#" class="delete-url-link" video_url_id="{{ item.pk }}">{% trans 'remove' %}</a><br/>
                    {% endif %}
                {% endif %}
                {% if video.allow_video_urls_edit or perms.videos_videourl_change %}
                <a {% if item.primary %}style="display:none"{% endif %} href="#" video_url_id="{{ item.pk }}" class="make-primary-url-link">{% trans 'make primary' %}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
<div id="learn-more-urls" style="display:none;" class="msg_modal_wrap">
  <a href="#close" class="close">{% trans "Close" %}</a>
  <h3>{% trans 'Learn more' %}</h3>
  <div class="msg_modal">
    <p>{% trans "Multiple video URLs let you link multiple videos to a single set of subtitles. Some example uses:" %}</p>
    <ul>
      <li>{% trans "Two versions of the same video exist on Youtube.  You don't want subtitle volunteers to duplicate their work, so you add both versions to the multiple URLs pane." %}</li>
      <li>{% trans "You put your video on Youtube, Vimeo, Blip, and Dailymotion and you want the subtitles you make to work on all of those versions." %}</li>
      <li>{% trans "You want to provide different versions of a video to different browsers (HTML5/Ogg for free software users, or HTML5/h264 to iPad users).  If you add these URLs, our embed code will automatically fall back to whatever format is necessary for the browser." %}</li>
    </ul>
    <p>{% trans "Tip: double check that there are no timing problems." %}</p>
  </div>
</div>
<div id="add-video-url" style="display: none" class="msg_modal_wrap">
    <a href="#close" class="close">{% trans "Close" %}</a>
    <h3>{% trans 'Add another URL for this video' %}</h3>
    <div class="msg_modal">
        <div>
            {% trans "Add a URL for another version of the exact same video." %}<br/>
            {% trans "This is useful in cases where many versions of the same video exist, or when there are versions in different formats (like HTML5)" %}
        </div>
        {% if user.is_authenticated %}
        <form method="post" action="{% url videos:video_url_create %}">
            <div class="global-errors"></div>
            {{ form.as_p }}
            <p class="button-container">
                <button class="green_button small">{% trans 'Add' %}</button>
            </p>
            <p class="saving-container" style="display: none">
                {% trans 'Saving...' %}
            </p>
        </form>
        {% else %}
        <p>
            <a href="{% url auth:login %}?next={{ request.path_info }}">
                {% trans 'Login to add new URL' %}
            </a>        
        </p>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
jQuery(function($){
    var IS_AUTHENTICATED = '{{ user.is_authenticated }}' === 'True';
    var make_primary_url = '{% url videos:video_url_make_primary %}';
    $('.make-primary-url-link').click(function(){
        if (IS_AUTHENTICATED){
            var $this = $(this);
            $.get(make_primary_url, {id: $this.attr('video_url_id')},
                function(response){
                    if (response.error){
                        $.jGrowl.error(response.error);
                    }else{
                        var $primary_span = $('#urls-tab .primary');
                        if ( ! $primary_span.length){
                            $primary_span = $("<span class='primary'>[{% trans 'PRIMARY' %}]</span>");
                        };
                        var $span = $primary_span.clone();
                        
                        $primary_span.remove();
                        $('#urls-tab .make-primary-url-link').show();
                        var $tr = $this.parents('tr');
                        $tr.find('.url-td').append($span);
                        $tr.find('.make-primary-url-link').hide();
                    }
                }, 'json');
         }else{
             alert('{% trans "You are not authenticated" %}');
         }
         return false;
    });
    
    var remove_url = '{% url videos:video_url_remove %}';
    $('.delete-url-link').click(function(){
        var $url = $(this);
        if (IS_AUTHENTICATED){
            if (confirm('{% trans "Delete this URL?  Warning: this cannot be undone. Only delete URLs for non-matching videos or videos where subtitles fail to display correctly." %}')){
                $.get(remove_url, {id: $url.attr('video_url_id')},
                    function(response){
                        if (response.error){
                            $.jGrowl.error(response.error);
                        }else{
                            $url.parents('tr').remove();
                        }
                    }, 'json')                
            }
        }else{
            alert('{% trans "You are not authenticated" %}');
        }
        return false;
    }); 
    
    $('#add-video-url').bind('close-modal', function(){
        $('#add-video-url form p.error_list').remove();
        $('#id_url').val('');
    });
    
    $('#add-video-url form').ajaxForm({
        dataType: 'json',
        success: function(data, status, xhr, $form){
            $('.button-container', $form).show();
            $('.saving-container', $form).hide();            
            if (data.errors){
                for (key in data.errors){
                    var $field = $('input[name="'+key+'"]', $form);
                    var error = '<p class="error_list">'+data.errors[key]+'</p>';
                    if ($field.length){
                        $field.prev().before(error);
                    }else{
                        $('.global-errors', $form).prepend(error);
                    }
                };
            }else{
                location.reload();
            }
        },
        beforeSubmit: function(formData, $form, options){
            $('p.error_list', $form).remove();
            $('.button-container', $form).hide();
            $('.saving-container', $form).show();
        }
    });
    
    $.tablesorter.addParser({
        id: 'since-time',
        is: function(s) { 
            return false; 
        },
        format: function(s, table, td) { 
            return $(td).attr('time') - 0;
        }, 
        type: 'numeric'         
    });
    
    $("#video-url-table").tablesorter({
        headers: {
            2: {
                sorter: 'since-time'
            },
            4: {
                sorter: false 
            }
        }
    });
});             
</script>
