{% load i18n %}

{# <ul class="video_list clearfix"> #}
    <li>
        <a href="{{ video.get_absolute_url }}">
            {% if video.thumbnail_url %}
                <img src="{{ video.thumbnail_url }}" width="155" height="90"/>
            {% else %}
                <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
            {% endif %}
            <h4>{{ video }}</h4>
        </a>
        <span class="views">
            <strong>{{ video.total_views }}</strong> {% trans "Views" %}
        </span>
        <span class="languages">
            {% if video.languages_count %}
            <a class="lang_arrow" href="#" video_id="{{ video.pk }}"></a>
            {% endif %}
            <span>
                  {% blocktrans count video.languages_count as number %}
                      {{ number }} Language
                  {% plural %}
                      {{ number }} Languages
                  {% endblocktrans %}                
            </span>
        </span><!-- // languages -->
    </li>
{# </ul> #}