{% load i18n subtitles_tags %}

<div class="lang_menu">
    {% if video %}
    <div class="hd">
 
        <span>
          {% blocktrans count video.languages_count as number %}
              {{ number }} language
          {% plural %}
              {{ number }} languages
          {% endblocktrans %}
        </span>
    </div><!-- hd -->
    
    <div class="bd clearfix">
        {% for lang in languages|slice:":10" %}
            {% with lang.subtitle_count as lines_count %}
                {% if lines_count %}  
                    <a href="{{ lang.get_absolute_url }}" class="{% complete_color lang %}">
                        <span>{% complete_indicator lang %}{{ lang.language_display }}</span>
                    </a>
                {% endif %}
            {% endwith %}
        {% endfor %}                    
    </div>
    {% endif %}
</div>