{% load i18n %}
<ul class="table_head">
    <li class="grid_10">
        <a href="#">{% trans 'Activity' %}</a>
    </li>
    <li class="grid_2 grid_last">
        <a href="#">{% trans 'Happened' %}</a>
    </li>            
</ul>
<ul class="table_body">
{% for item in events %}
    <li class="table_row {{ item.type }}">
      <span class="grid_10 table_activity">
        {% if item.user %}
            <a class="username" href="{{ item.user.profile_url }}">{{ item.user }}</a>
        {% else %}
            <span class="username anon">{% trans 'Anonymous' %}</span>
        {% endif %}
        
        {% if item.is_add_video %}
            {% trans 'submited this video.' %}
        {% endif %}
        
        {% if item.is_change_title %}
            {% blocktrans with item.new_video_title as title %}
            changed title to "{{ title }}"
            {% endblocktrans %}
        {% endif %}
        
        {% if item.is_comment %}
            {% if item.language %}
                {% blocktrans with item.language.language_display as language %}
                commented on {{ language }}.
                {% endblocktrans %}            
            {% else %}
                {% trans 'commented on this video.' %}
            {% endif %}
        {% endif %}
        
        {% if item.is_add_version %}
            {% trans 'edited' %} 
            <a href="{{ item.language.get_absolute_url }}">
                {% if item.language.is_original %}
                    {% trans 'original subtitles' %}
                {% else %}
                    {{ item.language.get_language_display }} {% trans 'translation' %}
                {% endif %}
            </a> {% trans 'for' %} 
            <a class="url" href="{{ item.video.get_absolute_url }}">{{ item.video }}</a> 
        {% endif %}
      </span>
      <span class="grid_2 table_happened grid_last">
          {{ item.created|timesince }} {% trans 'ago' %}
      </span>
    </li>
{% endfor %}
</ul>