{% load i18n search_tags videos_tags %}

<ul class="video_list clearfix">
    {% for video in video_list %}
        {% if video %}
            {% with display_views|default:'' as display_views %}
                {% render_video video display_views %}
            {% endwith %}
        {% endif %}
    {% empty %}
        <h3 style="color: #788b90; padding: 0 0 20px 5px;">{% trans "No video found" %}</h3>
    {% endfor %}
</ul><!--// video_list -->

<script type="text/javascript">
    (function($){
        var lang_arrow_click_handler = function(){
            var $this = $(this);
            var $lang_menu = $(this).find('.lang_menu');

            if ( ! $lang_menu.length){
                VideosApi.load_video_languages($this.attr('video_id'), function(r){
                    $this.html(r.content);
                });
            }else{
                $lang_menu.show();
            }
        };
        
        $('.video_list .lang_arrow').unbind('click').bind('click', lang_arrow_click_handler);
        
        $('.video_list .lang_arrow .lang_menu').live('mouseleave', function(){
            $(this).hide();
        });
        
    })(jQuery);
</script>