{% load i18n search_tags videos_tags %}

<ul class="video_list clearfix">
    {% for video in video_list %}
        {% with display_views|default:'' as display_views %}
            {% render_video video display_views %}
        {% endwith %}
    {% empty %}
        <h3 style="color: #788b90; padding: 0 0 20px 5px;">{% trans "No video found" %}</h3>
    {% endfor %}
</ul><!--// video_list -->

<script type="text/javascript">
    (function($){
        var lang_arrow_click_handler = function(){
            var $this = $(this);
            if ( ! $(this).find('.lang_menu').length){
                VideosApi.load_video_languages($this.attr('video_id'), function(r){
                    $this.html(r.content);
                });
            }
            return false;
        };
        
        $('.video_list .lang_arrow').unbind('click')
            .bind('click', lang_arrow_click_handler);
    })(jQuery);
</script>