{% extends "base.html" %}

{% load paginator i18n %}

{% block main_content %}
	{% block h2 %}
		<h2><a href="{{ video.get_absolute_url }}">{{ video }}</a></h2>
	{% endblock %}
	
    {% if action_list %}
        
        {% if is_paginated %}{% paginator %}{% endif %}
        
        {% with action_list as events %}
			{% include "videos/_video_activity.html" %}
        {% endwith %}
            
        {% if is_paginated %}{% paginator %}{% endif %}
         
    {% else %}
        <p>{% trans 'There are no activities.' %}</p>
    {% endif %}
{% endblock %}