{% extends "base.html" %}

{% load i18n %}

{% block body_attrs %}id="create"{% endblock %}

{% block main_content %}
{% if vidscraper_error %}
    {% blocktrans %}
    "Sorry, we couldn't identify the video at the link you sent.  Perhaps
    it's a link we don't recognize, or perhaps you've linked to a page
    that has multiple videos.  Try entering a different link to the video
    you want to submit.  If you think there's been some mistake,
    <a href="mailto:feedback@universalsubtitles.org">contact us</a>!"
    {% endblocktrans %}
{% endif %}
<form action="{% url videos:create %}" method="POST" class="main_video_form">
  {% csrf_token %}
  <h2 class="main_heading">{% trans 'Subtitle a Video' %}</h2>
  {# TODO: this should be an instance of VideoForm, which should go in context processor #}
  {{ video_form.video_url.errors }}
  <input type="text" name="video_url" class="main_video_form_field" />
  <button class="marginleft" type="submit" value="Begin"><span>{% trans 'Begin' %}</span></button>
  <p>
      {% blocktrans %}
      To enable collaborative subtitles, enter the URL to any video in the<br />
      following formats: Ogg, WebM, FLV, Youtube, Blip.TV, video.google.com, Fora.tv,
      Ustream.tv
      {% endblocktrans %}
  </p>
</form>


{% endblock %}
