{% extends "base.html" %}

{% block main_content %}
<form action="{% url videos:create %}" method="POST" class="main_video_form">
  {% csrf_token %}
  <h2 class="main_heading">Subtitle a Video</h2>
  {# TODO: this should be an instance of VideoForm, which should go in context processor #}
  <input type="text" name="video_url" class="main_video_form_field" />
  <button class="marginleft" type="submit" value="Begin"><span>Begin</span></button>
  <p>To enable collaborative subtitles, enter the URL to any Ogg or youtube video</p>

</form>


{% endblock %}
