{% extends "base.html" %}

{% load i18n %}

{% block body_attrs %}id="create"{% endblock %}

{% block main_content %}
{% if vidscraper_error %}
    {% blocktrans %}
    "Sorry, we couldn't identify the video at the link you sent.  Perhaps
    it's a link we don't recognize, or perhaps you've linked to a page
    that has multiple videos.  Try entering a different link to the video
    you want to submit.  If you think there's been some mistake,
    <a href="mailto:feedback@universalsubtitles.org">contact us</a>!"
    {% endblocktrans %}
{% endif %}
<form action="{% url videos:create %}" method="POST" class="main_video_form">
  {{ video_form.non_field_errors }}
  <h2 class="main_heading">{% trans 'Subtitle a Video' %}</h2>
  {# TODO: this should be an instance of VideoForm, which should go in context processor #}
  {{ video_form.video_url.errors }}
  {{ video_form.video_url }}
  <button class="green_button big marginleft" type="submit" value="Begin">{% trans 'Begin' %}</button>
  <p>
      {% trans 'Works with Ogg, WebM, FLV, Youtube, Blip or Dailymotion.' %}  
      <a href="{% url demo %}">{% trans 'Or try the demo' %}</a>
  </p>
</form>


{% endblock %}
