{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript">
        $(function(){
            //get from: http://diveintohtml5.org/detect.html#video-formats
            function supports_video() {
              return !!document.createElement('video').canPlayType;
            }
            
            function supports_h264_baseline_video() {
              if (!supports_video()) { return false; }
              var v = document.createElement("video");
              return v.canPlayType('video/mp4; codecs="avc1.42E01E, mp4a.40.2"');
            }
            
            function supports_ogg_theora_video() {
              if (!supports_video()) { return false; }
              var v = document.createElement("video");
              return v.canPlayType('video/ogg; codecs="theora, vorbis"');
            }
            var result;
            if (supports_ogg_theora_video()){
                result = 'HTML5 Ogg capable browsers (Chrome, Firefox post 3.5)';
            }else if(supports_h264_baseline_video()){
                result = 'HTML5 h.264 capable browsers that can’t play Ogg (Safari, iPhone, iPad)';
            }else{
                result = 'Browsers with Flash (IE)';
            }
            $('.suport-video-result').html(result);
        });
    </script>
{% endblock %}

{% block main_content %}
    <div class="suport-video-result"></div>
{% endblock %}