{% extends "base.html" %}
{% block scripts %}
{% include_bundle "mirosubs-onsite-compiled" %}
{% endblock %}
{% block main_content %}
    <div id="videoDiv"></div>
    <script type="text/javascript">
      var scriptQueryString;
      if (mirosubs.video.supportsOgg())
          scriptQueryString = 
              "video_url=http://videos.mozilla.org/firefox3/switch/switch.ogg";
      else if (mirosubs.video.supportsH264())
          scriptQueryString = 
              "video_url=http://www.visitmix.com/content/files/HTML5.mp4";
      else
          scriptQueryString = "youtube_videoid=32d-ofwa_yA";
      document.write(['<scr', 'ipt src="/embed_widget.js?', scriptQueryString, 
                      '&element_id=videoDiv"></scr', 'ipt>'].join(''));
    </script>
{% endblock %}
