{% extends "base.html" %}

{% load widget %}

{% block css %}
  {{ block.super }}
  <link href="{{ MEDIA_URL }}css/mirosubs-widget.css" media="all" type="text/css" rel="stylesheet" />
  <style>
    div.mirosubs-widget {
        position: relative;    
    }
    .mirosubs-videoDiv {
        text-align: center;
    }
    .mirosubs-videoDiv video, .mirosubs-videoDiv object, .mirosubs-videoDiv embed{
        width: 480px;
    }
    span.data {
        display: none;
    }
    #embed{
      white-space: pre;
      background: #eee;
      boder: #666;
    }
  </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(function($) {
            var IS_AUTHENTICATED = '{{ user.is_authenticated }}' == 'True';
            if (IS_AUTHENTICATED){
                $('.roll_back').click(function(){
                    if ( ! confirm('Subtitles will be rolled back to a previous version')){
                        return false;
                    }                    
                });                
            }else{
                $('.roll_back, .new_edit').click(function(){
                    alert('You need to log in to do that.');
                    return false;
                });
            }
            $('#edit_0').click(function() {
                widget_widget_div_0.selectMenuItem(
                    mirosubs.MainMenu.Selection.EDIT_SUBTITLES);
                return false;
            });
            $('#edit_1').click(function() {
                widget_widget_div_1.selectMenuItem(
                    mirosubs.MainMenu.Selection.EDIT_SUBTITLES);
                return false;
            });
            $('.time_link_0').click(function() {
                widget_widget_div_0.playAt(parseFloat(
                    $(this).find('.data').text()));
                return false;
            });
            $('.time_link_1').click(function() {
                widget_widget_div_1.playAt(parseFloat(
                    $(this).find('.data').text()));
                return false;
            });
        });
    </script>
    {% include "widget/_js_onsite_dependencies.html" %}
{% endblock %}

{% block main_content %}
    <h2>
        Comparing older revision #{{ first_version.version_no }} to current revision #{{ second_version.version_no }}
    </h2>
    {{ video }} in 
    {% if  first_version.language_display == 'Original' %} 
        {{ first_version.language_display }} language
    {% else %}
        {{ first_version.language_display }}
    {% endif %}<br/><br/>

    {% block breadcrumb %}
        <ul class="breadcrumb"> 
          <li>
              <a href="{{ history_link }}">
                  {{ first_version.language_display }} Subtitles
              </a>
          </li>
          <li>
              Comparing Revision #{{ first_version.version_no }} & #{{ second_version.version_no }}
          </li>
        </ul>
    {% endblock %}
    
    <div style="clear: both"></div>
    
    <div class="left_column">
        <h3 class="diff_title">
            Older Revision #{{ first_version.version_no }} by {{ first_version.user }}
             <span class="small">{{ first_version.datetime_started|date:"H:i, j F Y" }} </span>
        </h3>
   
        
        <div class="clear">&nbsp;</div>
        
        {% widget widget0_params 'widget_div_0' %}
        <div class="clear tall">&nbsp;</div>


        <div class="revision_buttons">
            <a href="#" class="new_edit" id="edit_0">
                Submit a new edit based on this version (#{{ first_version.version_no }})
            </a>
            {% if first_version.next_version %}
                <a href="{% block first_roolback_link %}{% url videos:rollback first_version.pk %}{% endblock %}" class="roll_back">
                    Roll back to version (#{{ first_version.version_no }})
                </a>
            {% endif %}
        </div>
        
        <ul class="revision_list table_body">
          {% for item in captions %}
            <li {% cycle 'class="even"' '' %}>
                {% if item.0 %}
                  <a href="#" class="time_link_0">
                    <span class="data">{{item.0.start_time}}</span>
                    <span {% if item.2.time %}class="time_change"{% endif %}>
                        {{ item.0.display_time }}
                    </span> -
                    <span {% if item.2.end_time %}class="time_change"{% endif %}>
                        {{ item.0.display_end_time }}
                    </span>
                  </a>
                  &gt; 
                  <span {% if item.2.text %}class="time_change"{% endif %}>
                    {{ item.0.text }}
                  </span>
                {% else %}
                    &nbsp;
                {% endif %}
            </li>
          {% endfor %}
        </ul>
    </div>
    
    
    <div class="right_column">
        <h3 class="diff_title">
            Current Revision #{{ second_version.version_no }} by {{ second_version.user }}
            <span class="small">as of {{ second_version.datetime_started|date:"H:i, j F Y" }}</span>
        </h3>
      
        <div class="clear">&nbsp;</div>
        
        {% widget widget1_params 'widget_div_1' %}
        <div class="clear tall">&nbsp;</div>
        
        <div class="revision_buttons">
            <a href="#" class="new_edit">
                Submit a new edit based on this version (#{{ second_version.version_no }})
            </a>
            {% if second_version.next_version %}
                <a href="{% block second_roolback_link %}{% url videos:rollback second_version.pk %}{% endblock %}" class="roll_back">
                    Roll back to version (#{{ second_version.version_no }})
                </a>
            {% endif %}
        </div>
        
        <ul class="revision_list table_body">
          {% for item in captions %}
            <li {% cycle 'class="even"' '' %}>
                {% if item.1 %}
                  <a href="#" class="time_link_1">
                  <span class="data">{{item.1.start_time}}</span>
                    <span {% if item.2.time %}class="time_change"{% endif %}>
                      {{ item.1.display_time }}
                    </span> -
                    <span {% if item.2.end_time %}class="time_change"{% endif %}>
                      {{ item.1.display_end_time }}
                    </span>
                  </a>
                  &gt; 
                  <span {% if item.2.text %}class="time_change"{% endif %}>
                    {{ item.1.text }}
                  </span>
                {% else %}
                    &nbsp;
                {% endif %}
            </li>
          {% endfor %}
        </ul>
    </div>
{% endblock %}
