{% extends 'videos/email_base.html' %}

{% load i18n localeurl_tags %}

{% block content %}
<p style="font-size: 12px;">
    {% trans "The title of the video" %} <a href="http://{{ domain }}{{ video.get_absolute_url|rmlocale }}">{{ old_title }}</a>
    
    {% if editor %} 
        {% trans "has been changed by" %}
        <a href="http://{{ domain }}{{ editor.get_absolute_url|rmlocale }}">{{ editor }}</a>.
    {% else %}
        {% trans "has been changed" %}.
    {% endif %}
    
    {% trans "The new title is" %} <a href="http://{{ domain }}{{ video.get_absolute_url|rmlocale }}">{{ new_title }}</a>. 
    
    {% trans "If this is incorrect, mouseover the title on" %} 
    <a href="http://{{ domain }}{{ video.get_absolute_url|rmlocale }}">{% trans "this page" %}</a> {% trans 'and click "edit title"' %}.
</p>
{% endblock %}