{% extends 'videos/email_base.html' %}

{% load i18n localeurl_tags %}

{% block content %}
    <p style="font-size: 12px;">
        {% if user_url %}
            {% blocktrans with language_url|rmlocale as language_url and language.language_display as lang and video_url|rmlocale as video_url and version.user as u and user_url|rmlocale as user_url and video as v and version.time_change_display as change_percent %}
            <b><a href="http://{{ domain }}{{ language_url }}">{{ lang }} subtitles</a></b> 
            to video <b><a href="http://{{ domain }}{{ video_url }}">{{ v }}</a></b>
            were changed by <b><a href="http://{{ domain }}{{ user_url }}">{{ u }}</a></b>. These changes went live immediately. {{ change_percent }} of the timing was changed.  
            {% endblocktrans %}<br/>
        {% else %}
            {% blocktrans with language_url|rmlocale as language_url and language.language_display as lang and video_url|rmlocale as video_url and version.user as u and video as v and version.time_change_display as change_percent %}
            <b><a href="http://{{ domain }}{{ language_url }}">{{ lang }} subtitles</a></b> 
            to video <b><a href="http://{{ domain }}{{ video_url }}">{{ v }}</a></b>
            were changed. These changes went live immediately. {{ change_percent }} of the timing was changed.             
            {% endblocktrans %}<br/>        
        {% endif %}
    </p>
    <ul>
      <li><a href="http://{{ domain }}{% filter rmlocale %}{% url videos:diffing version.pk last_version.pk %}{% endfilter %}">{% trans 'Compare the new version to the last version' %}</a>.</li>
      <li><a href="http://{{ domain }}{% filter rmlocale %}{% url videos:stop_notification video.video_id %}{% endfilter %}?u={{ user.id }}&h={{ hash }}">{% trans "Stop watching for changes on this video" %}</a></li>
    </ul>
    {% if version.text_change %}
        <div>
          <table style="width: 585px; background: #fff; border: 1px solid #aaa; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-radius-top-right: 5px; -webkit-border-radius-top-right: 5px; border-bottom: 0;" cellpadding="0" cellspacing="0">
            <tr>
              <td width="80" style="color: #888; font-size: 12px; padding: 8px;">
                {% trans 'Old Text' %}
              </td>
              <td width="245" style="color: #333; font-weight: bold; font-size: 12px; padding: 8px; text-align: center;">
                {% trans 'Changes to Subtitle Text' %}
              </td>
              <td align="right" width="80" style="color: #888; font-size: 12px; padding: 8px;">
                {% trans 'New Text' %}
              </td>
            </tr>
          </table>    
          
          <table style="width: 585px; background: #fff; border: 1px solid #aaa; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-radius-bottom-right: 5px; -webkit-border-radius-bottom-right: 5px;" cellpadding="0" cellspacing="0">
            {% for item in captions %}
                {% if item.2.text %}
                    <tr>
                      <td width="210" style="padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;">
                        {{ item.1.text }}
                      </td>
                      <td width="210" style="padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd;">
                        {{ item.0.text }}
                      </td>
                    </tr>
                {% endif %}
            {% endfor %}
          </table>
        </div>
    {% endif %}
{% endblock %}
{% block dont_send %}{% endblock %}
