{% extends 'videos/email_base.html' %}

{% load i18n localeurl_tags %}

{% block content %}
<p style="font-size: 12px;">
    {% trans 'Dear' %} {{ user }},<br/><br/>
    {% blocktrans with version.user as user and version.user.get_absolute_url|rmlocale as user_url and language.language_display as language and video.video_link|rmlocale as video_url %}
    Great news! <a href="http://{{ domain }}{{ user_url }}">{{ user }}</a> has just started a {{ language }} 
    translation of your video <a href="http://{{ domain }}{{ video_url }}">{{ video }}</a>
	{% endblocktrans %}.
    <br/>
    {% trans 'You can review the translation and thank them for their contribution on this page:' %} <br/>
    <a href="http://{{ domain }}{{ language.get_absolute_url|rmlocale }}">{% trans 'Translation homepage' %}</a> 
</p>
<p style="font-size: 12px;">
    {% trans 'Thanks for your great work,' %}
    <br/>
    {% trans 'Sincerely' %},<br/><br/>
    {% trans 'The Universal Subtitles Community' %}
</p>
{% endblock %}