{% extends 'videos/email_base.html' %}

{% load i18n localeurl_tags %}

{% block content %}
    <p style="font-size: 12px;">
        {% trans "A new video URL for" %}
        <b><a href="http://{{ domain }}{{ video.get_absolute_url|rmlocale }}">{{ video }}</a></b> 
        {% trans "was submitted by" %}
        {% if video_url.added_by %}
            <b><a href="http://{{ domain }}{{ video_url.added_by.get_absolute_url|rmlocale }}">{{ video_url.added_by }}</a></b>.
        {% else %}
            {% trans 'Anonymous' %}.
        {% endif %}  
        {% trans "Please check to make sure the new URL features the exact same video, and that subtitle timing is correct:" %}  
        <br/><br/>
    </p>

    <p style="font-size: 12px;">
        <ul>
            <li><a href="http://{{ domain }}{{ video_url.get_absolute_url|rmlocale }}">{% trans "View the new video URL" %}</a></li> 
            <li><a href="http://{{ domain }}{{ video.get_absolute_url|rmlocale }}#urls">{% trans "View the original video URL" %}</a></li>
        </ul>
    </p>
{% endblock %}