{% load i18n %}
<p>
    {% trans 'Dear' %} {{ user }}, <br/>
    {% blocktrans %}A title of video you contributed to 
    has been edited by {{ editor }}.{% endblocktrans %} <br/>
</p>
<p>
    {% trans "We've also included a rough summary of the changes below.  Thanks so much!" %}<br/>

    {% trans 'Sincerely' %},<br/><br/>
    
    {% trans 'The Universal Subtitles Community' %}<br/><br/>
    
    {% trans 'To stop receiving these emails, go to your preferences page and uncheck
    "receive notifications":' %}<br/><br/>
    <a href="http://{{ domain }}{% url profiles:my_profile %}">{% trans 'My profile / preferences' %}</a>
</p>
<p>
    {% trans 'NEW' %}: 
    <br/><br/>
    {% trans 'TITLE' %}: {{ video.title }}
    <br/><br/>
    {% trans 'OLD' %}:
    <br/><br/>
    {% trans 'TITLE' %}: {{ old_title }}
</p>
<p>
    <a href="http://{{ domain }}{% url videos:stop_notification video.video_id %}?u={{ user.id }}&h={{ hash }}">{% trans "Don't send any more emails about this particular video." %}</a>
</p>