{% load i18n %}
{% blocktrans %}Dear {{ user }}{% endblocktrans %},<br/><br/>

{% blocktrans with video_url.added_by as added_by %}
The Universal Subtitles user {{ added_by }} has added a new video url 
{{ video_url }} to "{{ video }}", a video you contributed to.  
Please check to make sure that the new URL features the exact same video, 
and that the subtitles display correctly:
{% endblocktrans %}
<br/><br/>

{{ vide_url.get_absolute_url }}<br/><br/>

{% blocktrans %}
If this video does not match the video at the following URL, you should leave a
comment or (if it's spam) just remove it by clicking on the "remove" button
next to its URL in the "Video URLs" tab.<br/><br/>
{% endblocktrans %}

{{ video.get_absolute_url }}#urls<br/><br/>

{% trans 'To stop receiving these emails, go to your preferences page and uncheck "receive notifications":' %}<br/><br/>
<a href="http://{{ domain }}{% url profiles:my_profile %}">{% trans 'My profile / preferences' %}</a>
<br/><br/>
<a href="http://{{ domain }}{% url videos:stop_notification video.video_id %}?u={{ user.id }}&h={{ hash }}">{% trans "Don't send any more emails about this particular video." %}</a>
