{% load i18n %}
<p>
    {% trans 'Dear' %} {{ user }},<br/><br/>
    {% blocktrans with version.user as user and language.language_display as language %}
    Great news! {{ user }} has just started a {{ language }} 
    translation of your video{% endblocktrans %}{% if video.title %}, "{{ video.title }}"{% endif %}.
    <br/>
    {% trans 'You can review the translation and thank them for their contribution on this page:' %} <br/>
    <a href="http://{{ domain }}{{ language.get_absolute_url }}">{% trans 'Translation homepage' %}</a> 
</p>
<p>
    {% trans 'Thanks for your great work,' %}
    <br/>
    {% trans 'Sincerely' %},<br/><br/>
    {% trans 'The Universal Subtitles Community' %}
</p>
<p>
    {% trans 'To stop receiving these emails, go to your preferences page and uncheck "receive notifications":' %}<br/>
    <a href="http://{{ domain }}{% url profiles:my_profile %}">{% trans 'My profile / preferences' %}</a>
</p>
<p>
    <a href="http://{{ domain }}{% url videos:stop_notification video.video_id %}?u={{ user.id }}&h={{ hash }}">{% trans "Don't send any more emails about this particular video." %}</a>
</p>