{% extends "base.html" %}

{% load i18n search_tags %}

{% block body_attrs %}id="watch"{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% url videos:rpc_api %}" type="text/javascript"></script>  
    <script src="{{ MEDIA_URL }}js/jquery.address-1.4.fixed.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/jquery.ajax-paginator.js" type="text/javascript"></script>
    {% block pagination_script %}
    <script type="text/javascript">
        jQuery(function($){
            $('.ajax-pagination').ajaxPaginator({
                container: $('.watch-page-content'),
                onPageChange: function(page, callback){
                    VideosApi.load_featured_page(page, function(data){
                        callback.call(this, data);
                    }, this);
                },
            });
        });
    </script>
    {% endblock %}
{% endblock %}

{% block main_content %}

{% search_form %}

<h1><a href="{% url videos:watch_page %}">{% trans "Watch Subtitled Videos" %}</a></h1>

<div class="pod" id="featured_videos">
    <div class="hd">
        <h2>{% block content_title %}{% trans "Featured Videos" %}{% endblock %}</h2>
    </div><!-- // hd -->
    <div class="bd">
        <div class="watch-page-content">
            <div style="text-align: center; padding: 75px">
                <img align="absmiddle" width="256" height1="30" src="{{ MEDIA_URL }}images/ajax-loader.gif"/>
            </div>
        </div>
        <!-- // pagination start -->
        <div class="pages ajax-pagination clearfix">
            <a class="pag_prev" href=""><span class="icon"></span></a>
            <span class="page_count page-info">
                <span class="from-value"></span> - 
                <span class="to-value"></span> 
                {% trans "of" %} 
                <span class="total-value"></span>
                {% trans "videos" %}           
            </span>
            <span class="page_count loading-indicator" style="display: none;">
                {% trans "Loading..." %}
            </span>            
            <a class="pag_next" href=""><span class="icon"></span></a>
        </div>      
        <!-- // pagination end-->
    </div><!-- // bd -->
</div><!-- // pod -->
{% endblock %}
