{% extends "base.html" %}

{% load escapejs paginator widget %}

{% block css %}
  {{ block.super }}
  <link href="{{ MEDIA_URL }}css/mirosubs-widget.css" media="all" type="text/css" rel="stylesheet" />
  <style>
    div.mirosubs-widget {
        position: relative;    
    }
    .mirosubs-videoDiv {
        text-align: center;
    }
    .mirosubs-videoDiv video {
        width: 460px;
    }
    
    #embed{
      white-space: pre;
      background: #eee;
      boder: #666;
    }
  </style>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% include "widget/_js_onsite_dependencies.html" %}
  <script type="text/javascript">
        //create url template
        var DIFFING_URL = function(){
            var url = '{% block diffing_link %}{% url videos:diffing 11111 22222 %}{% endblock %}';
            return url.replace(/11111/, '<<first_pk>>').replace(/22222/, '<<second_pk>>');
        }();
        
        function get_compare_link(first_pk, second_pk){
            //set values from arguents
            return DIFFING_URL.replace(/<<first_pk>>/, first_pk).replace(/<<second_pk>>/, second_pk);
        }

        jQuery(document).ready(function($){
            $('.version_checkbox:first').attr('checked', 'checked');
            
            $('.version_checkbox').change(function(){
                var $this = $(this);
                var checked_length = $('.version_checkbox:checked').length;
                
                if($this.attr('checked') && (checked_length > 2)){
                    $this.attr('checked', '');
                }
            });
            
            $('.compare_versions_button').click(function(){
                var $checked = $('.version_checkbox:checked');
                if ($checked.length !== 2){
                    alert('Select two revisions for compare, please');
                }else{
                    var url = get_compare_link($checked[0].value, $checked[1].value);
                    window.location.replace(url);
                }
            });
            //******** Tabs ********//
            var $last_active_tab = $('#revision-tab');
            $('.video_tabs a').click(function(){
                $last_active_tab.hide();
                $last_active_tab = $($(this).attr('href')).show();
                $('.video_tabs li').removeClass('active');
                $(this).parent('li').addClass('active');
                return false;
            });
        });
    </script>
{% endblock %}

{% block main_content %}
    <h2>{{ video }}</h2>
    <p class="what_lang">
        {% block lang_display %}
            in <a href="{% url videos:video video_id=video.video_id %}">Original Language</a> <a href="other_lang">Other Languages</a>
        {% endblock %}
    </p>
    
    <div class="left_column">
        {% widget video.get_video_url %}
    </div>
    
    <div class="right_column">
            </div>
    
    <div class="clearboth">&nbsp;</div>


    <h2 class="floatleft margin-top">Recent Revisions <a class="whats_this" href="{% url faq_page %}#revisions">(What's This?)</a></h2>
    
    <ul class="video_tabs">
      <li><a href="#trascript-tab">Languages (4)</a></li>
      <li><a href="#comments-tab">Comments (12)</a></li>
      <li class="active"><a href="#revision-tab">Activity Stream</a></li>
    </ul>

    <div id="revision-tab" class="tab">
        {% if revision_list %}
           {% if is_paginated %}{% ordered_paginator 3 %}{% endif %} 

        {% block table %}
        <ul class="table_head">
          <li class="table_user">{% ordered_column "user" "User" %}</li>
          <li class="table_text">{% ordered_column "text" "Text" %}</li>
        </ul>
       
       <ul class="table_body"> 
              <li>
                <ul>
                  <li class="table_user">
                      <a href="#">morganknutson Rolled back Spanish to an earlier version</a>
                  </li>
                  <li class="table_text">22 hours ago</li>
                </ul>
              </li>    
        </ul> 
           <div style="clear: both"></div>
           {% endblock %}
       {% else %}
            <div class="nothing"><strong>This revision has no subtitles</strong><br />
Either no subtitles have been entered, or they were deleted.</div>
       {% endif %}
   </div>
   
   <div style="display: none" id="comments-tab" class="tab">
        <ul class="user_approval">
          <li class="thumb_up"><span class="thumb"></span><a href="#">Username</a> gave this translation a thumbs up</li>
          <li class="thumb_down"><span class="thumb"></span><a href="#">Username</a> gave this translation a thumbs down</li>
          <li class="thumb_up"><span class="thumb"></span><a href="#">Username</a> gave this translation a thumbs up</li>
          <li class="thumb_down"><span class="thumb"></span><a href="#">Username</a> gave this translation a thumbs down</li>
          <li class="thumb_up"><span class="thumb"></span><a href="#">Username</a> gave this translation a thumbs up</li>
          <li class="thumb_down"><span class="thumb"></span><a href="#">Username</a> gave this translation a thumbs down</li>
          <li class="thumb_up"><span class="thumb"></span><a href="#">Username</a> gave this translation a thumbs up</li>
          <li class="thumb_down"><span class="thumb"></span><a href="#">Username</a> gave this translation a thumbs down</li>
          <li class="thumb_up"><span class="thumb"></span><a href="#">Username</a> gave this translation a thumbs up</li>
          <li class="thumb_down"><span class="thumb"></span><a href="#">Username</a> gave this translation a thumbs down</li>
          <li class="thumb_up"><span class="thumb"></span><a href="#">Username</a> gave this translation a thumbs up</li>
          <li class="thumb_down"><span class="thumb"></span><a href="#">Username</a> gave this translation a thumbs down</li>
          <li class="thumb_up"><span class="thumb"></span><a href="#">Username</a> gave this translation a thumbs up</li>
          <li class="thumb_down"><span class="thumb"></span><a href="#">Username</a> gave this translation a thumbs down</li>
        </ul>    
   
        <ul class="table_body comments"> 
            {% for item in revision_list %}
              <li>
                <ul>
                  <li class="table_comment">
                      
                      <span class="user_thumb"></span>               
                      
                      <span class="comment_text">
                                <div class="table_user_deets">
                    
                    <a href="#">UserName</a>
                    <span class="comment_date">45 days ago</span>
                    </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed felis nulla, pellentesque a pharetra nec, molestie vel eros. </p>
                        
                        <p>Donec ut egestas mi. Ut mollis commodo nibh, quis dapibus lacus adipiscing a. Pellentesque tincidunt adipiscing vestibulum. Mauris consequat consequat fringilla. Curabitur lobortis neque non nibh elementum et euismod magna bibendum. Mauris iaculis augue non libero consectetur at vulputate lacus mattis. Proin gravida ipsum vitae sapien aliquet tristique. In hac habitasse platea dictumst. Morbi quis lectus sed libero molestie fermentum vel ac mauris. </p>
                        
                        <p>Donec scelerisque imperdiet varius. Duis luctus, dolor ac fermentum sodales, risus lorem cursus lectus, vel laoreet tellus diam vitae dolor. Ut vehicula ultricies venenatis. Suspendisse elementum pretium fermentum. Ut ullamcorper viverra rutrum. Fusce luctus rutrum gravida.</p>
                      </span>
                  </li>
                  
                <li class="table_thumbs_up">
                  <span class="thumbs_up"></span>
                </li>
                </ul>
              </li>    
        {% endfor %}
       </ul> 
       <div style="clear: both"></div>     
   </div>
   
   <div style="display: none" id="trascript-tab" class="tab">
       
        <ul class="table_head">
          <li class="table_language">Language</li>
          <li class="table_rating">Rating</li>
          <li class="table_done">% Done</li>
        </ul>

        <ul class="table_body"> 
            <li>
              <ul>
                <li class="table_language">Japanese</li>
                <li class="table_rating">A+</li>
                <li class="table_done"><span class="progress"><span class="completion 50_percent"></span></span></li>
              </ul>
            </li>
              

       </ul> 

       <div style="clear: both"></div>   
   </div>
{% endblock %}
