{% extends "base.html" %}

{% load escapejs paginator widget comments i18n %}

{% block css %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}css/mirosubs-widget.css" media="all" type="text/css" rel="stylesheet" />

    <style>
        div.mirosubs-widget {
            position: relative;
        }
        
        .mirosubs-videoDiv {
            text-align: center;
        }
        
        .mirosubs-videoDiv video {
            width: 460px;
        }
        
        #embed {
            white-space: pre;
            background: #eee;
            boder: #666;
        }
    </style>
  <link href="{{ MEDIA_URL }}css/nyroModal.css" media="all" type="text/css" rel="stylesheet" />
    <style>
        .error_list {
            color: #fa6343;
        }
        
        .success-message {
            color: #5ae26b;
            margin: 5px 0 0;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include "widget/_js_onsite_dependencies.html" %}
    <script type="text/javascript">
        //create url template
        var DIFFING_URL = function(){
            var url = '{% block diffing_link %}{% url videos:diffing 11111 22222 %}{% endblock %}';
            return url.replace(/11111/, '<<first_pk>>').replace(/22222/, '<<second_pk>>');
        }();
        
        function get_compare_link(first_pk, second_pk){
            //set values from arguents
            return DIFFING_URL.replace(/<<first_pk>>/, first_pk).replace(/<<second_pk>>/, second_pk);
        }
        
        jQuery(document).ready(function($){
            $('.version_checkbox:first').attr('checked', 'checked');
            
            $('.version_checkbox').change(function(){
                var $this = $(this);
                var checked_length = $('.version_checkbox:checked').length;
                
                if ($this.attr('checked') && (checked_length > 2)) {
                    $this.attr('checked', '');
                }
            });
            
            $('.compare_versions_button').click(function(){
                var $checked = $('.version_checkbox:checked');
                if ($checked.length !== 2) {
                    alert('Select two revisions for compare, please');
                }
                else {
                    var url = get_compare_link($checked[0].value, $checked[1].value);
                    window.location.replace(url);
                }
            });
            //******** Tabs ********//
            var $last_active_tab = $($('.video_tabs li.active a').attr('href'));
            $('.video_tabs a').click(function(){
                var href = $(this).attr('href')
                $last_active_tab.hide();
                $last_active_tab = $(href).show();
                $('.video_tabs li').removeClass('active');
                $(this).parent('li').addClass('active');
                document.location.hash = href.split('-')[0];
                return false;
            });
                        
            if (document.location.hash){
                var tab_name = document.location.hash.split('-', 1)
                if (tab_name){
                    $('a[href='+tab_name+'-tab]').click();
                    document.location.href = document.location.href;
                }
            }

            $('#edit_subtitles').click(function() {
                widget_widget_div.selectMenuItem(
                    mirosubs.MainMenu.Selection.EDIT_SUBTITLES);
                return false;
              });

            $('#add_translation').click(function() {
                widget_widget_div.selectMenuItem(
                    mirosubs.MainMenu.Selection.ADD_NEW_LANGUAGE);
                return false;
            });
        });
    </script>
  <script src="{{ MEDIA_URL }}/js/jquery.nyroModal-1.6.2.pack.js" type="text/javascript"></script>
{% endblock %}

{% block title %}
    {{ video.title_display }} with Original subtitles | Universal Subtitles
{% endblock %}

{% block main_content %}
    <h2><a href="{% url videos:video video_id=video.video_id %}">{{ video }}</a></h2>
    <p class="what_lang">
        {% block lang_display %} 
            in Original Language
        {% endblock %}
        {% block translation_list %}
            {% if translations %}
                <p class="other_lang">
                    Other Languages:
                        {% for item in translations %}
                            <a href="{% url videos:translation_history video.video_id item.language %}">{{ item.get_language_display }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                 </p>
            {% endif %}
        {% endblock %}        
    </p>
    <div class="left_column">
        {% widget widget_params %}
    </div>
    <div class="right_column">

        {% include '_sharing_widget.html' %}
    </div>
    
   
    <div class="clearboth">&nbsp;</div>
    <div class="sub_actions">
      
      <a class="button" id="edit_subtitles" href="#"><span>Edit Subtitles</span></a>
      <a class="button" id="add_translation" href="#"><span>Add Translation</span></a>
      

      <div class="up_down">
        {% block upload_subtitles %}
            {% with translations|length as has_translations %}
                {% include 'videos/_upload_subtitles.html' %}
            {% endwith %}
        {% endblock %}
        
        {% block download_subtitles %}
            {% if video.captions %}
              <span class="download">Download Subtitles</span> 
              <a href="{% url download_srt %}?video_id={{ video.video_id }}">SRT</a> / 
              <a href="{% url download_ssa %}?video_id={{ video.video_id }}">SSA</a> /
              <a href="{% url download_ttml %}?video_id={{ video.video_id }}">TTML</a>
            {% endif %}
        {% endblock %}
      </div>
    </div>


    <ul class="video_tabs">
      <li class="active">
          <a href="#transcripts-tab">
            {% block trascripts_tab %}Original Language Subtitles{% endblock %}
          </a>
      </li>
      <li><a href="#comments-tab">Comments ({% get_comment_count commented_object %})</a></li>
      <li><a href="#revisions-tab">History ({{ hits }})</a></li>
    </ul>
    

    <div style="display: none" id="revisions-tab" class="tab">
        {% if revision_list|length > 1 %}
            <button class="compare_versions_button">
                <span>Compare Revisions</span>
            </button>
        {% endif %}
        
        {% if revision_list %}
           {% if is_paginated %}{% ordered_paginator 3 '#revisions' %}{% endif %} 

           {% block table %}
            <ul class="table_head">
                <li class="grid_4">
                    {% ordered_column "date" "Most Recent" #revisions %}
                </li>
                <li class="grid_4">
                    {% ordered_column "user" "User" #revisions %}
                </li>
                <li class="grid_2">
                    {% ordered_column "note" "Note" #revisions %}
                </li>
                <li class="grid_1">
                    {% ordered_column "time" "Time" #revisions %}
                </li>
                <li class="grid_1 grid_last">
                    {% ordered_column "text" "Text" #revisions %}
                </li>
            </ul>
            
            <ul class="table_body">
                {% for item in revision_list %}
                <li {% cycle 'class="even"' '' %}>

                        <span class="grid_4">
                            <input type="checkbox" class="version_checkbox" value="{{ item.pk }}"/><a href="{% url videos:revision pk=item.pk %}">#{{ item.version_no}}</a> ({{ item.revision_time }})
                        </span>
                        <span class="grid_4">
                            <a href="{% url profiles:profile item.user.pk %}">{{ item.user }}</a>
                        </span>
                        <span class="grid_2">
                            {% if item.note %}{{ item.note }}{% else %}&nbsp;{% endif %}
                        </span>
                        <span class="grid_1">
                            {{ item.time_change_display }}
                        </span>
                        <span class="grid_1 grid_last">
                            {{ item.text_change_display }}
                        </span>

                </li>
                {% endfor %}
            </ul>
            
            <div style="clear: both"></div>
           {% endblock %}
       {% else %}
            <div class="nothing">
                <strong>{% trans 'No subtitles for this language.' %}</strong><br />
                {% trans 'Either no subtitles have been entered, or they were deleted.' %}
            </div>
       {% endif %}
   </div>
   
   <div style="display: none" id="comments-tab" class="tab">
       {% render_comment_form commented_object %}
       {% render_comment_list commented_object %}
       <div style="clear: both"></div>     
   </div>

   <div id="transcripts-tab" class="tab">
        {% if last_version.captions %}
        <ul class="table_body"> 
            {% for item in last_version.captions %}
                <li class="table_transcript {% cycle 'even' '' %}">
                    {{ item.display_time }} - {{ item.display_end_time }} &gt; {{ item.text }}
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p class="no_subs">{% trans 'No subtitles yet.  Make some!' %}</p>
        {% endif %}
       <div style="clear: both"></div>   
   </div>
{% endblock %}

