{% extends "base.html" %}

{% block body_attrs %}id="video"{% endblock %}

{% load escapejs paginator widget comments i18n subtitles_tags teams_tags media_compressor videos_tags moderation %}

{% block css %}
    {% if video.thumbnail %}
    <meta property="og:image" content="{{ video.get_thumbnail }}" />
    {% else %}
    <meta property="og:image" content="http://{{ current_site.domain }}{{ MEDIA_URL }}images/small_logo.png" />
    {% endif %}
    {{ block.super }}
    {% include_bundle "video_history" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_bundle "mirosubs-onsite-compiled" 0 %}
    {% if user_can_moderate %}
       {% include_bundle "js-moderation-dashboard" 0 %}
    {% endif %}

    <script src="{% url videos:rpc_api %}" type="text/javascript"></script>
    {% with write_video_type_js as jsinclude %}{% if jsinclude %}{% write_video_type_js video %}{% endif %}{% endwith %}
    <script src="{{ MEDIA_URL }}js/jquery.tabs.js" type="text/javascript"></script>
    <script type="text/javascript">
        //create url template
        var DIFFING_URL = function() {
            var url = '{% block diffing_link %}{% url videos:diffing 11111 22222 %}{% endblock %}';
            return url.replace(/11111/, '<<first_pk>>').replace(/22222/, '<<second_pk>>');
        }();
        function get_compare_link(first_pk, second_pk) {
            //set values from arguents
            return DIFFING_URL.replace(/<<first_pk>>/, first_pk).replace(/<<second_pk>>/, second_pk);
        }
    
        jQuery(document).ready( function($) {
            $('.version_checkbox:first').attr('checked', 'checked');
    
            $('.version_checkbox').change( function() {
                var $this = $(this);
                var checked_length = $('.version_checkbox:checked').length;
    
                if ($this.attr('checked') && (checked_length > 2)) {
                    $this.attr('checked', '');
                }
            });
            $('.compare_versions_button').click( function() {
                var $checked = $('.version_checkbox:checked');
                if ($checked.length !== 2) {
                    alert('{% trans "Select two revisions for compare, please" %}');
                } else {
                    var url = get_compare_link($checked[0].value, $checked[1].value);
                    window.location.replace(url);
                }
            });
            $('.inline_tabs').tabs();
    
            $('#add_subtitles').click( function() {
                widget_widget_div.selectMenuItem(
                mirosubs.widget.DropDown.Selection.IMPROVE_SUBTITLES);
                return false;
            });
            $('.add-translation-behavior').click( function(e) {
                e.preventDefault();
                widget_widget_div.selectMenuItem(
                mirosubs.widget.DropDown.Selection.ADD_LANGUAGE);
                return false;
            });
            $('.time_link').click( function() {
                widget_widget_div.playAt(parseFloat(
                $(this).find('.data').text()));
                return false;
            });
            var SL_ID = '{{ language.id }}';

            $('.edit-title').click( function() {
                $('#edit-title-dialog .title-input').val($('.title-container').html());
            });
            
            $('#edit-title-dialog .save-title').click(function(){
                var title = $('#edit-title-dialog .title-input').val();
                if (title) {
                    $('.title-container').html(title);
                    VideosApi.change_title_translation(SL_ID, title, function(response){
                        if (response.error) {
                            $.jGrowl.error(response.error);
                        } else {
                            $('.title-container').html(title);
                        }                        
                    });
                    $('#edit-title-dialog').modClose();
                }else{
                    $.jGrowl.error('{% trans "Enter non-empty title" %}');
                }
            });
        });
    </script>
{% endblock %}

{% block title %}
    {% if language.is_original %}
        {% blocktrans with language.get_title_display as title %}
        {{ title }} with subtitles | Universal Subtitles
        {% endblocktrans %}
    {% else %}
        {% blocktrans with language.get_title_display as title and language.get_language_display as language %}
        {{ title }} with {{ language }} subtitles | Universal Subtitles
        {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block main_content %}
    <h2 class="main-title">
        <a href="{{ video.get_absolute_url }}" class="title-container">{{ language.get_title_display }}</a>
        {% if not language.standard_language and not language.is_original and user.is_authenticated %}
        <a class="edit-title" href="#" data-modal="edit-title-dialog" style="color: #3196AD !important; text-decoration: underline;">{% trans 'edit title' %}</a>
        {% endif %}
    </h2>
    
    <div id="edit-title-dialog" style="display: none" class="msg_modal_wrap" >
        <a href="#close" class="close">{% trans "Close" %}</a>
        <h3>
            {% blocktrans with language.language_display|lower as language %}
                You are editing the {{ language }} translation of the video title
            {% endblocktrans %}
        </h3>
        <div class="msg_modal">
            <p>
            {% blocktrans %}
            IMPORTANT: the translated title will be displayed only with the subtitles 
            in the currently selected language. The change will not affect the original 
            video title or any other translations.
            {% endblocktrans %}
            </p>
            <p>
                <input type="text" val="" style="width: 100%" class="title-input">
                <button class="green_button small save-title" style="margin: 0 0 15px 0; float: right">{% trans "Save" %}</button>
            </p>
        </div>
    </div>
        
    <div class="left_column">
        {% widget widget_params %}
    </div>
    <div class="right_column">
        {% include '_sharing_widget.html' %}
    </div>
    <hr />
    
    <!-- Start Transcript -->
    
    <div class="grid_3 left_nav_wrapper alpha">
        {% upload_subtitles video %}
        <a class="green_button small add-translation-behavior" id="add_translation" href="#">{% trans 'Add Translation' %}</a>        
        <ul class="left_nav">
            <li>
                <a href="{{ video.get_absolute_url }}">{% trans 'Video Info' %}</a>
            </li>
            {% include 'videos/_left_navigation.html' %}
        </ul>
        {% if user.is_staff and perms.videos.edit_video %}
            {% feature_video video %}
        {% endif %}
        {% render_approve_all_button video user %}
        {% team_add_video_select %}
        {% render_belongs_to_team_list video %}
    </div>
    <div class="wrap grid_9 omega">
        <div id="languages-tab" class="grid_9 alpha omega">
    
            <ul style="margin-left: 10px" class="inline_tabs">
                <li class="active">
                    <a href="#transcripts-tab">
                        <span class="inline_text"> 
                            {% if language.is_original and not language.language %}
                                {% trans 'Original Language Subtitles' %}
                            {% else %}
                                {{ language.get_language_display }} {% trans 'Subtitles' %}
                            {% endif %}
                        </span>
                    </a>
                </li>
                <li class="bull">
                    &bull;
                </li>
                <li>
                    <a href="#comments-tab">
                    <span class="inline_text">{% trans 'Comments' %}</span>
                    <span class="badgy_out">
                        <span class="badgy">{% get_comment_count language %}</span>
                    </span>
                    </a>
                </li>
                <li class="bull">
                    &bull;
                </li>
                <li>
                    <a href="#revisions-tab">
                    <span class="inline_text">{% trans 'History' %}</span>
                    <span class="badgy_out">
                        <span class="badgy">{{ hits }}</span>
                    </span>
                    </a>
                </li>
            </ul>
            <div id="transcripts-tab">
                <div class="action_buttons grid_9 alpha omega">
                    {% render_approval_toolbar user last_version %}
                    <a id="edit_subtitles_button" href="{{edit_url}}" class="blue_button small {% if not video.is_subtitled  %}add-translation-behavior{% endif %}">{% if not video.is_subtitled %}{% trans 'Add Translation' %}{% else %}{% trans 'Edit Subtitles' %}{% endif %}</a>
                    {% if last_version.subtitles %}
                    <div class="sort_button floatright">
                        <div class='arrow'>
                        </div>
                        <span class="sort_label">
                            <strong>{% trans 'Download Subtitles' %}</strong>
                        </span>
                        <ul>
                            <li>
                                <a href="{% url widget:download_srt %}?video_id={{ video.video_id }}{% if not language.is_original %}&lang_pk={{ language.pk }}{% endif %}">SRT</a>
                            </li>
                            <li>
                                <a href="{% url widget:download_ssa %}?video_id={{ video.video_id }}{% if not language.is_original %}&lang_pk={{ language.pk }}{% endif %}">SSA</a>
                            </li>
                            <li>
                                <a href="{% url widget:download_ttml %}?video_id={{ video.video_id }}{% if not language.is_original %}&lang_pk={{ language.pk }}{% endif %}">TTML</a>
                            </li>
                            <li>
                                <a href="{% url widget:download_txt %}?video_id={{ video.video_id }}{% if not language.is_original %}&lang_pk={{ language.pk }}{% endif %}">TXT</a>
                            </li>
                            <li>
                                <a href="{% url widget:download_sbv %}?video_id={{ video.video_id }}{% if not language.is_original %}&lang_pk={{ language.pk }}{% endif %}">SBV</a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
    
                    {% paste_transcription %}
                    <div class="clear">&nbsp;</div>
                </div>
                <table cellpadding="0" cellspacing="0">
                    {% if last_version.has_subtitles %}
                        {% for item in last_version.ordered_subtitles %}
                        <tr class="even">
                            <td class="last">
                            {% if item.display_time %}
                            <span class="time-span time_link">
                                <span class="data">{{ item.start_time }}</span>
                                <span class="badgy start">
                                    <span class="stamp_text">{{ item.display_time }}</span>
                                </span>
                                {% if item.display_end_time %}
                                <span class="connector"></span>
                                <span class="badgy end">
                                    <span class="stamp_text">{{ item.display_end_time }}</span>
                                </span>
                                {% endif %}
                            </span>
                            {% else %}
                            <span class="time-span">
                                <span class="badgy no-sync">{% trans 'Not Synced' %}</span>
                            </span>
                            {% endif %}
                            <div class="sub_content">
                                {{ item.text|linebreaksbr }}
                            </div>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        {% if revision_list|length > 1 %}
                            <p class="no_subs">
                                {% blocktrans %}
                                The most recent revision for this language is blank, but there are older
                                revisions that contain subtitles.
                                {% endblocktrans %}
                                <a href="#revisions-tab" class="link_to_tab">{% trans 'View revision history' %}</a>
                            </p>
                        {% else %}
                            <p class="no_subs">
                                {% trans 'No subtitles yet.' %}
                                <a href="#" id="add_subtitles">{% trans 'Make some!' %}</a>
                            </p>
                        {% endif %}
                    {% endif %}
                </table>
            </div>
            <div id="comments-tab"  style="display: none" class="grid_9 alpha omega">
                {% render_comment_form language %}
                {% render_comment_list language %}
            </div>
            <div style="display: none;" id="revisions-tab" class="action_buttons grid_9 alpha omega">
                {% if revision_list|length > 1 %}
                    <button class="compare_versions_button green_button small">
                        <span>{% trans 'Compare Revisions' %}</span>
                    </button>
                {% endif %}
                
                {% if revision_list %}
                    {% if is_paginated %}{% paginator '#revisions' %}{% endif %}
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th> {% ordered_column "date" _("Most Recent") #revisions %}</th>
                                <th> {% ordered_column "user" _("User") #revisions %}</th>
                                <th> {% ordered_column "note" _("Note") #revisions %}</th>
                                <th> {% ordered_column "time" _("Time") #revisions %}</th>
                                <th {% if not video.is_moderated %}class="last"{% endif %}> {% ordered_column "text" _("Text") #revisions %}</th>
                                {% if user_can_moderate  %}
                                <th> {% ordered_column "text" _("Action") #revisions %} </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in revision_list %}
        
                            <tr class="revision-history-row moderation-row {% cycle 'even' '' %}" >
                                <td>
                                    <input type="checkbox" class="version_checkbox" value="{{ item.pk }}"/>
                                    <a href="{% url videos:revision pk=item.pk %}">#{{ item.version_no}} {% render_moderation_icon item %}</a> ({{ item.revision_time }})
                                </td>
                                <td>
                                    {% if item.user %}
                                        <a href="{% url profiles:profile item.user.pk %}">{{ item.user }}</a>
                                    {% endif %}
                                </td>
                                <td> {% if item.note %}{{ item.note }}{% else %}&nbsp;{% endif %}</td>
                                <td> {{ item.time_change_display }}</td>
                                <td class="{% if not user_can_moderate %}last{% endif %}"> {{ item.text_change_display }}</td>
                                {% if user_can_moderate %}
                                    <td class="last "> {% render_moderation_togggle_button item %} </td>
                                {% endif  %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div style="clear: both">
                    </div>
                {% else %}
                <div class="nothing">
                    <strong>{% trans 'No subtitles for this language.' %}</strong>
                    <br />
                    {% trans 'Either no subtitles have been entered, or they were deleted.' %}
                </div>
                {% endif %}
            </div>
            <div style="clear: both">
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    <script>
        $(window).load( function() {
            mirosubs.messaging.simplemessage.displayPendingMessages();
            {% if user_can_moderate %}
                {% include 'moderation/moderation-buttons.js' %}
            {% endif %}
            $('#edit_subtitles_button').click( function(e) {
                if (!(localStorage && localStorage.getItem)) {
                    alert("Sorry, you'll need to upgrade your browser to use the subtitling dialog.");
                    e.preventDefault();
                }
            });
       
        });
    </script>
{% endblock %}
