{% extends "base.html" %}

{% load widget media_compressor %}

{% block css %}
  {{ block.super }}
  {% include_bundle "widget-css"%}
  <style>
    div.mirosubs-widget {
        position: relative;    
    }
    .mirosubs-videoDiv {
        text-align: center;
    }
    .mirosubs-videoDiv video, .mirosubs-videoDiv object, .mirosubs-videoDiv embed{
    width: 460px;
    }
    
    #embed{
      white-space: pre;
      background: #eee;
      boder: #666;
    }
  </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_bundle "mirosubs-onsite-compiled" %}
{% endblock %}

{% block main_content %}
    <h2>Last Revision for {% if language %}{{ language.get_language_display }}{% else %}original{% endif %} language</h2>
    
    <div class="left_column">
        <br />
        {% widget widget_params %}
    </div>    

    <div class="right_column">
        {% if translations or language %}
        <p class="other_lang">
            Other Languages:
                {% if language %}
                    <a target="_blank" href="{% url videos:last_revision video.video_id %}">Original</a>{% if translations %}, {% endif %} 
                {% endif %}
                {% for item in translations %}
                    <a target="_blank" href="{% url videos:last_translation_revision video.video_id item.language %}">{{ item.get_language_display }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
         </p>
         {% endif %}
    </div>
        
    <div class="clearboth">&nbsp;</div>
    {% if language %}
        <a href="{% url videos:translation_history video.video_id language.language %}" class="return_history floatright">&lt;&lt; Return to revision history</a>
    {% else %}
        <a href="{% block history_link %}{% url videos:history video_id=video.video_id %}{% endblock %}" class="return_history floatright">&lt;&lt; Return to revision history</a>
    {% endif %}
    
    <ul class="revision_list">
      {% for item in version.captions %}
        <li {% cycle 'class="even"' '' %}>{{ item.display_time }} - {{ item.display_end_time }} &gt; {{ item.text }}</li>
      {% endfor %}
    </ul>
{% endblock %}
