{% extends "base.html" %}

{% load widget %}

{% block css %}
  {{ block.super }}
  <link href="{{ MEDIA_URL }}css/mirosubs-widget.css" media="all" type="text/css" rel="stylesheet" />
  <style>
    div.mirosubs-widget {
        position: relative;    
    }
    .mirosubs-videoDiv {
        text-align: center;
    }
    .mirosubs-videoDiv video, .mirosubs-videoDiv object, .mirosubs-videoDiv embed{
    width: 480px;
    }
    span.data {
      display: none;
    }
    #embed{
      white-space: pre;
      background: #eee;
      boder: #666;
    }
  </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(function($){
            var IS_AUTHENTICATED = '{{ user.is_authenticated }}' == 'True';
            if (IS_AUTHENTICATED){
                $('.roll_back').click(function(){
                    if ( ! confirm('Subtitles will be rolled back to a previous version')){
                        return false;
                    }                    
                });                
            }else{
                $('.roll_back, .new_edit').click(function(){
                    alert('You need to log in to do that.');
                    return false;
                });
            }
            $('.new_edit').click(function() {
                widget_widget_div.selectMenuItem(
                    mirosubs.MainMenu.Selection.EDIT_SUBTITLES);
                return false;
            });
            $('.time_link').click(function() {
                widget_widget_div.playAt(parseFloat(
                    $(this).find('.data').text()));
                return false;
            });
            $('.time_link').click(function() {
                widget_widget_div.playAt(parseFloat(
                    $(this).find('.data').text()));
                return false;
            });          
        });
    </script>
    {% include "widget/_js_onsite_dependencies.html" %}
{% endblock %}

{% block main_content %}
    <h2>Revision #{{ version.version_no }} - {{ version.revision_time }}</h2>
    {{ video }} in
    {% if version.language_display == 'Original' %} 
        {{ version.language_display }} language
    {% else %}
        {{ version.language_display }}
    {% endif %}
    <br/><br/>

    {% block breadcrumb %}
        <ul class="breadcrumb"> 
          <li><a href="{% url videos:history video_id=video.video_id %}">Original Subtitles</a></li>
          <li>Revision #{{ version.version_no }}</li>
        </ul>
    {% endblock %}
        
    {% if next_version %}
        <div class="viewing_old">
            This is an old revision of {% if version.language %}{{ version.language.get_language_display }}
            {% else %}original{% endif %} language subtitles for "{{ video }}", 
            as edited by {{ version.user }} at {{ version.datetime_started|date:"H:i, j F Y" }}. It may
            differ significantly from the current revision.
        </div>
    {% endif %}
    
    {% block navigation %}
        <ul class="pag" style="width: 420px">
            
          {% if prev_version %}
              <li class="previous">
                &#8592; 
                <a href="{% url videos:revision pk=prev_version.pk %}">
                    Compare #{{ version.version_no }} to #{{ prev_version.version_no }}
                </a>
              </li>
          {% endif %}
          
          {% if next_version %}
              <li class="next">
                <a href="{% url videos:revision pk=next_version.pk %}">
                    Compare #{{ version.version_no }} to #{{ next_version.version_no }}
                </a> &#8594;              
              </li>
          {% endif %}
          
          <li class="current">
            <a href="{% url videos:revision pk=latest_version.pk %}">
               Compare #{{ version.version_no }} to #{{ latest_version.version_no }}(current)
            </a>              
          </li>
          
        </ul>
    {% endblock %}
    
    <div class="left_column">
        <br />
        {% widget widget_params %}
    </div>    

    <div class="right_column">
      <br /><br /><br /><br /><br />     
      <a href="#" class="new_edit">
          <span>Submit a new edit based on this version (#{{ version.version_no }})</span>
      </a>
      {% if next_version %}
      <a href="{% block roolback_link %}{% url videos:rollback version.pk %}{% endblock %}" class="roll_back">
          <span>Roll back to version (#{{ version.version_no }})</span>
      </a>
      {% endif %}
    </div>
    <div class="clearboth">&nbsp;</div>
    <a href="{% block history_link %}{% url videos:history video_id=video.video_id %}{% endblock %}#revisions" class="return_history floatright">
        &lt;&lt; See full revision history
    </a>
    
    <ul class="revision_list">
      {% for item in version.captions %}
        <li {% cycle 'class="even"' '' %}>
          {% if item.display_time or item.display_end_time %}
            <span class="time-span time_link">
                <span class="data">{{ item.start_time }}</span>
                <span class="badgy start">
                    {{ item.display_time }}
                </span>
                {% if item.display_end_time %}
                    <span class="connector"></span>
                    <span class="badgy end">{{ item.display_end_time }}</span> 
                {% endif %}
            </span>          
          {% endif %} &gt; {{ item.text|linebreaksbr }}
        </li>
      {% endfor %}
    </ul>
{% endblock %}
