{% extends "base.html" %}
{% block body_attrs %}id="video"{% endblock %}

{% load widget i18n media_compressor moderation %}

{% block css %}
  {{ block.super }}
  <link href="{{ MEDIA_URL }}css/mirosubs-widget.css" media="all" type="text/css" rel="stylesheet" />
  <style>
    div.mirosubs-widget {
        position: relative;    
    }
    .mirosubs-videoDiv {
        text-align: center;
    }
    .mirosubs-videoDiv video, .mirosubs-videoDiv object, .mirosubs-videoDiv embed{
    width: 480px;
    }
    span.data {
      display: none;
    }
    #embed{
      white-space: pre;
      background: #eee;
      boder: #666;
    }
  </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(function($){
            var IS_AUTHENTICATED = '{{ user.is_authenticated }}' == 'True';
            if (IS_AUTHENTICATED){
                $('.roll_back').click(function(){
                    if ( ! confirm('Subtitles will be rolled back to a previous version')){
                        return false;
                    }                    
                });                
            }else{
                $('.roll_back, .new_edit').click(function(){
                    alert('You need to log in to do that.');
                    return false;
                });
            }
            $('.new_edit').click(function() {
                widget_widget_div.selectMenuItem(
                    mirosubs.widget.DropDown.Selection.IMPROVE_SUBTITLES);
                return false;
            });
            $('.time_link').click(function() {
                widget_widget_div.playAt(parseFloat(
                    $(this).find('.data').text()));
                return false;
            });
            $('.time_link').click(function() {
                widget_widget_div.playAt(parseFloat(
                    $(this).find('.data').text()));
                return false;
            });          
        });
    </script>
    {% include_bundle "mirosubs-onsite-compiled" %}

{% endblock %}

{% block main_content %}
    <h2>{{ video }} - {{ language.language_display }} - {% trans 'Revision' %} #{{ version.version_no }} ({{ version.datetime_started|date:"n/j/Y" }})</h2>

    <ul class="breadcrumb">
      <li><a href="{{ video.get_absolute_url }}">{{ video }}</a></li> 
      <li><a href="{{ language.get_absolute_url }}">{{ language.language_display }} {% trans 'Subtitles' %}</a></li>
      <li>
          <a href="{{ language.get_absolute_url }}#revisions">
              {% trans 'Revision History' %}
          </a>
      </li>           
      <li><a class="nohover" href="#">{% trans 'Revision' %} #{{ version.version_no }}</a></li>
    </ul>
        
    {% if next_version %}
        <div class="viewing_old">
            {% blocktrans with language.language_display as lang and version.user as user and version.datetime_started|date:"H:i, j F Y" as date %}
            This is an old revision of {{ lang }}
            language subtitles for "{{ video }}", 
            as edited by {{ user }} at {{ date }}. It may
            differ significantly from the current revision.
            {% endblocktrans %}
        </div>
    {% endif %}
    
        <ul class="pag" style="width: 420px">
            
          {% if prev_version %}
              <li class="previous">
                &#8592; 
                <a href="{{ prev_version.get_absolute_url }}">
                    {% blocktrans with version.version_no as version_no and prev_version.version_no as prev_version_no %}
                    Compare #{{ version_no }} to #{{ prev_version_no }}
                    {% endblocktrans %}
                </a>
              </li>
          {% endif %}
          
          {% if next_version %}
              <li class="next">
                <a href="{{ next_version.get_absolute_url }}">
                    {% blocktrans with version.version_no as version_no and next_version.version_no as next_version_no %}
                    Compare #{{ version_no }} to #{{ next_version_no }}
                    {% endblocktrans %}
                </a> &#8594;              
              </li>
          {% endif %}
          
          {% if next_version or prev_version %}
          <li class="current">
            <a href="{{ latest_version.get_absolute_url }}">
               {% blocktrans with version.version_no as version_no and latest_version.version_no as latest_version_no %}
               Compare #{{ version_no }} to #{{ latest_version_no }}(current)
               {% endblocktrans %}
            </a>              
          </li>
          {% endif %}
        </ul>
    
    <div class="left_column">
        <br />
        {% widget widget_params %}
    </div>    

    <div class="right_column">
      <br /><br /><br /><br /><br />
      {% comment %}
      <a href="#" class="new_edit">
          <span>{% trans 'Submit a new edit based on this version' %} (#{{ version.version_no }})</span>
      </a>
      {% endcomment %}
      {% if next_version %}
      <a href="{% url videos:rollback version.pk %}" class="roll_back">
          <span>{% trans 'Roll back to version' %} (#{{ version.version_no }})</span>
      </a>
      {% endif %}
      {% render_approval_toolbar user version %}
    </div>
    <div class="clearboth">&nbsp;</div>
    <a href="{{ language.get_absolute_url }}#revisions" class="return_history floatright">
        &lt;&lt; {% trans 'See full revision history' %}
    </a>
    
    <ul class="revision_list">
      {% for item in version.ordered_subtitles %}
        <li {% cycle 'class="even"' '' %}>
          {% if item.display_time or item.display_end_time %}
            <span class="time-span time_link">
                <span class="data">{{ item.start_time }}</span>
                <span class="badgy start">
                    <span class="stamp_text">{{ item.display_time }}</span>
                </span>
                {% if item.display_end_time %}
                    <span class="connector"></span>
                    <span class="badgy end"><span class="stamp_text">{{ item.display_end_time }}</span></span> 
                {% endif %}
            </span>          
          {% endif %} {{ item.text|linebreaksbr }}
        </li>
      {% endfor %}
    </ul>
{% endblock %}

{% block bottom_scripts %}
<script>
    $(window).load(function(){
              window.UNISUBS_MOD_REPLACE_HTML_BUTTON = true;
    {% include 'moderation/moderation-buttons.js' %}
  });
</script>
{% endblock %}

