{% extends "base.html" %}

{% load escapejs paginator widget %}

{% block main_content %}
    <h2>Search</h2>
    <form method="get" action="{% url search %}">
        <input type="text" name="q" />
        <input type="submit" value="Search"/>
    </form>
    <div class="left_column">
            <ul class="table_head">
                <li class="table_most_recent">
                    {% ordered_column "title" "URL/title" q=query %}
                </li>
                <li class="table_user">
                    {% ordered_column "language" "Language" q=query %}
                </li>
                <li class="table_user">
                    Does %
                </li>                 
            </ul>
            
            <ul class="table_body">
                {% for item in result_list %}
                <li {%  cycle 'class="even"' '' %}>
                    <ul>
                        <li class="table_most_recent">
                            <a href="{{ item.object.search_page_url }}">
                                {{item.title}}
                            </a>
                        </li>
                        <li class="table_user">
                            {{ item.language }}
                        </li>
                        <li class="table_user">
                            {{ item.object.percent_done|default:'' }}
                        </li>                          
                </li>
                {% endfor %}
            </ul>
            
            <div style="clear: both"></div>
            {% if is_paginated %}{% search_ordered_paginator query 3 %}{% endif %}
    </div>
        
{% endblock %}