{% extends "base.html" %}

{% load escapejs paginator widget i18n %}

{% block main_content %}
    <h2>{% trans 'Search' %}</h2>
    <form method="get" action="{% url search %}">
        <input type="text" name="q" />
        <input type="submit" value="Search"/>
    </form>
    <div class="left_column">
      <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
              <th class="center">
                  {% ordered_column "title" "URL/title" q=query %}
              </th>
              <th width="160" class="center">
                  {% ordered_column "language" "Language" q=query %}
              </th>
              <th class="center">
                  {% trans 'Does' %} %
               </th>
            </tr>
        </thead>
        <tbody>
            {% for item in result_list %}
            <tr {%  cycle 'class="even"' '' %}>
                <td class="table_most_recent">
                    <a href="{{ item.object.get_absolute_url }}">
                        {{ item.title }}
                    </a>
                </td>
                <td class="table_user">
                    {{ item.language }}
                </td>
                <td class="table_user">
                    {{ item.object.percent_done|default:'' }}
                </td>                          
            </tr>
            {% endfor %}            
        </tbody>
      </table>
            
    <div style="clear: both"></div>
    {% if is_paginated %}{% search_ordered_paginator query 3 %}{% endif %}
    </div>
        
{% endblock %}