{% extends "base.html" %}

{% load i18n media_compressor %}

{% block scripts %}
{% include_bundle "widget-css"%}
{% endblock %}

{% block main_content %}

<h2>Widget Testing Form</h2>

<div class="left_column">
    <form action="." method="post" class="div-based-form">
        {% csrf_token %}
        <div>
            {{ form.email.errors }}
            <label for="id_email">{% trans 'Your Email' %}</label>
            {{ form.email }}
        </div>
        <div>
            {{ form.task1.errors }}
            <label for="id_task1">{% trans 'Task 1' %}</label>
            <span>{% trans 'Try creating subtitles on the following' %} <a href="#" class="test-video-link">{% trans 'video' %}</a></span>
            <textarea id="task1_id" name="task1" class="task-input" cols="" rows="">{% trans 'how was it? were the instructions clear? what would improve it?' %}</textarea>
        </div>
        <div>
            {{ form.task2.errors }}
            <label for="id_task2">{% trans 'Task 2' %}</label>
            <span>{% trans 'Try fixing errors on the video (or just get back in and make an edit)' %}</span>
            <textarea id="task2_id" name="task2" class="task-input" cols="" rows="">{% trans 'how was it? were the instructions clear? what would improve it?' %}</textarea>
        </div>
        <div>
            {{ form.task3.errors }}
            <label for="id_task3">{% trans 'Task 3' %}</label>
            <span>{% trans 'Translate the video (fake it if you’re not bilingual!)' %}</span>
            <textarea id="task3_id" name="task3" class="task-input" cols="" rows="">{% trans 'how was it? were the instructions clear? what would improve it?' %}</textarea>
        </div>
        <div class="checkbox">
            {{ form.get_updates.errors }}
            {{ form.get_updates }}
            <label>{% trans 'optional: get updates about Universal Subtitles' %}</label>
        </div>
        <div>
            <button><span>{% trans 'Submit!' %}</span></button>
        </div>
    </form>
</div>
<script type="text/javascript">
    (function($){
        var ogg_url = '{% url test-ogg-page %}';
        var mp4_url = '{% url test-mp4-page %}';
        function supports_video() {
            return !!document.createElement('video').canPlayType;
        }
        $('.test-video-link').attr('href', supports_video() && ogg_url || mp4_url);
        var init_value = '{% trans "how was it? were the instructions clear? what would improve it?" %}';
        $('.task-input').one('click', function(){
            ($(this).val() == init_value) && $(this).val('');
        });
    })(jQuery);
</script>

<div class="right_column">
    <div class="mirosubs-share">
        <img src="{{ MEDIA_URL }}images/blue_triangle.png" class="mirosubs-blueTriangle" />
        <h2>{% trans 'Simple Instructions' %}</h2>
        <p>
            {% trans 'Clicking the links in the tasks will open a new page. 
            Do your best to accomplish the task at hand. 
            Switch back to this tab at any time during the process to give us feedback.' %}
        </p>
        <p>{% trans 'All tasks 2 & 3 are optional (but we recommend trying them all).' %}</p>
        <p>{% trans 'That’s it!' %}</p>
    </div>
</div>
{% endblock %}