{% extends 'videos/diffing.html' %}

{% block first_roolback_link %}{% url videos:translation_rollback first_version.pk %}{% endblock %}

{% block second_roolback_link %}{% url videos:translation_rollback second_version.pk %}{% endblock %}

{% block first_navigation %}
    {% with second_version as version %}
        {% include 'videos/_translation_revision_navigation.html' %}
    {% endwith %}
{% endblock %}

{% block second_navigation %}
    {% with second_version as version %}
        {% include 'videos/_translation_revision_navigation.html' %}
    {% endwith %}
{% endblock %}