{% extends 'videos/revision.html' %}

{% block history_link %}
    {% url videos:translation_history video.video_id version.language.language %}
{% endblock %}

{% block roolback_link %}{% url videos:translation_rollback version.pk %}{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb"> 
      <li>
          <a href="{% url videos:translation_history video.video_id version.language.language %}">
            {{ version.language_display }} Subtitles
          </a>
      </li>
      <li>Revision #{{ version.version_no }}</li>
    </ul>
{% endblock %}

{% block navigation %}
    <ul class="pag" style="width: 420px">
        
      {% if prev_version %}
          <li class="previous">
            {% ifnotequal latest_version prev_version %}
                (<a href="{% url videos:translation_diffing latest_version.pk prev_version.pk %}">diff</a>) 
            {% endifnotequal %}
            &#8592; 
            <a href="{% url videos:translation_revision pk=prev_version.pk %}">
                Version #{{ prev_version.version_no }}
            </a>
          </li>
      {% endif %}
      
      {% if next_version %}
          <li class="next">
            <a href="{% url videos:translation_revision pk=next_version.pk %}">
                Version #{{ next_version.version_no }}
            </a> &#8594;
            {% ifnotequal latest_version next_version %}
                (<a href="{% url videos:translation_diffing latest_version.pk next_version.pk %}">diff</a>) 
            {% endifnotequal %}                
          </li>
      {% endif %}
      
      <li class="current">
        <a href="{% url videos:translation_revision pk=latest_version.pk %}">
            The most recent revision
        </a>
        {% ifnotequal latest_version version %}
            (<a href="{% url videos:translation_diffing latest_version.pk version.pk %}">diff</a>) 
        {% endifnotequal %}               
      </li>
      
    </ul>
{% endblock %}