{% extends "videos/history.html" %}

{% load paginator comments %}

{% block title %}
    {{ video.title_display }} with {{ language.get_language_display }} subtitles | Universal Subtitles
{% endblock %}

{% block diffing_link %}{% url videos:translation_diffing 11111 22222 %}{% endblock %}

{% block lang_display %}
    in {{ language.get_language_display }} Language. 
    Other Languages:
        <a href="{% url videos:history video.video_id %}">Original</a>{% if translations %}, {% endif %}
        {% for item in translations %}
            <a href="{% url videos:translation_history video.video_id item.language %}">{{ item.get_language_display }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}      
{% endblock %}

{% block trascripts_tab %}{{ language.get_language_display }} Subtitles{% endblock %}

{% block upload_subtitles %}
{% endblock %}

{% block donwload_subtitles %}
  {% if last_version.captions %}
        Donwnload <a href="{% url download_srt %}?video_id={{ video.video_id }}&lang_code={{ language.language }}">SRT</a> / 
        <a href="{% url download_ssa %}?video_id={{ video.video_id }}&lang_code={{ language.language }}">SSA</a> /
        <a href="{% url download_ttml %}?video_id={{ video.video_id }}&lang_code={{ language.language }}">TTML</a>      
  {% endif %}
{% endblock %}

{% block table %}
    <ul class="table_head">
      <li class="table_most_recent">{% ordered_column "date" "Most Recent" %}</li>
      <li class="table_user">{% ordered_column "user" "User" %}</li>
      <li class="table_note">{% ordered_column "note" "Note" %}</li>
      <li class="table_time">{% ordered_column "time" "Time" %}</li>
    </ul>
    
    <ul class="table_body"> 
    {% for item in revision_list %}
          <li>
            <ul>
              <li class="table_most_recent"><input type="checkbox" class="version_checkbox" value="{{ item.pk }}"/>
                <a href="{% url videos:translation_revision pk=item.pk %}">#{{ item.version_no}}</a> ({{ item.revision_time }})
              </li>
              <li class="table_user">
                  <a href="{% url profiles:profile item.user.pk %}">{{ item.user }}</a>
              </li>
              <li class="table_note">{% if item.note %}{{ item.note }}{% else %}&nbsp;{% endif %}</li>
              <li class="table_time">{{ item.time_change_display }}</li>
            </ul>
          </li>    
    {% endfor %}
    </ul> 
{% endblock %}