{% extends "base.html" %}

{% block body_attrs %}id="video"{% endblock %}

{% load escapejs paginator widget comments i18n subtitles_tags teams_tags %}


{% block main_content %}

<h1>{{video.title_display}}</h1>
<b>view_count:</b> {{video.view_count}}<br/>
<b>writelock_owner_id:</b> {{video.writelock_owner_id}}<br/>
<b>writelock_session_key:</b> {{video.writelock_session_key}}<br/>
<b>video_id:</b> {{video.video_id}}<br/>
<b>writelock_time:</b> {{video.writelock_time}}<br/>
<b>allow_community_edits:</b> {{video.allow_community_edits}}<br/>
<b>id:</b> {{video.id}}<br/>
<b>subtitles_fetched_count:</b> {{video.subtitles_fetched_count}}<br/>
<b>widget_views_count:</b> {{video.widget_views_count}}<br/>
<b>title:</b> {{video.title}}<br/>
<b>is_subtitled:</b> {{video.is_subtitled}}<br/>
<b>was_subtitled:</b> {{video.was_subtitled}}<br/>
<b>duration:</b> {{video.duration}}<br/>
<b>thumbnail:</b> {{video.thumbnail}}<br/>
<b>allow_video_urls_edit:</b> {{video.allow_video_urls_edit}}<br/>
<b>created:</b> {{video.created}}<br/>
<b>description:</b> {{video.description}}<br/>
<b>edited:</b> {{video.edited}}<br/>
<b>user_id:</b> {{video.user_id}}<br/>
<b>s3_thumbnail:</b> {{video.s3_thumbnail}}<br/>
<b>languages_count:</b> {{video.languages_count}}<br/>
<b>complete_date:</b> {{video.complete_date}}<br/>
<b>urls:</b> {{video.videourl_set.all}}<br/>
<b> in Teams: </b>{% for t in video.team_set.all %}<a href="{{t.get_absolute_url}}">{{t}}</a> , {% endfor %}<br/>

<h2>Languages</h2>
<table>
  <tr>
    <th>Language</th>
    <th>Is Original</th>
    <th>Is Forked</th>
    <th>Is complete</th>
    <th>Percent done</th>
    <th>Num Subs</th>
    <th>translated from</ht>
  </tr>
  {% for x in video.subtitlelanguage_set.all %}
  <tr>
    <td>{{x.language}}</td>
    <td>{{x.is_original}}</td>
    <td>{{x.is_forked}}</td>
    <td>{{x.is_complete}}</td>
    <td>{{x.percent_done}}</td>
    <td>{{x.subtitle_count}}</td>
    <td>{{x.standard_language}}</td>
  </tr>
  {% endfor %}
</table>

<h3>Cache</h3>
{% for k,v in cache.items %}
<b>{{k}}</b>: <pre>{{v|pprint}}</pre><br/>
{% endfor %}
{% endblock %}

