{% extends "base.html" %}

{% block body_attrs %}id="video_profile"{% endblock %}

{% load escapejs widget comments recent_activity paginator i18n subtitles_tags teams_tags videos_tags media_compressor moderation %}

{% block css %}
    {% if video.thumbnail %}
    <meta property="og:image" content="{{ video.get_thumbnail }}" />
    {% else %}
    <meta property="og:image" content="http://{{ current_site.domain }}{{ MEDIA_URL }}images/small_logo.png" />
    {% endif %}
    
    {{ block.super }}
    {% include_bundle "video_history" %}
    
    <link href="{{ MEDIA_URL }}css/mirosubs-widget.css" media="all" type="text/css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_bundle "mirosubs-onsite-compiled" %}
    <script src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/jquery.tabs.js" type="text/javascript"></script>
    <script src="{% url videos:rpc_api %}" type="text/javascript"></script>
    {% with write_video_type_js as jsinclude %}{% if jsinclude %}{% write_video_type_js video %}{% endif %}{% endwith %}
    
    <script type="text/javascript">
        jQuery(document).ready( function($) {
            $('.inline_tabs').tabs();
    
            $('#add_subtitles').click( function() {
                widget_widget_div.selectMenuItem(
                mirosubs.widget.DropDown.Selection.IMPROVE_SUBTITLES);
                return false;
            });
            $('.add-translation-behavior').click( function() {
                widget_widget_div.selectMenuItem(
                mirosubs.widget.DropDown.Selection.ADD_LANGUAGE);
                return false;
            });
            var VIDEO_ID = '{{ video.pk }}';
    
            $('.edit-title').click( function() {
                $('#edit-title-dialog .title-input').val($('.title-container').html());
            });
            
            $('#edit-title-dialog .save-title').click(function(){
                var title = $('#edit-title-dialog .title-input').val();
                if (title) {
                    $('.title-container').html(title);
                    VideosApi.change_title_video(VIDEO_ID, title, function(response){
                        if (response.error) {
                            $.jGrowl.error(response.error);
                        } else {
                            $('.title-container').html(title);
                        }                        
                    });
                    $('#edit-title-dialog').modClose();
                }else{
                    $.jGrowl.error('{% trans "Enter non-empty title" %}');
                }
            });
        });
    </script>
{% endblock %}

{% block title %}
    {{ video.title_display }} | Universal Subtitles
{% endblock %}

{% block main_content %}
    <h2 class="main-title">
        <span class="title-container" style="float: none;">{{ video }}</span>
        {% if user.is_authenticated %}
            {% if not video.title or video.is_html5 or user.is_superuser %}
            <a class="edit-title" href="#" data-modal="edit-title-dialog">{% trans 'edit title' %}</a>
            {% endif %}
        {% endif %}
    </h2>
    {% if saved %}
    <div id="messages">
        <h2>{% blocktrans %}Subtitles saved!  You can share the video with friends,
        or get an embed code for your site.  To add a
        translation, click the button below.{% endblocktrans %}</h2>
        <a href="#" id="closeBut">{% trans "Close" %}</a>
    </div>
    {% endif %}

    <div id="edit-title-dialog" style="display: none" class="msg_modal_wrap" >
        <a href="#close" class="close">{% trans "Close" %}</a>
        <h3>{% trans 'You are editing the original video title (translations will not be affected)' %}</h3>
        <div class="msg_modal">
            <p>
            {% blocktrans %}
            IMPORTANT: the new title will appear in the lists of videos and in 
            the original subtitle set. Any existing translations will not be affected. 
            Please update each translation separately, if necessary.
            {% endblocktrans %}
            </p>
            <p>
                <input type="text" val="" style="width: 100%" class="title-input">
                <button class="green_button small save-title" style="margin: 0 0 15px 0; float: right">{% trans "Save" %}</button>
            </p>
        </div>
    </div>
        
    <div class="grid_6 alpha left_column">
        {% widget widget_params %}
    </div>
    <div class="grid_6 omega right_column">
        {% include '_sharing_widget.html' %}
    </div>
    <hr />
    
    <div class="grid_3 left_nav_wrapper alpha">
        <ul class="left_nav">
            <li class="active">
                <a href="{{ video.get_absolute_url }}">{% trans 'Video Info' %}</a>
            </li>
            {% include 'videos/_left_navigation.html' %}
        </ul>
        {% if not video.subtitle_language %}
            <a href="#" id="add_subtitles" class="green_button small"> {% trans 'Add Subtitles' %}</a><br /><br />
        {% else %}
            <a class="green_button small add-translation-behavior" id="add_translation "   href="#">{% trans 'Add Translation' %}</a>
        {% endif %}

       {% render_approve_all_button video user %}    
        <br /><br />
        {% upload_subtitles video %}
        <br /><br />
        {% paste_transcription %}
    
        {% if user.is_staff and perms.videos.edit_video %}
            <a href="{% url videos:video_debug video.video_id %}"  class="green_button small" target="blank"> View debug info </a>
            <br /><br />
            <a href="{% url admin:videos_video_change video.pk %}"  class="green_button small" target="blank"> {% trans 'Edit in Admin Interface' %}</a>
            {% feature_video video %}
        {% endif %}
    
        {% team_add_video_select %}
        {% render_belongs_to_team_list video %}
    </div>
    <div class="wrap grid_9 omega">
        <h4 class="inline">{% trans 'Video Info' %}</h4>
        <ul class="inline_tabs">
            <li>
                <a href="#comments-tab">
                <span class="inline_text">{% trans 'Comments' %}</span>
                <span class="badgy_out">
                    <span class="badgy">{% get_comment_count video %}</span>
                </span>
                </a>
            </li>
            <li class="bull">&bull;</li>
            <li class="active">
                <a href="#activity-tab">
                <span class="inline_text">{% trans 'Activity Stream' %}</span>
                </a>
            </li>
            <li class="bull">&bull;</li>
            <li>
                <a href="#urls-tab">
                <span class="inline_text">{% trans 'Video URLs' %}</span>
                <span class="badgy_out">
                    <span class="badgy">{% video_url_count video %}</span>
                </span>
                </a>
            </li>
        </ul>
        <div id="comments-tab" style="display: none">
            <div class="grid_9 alpha omega">
                {% render_comment_form video %}
                {% render_comment_list video %}
                <div style="clear: both">
                </div>
            </div>
        </div>
        <div id="activity-tab">
            <div class="grid_9 alpha omega">
                {% video_activity video %}
                <a href="{% url videos:actions_list video.video_id %}" style="margin: 10px">{% trans 'all activity' %}</a>
            </div>
        </div>
        <div id="urls-tab" style="display: none">
            {% video_url_panel %}
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    <script>
        $(window).load( function() {
            mirosubs.messaging.simplemessage.displayPendingMessages();
        });
    </script>
{% endblock %}
