{% extends "base.html" %}
{% load escapejs %}
{% block css %}
  {{ block.super }}
  <link href="{{ MEDIA_URL }}css/mirosubs-widget.css" media="all" type="text/css" rel="stylesheet" />
  <style>
div.mirosubs-widget {
    position: relative;    
}
.mirosubs-videoDiv {
    text-align: center;
}
#embed{
  white-space: pre;
  background: #eee;
  boder: #666;
}
  </style>
{% endblock %}
{% block scripts %}
{% if not js_use_compiled %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-library/closure/goog/base.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-dependencies.js"></script>
{% endif %}
{% for dep in js_dependencies %}
  <script type="text/javascript" src="{{dep|safe}}"></script>
{% endfor %}
{% endblock %}
{% block main_content %}
<p>{{ video.video_url }}</p>

{% with video.video_url as video_url %}
  {% include "widget/widget.html" %}
<script type="text/javascript">
mirosubs.EmbeddableWidget.wrap({% include "widget/embed_params.js" %});
</script>

  <p>Enable collaborative subtitling on your site by copying and pasting this code:</p>
  <div id="embed">
    <code>
      &lt;script type="text/javascript"
          src="http://{{ site.domain }}{% url widget.views.embed %}?video_id={{ video.video_id }}"&gt;
      &lt;/script&gt;
    </code>
  </div>
{% endwith %}
{% endblock %}
