{% extends "videos/volunteer_featured.html" %}

{% load i18n %}

{% block pagination_script %}

<script type="text/javascript">
    jQuery(function($){
        $('.ajax-pagination').ajaxPaginator({
            container: $('.watch-page-content'),
            onPageChange: function(page, callback){
                VideosApi.load_latest_page_volunteer(page, function(data){
                    callback.call(this, data);
                }, this);
            },
        });
    });
</script>
{% endblock %}

{% block content_title %}{% trans "Latest Videos" %}{% endblock %}
