{% extends "videos/featured_videos.html" %}

{% load i18n search_tags %}

{% block heading %}<a href="{% url videos:volunteer_page %}">{% trans "Contribute Subtitles" %}</a>{% endblock %}

{% block pagination_script %}
<script type="text/javascript">
    jQuery(function($){
        $('.ajax-pagination').ajaxPaginator({
            container: $('.watch-page-content'),
            onPageChange: function(page, callback){
                VideosApi.load_featured_page_volunteer(page, function(data){
                    callback.call(this, data);
                }, this);
            },
        });
    });
</script>
{% endblock %}

