{% extends "base.html" %}

{% load i18n search_tags %}

{% block body_attrs %}id="watch"{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% url videos:rpc_api %}" type="text/javascript"></script>  
    <script src="{{ MEDIA_URL }}js/jquery.address-1.4.fixed.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/jquery.ajax-paginator.js" type="text/javascript"></script>
{% endblock %}

{% block main_content %}

{% search_form %}

<h1>{% trans "Contribute Subtitles" %}</h1>

<div class="pod" id="featured_videos">
    <div class="hd">
        <a class="btn_more_videos" href="{% url videos:volunteer_category "featured" %}">
            {% trans "More Featured Videos" %}
        </a>
        <h2>{% trans "Featured Videos" %}</h2>
    </div><!-- // hd -->
    <div class="bd">
        {% with featured_videos as video_list %}
            {% include 'videos/_watch_page.html' %}
        {% endwith %}
    </div><!-- // bd -->
</div><!-- // pod -->
<br/>

<div class="pod" id="requested_videos">
    <div class="hd">
        <a class="btn_more_videos" href="{% url videos:volunteer_category "requested" %}">
            {% trans "More Requested Videos" %}
        </a>
        <h2>{% trans "Requested Videos" %}</h2>
    </div><!-- // hd -->
    <div class="bd">
        <div class="watch-page-content">
            {% with requested_videos as video_list %}
                {% include 'videos/_watch_page.html' %}
            {% endwith %}    
        </div>
    </div><!-- // bd -->
</div><!-- // pod -->
<br/>


<div class="pod" id="popular_videos">
    <div class="hd clearfix">
        <a class="btn_more_videos" href="{% url videos:volunteer_category "popular" %}">
            {% trans "More Popular Videos" %}
        </a>
        
        <h2>{% trans "Popular Videos" %}</h2>
        <a id="popular_sort" href="#">
            <span class="current-sort">{% trans "This Week" %}</span>
            <div id="sort_menu">
                <ul>
                    <li val="today">{% trans "Today" %}</li>
                    <li val="week" style="display: none">{% trans "This Week" %}</li>
                    <li val="month">{% trans "This Month" %}</li>
                    <li val="year">{% trans "This Year" %}</li>
                    <li val="total">{% trans "All Time" %}</li>
                </ul>
            </div><!-- // sort_menu -->
            
        </a>
        <script type="text/javascript">
            jQuery(function($){
                var $current_sort = $('#popular_sort .current-sort');
                var $sort_menu = $('#sort_menu');
                var $container = $('.popular-videos-content');

                $('#popular_sort').click(function(){
                    return false;
                });
                
                $('li', $sort_menu).click(function(){
                    var $this = $(this);
                    
                    $('li', $sort_menu).show();
                    $this.hide();
                    $current_sort.html($this.html());
                    $container.css('opacity', '0.4');
                    VideosApi.load_popular_videos_volunteer($this.attr('val'), function(data){
                        $container.html(data.content);
                        $container.css('opacity', '');
                    });
                    return false;
                });
            });
        </script>                        
    </div><!-- // hd -->
    <div class="bd">
        <div class="popular-videos-content">
            {% with popular_videos as video_list %}
                {% include 'videos/_watch_page.html' %}
            {% endwith %}
        </div>
    </div><!-- // bd -->
</div><!-- // pod -->
<br/>

<div class="pod" id="latest_videos">
    <div class="hd">
        <a class="btn_more_videos" href="{% url videos:volunteer_category "latest" %}">
            {% trans "More Recent Videos" %}
        </a>
        <h2>{% trans "Latest Videos" %}</h2>
    </div><!-- // hd -->
    <div class="bd">
        <div class="watch-page-content">
            {% with latest_videos as video_list %}
                {% include 'videos/_watch_page.html' %}
            {% endwith %}    
        </div>
    </div><!-- // bd -->
</div><!-- // pod -->

{% endblock %}
