{% extends "videos/popular_videos.html" %}

{% load i18n search_tags %}

{% block heading %}<a href="{% url videos:volunteer_page %}">{% trans "Contribute Subtitles" %}</a>{% endblock %}

{% block pagination_script %}
     $('.ajax-pagination').ajaxPaginator({
            container: $('.watch-page-content'),
            onPageChange: function(page, callback){
                VideosApi.load_popular_page_volunteer(page, $current_sort.attr('val'), function(data){
                    callback.call(this, data);
                }, this);
            },
        });
{% endblock %}
