{% extends 'base.html' %}

{% load i18n %}

{% block css %}
    {{ block.super }}
    <style>
        thead tr th span {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($){
            $(".st-table-1").tablesorter();            
        });
    </script>
{% endblock %}    

{% block main_content %}
<div>
    <a href="{% url statistic:users_statistic %}">{% trans 'Users statistic' %}</a>
</div>

<table>
    <tr>
        <td>total videos count</td>
        <td>{{ all_videos }}</td>
    </tr>
    <tr>
        <td>total number of videos captioned</td>
        <td>{{ videos_with_captions }}</td>
    </tr>        
    <tr>
        <td>total views of subtitles across all videos</td>
        <td>{{ subtitles_fetched_count }}</td>
    </tr>
    <tr>
        <td>total number of translations created</td>
        <td>{{ translations_count }}</td>    
    </tr>
    <tr>
        <td>total views count</td>
        <td>{{ view_count }}</td>
    </tr>    
    <tr>
        <td>total users count</td>
        <td>{{ all_users }}</td>
    </tr>
    <tr>
        <td>total comments count</td>
        <td>{{ all_comments }}</td>
    </tr>
    <tr>
        <td>finished translations</td>
        <td>{{ fineshed_translations }}</td>
    </tr>
    <tr>
        <td>unfinished translations</td>
        <td>{{ unfineshed_translations }}</td>
    </tr>        
</table>
<br/>
<table cellpadding="0" cellspacing="0" class="st-table-1">
    <thead>
        <tr>
            <th><span> {% trans 'stats for' %} </span></th>
            <th><span> {% trans 'day' %} </span></th>
            <th><span> {% trans 'week' %} </span></th>
            <th><span> {% trans 'month' %} </span></th>
            <th><span> {% trans 'TOTAL' %} </span></th>
        </tr>
    </thead>
    
    <tbody>
        <tr> 
            <td> {% trans 'Total number of videos captioned' %} </td> 
            <td> {{ videos_st.day }} </td>
            <td> {{ videos_st.week }} </td>
            <td> {{ videos_st.month }} </td>
            <td> {{ videos_st.total }} </td>
        </tr>
        <tr> 
            <td> {% trans 'Tweets' %} </td> 
            <td> {{ tweet_st.day }} </td>
            <td> {{ tweet_st.week }} </td>
            <td> {{ tweet_st.month }} </td>
            <td> {{ tweet_st.total }} </td>
        </tr>
        <tr> 
            <td> {% trans 'Facebook shares' %} </td> 
            <td> {{ fb_st.day }} </td>
            <td> {{ fb_st.week }} </td>
            <td> {{ fb_st.month }} </td>
            <td> {{ fb_st.total }} </td>
        </tr>
        <tr> 
            <td> {% trans 'Email shares' %} </td> 
            <td> {{ email_st.day }} </td>
            <td> {{ email_st.week }} </td>
            <td> {{ email_st.month }} </td>
            <td> {{ email_st.total }} </td>
        </tr>                        
    </tbody>
</table>
{% endblock %}
