{% extends 'base.html' %}

{% load i18n %}

{% block css %}
    {{ block.super }}
    <style>
        thead tr th span {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($){
            $(".st-table-1").tablesorter();            
        });
    </script>
{% endblock %}

{% block main_content %}
<h3>{% trans 'Language statistic for ' %} "{{ lang_name }}"</h3>
<a href="{% url statistic:index %}">{% trans 'General statistic' %}</a>

<table cellpadding="0" cellspacing="0" class="st-table-1">
    <thead>
        <tr>
            <th><span> {% trans 'stats for' %} </span></th>
            <th><span> {% trans 'day' %} </span></th>
            <th><span> {% trans 'week' %} </span></th>
            <th><span> {% trans 'month' %} </span></th>
            <th><span> {% trans 'TOTAL' %} </span></th>
        </tr>
    </thead>
    
    <tbody>
        <tr> 
            <td>{% trans 'Videos count' %}</td> 
            <td> {{ video_count.day }} </td>
            <td> {{ video_count.week }} </td>
            <td> {{ video_count.month }} </td>
            <td> {{ video_count.total }} </td>
        </tr>
        <tr> 
            <td>{% trans 'Subtitles views count' %}</td> 
            <td> {{ subtitles_view_count.day }} </td>
            <td> {{ subtitles_view_count.week }} </td>
            <td> {{ subtitles_view_count.month }} </td>
            <td> {{ subtitles_view_count.total }} </td>
        </tr>
        <tr>
            <td>{% trans 'Videos views count' %}</td>
            <td></td>
            <td></td>
            <td></td>
            <td> {{ videos_views_count }} </td>
        </tr>                  
    </tbody>
</table>

{% endblock %}
