{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n paginator %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="../../">
    {% trans "Home" %}
  </a>
   &rsaquo; 
   <a href="../">
     {{ app_label|capfirst }}
  </a>
  &rsaquo; 
  {{ title }}
</div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="module filtered" id="changelist">
            <table cellspacing="0" id="result_list">
                <thead>
                    <tr>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Count" %}</th>
                        <th>{% trans "Time(sec)" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ obj.date|date:"DATETIME_FORMAT" }}</td>
                        <td>{{ obj.num }}</td>
                        <td>{{ obj.time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p class="paginator">
            {% paginator %}
        </p>
    </div>
{% endblock %}
