{% extends 'base.html' %}

{% load i18n paginator %}

{% block main_content %}
<h3>{% trans 'Videos statistic' %}</h3>
<a href="{% url statistic:index %}">{% trans 'General statistic' %}</a>
{% if is_paginated %}{% paginator %}{% endif %} 
<table cellpadding="0" cellspacing="0" class="st-table-1">
    <thead>
        <tr>
            <th> {% ordered_column "title" _("Video") %} </th>
            <th> {% ordered_column "day_activity" _("Day") %} </th>
            <th> {% ordered_column "week_activity" _("Week") %} </th>
            <th> {% ordered_column "month_activity" _("Month") %} </th>
            <th> {% ordered_column "subtitles_fetched_count" _("TOTAL") %} </th>
        </tr>
    </thead>
    
    <tbody>
        {% for v in video_list %}
        <tr> 
            <td><a href="{{ v.get_absolute_url }}">{{ v }}</a></td> 
            <td> {{ v.day_activity|default:0 }} </td>
            <td> {{ v.week_activity|default:0 }} </td>
            <td> {{ v.month_activity|default:0 }} </td>
            <td> {{ v.subtitles_fetched_count }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if is_paginated %}{% paginator %}{% endif %} 
{% endblock %}
