<html> 
    <head> 
      <script type="text/javascript">
        function onYouTubePlayerReady(apiID) {
            if (apiID == "undefined" || !apiID)
                apiID = "";
            window.unisubs_readyAPIIDs = window.unisubs_readyAPIIDs || [];
            window.unisubs_readyAPIIDs.push(apiID);
        }
      </script>
    </head> 
    <body>
      <object id="idOVideo" name="idOVideo" width="800" height="480" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"> 
        <param name="movie" value="http://www.youtube.com/v/f15zA0PhSek&hl=en_US&fs=1&rel=0&hd=1&border=0&enablejsapi=1"> 
        <param name="allowFullScreen" value="true"> 
        <param name="allowScriptAccess" value="always"> 
        <param name="wmode" value="opaque"> 
        <embed id="idPlayer" name="idPlayer" wmode="opaque" src="http://www.youtube.com/v/f15zA0PhSek&hl=en_US&fs=1&rel=0&hd=1&border=0&enablejsapi=1" type="application/x-shockwave-flash" allowScriptAccess="always" allowfullscreen="true" width="800" height="480"> 
      </object>
      {% if not js_use_compiled %}
      <div>
        This page only works with compiled js. If running for dev, even just use compilelite.
      </div>
      {% else %}
      <script type="text/javascript">
        var us = document.createElement('script'); 
        us.type = 'text/javascript'; 
        us.async = true;
        us.src = '{{MEDIA_URL}}js/mirosubs-widgetizer.js';
        var s = document.getElementsByTagName('script')[0]; 
        s.parentNode.insertBefore(us, s);
      </script>
      {% endif %}
    </body>
</html>
