{% load webdesign widget media_compressor %}
<!doctype html>
<html lang="en">
<head><script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
	<title>Boing Boing TV - Boing Boing</title>
  <script type="text/javascript">
    window.usStartTime = (new Date()).getTime();
    window.MEDIA_URL = '{{MEDIA_URL}}';
  </script>	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="http://tv.boingboing.net/stylesheet112010.css?r=4" type="text/css">
	<link rel="alternate" type="application/atom+xml" title="Atom" href="http://feeds.boingboing.net/boingboing/iBag">
	<link rel="start" href="boingboing_regular.html" title="Home">
	<script type="text/javascript" src="http://tv.boingboing.net/mt.js"></script>
	<script type="text/javascript" src="http://tv.boingboing.net/bb.js"></script>
	<script type="text/javascript">federated_media_section = "BBHomepage";</script>
	<script type="text/javascript" src="http://m.boingboing.net/mobify/redirect.js"></script><script type="text/javascript">try{_mobify("http://m.boingboing.net/");} catch(err) {};</script>
	
	
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/widgetizer/widgetizerprimer.js"></script>
    
{% ifequal type "widgetizerasync" %}
    <script type="text/javascript">
      function onYouTubePlayerReady(apiID) {
        if (apiID == "undefined" || !apiID)
          apiID = "";
        window.unisubs_readyAPIIDs = window.unisubs_readyAPIIDs || [];
        window.unisubs_readyAPIIDs.push(apiID);
      }
    </script>
{% endifequal %}

{% ifequal type "widgetizer" %}
{% include "pagedemo/_widgetizer.html" %}
{% endifequal %}

{% ifequal type "embed" %}
    {% include_bundle "mirosubs-onsite-compiled" %}
{% endifequal %}
</head>


<body id="mt-blog">

<div id="top"><a name="p0"></a></div>
<div id="container">
<div id="content">
<div id="header">

	<div style="position:absolute;top:15px;text-align:center;width:970px">
		<a href="boingboing_regular.html"><img src="http://tv.boingboing.net/style/fancylogo.png" style=""></a>
		<p style="margin-top:-20px;"> 
		<a href="http://tv.boingboing.net/news" style="color:#aaa">News</a> &bull; 
		<a href="http://tv.boingboing.net/tech" style="color:#F00">Tech</a> &bull; 
		<a href="http://tv.boingboing.net/gadgets" style="color:#0f0">Gadgets</a> &bull; 
		<a href="http://tv.boingboing.net/art" style="color:#99f">Art</a> &bull; 
		<a href="http://tv.boingboing.net/music" style="color:#f0f">Music</a> &bull; 
		<a href="http://tv.boingboing.net/science" style="color:#0ff">Science</a> &bull; 
		<a href="http://tv.boingboing.net/world" style="color:#f90">International</a> &bull; 
		<a href="http://tv.boingboing.net/weird" style="color:#09f">Weird</a> &bull; 
		<a href="http://boingboing.net/about.html" style="color:#f88">Contact Us</a> 
	</div>

</div>



<p id="loadTime" class="headline">

{% for video in videos %}

<p class="headline"><a href="#" rel="bookmark"> {{video.title_display}}
<p class="byline">
<a class="names" href="#">Xeni Jardin</a> at 12:16 PM Wed&nbsp;<span style="float:right;"></span>


<div style="width:960px;height:571px;margin-bottom:10px;background-color:silver;"> 
{% ifequal type "embed" %}
<script type="text/javascript" src="{{embed_js_url}}">(

    {"base_state": {}, "video_url": "{{video.url}}"}
)</script>
{% else %}
    <object width="960px" height="571px"><param name="movie" value="{{video.url}}?fs=1&amp;hl=en_US&enablejsapi=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="transparent"></param><embed src="{{video.url}}?enablejsapi=1&fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="100%" height="100%" wmode="transparent"></embed></object> 

{% endifequal %}
</div>
<img alt="ip4xenith.jpg" src="http://www.boingboing.net/2010/06/23/ip4xenith.jpg" width="300" height="250" class="mt-image-left" style="float: left; margin: 0 20px 20px 0;" />
{% lorem 100 w random %}


<div class="social_frontdoor">
	<a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.boingboing.net%2F2010%2F06%2F23%2Fiphone-4-how-does-it.html" target='_blank'><img src="http://www.boingboing.net//images/fbshare.png"></a>	
	<a href="http://twitter.com/share" class="twitter-share-bu<tton" data-count="none" data-via="boingboing" data-text="iPhone 4: How does it perform for video recording?" data-url="http://www.boingboing.net/2010/06/23/iphone-4-how-does-it.html"><img src="http://www.boingboing.net//images/tshare.png"></a>
	<a onclick="window.open(this.href, this.title, 'width=500,height=600,resizable=yes,toolbar=yes,statusbar=yes,scrollbars=no'); return false;" title="Send this to a Friend" href="http://dynamic.boingboing.net/cgi-bin/mt/plugins/EmailEntry/mt-emailentry.cgi?__mode=email_form&entry_id=74180" class="brown"><img src="http://boingboing.net/images/emailshare.png" border="0"></a> &nbsp; <a class="commentcount" href="http://www.boingboing.net/2010/06/23/iphone-4-how-does-it.html#comments" class="commentcount" title="53 Comments">Comments: 53</a>
</div>

{% endfor %}
		
		
	<div class="post">
	<p class="headline"><a href="http://tv.boingboing.net/page2.html">Next 30 posts</a>
	</div>
	
</div>





</div>


  
<div id="end" style="">

	<div class="endcol">
	
		<h2>About</h2>
		<p><a href="http://boingboing.net/about.html">About Boing Boing</a>
		<p><a href="http://boingboing.net/about.html">Contact Us</a>
		<p><a href="javascript:location='mailto:\u0064\u0061\u0076\u0069\u0064\u0040\u0070\u0065\u0073\u0063\u006f\u002e\u006e\u0065\u0074';void 0">Press Inquiries</a>
		<p><a href="http://www.boingboing.net/policies.html">Policies</a>
		<p><a href="http://www.boingboing.net/2009/10/01/commenting.html">Commenting Policy</a>
		
		<h2>Archives</h2>
		<p><a href="http://www.boingboing.net/author/mark-frauenfelder-1/">Mark Frauenfelder</a>
		<p><a href="http://www.boingboing.net/author/cory-doctorow-1/">Cory Doctorow</a>
		<p><a href="http://www.boingboing.net/author/david-pescovitz/">David Pescovitz</a>
		<p><a href="http://www.boingboing.net/author/xeni-jardin/">Xeni Jardin</a>
		<p><a href="http://www.boingboing.net/author/rob-beschizza-1/">Rob Beschizza</a>
		<p><a href="http://www.boingboing.net/author/maggie-koerth-baker/">Maggie Koerth-Baker</a>
		<p><a href="http://www.boingboing.net/author/dean-putney-1/">Dean Putney</a>
		<p><a href="http://www.boingboing.net/archive.html">More</a>
		
	</div>
	
	<div class="endcol">
	
		<h2>Categories</h2>
		<p><a href="http://boingboing.net/technology/">Technology</a>
		<p><a href="http://boingboing.net/gadgets/">Gadgets</a>
		<p><a href="http://boingboing.net/culture/">Culture</a>
		<p><a href="http://boingboing.net/games/">Games</a>
		<p><a href="http://boingboing.net/entertainment/">Entertainment</a>
		<p><a href="http://boingboing.net/science/">Science</a>
		<p><a href="http://boingboing.net/business/">Business</a>
		<p><a href="http://www.boingboing.net/art-and-design/">Art and Design</a>
		<p><a href="http://boingboing.net/video/">Video</a>
		<p><a href="http://boingboing.net/steampunk/">Steampunk</a>
		<p><a href="http://boingboing.net/weird/">Weird</a>
		<p><a href="http://www.boingboing.net/archive.html">More</a>
	
	</div>
	
	
	<div class="endcol">
	
		<h2>Twitter</h2>
		<p><a href="http://twitter.com/boingboing">BoingBoing</a>
		<p><a href="http://twitter.com/frauenfelder">Mark</a>
		<p><a href="http://twitter.com/doctorow">Cory</a>
		<p><a href="http://twitter.com/pescovitz">David</a>
		<p><a href="http://twitter.com/xenijardin">Xeni</a>
		<p><a href="http://twitter.com/beschizza">Rob</a>
		<p><a href="http://twitter.com/maggiekb1">Maggie</a>
		<p><a href="http://twitter.com/jlw">Jason</a>
		<p><a href="http://twitter.com/mustardhamsters">Dean</a>
		
		<h2>Facebook</h2>
		<p><a href="http://www.facebook.com/pages/Boing-Boing/27479046178">BoingBoing</a>
	
	</div>
	
	
	<div class="endcol" style="border-right:none;">
		
		<h2>More BB</h2>
		<p><a href="boingboing_regular.html">Boing Boing Video</a>
		<p><a href="http://www.flickr.com/groups/boingboing/pool/">Flickr Pool</a>
		<p><a href="http://digg.com/users/boingboing">Digg</a>
		<p><a href="http://en.wikipedia.org/wiki/Boing_Boing">Wikipedia</a>
		
		<h2>Advertise</h2>
		<p>Displays ads via <a href="https://advertisers.federatedmedia.net/explore/view/boingboing">FM Tech</a>
		<p><a href="javascript:location='mailto:\u0064\u0061\u0076\u0069\u0064\u0040\u0070\u0065\u0073\u0063\u006f\u002e\u006e\u0065\u0074';void 0">RSS and Email</a>
	
	</div>
<p style="clear:both;">
</div>


<p style="width:640px;margin:10px auto;"><small>This work is licensed under a <a href="http://creativecommons.org/licenses/by-nc-nd/1.0/">Creative Commons License</a> 
permitting non-commercial sharing with attribution.
Boing Boing is a trademark of Happy Mutants LLC in the
United States and other countries.</small></p>

<p style="display:none;">


<div style="position:absolute;top:0px;left:0px;margin:0px;">
<a href="http://www.youtube.com/subscription_center?add_user=boingboingvideo"><img src="http://tv.boingboing.net/style/followus.png"></a>
</div>






<script>
    jQuery(window).load(function() {
        var loadTime = (new Date()).getTime() - window.usStartTime;
        var target = jQuery("#loadTime");
        target.text("took " + (loadTime/ 1000 ) + "  seconds");
        target.css("color", "red").css("font-size","2em")
    });
</script>    

{% ifequal type "widgetizerasync" %}
{% if not js_use_compiled %}
  <script type="text/javascript">
    alert('This page only works with compiled js');
  </script>
{% else %}
<script type="text/javascript">
        var us = document.createElement('script'); 
        us.type = 'text/javascript'; 
        us.async = true;
        us.src = '{{MEDIA_URL}}js/mirosubs-widgetizer.js';
        var s = document.getElementsByTagName('script')[0]; 
        s.parentNode.insertBefore(us, s);
</script>
{% endif %}
{% endifequal %}


</body>

</html>
