<html>
<body>
  <ul>
    <li><a href="{% url pagedemo 'blog_youtube_embed' %}">Blog Youtube Embed</a></li>
    <li><a href="{% url pagedemo 'nytimes_youtube_embed' %}">NYTimes youtube embed</a></li>
    <li><a href="{% url pagedemo 'khan_widgetizer' %}">Khan Widgetizer</a></li>
    <li><a href="{% url pagedemo 'gapminder' %}">Gapminder </a></li>
    <li><a href="{% url pagedemo 'aljazeera_blog' %}">Al-Jazeera Blog </a></li>
    <li><a href="{% url pagedemo 'boingboing_regular' %}">BoingBoing  </a></li>
    <li><a href="{% url pagedemo 'boingboing_widgetizer' %}">BoingBoing Widgetizer</a></li>
    <li><a href="{% url pagedemo 'boingboing_async_widgetizer' %}">BoingBoing Async Widgetizer</a></li>
    <li><a href="{% url pagedemo 'boingboing_embed' %}">BoingBoing  Embed</a></li>
  </ul>
</body>
</html>
