<html>
<head>
  {% if not js_use_compiled %}
  {% include "widget/_js_base_dependencies.html" %}
  {% endif %}
</head>
<body>
  <h1>Demo for a page with many videos </h1>

  {% for url in urls %}
  <h2>video #{{forloop.counter}} </h2> <a href="{{video.get_absolute_url}}">view </a>
  </object> 
 
 
            </div> 
            <div class="youtube-video"> 
              <object width="425" height="349" id="{{forloop.counter}}"><param name="movie" value="{{url}}?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="{{url}}?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" width="425" height="349" allowscriptaccess="always" allowfullscreen="true"></embed></object>

{% endfor %}

<script src="{{MEDIA_URL}}js/widgetizer/dowidgetize.js"/></script>
</body>

</html>
