{% extends "jsdemo/base_demo.html" %}
{% block body %}
<div id="ytvideo" style="height: 360px; width: 480px; float:left"></div>
<fieldset class="goog-debug-panel" style="margin-left: 490px;">
  <legend>Event Log</legend>
  <div id="log" style="height: 340px; overflow-y: auto"></div>
</fieldset>
<div style="clear:both">
  <a href="#" id="clear">Clear subs</a>
</div>
<div id="transpanel" style="width: 480px; float:left"></div>
<div style="margin-left: 490px">
Let's try pause after P seconds of "continuous" typing (say, no pauses of S seconds) and restart at play position - R seconds when user stops typing for S seconds.
</div>
<script type="text/javascript">
    // Set up a logger.
    goog.debug.LogManager.getRoot().setLevel(goog.debug.Logger.Level.ALL);
    var logconsole = new goog.debug.DivConsole(goog.dom.$('log'));
    logconsole.setCapturing(true);

    var videoSource = new mirosubs.YoutubeVideoSource('sdfsdfkj', '5kwA-CwFK5A');
    var videoPlayer = videoSource.createPlayer();
    videoPlayer.decorate(goog.dom.$('ytvideo'));

    var uw = new mirosubs.UnitOfWork();
    var transcribePanel = new mirosubs.subtitle.TranscribePanel([], uw, videoPlayer);
    transcribePanel.decorate(goog.dom.$('transpanel'));
    transcribePanel.setRepeatVideoMode(true);

    goog.events.listen(goog.dom.$('clear'), 'click', function(event) {
        transcribePanel.startOverClicked();
        event.preventDefault();
    });

</script>
{% endblock %}
