{% extends "jsdemo/base_demo.html" %}
{% block body %}
<div>
  Listening for unload: <a href="#" id="listenToggle">on</a>
</div>
<script type="text/javascript">
  var listening = true;
  var unloadEventHandler = new goog.events.EventHandler();

  function listenForClose() {
      unloadEventHandler.listen(mirosubs.ClosingWindow.getInstance(),
          mirosubs.ClosingWindow.BEFORE_UNLOAD,
          function(event) {
              event.message = "Please don't close me!";
          });
  }

  goog.events.listen(goog.dom.$('listenToggle'), 'click',
      function(event) {
          listening = !listening;
          goog.dom.$('listenToggle').innerHTML = listening ? 'on' : 'off';
          if (listening)
              listenForClose();
          else
              unloadEventHandler.removeAll();
      });

  listenForClose();
</script>
{% endblock %}
