<!DOCTYPE html>
<head>
<script type="text/javascript" src="{{MEDIA_URL}}js/swfobject.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/closure-library/closure/goog/base.js"></script>
<script type="text/javascript">
  goog.require('goog.debug.LogManager');
  goog.require('goog.debug.Logger');
  goog.require('goog.debug.DivConsole');
</script>
</head>
<body>
<div id="videodiv">
</div>
<div>
  <a href="#" onclick="play(); return false;">play</a>
</div>
 <!-- Event log. -->
 <fieldset class="goog-debug-panel">
   <legend>Event Log</legend>
   <div id="log" style="height: 300px; overflow-y: auto"></div>
 </fieldset>
 <div id="perf"></div>
<script type="text/javascript">
  goog.debug.LogManager.getRoot().setLevel(goog.debug.Logger.Level.ALL);
  var logger = goog.debug.Logger.getLogger('dailymotion');
  var logConsole = new goog.debug.DivConsole(goog.dom.$('log'));

  logConsole.setCapturing(true);

  function onDailymotionPlayerReady(apiID) {
      logger.info('ready with api id ' + apiID);
      var player = document.getElementById('videodiv');
      player.cueVideoById('xdn8vw');
  }

  var params = {
      'allowScriptAccess': 'always',
      'wmode': 'opaque',
  };

  var atts = { 'id': 'videodiv' };

  swfobject.embedSWF('http://www.dailymotion.com/swf?chromeless=1&enableApi=1&playerapiid=abc',
      'videodiv', 400, 350, "8", null, null, params, atts);

  function play() {
      var player = document.getElementById('videodiv');
      player.playVideo();
      logger.info('playVideo called');
  }

</script>
</body>
</html>
