<html>
<head>
</head>
<body>
  <style>
    <!--
       .headerTop { background-color:#FFCC66; border-top:0px solid #000000;
      border-bottom:1px solid #ecf6f6; text-align:center; }
       .adminText { font-size:10px; color:#323738; line-height:200%;
      font-family:Tahoma, Geneva, sans-serif; text-decoration:none; }
       .headerBar { background-color:#ecf6f6; border-top:0px solid #333333;
      border-bottom:10px solid #ecf6f6; }
       .title { font-size:17px; font-weight:bold; color:#323738;
      font-family:Tahoma, Geneva, sans-serif; line-height:110%; }
       .subTitle { font-size:11px; font-weight:normal; color:#323738;
      font-style:italic; font-family:Tahoma, Geneva, sans-serif; }
       .defaultText { font-size:12px; color:#323738; line-height:150%;
      font-family:Tahoma, Geneva, sans-serif; }
       .footerRow { background-color:#FFFFCC; border-top:10px solid #d3e9; }
       .footerText { font-size:10px; color:#f9feff; line-height:100%;
      font-family:Tahoma, Geneva, sans-serif; }
       a { color:#3196AD; color:#3196AD; color:#3196AD; }
    -->
  </style>
  <table class="backgroundTable" bgcolor="#ffffff" cellpadding="10" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td align="center" valign="top">
          <table cellpadding="0" cellspacing="0" width="625">
            <tbody>
              <tr>
                <td style="margin-bottom: 0; padding-bottom: 0; background-color: #ecf6f6; border-top: 1px solid #b7bdbc; border-left: 1px solid #b7bdbc; border-right: 1px solid #b7bdbc;">
                  <center style="margin-bottom: 0; padding-bottom: 0;">
                    <img style="margin-bottom: 0; padding-bottom: 0;" title="letter-header3.png" alt="letter-header3.png" src="http://pcf8.pculture.org/interspire/admin/temp/newsletters/12/letter-header3.png" height="97" width="625" />
                  </center>
                </td>
              </tr>
            </tbody>
          </table>



          <table style="margin-top: 0;" bgcolor="#ecf6f6" cellpadding="20" cellspacing="0" width="627">
            <tbody style="margin-top: 0;">
              <tr style="margin-top: 0; padding-top: 0;">
                <td style="margin-top: 0; padding-top: 0; font-size: 14px; color: #323738; line-height: 150%; font-family: Tahoma, Geneva, sans-serif; border-left: 1px solid #b7bdbc; border-right: 1px solid #b7bdbc;" bgcolor="#ecf6f6">
 
                  <p style="font-size: 12px;">Hi barf, a set of subtitles you work on has been edited!</p>

                  
                  <p style="font-size: 12px; font-weight: bold;">
                      Subtitles you contributed to <a href="#">1,000,000 leagues under the sea</a> have been changed. 
                      <br />
                      <a href="#">Pagliere</a> edited 6 subtitles, changed 14 timestamps, and added 6 new subtitles
                  </p>



                  <ul style="margin: 0; padding: 10px 0 0 0px; font-size: 12px; list-style: none;">
                    <li style="background: url(/site_media/images/compare.gif) 0 5px no-repeat; padding-left: 25px; margin-bottom: 5px;"><a href="#">Compare your work to the newest version</a></li>
                    <li style="background: url(/site_media/images/stop.gif) 1px 5px no-repeat; padding-left: 25px;"><a href="#">Stop watching for changes on this video</a></li>
                  </ul>

              
                  <br />
                  <p style="font-size: 12px;">Or you can do a quick review of the changes, below.</p>


                  <table style="width: 585px; background: #fff; border: 1px solid #aaa; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-radius-top-right: 5px; -webkit-border-radius-top-right: 5px; border-bottom: 0;" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="80" style="color: #888; font-size: 12px; padding: 8px;">Old Text</td>
                      <td width="245" style="color: #333; font-weight: bold; font-size: 12px; padding: 8px; text-align: center;">Changes to Subtitle Text</td>
                      <td align="right" width="80" style="color: #888; font-size: 12px; padding: 8px;">New Text</td>
                    </tr>
                  </table>

                  <table style="width: 585px; background: #fff; border: 1px solid #aaa; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-radius-bottom-right: 5px; -webkit-border-radius-bottom-right: 5px;" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="210" style="color: red; padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;"> Changed text </td>
                      <td width="210" style="padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd;"> sdfsdfsdfsdfsdf </td>
                    </tr>
                    <tr>
                      <td width="210" style="color: red; padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;"> Changed text </td>
                      <td width="210" style="padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd;"> sdfsdfsdfsdfsdf </td>
                    </tr>
                    <tr>
                      <td width="210" style="padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;"> sdfsdfsdfsdf </td>
                      <td width="210" style="padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd;"> sdfsdfsdfsdfsdfsdfsdfsdfsdfsdf sdfsdfsdfsdfsdf sdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdf sdfsdfsdfsdfsdf sdfsdfsdfsdfsdf sdfsdfsdfsdfsdf sdfsdfsdfsdfsdf sdfsdfsdfsdfsdf sdfsdfsdfsdfsdf sdfsdfsdfsdfsdf sdfsdfsdfsdfsdf sdfsdfsdfsdfsdf  </td>
                    </tr>
                    <tr>
                      <td width="210" style="color: red; padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;"> Changed text </td>
                      <td width="210" style="padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd;"> sdfsdfsdfsdfsdf </td>
                    </tr>
                    <tr>
                      <td width="210" style="color: red; padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;"> Changed text </td>
                      <td width="210" style="padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd;"> sdfsdfsdfsdfsdf </td>
                    </tr>
                    <tr>
                      <td width="210" style="color: red; padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;"> Changed text </td>
                      <td width="210" style="color: green; padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd;"> sdfsdfsdfsdfsdf </td>
                    </tr>
                    <tr>
                      <td width="210" style="color: red; padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;"> Changed text </td>
                      <td width="210" style="padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd;"> sdfsdfsdfsdfsdf </td>
                    </tr>
                    <tr>
                      <td width="210" style="color: red; padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;"> Changed text </td>
                      <td width="210" style="padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd;"> sdfsdfsdfsdfsdf </td>
                    </tr>
                    <tr>
                      <td width="210" style="color: red; padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;"> Changed text </td>
                      <td width="210" style="padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd;"> sdfsdfsdfsdfsdf </td>
                    </tr>
                    <tr>
                      <td width="210" style="color: red; padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;"> Changed text </td>
                      <td width="210" style="padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd;"> sdfsdfsdfsdfsdf </td>
                    </tr>
                    <tr>
                      <td width="210" style="color: red; padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;"> Changed text </td>
                      <td width="210" style="padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd;"> sdfsdfsdfsdfsdf </td>
                    </tr>
                    <tr>
                      <td width="210" style="color: red; padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;"> Changed text </td>
                      <td width="210" style="padding: 8px; font-size: 12px; border-bottom: 1px solid #ddd;"> sdfsdfsdfsdfsdf </td>
                    </tr>
                    <tr>
                      <td width="210" style="color: red; padding: 8px; font-size: 12px; border-right: 1px solid #ddd;"> Changed text </td>
                      <td width="210" style="padding: 8px; font-size: 12px;"> sdfsdfsdfsdfsdf </td>
                    </tr>
                  </table>
                  <p> Sincerely,<br/>
                    Universal Subtitles Community </p>
           
                  



                </td>
              </tr>
              <tr>
                  <td style="background-color: #c5d9dd; padding-top: 10px; border-bottom:1px solid #b7bdbc; border-left: 1px solid #b7bdbc; border-right: 1px solid #b7bdbc;" valign="top">
                    <span style="font-size: 10px; color: #666; font-family: Tahoma, Geneva, sans-serif;"> 
                      <p>This message was intended for EMAIL. If you do not wish to receive this type of email <br />from Universal Subtitles in the future, please click <a href="#">here</a> to unsubscribe.</p>
                  
                      <p style="margin-bottom: 0;">Participatory Culture Foundation P.O. Box 55071 #20335, Boston, MA 02205-5071</p>
                    </span>
                  </td>
              </tr>
            </tbody>    
          </table>
        </td>
      </tr>
    </tbody>
  </table>


<br />
<br />


  <table bgcolor="" cellpadding="0" width="100%" border="0">
    <tr align="center">
      <td><table bgcolor="white" width="450" border="0" cellpadding="5">
          <tr>
            <td></a></td>
          </tr>
        </table></td>
    </tr>
  </table>

  <img src="http://pcf8.pculture.org/interspire/open.php?M=389299&L=6&N=45=&F=H&image=.jpg" height="1" width="10">

</body>
</html>

</body>
</html>
