{% extends "base.html" %}

{% block body_attrs %}id="index"{% endblock %}



{% block main_content %}






  <h2 class="centered alpha_badge">Add collaborative subtitling to every video on your site</h2>

  <div class="grid_6 alpha">

<p class="larger">
Just add this line of code to your page headers, or to your blog/CMS theme:
</p>

<textarea class="embedder"><script type="text/javascript" src="http://www.universalsubtitles.org/site_media/js/mirosubs-widgetizer.js"></script></textarea>

<p class="larger">

This lets you and visitors to your site:
</p>


<ul>
  <li>Create subtitles for any compatible video</li>
  <li>Find subtitles created by others</li>
  <li>Add translations and improve other's work</li>
  <li>Make your videos searchable and accessible</li>
  <li>Bring your videos to an international audience</li>
</ul>




 <div class="beat">
   <p><span>Proud to be a</span> Featured Mozilla Drumbeat Project</p>
    <a href="#">Mozilla Drumbeat</a> 
 </div>









  </div>



  <div class="grid_6 omega example">
    <img src="{{ MEDIA_URL }}images/youtube.png" border="0" />
    <p>A "subtitle me" or "choose language" button will appear across all compatible videos. Users can click to activate (or create) subtitles.</p>
  </div>



  



<div class="space">&nbsp;</div>

<div class="yellow">
  <p class="red">Note: this addon is an experimental part of the Universal Subtitles service. If you run into
  problems, just disabled the addon and contact us, donʼt give us a bad rating :) Known issues:</p>
  
  <ul>
    <li>Most Flash videos (e.g. Youtube) will be set to a default, small size</li>
    <li>Blip.TV and some other sitesʼ videos will play in our custom player</li>
    <li>Our community is just getting started, so you may not find many already-subtitled videos. For videos you like, make your own!</li>
  </ul>
  
  <p>Any other problems, especially styling problems on the page, contact us and include the site URL!</p>
</div>

{% endblock %}
