{% extends "base.html" %}

{% block body_attrs %}id="index"{% endblock %}



{% block main_content %}






  <h2 class="centered alpha">Collaborative subtitles and captions, in your browser</h2>

  <div class="grid_6 alpha">

<p class="larger">
Our browser addon lets you:
</p>

  <ul>
    <li>Create subtitles for any compatible video</li>
    <li>Find subtitles created by our community</li>
    <li>Add translations, and improve othersʼ work</li>
    <li>Works with the webʼs most popular video sites</li>
  </ul>

 <div class="beat">
   <p><span>Proud to be a</span> Featured Mozilla Drumbeat Project</p>
    <a href="#">Mozilla Drumbeat</a> 
 </div>


<a href="#" class="green_button huge">Download the Firefox Extension</a>

<div class="bookmarklet">Drag this link to your Bookmarks Bar <a href="#">Subtitle!</a></div>


  </div>



  <div class="grid_6 omega example">
    <img src="{{ MEDIA_URL }}images/example.png" border="0" />
    <p>A "subtitle me" or "choose language" button will appear across all compatible videos. Click the button to choose or create subtitles.</p>
  </div>



  



<div class="space">&nbsp;</div>

<div class="yellow">
  <p class="red">Note: this addon is an experimental part of the Universal Subtitles service. If you run into
  problems, just disabled the addon and contact us, donʼt give us a bad rating :) Known issues:</p>
  
  <ul>
    <li>Most Flash videos (e.g. Youtube) will be set to a default, small size</li>
    <li>Blip.TV and some other sitesʼ videos will play in our custom player</li>
    <li>Our community is just getting started, so you may not find many already-subtitled videos. For videos you like, make your own!</li>
  </ul>
  
  <p>Any other problems, especially styling problems on the page, contact us and include the site URL!</p>
</div>

{% endblock %}
