{% extends "jsdemo/base_demo.html" %}
{% block body %}
<div>
  <div>Is unisubs extension loaded: <span id="loaded">false</span></div>
  <div id="toggledIndicator"></div>
  <div>
    <a href="#" onclick="show(true); return false;">show enabled</a>&nbsp;
    <a href="#" onclick="show(false); return false;">show disabled</a>
  </div>
  <h1>A youtube video</h1>
  <object width='425' height='350'>
    <param name='movie' value='http://www.youtube.com/v/H2Ncxw1xfck&#038;rel=1&#038;fs=1&#038;showsearch=0&#038;showinfo=1&#038;iv_load_policy=1' /> 
    <param name='allowfullscreen' value='true' /> 
    <param name='wmode' value='opaque' /> 
    <embed src='http://www.youtube.com/v/H2Ncxw1xfck&#038;rel=1&#038;fs=1&#038;showsearch=0&#038;showinfo=1&#038;iv_load_policy=1' type='application/x-shockwave-flash' allowfullscreen='true' width='425' height='350' wmode='opaque'></embed> 
  </object>
  <h1>Ogg</h1>
  <video autobuffer="" controls="" tabindex="0"><source src="http://subtesting.com/video/Usubs-IntroVideo.theora.ogg"></source></video>
</div>
<script>
function onUnisubsExtensionLoaded() {
    document.getElementById('loaded').innerHTML = 'true';
}
function onUnisubsExtensionToggled(enabled) {
    document.getElementById('toggledIndicator').innerHTML = 
        enabled ? 'enabled' : 'disabled';
}
function show(enabled) {
    mirosubs.showExtension(enabled);
}
</script>
<script type="text/javascript" src="{{MEDIA_URL}}js/widget/crossdomainembed.js"></script>
<script type="text/javascript" src="/widget/widgetizerconfig.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/widgetizer/widgetizer.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/widgetizer/extension.js"></script>
{% endblock %}
