{% extends "jsdemo/base_demo.html" %}
{% block body %}
<a href="#" id="open">open dialog</a><br/>
<a href="#" id="openTimeoutDialog">open timeout dialog</a>
<script type="text/javascript">
  function saveFunction() {
      window.setTimeout(
          function() { window.timeoutDialog.failedAgain(); }, 1000);
  }

  function openDialog() {
      var logger = new mirosubs.subtitle.Logger(2);
      mirosubs.finishfaildialog.Dialog.show(
          logger, 503, saveFunction);
  }

  function openTimeoutDialog() {
      var logger = new mirosubs.subtitle.Logger(2);
      window.timeoutDialog = mirosubs.finishfaildialog.Dialog.show(
         logger, null, saveFunction);
  }

  goog.events.listen(document.getElementById('open'), 'click',
      function(e) {
          e.preventDefault();
          openDialog();
      });
  goog.events.listen(document.getElementById('openTimeoutDialog'), 'click',
      function(e) {
          e.preventDefault();
          openTimeoutDialog();
      });
</script>
{% endblock %}
