{% extends "jsdemo/base_demo.html" %}
{% block body %}

<div style="width: 100px; float: right">
alsdkf jasdlfkj asdlfkj asdlfkja dslfkja dslfkalaskdjf lasdkfj 
alsdkfja ldskfjads lkfj adslkfj adslkfj asdlkfj adlskfj adslfkj
alsdkf jasdlfkj asdlfkj asdlfkja dslfkja dslfkalaskdjf lasdkfj 
alsdkfja ldskfjads lkfj adslkfj adslkfj asdlkfj adlskfj adslfkj
alsdkf jasdlfkj asdlfkj asdlfkja dslfkja dslfkalaskdjf lasdkfj 
alsdkfja ldskfjads lkfj adslkfj adslkfj asdlkfj adlskfj adslfkj
</div>
<div style="margin-right: 120px">
alsdkf jasdlfkj asdlfkj asdlfkja dslfkja dslfkalaskdjf lasdkfj 
alsdkfja ldskfjads lkfj adslkfj adslkfj asdlkfj adlskfj adslfkj
alsdkf jasdlfkj asdlfkj asdlfkja dslfkja dslfkalaskdjf lasdkfj 
alsdkfja ldskfjads lkfj adslkfj adslkfj asdlkfj adlskfj adslfkj
alsdkf jasdlfkj asdlfkj asdlfkja dslfkja dslfkalaskdjf lasdkfj 
alsdkfja ldskfjads lkfj adslkfj adslkfj asdlkfj adlskfj adslfkj
<div>here is where the video would be</div>
<div style="float: left">video tab</div>
<div style="clear: both"><br/></div>
This text, which the page owner would expect to be directly under the video tab, is pushed down to the bottom of the right column because of 
the cleared element below the video tab.
</div>
{% endblock %}
