{% extends "jsdemo/base_demo.html" %}
{% block body %}

<video id="inPlaceVideo" autobuffer="" controls="" tabindex="0">
  <source src="http://videos.mozilla.org/firefox/3.5/switch/switch.ogv"></source>
</video>

<div>
<a href="#" onclick="togglePlaying(); return false">toggle play</a>  
</div>

<div id="insertedVideoContainer"></div>

 <!-- Event log. -->
 <fieldset class="goog-debug-panel">
   <legend>Event Log</legend>
   <div id="log" style="height: 300px; overflow-y: auto"></div>
 </fieldset>
 <div id="perf"></div>  
<script type="text/javascript">
  goog.debug.LogManager.getRoot().setLevel(goog.debug.Logger.Level.ALL);
  var logger = goog.debug.Logger.getLogger('controls');
  var logConsole = new goog.debug.DivConsole(goog.dom.$('log'));

  logConsole.setCapturing(true);

  var videoSource = new mirosubs.video.Html5VideoSource(
      'http://videos.mozilla.org/firefox/3.5/switch/switch.ogv',
      mirosubs.video.Html5VideoType.OGG);
  var inPlacePlayer = videoSource.createPlayer();
  var insertedPlayer = videoSource.createPlayer();

  inPlacePlayer.decorate(document.getElementById('inPlaceVideo'));

  var insertedContainer = new goog.ui.Component();
  insertedContainer.decorate(document.getElementById('insertedVideoContainer'));
  insertedContainer.addChild(insertedPlayer, true);

  playing = false;
 
  function togglePlaying() {
     playing = !playing;
     if (playing)
         inPlacePlayer.play();
     else
         inPlacePlayer.pause();
  }
</script>
{% endblock %}
