{% extends "base.html" %}

{% block body_attrs %}id="video"{% endblock %}



{% block main_content %}



<!-- Start Transcript -->

  <div class="grid_3 left_nav_wrapper alpha">
    <ul class="left_nav">


        <li><a href="/videos/2ZKvwMv6hNi4/info/">Video Info</a></li>
      
            <li class="active full"><a href="/videos/2ZKvwMv6hNi4/"><span class="done_indicator"></span>English <span class="done_percentage">(123 Lines)</span></a></li>
            <li class="eighty"><a href="/videos/2ZKvwMv6hNi4/"><span class="done_indicator"></span>Chinese <span class="done_percentage">(80%)</span></a></li>
            <li class="sixty"><a href="/videos/2ZKvwMv6hNi4/"><span class="done_indicator"></span>Lithuanian <span class="done_percentage">(60%)</span></a></li>
            <li class="fourty"><a href="/videos/2ZKvwMv6hNi4/"><span class="done_indicator"></span>Spanish <span class="done_percentage">(40%)</span></a></li>
            <li class="twenty"><a href="/videos/2ZKvwMv6hNi4/"><span class="done_indicator"></span>Arabic <span class="done_percentage">(20%)</span></a></li>

       
    </ul>
    
    <a class="green_button small" id="add_translation" href="#">Add Translation</a>

        
  </div>

  <div class="wrap grid_9 omega">  
    <div id="languages-tab" class="grid_9 alpha omega">  

            
            <div class="sort_button floatright">
              <div class='arrow'></div>
              <span class="sort_label">
                <strong>Download Subtitles</strong>
              </span>
              <ul>

                <li><a href="/widget/download_srt/?video_key=2ZKvwMv6hNi4">SRT</a></li>
                <li><a href="/widget/download_ssa/?video_key=2ZKvwMv6hNi4">SSA</a></li>
                <li><a href="/widget/download_ttml/?video_key=2ZKvwMv6hNi4">TTML</a></li>
                <li><a href="/widget/download_txt/?video_key=2ZKvwMv6hNi4">TXT</a></li>
                <li><a href="/widget/download_sbv/?video_key=2ZKvwMv6hNi4">SBV</a></li>
              </ul>

            </div>
            

      <h4 class="inline">English</h4> 
      <ul class="inline_tabs">
          <li class="active">
              <a href="#transcripts-tab">
                <span class="inline_text">
                
                    English Subtitles
                
                </span>
              </a>

          </li>
          <li class="bull">&bull;</li>
          <li><a href="#comments-tab"><span class="inline_text">Comments</span> <span class="badgy_out"><span class="badgy">0</span></span></a></li>
          <li class="bull">&bull;</li>
          <li><a href="#revisions-tab"><span class="inline_text">History</span> <span class="badgy_out"><span class="badgy">1</span></span></a></li>
      </ul>

      <div id="transcripts-tab">
          <div class="action_buttons grid_9 alpha omega">

    
            <a href="#" class="blue_button small"  id="edit_subtitles">Edit Subtitles</a>
            
                
                   

        <a href="#upload_subs-div" id="upload-subtitles-link" class="upload-button blue_button small">
            Upload Subtitles
        </a>

    <div id="upload_subs-div" style="display: none">

    
        <h3>Upload Subtitles</h3>
    
        <div class="padding">
            
                <p>
                    
                    Our site accepts SRT, SSA, SBV and TTML format. Only files ending in .srt, .ssa, .sbv
                    or .xml (for TTML) are accepted.
                    
                </p>
                <br />
                <div id="upload-subtitles-div">
                    <form method="post" id="upload-subtitles-form" action="/videos/upload_subtitles/" enctype="multipart/form-data">
                        <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='ce60f374f504f83dc7525ef3ddb453e5' /></div>

                        <input type="hidden" name="video" value="3" />
                        <label>Language</label><select name="language" id="id_language">
<option value="el">Greek</option>
<option value="eo">Esperanto</option>
<option value="en" selected="selected">English</option>
<option value="vi">Vietnamese</option>
<option value="ca">Catalan</option>
<option value="it">Italian</option>

<option value="sv">Swedish</option>
<option value="cs">Czech</option>
<option value="cy">Welsh</option>
<option value="ar">Arabic</option>
<option value="pt-br">Brazilian Portuguese</option>
<option value="mk">Macedonian</option>
<option value="ga">Irish</option>
<option value="eu">Basque</option>
<option value="et">Estonian</option>

<option value="gl">Galician</option>
<option value="id">Indonesian</option>
<option value="es">Spanish</option>
<option value="en-gb">British English</option>
<option value="ru">Russian</option>
<option value="nl">Dutch</option>
<option value="nn">Norwegian Nynorsk</option>
<option value="no">Norwegian</option>
<option value="es-ar">Argentinian Spanish</option>

<option value="nb">Norwegian Bokmal</option>
<option value="tr">Turkish</option>
<option value="lv">Latvian</option>
<option value="zh-cn">Simplified Chinese</option>
<option value="lt">Lithuanian</option>
<option value="th">Thai</option>
<option value="fy-nl">Frisian</option>
<option value="ro">Romanian</option>
<option value="is">Icelandic</option>

<option value="pl">Polish</option>
<option value="ta">Tamil</option>
<option value="fr">French</option>
<option value="bg">Bulgarian</option>
<option value="zh-tw">Traditional Chinese</option>
<option value="hr">Croatian</option>
<option value="bn">Bengali</option>
<option value="de">German</option>
<option value="da">Danish</option>

<option value="fa">Persian</option>
<option value="hi">Hindi</option>
<option value="bs">Bosnian</option>
<option value="fi">Finnish</option>
<option value="hu">Hungarian</option>
<option value="ja">Japanese</option>
<option value="he">Hebrew</option>
<option value="ka">Georgian</option>
<option value="te">Telugu</option>

<option value="pt">Portuguese</option>
<option value="sr">Serbian</option>
<option value="sq">Albanian</option>
<option value="mn">Mongolian</option>
<option value="ko">Korean</option>
<option value="kn">Kannada</option>
<option value="km">Khmer</option>
<option value="sk">Slovak</option>
<option value="uk">Ukrainian</option>

<option value="sl">Slovenian</option>
<option value="sr-latn">Serbian Latin</option>
<option value="meta-tw">Metadata: Twitter</option>
<option value="meta-geo">Metadata: Geo</option>
<option value="meta-wiki">Metadata: Wikipedia</option>
</select>
                        <br/><br/>
                        <input type="file" name="subtitles" id="subtitles-file-field" />
                    </form>

                </div>
                
        </div>
    </div>

  <script type="text/javascript">
        (function($) {
            var LANGUAGE_PAGE_URL = '/videos/2ZKvwMv6hNi4/';
            var MSG = "If you believe your subtitle file is compatible, <a href='mailto:feedback@universalsubtitles.org'>send it to us</a>";
            
            $('#subtitles-file-field').change(function() {
                $('#upload-subtitles-form').submit();
            });
            
            $('#upload-subtitles-form').ajaxForm({
                dataType: 'json',
                success: function(data, status, xhr, $form){
                    if (data.success){
                        document.location = LANGUAGE_PAGE_URL;
                    } else {
                        $form.prepend('<p class="error_list">'+MSG+'</p>');
                        for (key in data.errors) {
                            var error = '<p class="error_list">' + data.errors[key] + '</p>';
                            $form.prepend(error);
                        }
                    }
                },
                beforeSubmit: function(formData, $Form, options) {
                    $('p.error_list', $Form).remove();
                }
            });
         })(jQuery);
    </script>
    <script type="text/javascript">
        jQuery(function(){
            $.nyroModalSettings({
                minWidth: 460,
                minHeight: 250,
                bgColor: '#fff',
                cssOpt: {
                    wrapper: {
                       backgroundColor: '#fff'
                    }                    
                },
                endRemove: function(){
                    $('#clippy').show();
                },
                processHandler: function(){
                    $('#clippy').hide();
                }
            }); 
            $('.upload-button').nyroModal();
          });
    </script>    


                
            
            <div class="clear">&nbsp;</div>
          </div>

         <table cellpadding="0" cellspacing="0">
            
                
                  <tr class="even">      
                    <td class="last">
                      
                          <span class="time-span time_link">
                            <span class="data">0.1</span>
                            <span class="badgy start">
                                <span class="stamp_text">0:00</span>
                            </span>

                            
                                <span class="connector"></span>
                                <span class="badgy end"><span class="stamp_text">0:02</span></span> 
                            
                          </span>
                      
                      <div class="sub_content">ghjghfjghj</div>
                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">
                      
                          <span class="time-span time_link">

                            <span class="data">1.92307692308</span>
                            <span class="badgy start">
                                <span class="stamp_text">0:02</span>
                            </span>
                            
                          </span>
                      
                      <div class="sub_content"></div>
                    </td>
                  </tr>

                
                  <tr class="even">      
                    <td class="last">
                        
                          <span class="time-span"><span class="badgy no-sync">Not Synced</span></span> 
                      
                      <div class="sub_content">ghj</div>
                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">
                        
                          <span class="time-span"><span class="badgy no-sync">Not Synced</span></span> 
                      
                      <div class="sub_content">ghj</div>

                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">
                        
                          <span class="time-span"><span class="badgy no-sync">Not Synced</span></span> 
                      
                      <div class="sub_content"></div>
                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">

                        
                          <span class="time-span"><span class="badgy no-sync">Not Synced</span></span> 
                      
                      <div class="sub_content">gh</div>
                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">
                        
                          <span class="time-span"><span class="badgy no-sync">Not Synced</span></span> 
                      
                      <div class="sub_content">jgh</div>

                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">
                        
                          <span class="time-span"><span class="badgy no-sync">Not Synced</span></span> 
                      
                      <div class="sub_content">j</div>
                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">

                        
                          <span class="time-span"><span class="badgy no-sync">Not Synced</span></span> 
                      
                      <div class="sub_content">gh</div>
                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">
                        
                          <span class="time-span"><span class="badgy no-sync">Not Synced</span></span> 
                      
                      <div class="sub_content">jghj</div>

                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">
                        
                          <span class="time-span"><span class="badgy no-sync">Not Synced</span></span> 
                      
                      <div class="sub_content"></div>
                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">

                        
                          <span class="time-span"><span class="badgy no-sync">Not Synced</span></span> 
                      
                      <div class="sub_content">ghj</div>
                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">
                        
                          <span class="time-span"><span class="badgy no-sync">Not Synced</span></span> 
                      
                      <div class="sub_content">ghj</div>

                    </td>
                  </tr>
                
            
          </table>
        </div>
        
        <div id="comments-tab"  style="display: none" class="grid_9 alpha omega">
          <form method="post" action="/comments/post/" id="comment-form">
    <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='ce60f374f504f83dc7525ef3ddb453e5' /></div>
    
        
    
        
            <input type="hidden" name="reply_to" id="id_comment_form_reply_to" />
        
    
        
            <input type="hidden" name="object_pk" value="1" id="id_comment_form_object_pk" />

        
    
        
            <input type="hidden" name="content_type" value="20" id="id_comment_form_content_type" />
        
    
        
            <input type="hidden" name="honeypot" id="id_comment_form_honeypot" />
        
    
    <div>
        
        <textarea id="id_comment_form_content" rows="10" cols="40" name="content"></textarea>
    </div>
    <button class="green_button big post-comment-button" type="submit">Comment</button>    
</form>
<script type="text/javascript">
jQuery(document).ready(function($){
    var IS_AUTHENTICATED = 'True' == 'True';
    
    function login_callback(){
        $('.login-for-comment').show();
        return false;
    }
    if ( ! IS_AUTHENTICATED){
        $('#id_comment_form_content').focus(login_callback);
        $('.post-comment-button').click(login_callback);
    }
    $('#comment-form').ajaxForm({
        dataType: 'json',
        success: function(data, status, xhr, $form){
            if (data.success){
                $('#id_comment_form_content').clearFields();
                if (update_comments){
                    update_comments();
                }
            } else {
                for (key in data.errors){
                    var $field = $('input[name="'+key+'"]', $form);
                    var error = '<p class="error_list">'+data.errors[key]+'</p>';
                    if ($field.length){
                        $('input[name="'+key+'"]', $form).before(error);
                    }else{
                        $form.prepend(error);
                    }
                };
            }
        },
        beforeSubmit: function(formData, $Form, options){
            $('p.error_list', $Form).remove();
            var form = $Form[0];
            if (!form.content.value){
                $(form.content).before('<p class="error_list">Enter comment please.</p>');
                return false;
            }
        }
    });
    
    $('.reply').live('click', function(){
        $('#id_comment_form_reply_to').val($(this).attr('comment_id'))
        $('#id_comment_form_content').focus();
        return false;
    });
});
</script>

        

          <ul class="comments big_list">
    
</ul>
<script type="text/javascript">
    function update_comments(){
        jQuery.post('/comments/update_comments/', {
            ct: '20',
            last_comment_id: jQuery('.comment:first').attr('comment_id') || '',
            obj_id: '1'
        }, function(data, status, response){
            var comments_count_inc = response.getResponseHeader('comments-count');
            if (comments_count_inc){
                var $cc = $('.comments-count');
                $cc.html($cc.html()-0+(comments_count_inc-0));           
            }
            jQuery('.comments').prepend(data)
        }, 'html')
    }    
</script>
        </div>

        <div style="display: none" id="revisions-tab" class="action_buttons grid_9 alpha omega">
                    
            
                
    
                <table cellpadding="0" cellspacing="0">
                <thead>
                  <tr>

                    <th>
                        <a href="?o=date&ot=desc&page=1#revisions" class="desc">Most Recent</a>
                    </th>
                    <th>
                        <a href="?o=user&ot=desc&page=1#revisions" class="desc">User</a>
                    </th>
                    <th>
                        <a href="?o=note&ot=desc&page=1#revisions" class="desc">Note</a>

                    </th>
                    <th>
                        <a href="?o=time&ot=desc&page=1#revisions" class="desc">Time</a>
                    </th>
                    <th class="last">
                        <a href="?o=text&ot=desc&page=1#revisions" class="desc">Text</a>
                    </th>
                  </tr> 
                </thead>

                
                <tbody>
                    
                    
                    <tr class="even">
    
                      <td>
                          <input type="checkbox" class="version_checkbox" value="1"/><a href="/videos/revision/1/">#0</a> (10/08/2010)
                      </td>
                      <td>
                          <a href="/profiles/10001/">Morgan Knutson</a>
                      </td>

                      <td>
                          &nbsp;
                      </td>
                      <td>
                          0%
                      </td>
                      <td class="last">
                          0%
                      </td>
                    </tr>

                    
                  </tbody>
                </table>
                
                <div style="clear: both"></div>
           
       </div>
                  
        <div style="clear: both"></div>
    </div>
  </div>


        



{% endblock %}
