{% extends "jsdemo/base_demo.html" %}
{% block body %}
  <h1>A youtube video</h1>
  <div>
  <object width='425' height='350'>
    <param name='movie' value='http://www.youtube.com/v/H2Ncxw1xfck&rel=1&fs=1&showsearch=0&showinfo=1&iv_load_policy=1' /> 
    <param name='allowfullscreen' value='true' /> 
    <param name='wmode' value='opaque' /> 
    <param name='allowScriptAccess' value='always'/>
    <embed src='http://www.youtube.com/v/H2Ncxw1xfck&rel=1&fs=1&showsearch=0&showinfo=1&iv_load_policy=1'
           type='application/x-shockwave-flash' 
           allowfullscreen='true' 
           allowscriptaccess='always'
           width='425' height='350' wmode='opaque'></embed> 
  </object>
  <span id="placeholder">placeholder</span>
  <a href="#" onclick="playClicked(); return false;">Play</a>
</div>
 <!-- Event log. -->
 <fieldset class="goog-debug-panel">
   <legend>Event Log</legend>
   <div id="log" style="height: 300px; overflow-y: auto"></div>
 </fieldset>
  <script>

  goog.debug.LogManager.getRoot().setLevel(goog.debug.Logger.Level.ALL);
  var ytlogger = goog.debug.Logger.getLogger('youtube');
  var logconsole = new goog.debug.DivConsole(goog.dom.$('log'));
  logconsole.setCapturing(true);

    var elems = document.getElementsByTagName('object');
    var obj = elems[0];
    var newObj = obj.cloneNode(true);

    for (var i = 0; i < newObj.childNodes.length; i++) {
        ytlogger.info(newObj.childNodes[i].nodeName);
        if (newObj.childNodes[i].nodeName == 'PARAM' &&
            newObj.childNodes[i].getAttribute('name') == 'movie') {
            var elem = newObj.childNodes[i];
            elem.setAttribute('value', elem.getAttribute('value') +
                        '&enablejsapi=1');
        }
        if (newObj.childNodes[i].nodeName == 'EMBED') {
            var elem = newObj.childNodes[i];
            elem.src = elem.src + '&enablejsapi=1';
            ytlogger.info(elem.src);
        }
    }


    var parent = obj.parentNode;
    parent.removeChild(obj);
    ytlogger.info('just removed child');
    parent.insertBefore(newObj, document.getElementById('placeholder'));

    function ytchange(newState) {
        ytlogger.info(newState);
    }

    function playClicked() {
        newObj = document.getElementsByTagName('embed')[0];
        ytlogger.info(newObj.nodeName);
        ytlogger.info(newObj.getAttribute('src'));
        newObj.playVideo();
        newObj.addEventListener(
                        'onStateChange',
                        'ytchange');
    }
  </script>
{% endblock %}
