{% extends "jsdemo/base_demo.html" %}
{% block body %}
<a href="#" id="setUp">set up</a>
<a href="#" id="serializeAndSave">serialize and save</a>
<!-- Event log. -->
<fieldset class="goog-debug-panel">
  <legend>Event Log</legend>
  <div id="log" style="height: 300px; overflow-y: auto"></div>
</fieldset>
<div id="perf"></div> 
<script type="text/javascript">
  goog.debug.LogManager.getRoot().setLevel(goog.debug.Logger.Level.ALL);
  var logger = goog.debug.Logger.getLogger('serialize and save');
  var logConsole = new goog.debug.DivConsole(goog.dom.getElement('log'));

  logConsole.setCapturing(true);

  var editableCaptionSet;

  function setUp(e) {
     e.preventDefault();
     var jsonCaptions = [];
     for (var i = 0; i < 2000; i++) {
         jsonCaptions.push({
             'subtitle_id': 'abc' + i,
             'text': 'abcasd slkjflsd kfjlsdfk jdslfkj sdlfkj sdalfkj sdlkfj dlskfj lsdf ' + i,
             'start_time': i * 2,
             'end_time': i * 2 + 1,
             'sub_order': i });
     }
     window.editableCaptionSet = new mirosubs.subtitle.EditableCaptionSet(jsonCaptions);
  }

  function serializeAndSave(e) {
      e.preventDefault();
      logger.info('starting serializeAndSave');
      var json = goog.json.serialize(window.editableCaptionSet.makeJsonSubs());
      localStorage.setItem('json', json);
      logger.info('finished serializeAndSave');
  }

  goog.events.listen(goog.dom.getElement('setUp'), 'click',
                     setUp);
  goog.events.listen(goog.dom.getElement('serializeAndSave'), 'click',
                     serializeAndSave);

</script>
{% endblock %}
