<html>
  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script>
      function start() {
        var object = document.getElementsByTagName('object')[0];
        var embed = document.getElementsByTagName('embed')[0];
        console.log(object);
        console.log(embed);
        var count = 0;
        var intervalid = window.setInterval(
          function() {
            count++;
            if ((object && object['addModelListener']) ||
                (embed && embed['addModelListener'])) {
                window.clearInterval(intervalid);
                console.log('can play video!');
            }
            else {
                if (count == 40) {
                    console.log('cannot play video');
                    console.log(object.parentNode);
                    window.clearInterval(intervalid);
                }
            }
         }, 250);
      }
      window.onload = start;
    </script>
  </head>
  <body>
    <div id="moviediv"></div>
    <script type="text/javascript">
  swfobject.embedSWF(
      "{{MEDIA_URL}}test/player.swf", "moviediv", "530", "325", "9.0.0", null,
      { "file": "http://www.youtube.com/v/0a1EYZLXQRM",
        "autostart": "false",
        "image": "http://img.youtube.com/vi/0a1EYZLXQRM/0.jpg" },
      { "wmode": "opaque", "allowscriptaccess": "always" });
    </script>
  </body>
</html>
