<html>
  <head>
   <script type="text/javascript" src="{{MEDIA_URL}}js/closure-library/closure/goog/base.js"></script>
</head>
<body>
<div>
  <object height="325" width="530" type="application/x-shockwave-flash" id="player21" name="player21" data="{{MEDIA_URL}}test/player.swf">
    <param name="allowfullscreen" value="true">
    <param name="allowscriptaccess" value="always">
    <param name="flashvars" value="file=http://www.youtube.com/v/0a1EYZLXQRM&amp;autostart=false&amp;plugins=sharing-2&amp;sharing.link=http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-189-multicore-programming-primer-january-iap-2007/projects/projects-introduction&amp;sharing.code=%3Cembed%20src%3D%22http%3A//ocw.mit.edu/jw-player-free/player.swf%22%20flashvars%3D%22file%3Dhttp%3A//www.youtube.com/v/0a1EYZLXQRM%22%20allowfullscreen%3Dtrue%20allowscriptaccess%3Dalways%20id%3Dplayer1%20name%3Dplayer1%20%20height%3D325%20width%3D530%3E%3C/embed%3E&amp;captions.file=null&amp;provider=youtube&amp;image=http://img.youtube.com/vi/0a1EYZLXQRM/0.jpg">
  </object>
</div>
<div>
  <a href="#" onclick="togglePlaying(); return false">toggle play</a>
</div>
<div>
  <a href="#" onclick="printPlayheadTime(); return false">print position</a>
</div>
<!-- Event log. -->
<fieldset class="goog-debug-panel">
  <legend>Event Log</legend>
  <div id="log" style="height: 300px; overflow-y: auto"></div>
</fieldset>
<div id="perf"></div>  
<script type="text/javascript">
    goog.require('goog.debug.Logger');
    goog.require('goog.debug.LogManager');
    goog.require('goog.debug.DivConsole');
    goog.require('goog.format.JsonPrettyPrinter');
</script>
<script type="text/javascript">
  goog.debug.LogManager.getRoot().setLevel(goog.debug.Logger.Level.ALL);
  var logger = goog.debug.Logger.getLogger('jwplayer');
  var logConsole = new goog.debug.DivConsole(goog.dom.$('log'));

  logConsole.setCapturing(true);

  var player = null;
  var printer = new goog.format.JsonPrettyPrinter();

  function getPlayer() {
     if (!player)
         player = document.getElementById('player21');
  }

  function printPlayheadTime() {
     getPlayer();
     logger.info('playhead position: ' + player.getConfig().position);
     logger.info('config object: ' + printer.format(player.getConfig()));
  }

  function togglePlaying() {
     getPlayer();
     player.sendEvent('play');
  }
</script>
</body>
