{% extends "jsdemo/base_demo.html" %}
{% block body %}
<h2>blip.tv mp4 file</h2>
<p>http://blip.tv/file/get/Miropcf-UniversalSubtitlesIntroduction546.mp4</p>
<video controls>
  <source src="http://blip.tv/file/get/Miropcf-UniversalSubtitlesIntroduction546.mp4" />
</video>

<h2>blip.tv m4v file</h2>
<p>http://blip.tv/file/get/SceneStealers-ScottPilgrimVsTheWorldMovieReview474.m4v</p>
<video controls>
http://blip.tv/file/get/SceneStealers-ScottPilgrimVsTheWorldMovieReview474.m4v
</video>

<h2>diveintohtml5.org mp4 file</h2>
<p>http://diveintohtml5.org/i/pr6.mp4</p>
<video controls>
  <source src="http://diveintohtml5.org/i/pr6.mp4" />
</video>
{% endblock %}
