<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>Universal Subtitles</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/new_global.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/new_index.css">
    
  </head>

  <body>
    <div class="ultra-nav">
    <ul> 
        <li class="pcf_link"><a href="http://www.pculture.org">PCF</a></li> 
    	  <li><a href="http://getmiro.com" class="miro-top">Miro</a></li>
        <li class="ipad_link"><a href="http://www.getmiro.com/ipad/">Miro for iPad</a></li> 
        <li class="mvc_link"><a href="http://www.mirovideoconverter.com">Miro Video Converter</a></li> 
        <li class="mc_link"><a href="http://www.mirocommunity.org">Miro Community</a></li> 
        <li class="us_link"><a href="http://www.universalsubtitles.org">Universal Subtitles</a></li> 
    </ul>
    </div><!-- // ultra-nav -->
    <div id="header">
      <div class="container">
        <h1><a href="#">Universal Subtitles</a></h1>
        <ul id="nav">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Help</a></li>
          <li id="btn_twitter"><a href="#">Twitter</a></li>
          <li id="btn_facebook"><a href="#">Facebook</a></li>
          <li id="user">
            <a href="#"><img src="{{ MEDIA_URL }}images/new_avatar_tiny.png"/>Me</a>
            <div id="menu">
              <ul>
                <li><a href="">My Videos</a></li>
                <li><a href="">Edit Profile</a></li>
                <li><a href="">My Messages</a></li>
                <li><a href="">Logout</a></li>
                <li class="section"><strong>My Teams</strong></li>
                <li><a href="">Al Jazeera</a></li>
                <li><a href="">Stanford</a></li>
                <li id="last"><a href="">Harvard</a></li>
              </ul>
            </div><!-- // menu -->
          </li>
        </ul>
      </div>
    </div>
        
    <div id="subheader">
      <div class="container">
        <ul>
          <li><a href="#">Subtitle a Video</a></li>
          <li><a href="#">Watch Videos</a></li>
          <li><a href="#" class="current">Volunteer</a></li>
          <li><a href="#">Enterprise Services</a></li>
        </ul>
        
        <form id="search">
          <input type="text" name="q" value="Search Videos">
        </form>
      </div>
    </div>    <!-- end #subheader-->
    
    
    <div class="container">
      
      <div id="home-blurb">
        <h1>The easiest way to caption and translate any video.</h1>
        <p>Subtitles make videos more powerful, more global, and more searchable.</p>
      </div>
      
      
      <div id="home-left">
        <div id="subtitle" class="clearfix">
          <form>
            <h2>Subtitle a Video Now</h2>
            <input type="text" name="url" />
            <button class="button" type="submit">Subtitle</button>
            <p>Works with YouTube, Vimeo, Blip.tv, HTML5, and more.</p>
          </form>
          
          <div id="features">
            <h3>Features</h3>
            <ul>
              <li>Embed the video anywhere</li>
              <li>Add subtitles yourself or ask viewers to help.</li>
              <li><a href="">Full site integration</a></li>
            </ul>
          </div>
        </div> <!-- end #subtitle -->
        
        <div>
          <h2>Volunteers Needed</h2>
          <p>Our deaf and hard of hearing users and non-profits request help for videos that need captions or translations. <a href="#">See the most requested videos.</a></p>
        </div>
        
        <div>
          <h2>Complete Subtitling Solutions</h2>
          <p>Increase viewership with transcription, captioning, and translation services, and flexible API and integration options. Improve SEO, reach a global audience, and build a managed volunteer community. <a href="#">See our enterprise services.</a></p>
        </div>
      </div> <!-- end #home-left -->
      
      <div id="home-right">
        <!-- widget goes here -->
      </div>
      
      <div class="clearfix"></div>
      <div id="benefits" class="clearfix">
        <a class="button" href="#">5 key benefits</a>
        <h2>The largest, most powerful captioning and translation platform in the world.</h2>
      </div> <!-- end #benefits -->
      
      <div id="partners">
        <ul class="clearfix">
          <li>
            <a href="">
            <img src="{{ MEDIA_URL }}images/partner_sample_logo.png"/>
            Mozilla
            <span class="url">example at mozilla.com</span>
              </a>
          </li>
          <li>
            <a href="">
            <img src="{{ MEDIA_URL }}images/partner_sample_logo.png"/>
            Mozilla
            <span class="url">example at mozilla.com</span>
            </a>
          </li>
          <li>
            <a href="">
            <img src="{{ MEDIA_URL }}images/partner_sample_logo.png"/>
            Mozilla
            <span class="url">example at mozilla.com</span>
            </a>
          </li>
          <li>
            <a href="">
            <img src="{{ MEDIA_URL }}images/partner_sample_logo.png"/>
            Mozilla
            <span class="url">example at mozilla.com</span>
            </a>
          </li>
          <li>
            <a href="">
            <img src="{{ MEDIA_URL }}images/partner_sample_logo.png"/>
            Mozilla
            <span class="url">example at mozilla.com</span>
            </a>
          </li>
        </ul>
      </div> <!-- // partners -->
      
      {% comment %}
      <p id="enterprise">
        Interested in deep integration or a volunteer translation team? Want crowdsourcing with quality control?
        <a class="button grey" href="#">Take a look at our enterprise services</a>
      </p>
      {% endcomment %}
      
      <div id="most-popular" class="featured">
        <a class="more" href="">More Videos</a>
        <h2>Most Popular Today</h2>
        
        <p class="links">
          <a href="#">Top this month</a>
          <a href="#">Top all-time</a>
        </p>
        
        <ul>
          <li class="clearfix">
            <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
              <img src="{{ MEDIA_URL }}images/featured_img.png" />
            </div>
            <a href="#" class="title">Cherynobl: A Million Causualties</a>
            <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
            <a href="#">Watch Video</a>
          </li>
          <li class="clearfix">
            <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
              <img src="{{ MEDIA_URL }}images/featured_img.png" />
            </div>
            <a href="#" class="title">Cherynobl: A Million Causualties</a>
            <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
            <a href="#">Watch Video</a>
          </li>
          <li class="clearfix">
            <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
              <img src="{{ MEDIA_URL }}images/featured_img.png" />
            </div>
            <a href="#" class="title">Cherynobl: A Million Causualties</a>
            <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
            <a href="#">Watch Video</a>
          </li>
          <li class="clearfix">
            <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
              <img src="{{ MEDIA_URL }}images/featured_img.png" />
            </div>
            <a href="#" class="title">Cherynobl: A Million Causualties</a>
            <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
            <a href="#">Watch Video</a>
          </li>
          <li class="clearfix">
            <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
              <img src="{{ MEDIA_URL }}images/featured_img.png" />
            </div>
            <a href="#" class="title">Cherynobl: A Million Causualties</a>
            <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
            <a href="#">Watch Video</a>
          </li>
        </ul>
      </div><!-- // most_popular -->
      
      <div id="featured-videos" class="featured">
        <a class="more" href="">More Videos</a>
        <h2>Featured Videos</h2>
        <p class="links">
          <a href="#">Top volunteer needs</a>
          <a href="#">Translation teams</a>
        </p>
        
        <ul>
          <li class="clearfix">
            <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
              <img src="{{ MEDIA_URL }}images/featured_img.png" />
            </div>
            <a href="#" class="title">Cherynobl: A Million Causualties</a>
            <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
            <a href="#">Watch Video</a>
          </li>
          <li class="clearfix">
            <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
              <img src="{{ MEDIA_URL }}images/featured_img.png" />
            </div>
            <a href="#" class="title">Cherynobl: A Million Causualties</a>
            <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
            <a href="#">Watch Video</a>
          </li>
          <li class="clearfix">
            <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
              <img src="{{ MEDIA_URL }}images/featured_img.png" />
            </div>
            <a href="#" class="title">Cherynobl: A Million Causualties</a>
            <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
            <a href="#">Watch Video</a>
          </li>
          <li class="clearfix">
            <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
              <img src="{{ MEDIA_URL }}images/featured_img.png" />
            </div>
            <a href="#" class="title">Cherynobl: A Million Causualties</a>
            <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
            <a href="#">Watch Video</a>
          </li>
          <li class="clearfix">
            <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
              <img src="{{ MEDIA_URL }}images/featured_img.png" />
            </div>
            <a href="#" class="title">Cherynobl: A Million Causualties</a>
            <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
            <a href="#">Watch Video</a>
          </li>
        </ul>
      </div><!-- // featured_videos -->
    </div><!-- // container -->
    
    <div class="clearfix"></div>
    <div id="footer" class="clearfix">
      <div class="container">
        <ul>
          <li><a href="#">Subtitle a Video</a></li>
          <li><a href="#">Most Watched</a></li>
          <li><a href="#">Volunteer</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
        
        <a id="pcf" href="#">A project of the<br/> Participatory Culture Foundation</a>
        
        <address>
          <strong>Participatory Culture Foundation</strong><br />
          PO Box 55071<br />
          #20335<br />
          Boston, MA 02205-5071
        </address>
        
        <form id="language-select">
          <label for="language">Website Language</label>
          <select name="language" >
            <option value="">---------</option>
            <option value="af">Afrikaans (Afrikaans)</option>
            <option value="aka">Akan</option>
            <option value="sq">Albanian (Shqip)</option>
            <option value="ase">American Sign Language</option>
            <option value="amh">Amharic</option>
            <option value="oji">Anishinaabe</option>
            <option value="ar">Arabic (العربية)</option>
            <option value="as">Assamese (Assamese)</option>
            <option value="ast">Asturian</option>
            <option value="ay">Aymara (Aymar)</option>
            <option value="bam">Bambara</option>
            <option value="eu">Basque (Euskara)</option>
            <option value="be">Belarusian (Беларуская)</option>
            <option value="bn">Bengali (Bengali)</option>
            <option value="ber">Berber</option>
            <option value="bs">Bosnian (Bosanski)</option>
            <option value="br">Breton (Brezhoneg)</option>
            <option value="bg">Bulgarian (Български)</option>
            <option value="my">Burmese (Myanmasa)</option>
            <option value="ca">Catalan (Català)</option>
            <option value="nya">Chewa</option>
            <option value="zh-cn">Chinese, Simplified (简体字)</option>
            <option value="zh-tw">Chinese, Traditional (簡體字)</option>
            <option value="zh">Chinese, Yue (中文)</option>
            <option value="cr">Cree (Nehiyaw)</option>
            <option value="ht">Creole, Haitian</option>
            <option value="hr">Croatian (Hrvatski)</option>
            <option value="cs">Czech (Čeština)</option>
            <option value="da">Danish (Dansk)</option>
            <option value="nl">Dutch (Nederlands)</option>
            <option value="en" selected="selected">English (English)</option>
            <option value="en-gb">English, British (English, British)</option>
            <option value="eo">Esperanto (Esperanto)</option>
            <option value="et">Estonian (Eesti)</option>
            <option value="ee">Ewe</option>
            <option value="tl">Filipino (Tagalog)</option>
            <option value="fi">Finnish (Suomi)</option>
            <option value="fr">French (Français)</option>
            <option value="fy-nl">Frisian</option>
            <option value="ful">Fula</option>
            <option value="gl">Galician (Galego)</option>
            <option value="ka">Georgian (ქართული)</option>
            <option value="de">German (Deutsch)</option>
            <option value="kik">Gikuyu</option>
            <option value="el">Greek (Ελληνικά)</option>
            <option value="gu">Gujarati (ગુજરાતી)</option>
            <option value="hai">Haida</option>
            <option value="hau">Hausa</option>
            <option value="he">Hebrew (עברית)</option>
            <option value="hi">Hindi (हिन्दी)</option>
            <option value="hu">Hungarian (Magyar)</option>
            <option value="bnt">Ibibio</option>
            <option value="is">Icelandic (Íslenska)</option>
            <option value="ibo">Igbo</option>
            <option value="id">Indonesian (Bahasa Indonesia)</option>
            <option value="iu">Inuktitut (Inuktitut)</option>
            <option value="ga">Irish (Gaeilge)</option>
            <option value="it">Italian (Italiano)</option>
            <option value="ja">Japanese (日本語)</option>
            <option value="kn">Kannada (ಕನ್ನಡ)</option>
            <option value="kau">Kanuri</option>
            <option value="km">Khmer (Cambodian)</option>
            <option value="kin">Kinyarwanda</option>
            <option value="kon">Kongo</option>
            <option value="ko">Korean (한국어)</option>
            <option value="ky">Kyrgyz (Kırgızca)</option>
            <option value="sr-latn">Latin, Serbian</option>
            <option value="lv">Latvian (Latviešu)</option>
            <option value="lin">Lingala</option>
            <option value="lt">Lithuanian (Lietuvių)</option>
            <option value="lua">Luba-Kasai</option>
            <option value="luy">Luhya</option>
            <option value="luo">Luo</option>
            <option value="mk">Macedonian (Македонски)</option>
            <option value="mlg">Malagasy</option>
            <option value="ms">Malay (Bahasa Melayu)</option>
            <option value="ml">Malayalam (Malayalam)</option>
            <option value="mnk">Mandinka</option>
            <option value="mr">Marathi (मराठी)</option>
            <option value="meta-geo">Metadata: Geo</option>
            <option value="meta-tw">Metadata: Twitter</option>
            <option value="meta-wiki">Metadata: Wikipedia</option>
            <option value="moh">Mohawk</option>
            <option value="mn">Mongolian (Монгол)</option>
            <option value="mos">Mossi</option>
            <option value="ne">Nepali (नेपाली)</option>
            <option value="nso">Northern Sotho</option>
            <option value="nb">Norwegian Bokmal (Norsk Bokmål)</option>
            <option value="nn">Norwegian Nynorsk (Nynorsk)</option>
            <option value="oc">Occitan (Occitan)</option>
            <option value="or">Oriya (Oriya)</option>
            <option value="orm">Oromo</option>
            <option value="fa">Persian (فارسی)</option>
            <option value="pl">Polish (Polski)</option>
            <option value="pt">Portuguese (Português)</option>
            <option value="pt-br">Portuguese, Brazilian</option>
            <option value="pan">Punjabi</option>
            <option value="que">Quechua</option>
            <option value="ro">Romanian (Română)</option>
            <option value="ru">Russian (Русский)</option>
            <option value="sr">Serbian (Српски / Srpski)</option>
            <option value="sna">Shona</option>
            <option value="si">Sinhala (Sinhalese)</option>
            <option value="sk">Slovak (Slovenčina)</option>
            <option value="sl">Slovenian (Slovenščina)</option>
            <option value="som">Somali</option>
            <option value="sot">Sotho</option>
            <option value="es">Spanish (Español)</option>
            <option value="es-ar">Spanish, Argentinian</option>
            <option value="swa">Swahili</option>
            <option value="sv">Swedish (Svenska)</option>
            <option value="ta">Tamil (தமிழ்)</option>
            <option value="te">Telugu (తెలుగు)</option>
            <option value="th">Thai (ไทย)</option>
            <option value="bo">Tibetan (Bod skad)</option>
            <option value="tir">Tigrinya</option>
            <option value="tsn">Tswana</option>
            <option value="tr">Turkish (Türkçe)</option>
            <option value="uk">Ukrainian (Українська)</option>
            <option value="umb">Umbundu</option>
            <option value="urd">Urdu</option>
            <option value="vi">Vietnamese (Tiếng Việt)</option>
            <option value="cy">Welsh (Cymraeg)</option>
            <option value="wol">Wolof</option>
            <option value="xho">Xhosa</option>
            <option value="yi">Yiddish (ייִדיש)</option>
            <option value="yor">Yoruba</option>
            <option value="zul">Zulu</option>
          </select>
        </form>
      </div><!-- // container -->
    </div><!-- // footer -->
  </body>
</html>
