{% extends "base.html" %}

{% block body_attrs %}id="teams"{% endblock %}



{% block main_content %}



<!-- no header grid when video is present -->


  <h2>The Official Universal Subtitles Volunteer Team</h2>



    
    <div class="grid_8 alpha">
      <ul class="video_tabs">
        <li><a class="active" href="#comments-tab">Videos</a></li>
        <li><a href="#comments-tab">Members</a></li>
      </ul>
      
      
      <div class="boxx">
        <div class="padding_small">
          
          <div class="inline_search large">
            <form>
              <input type="text">
              <button class="green_button big">Search</button>
            </form>
          </div>
          
          <div class="clearfix"></div>
        </div>
      </div>

    <div class="grid_8 alpha">
      <br />

      <div class="sort_button blue_button">
        <div class='arrow'></div>

        <span class="sort_label">
          Sort by <strong>Name</strong>
        </span>
        <ul>
          <li><a href="/people?sort=name" data-remote="true" class="first">Most Members</a></li>
          <li><a href="/people?sort=district" data-remote="true">Newest</a></li>
          <li><a href="/people?sort=citations" data-remote="true" class="last">A-Z</a></li>
        </ul>
      </div>

      <div class="sort_button blue_button">
        <div class='arrow'></div>

        <span class="sort_label">
          <strong>All Languages</strong>
        </span>
        <ul>
          <li><a href="/people?sort=name" data-remote="true" class="first">Most Members</a></li>
          <li><a href="/people?sort=district" data-remote="true">Newest</a></li>
          <li><a href="/people?sort=citations" data-remote="true" class="last">A-Z</a></li>
        </ul>
      </div>

      <div class="search_toggles">
        <a href="#" class="toggle on search_title"><span></span>Search Title Only</a>
        <a href="#" class="toggle search_full"><span></span>Search Full Text</a>
      </div>
    </div>

    <div class="grid_8 clearfix"><br /></div>

    <ul class="big_list">
        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet. <span> Views - 909,334,223</span></p>  
            <div><span class="started">Started 9 months ago</span><span class="last_worked">Last Worked on 9 months ago</span></div>
            <div><span class="page_loads">1,922,434 Page Loads</span><span class="fetched">932,888 Subtitles Fetched</span></div>
            <div><span class="langs_available">5 Languages Available - <a href="#">English <span>105 lines</span></a></span></div>

          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet. <span> Views - 909,334,223</span></p>  
            <div><span class="started">Started 9 months ago</span><span class="last_worked">Last Work on 9 months ago</span></div>
            <div><span class="page_loads">1,922,434 Page Loads</span><span class="fetched">932,888 Subtitles Fetched</span></div>
            <div><span class="langs_available">5 Languages Available - <a href="#">English <span>105 lines</span></a></span></div>

          </div>
        </li>
        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet. <span> Views - 909,334,223</span></p>  
            <div><span class="started">Started 9 months ago</span><span class="last_worked">Last Work on 9 months ago</span></div>
            <div><span class="page_loads">1,922,434 Page Loads</span><span class="fetched">932,888 Subtitles Fetched</span></div>
            <div><span class="langs_available">5 Languages Available - <a href="#">English <span>105 lines</span></a></span></div>

          </div>
        </li>
        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet. <span> Views - 909,334,223</span></p>  
            <div><span class="started">Started 9 months ago</span><span class="last_worked">Last Work on 9 months ago</span></div>
            <div><span class="page_loads">1,922,434 Page Loads</span><span class="fetched">932,888 Subtitles Fetched</span></div>
            <div><span class="langs_available">5 Languages Available - <a href="#">English <span>105 lines</span></a></span></div>

          </div>
        </li>
        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet. <span> Views - 909,334,223</span></p>  
            <div><span class="started">Started 9 months ago</span><span class="last_worked">Last Work on 9 months ago</span></div>
            <div><span class="page_loads">1,922,434 Page Loads</span><span class="fetched">932,888 Subtitles Fetched</span></div>
            <div><span class="langs_available">5 Languages Available - <a href="#">English <span>105 lines</span></a></span></div>

          </div>
        </li>
        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet. <span> Views - 909,334,223</span></p>  
            <div><span class="started">Started 9 months ago</span><span class="last_worked">Last Work on 9 months ago</span></div>
            <div><span class="page_loads">1,922,434 Page Loads</span><span class="fetched">932,888 Subtitles Fetched</span></div>
            <div><span class="langs_available">5 Languages Available - <a href="#">English <span>105 lines</span></a></span></div>

          </div>
        </li>
        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet. <span> Views - 909,334,223</span></p>  
            <div><span class="started">Started 9 months ago</span><span class="last_worked">Last Work on 9 months ago</span></div>
            <div><span class="page_loads">1,922,434 Page Loads</span><span class="fetched">932,888 Subtitles Fetched</span></div>
            <div><span class="langs_available">5 Languages Available - <a href="#">English <span>105 lines</span></a></span></div>

          </div>
        </li>

        
      </ul>
  

  </div>


  <div class="grid_4 omega">

    <h3>Team Activity Stream</h3>
    <a href="#">Team Video Activity</a> | <a href="#">Member Activity</a>

    <ul class="small_list">




        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in <a href="#">Spanish</a></p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        

        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        


    </ul>

    <a href="#" class="blue_button small margin-top floatright">Sea All Videos</a>


  </div>





{% endblock %}
