{% extends "base.html" %}

{% block body_attrs %}id="teams"{% endblock %}



{% block main_content %}


  <h2>Team Directory</h2>


  <div class="grid_8 alpha">


    <ul class="video_tabs">
      <li class="active">
          <a href="#transcripts-tab">

            
                Original Language Subtitles
            
          </a>
      </li>
      <li><a href="#comments-tab">Comments <span class="badgy_out"><span class="badgy">0</span></span></a></li>
      <li><a href="#revisions-tab">History <span class="badgy_out"><span class="badgy">1</span></span></a></li>
    </ul>
    
      <div class="boxx">
      <div class="padding_small">
        <div class="sort_button">
          <div class='arrow'></div>

          <span class="sort_label">
            Sort by <strong>Name</strong>
          </span>
          <ul>
            <li><a href="/people?sort=name" data-remote="true" class="first">Most Members</a></li>
            <li><a href="/people?sort=district" data-remote="true">Newest</a></li>
            <li><a href="/people?sort=citations" data-remote="true" class="last">A-Z</a></li>
          </ul>
        </div>



        <div class="inline_search">
          <form>
            <input type="text">
            <button class="search_button"><span>Search</span></button>
          </form>
        </div>

    <div class="clearfix"></div>
    </div>

    </div>




    <div class="grid_8 clearfix"><br /><br /></div>


    <ul class="big_list">
        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>
        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>


        
      </ul>
  

  </div>


  <div class="grid_4 omega">

    <p><strong>Group Description:</strong>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
      
    <ul class="team_meta">

      <li><strong>Team Managers:</strong> <a href="#">Somebody Awesome</a>, <a href="#">Somebody Awesomer</a></li>
      <li><strong>Membership Policy:</strong> <a href="#">Somebody Awesome</a>, <a href="#">Somebody Awesomer</a></li>
      <li><strong>Video Policy:</strong> <a href="#">Somebody Awesome</a>, <a href="#">Somebody Awesomer</a></li>
    </ul>
     

    <h3>Team Activity Stream</h3>

    <ul class="small_list">
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>


    </ul>


  </div>







{% endblock %}
