{% extends "base.html" %}

{% block body_attrs %}id="teams"{% endblock %}



{% block main_content %}



<!-- no header grid when video is present -->


  <h2>The Official Universal Subtitles Volunteer Team</h2>




  <div class="grid_8 alpha">

   <div>

<img src="/site_media/images/mock_vid.png" />

  
      </div>

    <ul class="video_tabs">
      <li><a class="active" href="#comments-tab">Volunteer Videos <span class="badgy_out"><span class="badgy">0</span></span></a></li>
      <li><a href="#comments-tab">Volunteer Videos <span class="badgy_out"><span class="badgy">0</span></span></a></li>

    </ul>
    
      <div class="boxx">
      <div class="padding_small">
        <div class="sort_button">
          <div class='arrow'></div>

          <span class="sort_label">
            Sort by <strong>Name</strong>
          </span>
          <ul>
            <li><a href="/people?sort=name" data-remote="true" class="first">Most Members</a></li>
            <li><a href="/people?sort=district" data-remote="true">Newest</a></li>
            <li><a href="/people?sort=citations" data-remote="true" class="last">A-Z</a></li>
          </ul>
        </div>



        <div class="inline_search">
          <form>
            <input type="text">
            <button class="green_button big">Search</button>
          </form>
        </div>

    <div class="clearfix"></div>
    </div>

    </div>




    <div class="grid_8 clearfix"><br /><br /></div>

    <ul class="big_list">
        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <div><span class="small_sub">Submitted by <a href="#">Morgan Knutson</a></span></div>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet. <span> Views - 909,334,223</span></p>  
            <div class="need_help"><span>We need your help with</span> <a href="#">Japanese</a>, <a href="#">Chinese</a></div>
            <div class="completed_in"><span>No subtitles yet -- </span><a href="#">get started</a></div>
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <div><span class="small_sub">Submitted by <a href="#">Morgan Knutson</a></span></div>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet. <span> Views - 909,334,223</span></p>  
            <div class="need_help"><span>We need your help with</span> <a href="#">Japanese</a>, <a href="#">Chinese</a></div>
            <div class="completed_in"><span>Subtitles completed in</span> <a href="#">Japanese</a>, <a href="#">Chinese</a></div>
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <div><span class="small_sub">Submitted by <a href="#">Morgan Knutson</a></span></div>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet. <span> Views - 909,334,223</span></p>  
            <div class="need_help"><span>We need your help with</span> <a href="#">Japanese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a></div>
            <div class="completed_in"><span>Subtitles completed in</span> <a href="#">Japanese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a>, <a href="#">Chinese</a></div>
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <div><span class="small_sub">Submitted by <a href="#">Morgan Knutson</a></span></div>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet. <span> Views - 909,334,223</span></p>  
            <div class="need_help"><span>We need your help with</span> <a href="#">Japanese</a>, <a href="#">Chinese</a></div>
            <div class="completed_in"><span>Subtitles completed in</span> <a href="#">Japanese</a>, <a href="#">Chinese</a></div>
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <div><span class="small_sub">Submitted by <a href="#">Morgan Knutson</a></span></div>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet. <span> Views - 909,334,223</span></p>  
            <div class="need_help"><span>We need your help with</span> <a href="#">Japanese</a>, <a href="#">Chinese</a></div>
            <div class="completed_in"><span>Subtitles completed in</span> <a href="#">Japanese</a>, <a href="#">Chinese</a></div>
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <div><span class="small_sub">Submitted by <a href="#">Morgan Knutson</a></span></div>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet. <span> Views - 909,334,223</span></p>  
            <div class="need_help"><span>We need your help with</span> <a href="#">Japanese</a>, <a href="#">Chinese</a></div>
            <div class="completed_in"><span>Subtitles completed in</span> <a href="#">Japanese</a>, <a href="#">Chinese</a></div>
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <div><span class="small_sub">Submitted by <a href="#">Morgan Knutson</a></span></div>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet. <span> Views - 909,334,223</span></p>  
            <div class="need_help"><span>We need your help with</span> <a href="#">Japanese</a>, <a href="#">Chinese</a></div>
            <div class="completed_in"><span>Subtitles completed in</span> <a href="#">Japanese</a>, <a href="#">Chinese</a></div>
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <div><span class="small_sub">Submitted by <a href="#">Morgan Knutson</a></span></div>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet. <span> Views - 909,334,223</span></p>  
            <div class="need_help"><span>We need your help with</span> <a href="#">Japanese</a>, <a href="#">Chinese</a></div>
            <div class="completed_in"><span>Subtitles completed in</span> <a href="#">Japanese</a>, <a href="#">Chinese</a></div>
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="#">Democracy Now!</a></h4>
            <div><span class="small_sub">Submitted by <a href="#">Morgan Knutson</a></span></div>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet. <span> Views - 909,334,223</span></p>  
            <div class="need_help"><span>We need your help with</span> <a href="#">Japanese</a>, <a href="#">Chinese</a></div>
            <div class="completed_in"><span>Subtitles completed in</span> <a href="#">Japanese</a>, <a href="#">Chinese</a></div>
          </div>
        </li>


        
      </ul>
  

  </div>


  <div class="grid_4 omega">

    <h3>Team Activity Stream</h3>
    <a href="#">Team Video Activity</a> | <a href="#">Member Activity</a>

    <ul class="small_list">




        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in <a href="#">Spanish</a></p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        

        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="#">Username</a> Edited</h4>
            <p><a href="#">Democracy Now 11/09/2010</a> in Spanish</p>
            <div><span>6 hours</span></div>  
          </div>
        </li>
        


    </ul>

    <a href="#" class="blue_button small margin-top floatright">Sea All Videos</a>


  </div>





{% endblock %}
