{% extends "base.html" %}

{% block body_attrs %}id="admin"{% endblock %}



{% block main_content %}





<h1>Teams Administration</h1>



  <div class="grid_3 left_nav_wrapper alpha">
    <ul class="left_nav">
  
        <li class="full active">
            <a href="/videos/yi9RZtXgCAY1/">Teams</a>
        </li>
            
        <li class="full">
           <a href="/videos/yi9RZtXgCAY1/meta-tw/">Messages</a>
        </li>

        <li class="full">
           <a href="/videos/yi9RZtXgCAY1/meta-tw/">Notification Settings</a>
        </li>
        
        <li class="eighty">
           <a href="/videos/yi9RZtXgCAY1/sq/">Profile Settings</a>
        </li>
    
    </ul>
    
    <a class="green_button small" id="add_translation" href="#">Add Team</a>
        
  </div>









  <div class="wrap grid_9 omega">  
    <div id="languages-tab" class="grid_9 alpha omega">  

            
  
            

      <h4 class="inline">sdfsdf</h4> 
      <ul class="inline_tabs">
          <li class="active">
              <a href="#transcripts-tab">
                <span class="inline_text">
                
                    Team Settings
                
                </span>

              </a>
          </li>
          <li class="bull">&bull;</li>
          <li><a href="#comments-tab"><span class="inline_text">Team Members</span> <span class="badgy_out"><span class="badgy">63</span></span></a></li>
          <li class="bull">&bull;</li>
          <li><a href="#revisions-tab"><span class="inline_text">Team Videos</span> <span class="badgy_out"><span class="badgy">1</span></span></a></li>

      </ul>

      <div id="transcripts-tab">


         <table cellpadding="0" cellspacing="0">
            

          <thead>
            <tr>
              <th><a href="#">Team Name</a></th>
              <th><a href="#">Captain</a></th>
              <th><a href="#">Team Name</a></th>

            </tr>


          </thead>


                
                  <tr class="even">      
                    <td class="last">
                      
                          <span class="time-span time_link">
                            <span class="data">0.601</span>
                            <span class="badgy start">

                                <span class="stamp_text">0:01</span>
                            </span>
                            
                                <span class="connector"></span>
                                <span class="badgy end"><span class="stamp_text">0:02</span></span> 
                            
                          </span>
                      
                      a
                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">

                      
                          <span class="time-span time_link">
                            <span class="data">1.959</span>
                            <span class="badgy start">
                                <span class="stamp_text">0:02</span>
                            </span>
                            
                                <span class="connector"></span>
                                <span class="badgy end"><span class="stamp_text">0:04</span></span> 
                            
                          </span>

                      
                      b
                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">
                      
                          <span class="time-span time_link">
                            <span class="data">3.944</span>
                            <span class="badgy start">
                                <span class="stamp_text">0:04</span>

                            </span>
                            
                                <span class="connector"></span>
                                <span class="badgy end"><span class="stamp_text">0:05</span></span> 
                            
                          </span>
                      
                      c
                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">
                      
                          <span class="time-span time_link">

                            <span class="data">5.016</span>
                            <span class="badgy start">
                                <span class="stamp_text">0:05</span>
                            </span>
                            
                                <span class="connector"></span>
                                <span class="badgy end"><span class="stamp_text">0:06</span></span> 
                            
                          </span>
                      
                      d
                    </td>

                  </tr>
                
                  <tr class="even">      
                    <td class="last">
                      
                          <span class="time-span time_link">
                            <span class="data">5.549</span>
                            <span class="badgy start">
                                <span class="stamp_text">0:06</span>
                            </span>

                            
                                <span class="connector"></span>
                                <span class="badgy end"><span class="stamp_text">0:07</span></span> 
                            
                          </span>
                      
                      e
                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">
                      
                          <span class="time-span time_link">
                            <span class="data">6.713</span>

                            <span class="badgy start">
                                <span class="stamp_text">0:07</span>
                            </span>
                            
                                <span class="connector"></span>
                                <span class="badgy end"><span class="stamp_text">0:08</span></span> 
                            
                          </span>
                      
                      f
                    </td>
                  </tr>

                
            
          </table>
        </div>
        </div>
        
  
{% endblock %}
