{% extends "base.html" %}

{% block body_attrs %}id="teams"{% endblock %}



{% block main_content %}

      <a href="#" class="button start_team"><span>Start a Team</span></a>

  <h2>Team Directory</h2>


  <div class="grid_8 alpha">

    <p class="intro">
      Teams are a great way to work together on subtitling videos. Membership and participation policies vary from team to team. Don't know where to start? Check the sidebar!
    </p>

    

      <div class="boxx">
      <div class="padding_small">
        <div class="sort_button">
          <div class='arrow'></div>

          <span class="sort_label">
            Sort by <strong>Name</strong>
          </span>
          <ul>
            <li><a href="/people?sort=name" data-remote="true" class="first">Most Members</a></li>
            <li><a href="/people?sort=district" data-remote="true">Newest</a></li>
            <li><a href="/people?sort=citations" data-remote="true" class="last">A-Z</a></li>
          </ul>
        </div>



        <div class="inline_search">
          <form>
            <input type="text">
            <button class="search_button"><span>Search</span></button>
          </form>
        </div>

    <div class="clearfix"></div>
    </div>

    </div>






    <div class="grid_8 clearfix"><br /><br /></div>


    <ul class="big_list">
        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="teams_profile">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>
        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="teams_profile">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="teams_profile">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="teams_profile">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="teams_profile">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_medium"></a>
          <div class="info">
            <h4><a href="teams_profile">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>


        
      </ul>
  

  </div>


  <div class="grid_4 omega">

    <h3>Highlighted Teams</h3>

    <ul class="small_list">
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="teams_profile">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>
        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="teams_profile">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="teams_profile">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="teams_profile">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="teams_profile">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="teams_profile">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="teams_profile">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>

        <li>
          <a href="#" class="thumbnail_small"></a>
          <div class="info">
            <h4><a href="teams_profile">Democracy Now!</a></h4>
            <span class="small_sub">Team with 23 Members</span>
            <p>Lorem ipsum dalor sit amet lorem ipsulor sit amet lorem ipsum dor sit amet, Lorem ipsum dalor sit amet lorm dalor sit amet lorem ipsum dalor it amet, rem um dalor sit ametoripsum daloremipsum dalor sit amet lorem ipsum dalor sit amet lorem ipsum dalor sit amet.</p>  
          </div>
        </li>


    </ul>


  </div>







{% endblock %}
