{% extends "jsdemo/base_demo.html" %}
{% block body%}
<div style="width: 200px; text-align: center; font-size: 16px; padding: 10px; border: 2px dashed red;">
  <strong>
    <a href="javascript:(function(){window.UNISUBS_THROW_EXCEPTION=true;})();">
      throw exception!
    </a>
  </strong>
</div>
<div style="margin-top: 20px">
  Steps:
  <ol>
    <li>Drag this thing to your bookmarks bar!</li>
    <li>Before you click &quot;Finish subtitling&quot; in the sub dialog, click the bookmark. Then clicking &quot;Finish subtitling&quot; will throw an exception on the server.</li>
  </ol>
</div>
{% endblock %}
