{% extends "base.html" %}

{% block body_attrs %}id="teams"{% endblock %}



{% block main_content %}


  <h2>Timestamp Examples</h2>


  <div class="grid_8 alpha">


  <table cellpadding="0" cellspacing="0">
            
                               
               
                  <tr class="even">      
                    <td class="last">
                      
                          <span class="time-span time_link">
                            <span class="data">0.0</span>
                            <span class="badgy start">
                                <span class="stamp_text">0:00</span>
                            </span>
                            
                            <span class="connector"></span>
                            <span class="badgy end"><span class="stamp_text">0:04</span></span> 
                          </span>
                      
                      sdfdsf
                    </td>
                  </tr>
                
                  <tr>      
                    <td class="last">
                      
                          <span class="time-span time_link">
                            <span class="data">0.0</span>
                            <span class="badgy start">
                                <span class="stamp_text">0:00</span>
                            </span>
                            
                            <span class="connector"></span>
                            <span class="badgy end"><span class="stamp_text">0:04</span><span class="inserted_after"><span class="stamp_text">0:05</span><span class="arrow"></span></span></span> 
                          </span>
                      
                      sdfdsf
                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">
                      
                          <span class="time-span time_link">
                            <span class="data">0.0</span>
                            <span class="badgy start">
                                <span class="stamp_text">0:00</span>
                            </span>
                            
                            <span class="connector"></span>
                            <span class="badgy end"><span class="inserted_before"><span class="stamp_text">0:03</span><span class="arrow"></span></span><span class="stamp_text">0:04</span></span> 
                          </span>
                      
                      sdfdsf
                    </td>
                  </tr>
                
                  <tr>      
                    <td class="last">
                      
                          <span class="time-span time_link">
                            <span class="data">2.62307692308</span>
                            

  
                            <span class="badgy start">
                              <span class="inserted_before">
                                <span class="stamp_text">0:02</span>
                                <span class="arrow"></span>
                              </span>
                               <span class="stamp_text">0:03</span>
                            </span>
                            
                                <span class="connector"></span>

                                <span class="badgy end"><span class="stamp_text">0:04</span></span> 
                            
                          </span>
                      sdfsdfsdfsdf
                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">
                      
                          <span class="time-span time_link">
                            <span class="data">2.62307692308</span>
                            

  
                            <span class="badgy start">
                             
                               <span class="stamp_text">0:03</span>
                              <span class="inserted_after">
                                <span class="stamp_text">0:02</span>
                                <span class="arrow"></span>
                              </span>
                            </span>
                            
                                <span class="connector"></span>

                                <span class="badgy end"><span class="stamp_text">0:04</span></span> 
                            
                          </span>
                      sdfsdfsdfdsf
                    </td>

                  </tr>


                  <tr>      
                    <td class="last">
                      
                          <span class="time-span time_link">
                            <span class="data">0.0</span>
                    <span class="badgy start">
                             
                               <span class="stamp_text">0:03</span>
                              <span class="inserted_after">
                                <span class="stamp_text">0:02</span>
                                <span class="arrow"></span>
                              </span>
                            </span>
                            
                            <span class="connector"></span>
                            <span class="badgy end"><span class="stamp_text">0:04</span><span class="inserted_after"><span class="stamp_text">0:05</span><span class="arrow"></span></span></span> 
                          </span>
                      
                      sdfdsf
                    </td>
                  </tr>
                
                  <tr class="even">      
                    <td class="last">
                      
                          <span class="time-span time_link">
                            <span class="data">0.0</span>
                    <span class="badgy start">
                              <span class="inserted_before">
                                <span class="stamp_text">0:02</span>
                                <span class="arrow"></span>
                              </span>                             
                               <span class="stamp_text">0:03</span>

                            </span>
                            
                            <span class="connector"></span>
                            <span class="badgy end"><span class="inserted_before"><span class="stamp_text">0:05</span><span class="arrow"></span></span><span class="stamp_text">0:04</span></span> 
                          </span>
                      
                      sdfdsf
                    </td>
                  </tr>
                
        </table>

  </div>







{% endblock %}
