{% extends "jsdemo/base_demo.html" %}
{% block body%}
<div>
  <h1>Youtube Video</h1>
  <div id="ytvideo" style="height: 360px"></div>
  <h1>HTML 5 Video</h1>
  <div id="html5video"></div>
</div>
<div style="position: fixed; left: 500px; top: 80px;">
  <!-- Control panel -->
  <div>
    <div>
      Video to control: 
      <select id="videoselector">
        <option value="ytPlayer">YouTube</option>
        <option value="html5Player">HTML 5</option>
      </select>
    </div>
    <div>
      <a href="#" id="playButton">play</a> <a href="#" id="pauseButton">pause</a>
    </div>
    <div>
      Periodic focus stealing: 
      <a href="#" id="focusStealingTimerToggle">off</a> 
      <input type="text" id="focusable"/>
    </div>
  </div>
 <!-- Event log. -->
 <fieldset class="goog-debug-panel">
   <legend>Event Log</legend>
   <div id="log" style="height: 300px; overflow-y: auto"></div>
 </fieldset>
 <div id="perf"></div>  
</div>

<script type="text/javascript">
  // Set up a logger.
  goog.debug.LogManager.getRoot().setLevel(goog.debug.Logger.Level.ALL);
  var ytlogger = goog.debug.Logger.getLogger('youtube');
  var html5logger = goog.debug.Logger.getLogger('html5');
  var focusLogger = goog.debug.Logger.getLogger('focus');
  var logconsole = new goog.debug.DivConsole(goog.dom.$('log'));
  logconsole.setCapturing(true);

  var EVENTS = goog.object.getValues(mirosubs.video.AbstractVideoPlayer.EventType);
  ytlogger.fine(['Listening for: ', EVENTS.join(', '), '.'].join(''));
  html5logger.fine(['Listening for: ', EVENTS.join(', '), '.'].join(''));

  function logYtEvent(e) {
    ytlogger.info(e.type);
  }

  function logHtml5Event(e) {
    html5logger.info(e.type);
  }

  // Set up the video players.
  var ytSource = new mirosubs.video.YoutubeVideoSource('w7vuupjsaVI');
  var ytPlayer = ytSource.createPlayer();
  ytPlayer.decorate(goog.dom.$('ytvideo'));
  var html5source = new mirosubs.video.Html5VideoSource(
      'http://videos.mozilla.org/firefox3/switch/switch.ogg');
  var html5player = html5source.createPlayer();
  html5player.decorate(goog.dom.$('html5video'));

  var curPlayer = ytPlayer;

  goog.events.listen(ytPlayer, EVENTS, logYtEvent);
  goog.events.listen(html5player, EVENTS, logHtml5Event);

  // Set up the controls.
  function videoSelected(e) {
    curPlayer = window[goog.dom.$('videoselector').value];
  }
  goog.events.listen(goog.dom.$('videoselector'), 'change', videoSelected);

  goog.events.listen(goog.dom.$('playButton'), 'click', function(event) {
    curPlayer.play();
    event.preventDefault();
  });

  goog.events.listen(goog.dom.$('pauseButton'), 'click', function(event) {
    curPlayer.pause();
    event.preventDefault();
  });

  var stealingFocus = false;
  goog.events.listen(goog.dom.$('focusStealingTimerToggle'), 'click', 
    function(event) {
      stealingFocus = !stealingFocus;
      goog.dom.$('focusStealingTimerToggle').innerHTML = stealingFocus ? 'on' : 'off';
      event.preventDefault();
    });
  var focusTimer = new goog.Timer(2000);
  focusTimer.start();
  goog.events.listen(focusTimer, goog.Timer.TICK, function() {
    if (stealingFocus) {
      focusLogger.info('attempting to steal focus');
      goog.dom.$('focusable').focus();
    }
  });
</script>
{% endblock %}
