{% extends "jsdemo/base_demo.html" %}
{% block body %}
<div>
  <div id="html5video"></div>
  <div id="ytvideo" style="margin-top: 10px"></div>
</div>
<script type="text/javascript">
  var html5container = new goog.ui.Component();
  html5container.decorate(goog.dom.$('html5video'));
  var html5videoSource = new mirosubs.video.Html5VideoSource(
      'http://videos.mozilla.org/firefox3/switch/switch.ogg');
  html5container.addChild(html5videoSource.createControlledPlayer(), true);

  var ytcontainer = new goog.ui.Component();
  ytcontainer.decorate(goog.dom.$('ytvideo'));
  var ytVideoSource = new mirosubs.video.YoutubeVideoSource(
      'adam', 'MmZexg8sxyk');
  ytcontainer.addChild(ytVideoSource.createControlledPlayer(), true);
</script>
{% endblock %}
