{% extends "jsdemo/base_demo.html" %}
{% block body %}
<div style="width: 400px; float: left">
  <video id="video" width="400" autobuffer="true" controls="true">
    <source src="http://videos.mozilla.org/firefox3/switch/switch.ogg"></source>
  </video>
</div>
<div style="margin-left: 420px;">
  <fieldset class="goog-debug-panel">
    <legend>Log</legend>
    <div id="log" style="height: 300px; overflow-y: auto"></div>
  </fieldset>
</div>
<script type="text/javascript">
  goog.debug.LogManager.getRoot().setLevel(goog.debug.Logger.Level.ALL);
  var logger = goog.debug.Logger.getLogger('video');
  var logconsole = new goog.debug.DivConsole(goog.dom.$('log'));
  logconsole.setCapturing(true);

  var video = document.getElementById('video');

  function logVideoProperties() {
    var duration = video.duration;
    logger.info('video duration is ' + duration);
    try {
      var bufferedLength = video.buffered.length;
    }
    catch (err) {
      logger.info('error: ' + err.message);
    }
  }

  window.setInterval(logVideoProperties, 1000);
</script>
{% endblock %}
