<!DOCTYPE html>
<html>
  <head>
    <link href="{{MEDIA_URL}}css/mirosubs-widget.css" media="all" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/swfobject.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-library/closure/goog/base.js"></script>
    <script>
      goog.require('goog.Timer');
      goog.require('goog.debug.Logger');
      goog.require('goog.debug.DivConsole');
    </script>
  </head>
  <body>
<div id="videodiv">
</div>
<div>
  <input type="text" id="seconds" value="0"/>
  <a href="#" onclick="seek(); return false;">seek</a>
</div>
 <!-- Event log. -->
 <fieldset class="goog-debug-panel">
   <legend>Event Log</legend>
   <div id="log" style="height: 300px; overflow-y: auto"></div>
 </fieldset>
 <div id="perf"></div>  
<script type="text/javascript">
  goog.debug.LogManager.getRoot().setLevel(goog.debug.Logger.Level.ALL);
  var logger = goog.debug.Logger.getLogger('vimeo');
  var logConsole = new goog.debug.DivConsole(goog.dom.$('log'));

  logConsole.setCapturing(true);

  function vimeo_player_loaded(apiID) {
      logger.info('ready with api id ' + apiID);
  console.log('what');
      var player = goog.dom.getElement('videodiv');
  console.log('yes');
      var timer = new goog.Timer(100);
  console.log('timer');
      goog.events.listen(timer, goog.Timer.TICK,
          function() {
              logger.info('current time: ' + player.api_getCurrentTime());
          });
     console.log(timer);
     timer.start();
  }

  var params = {
      'allowScriptAccess': 'always',
      'wmode': 'opaque',
  };

  var atts = { 'id': 'videodiv' };

  swfURL = 'http://vimeo.com/moogaloop.swf?js_api=1&width=480&height=360&clip_id=673565&js_swf_id=myswfid';
  swfobject.embedSWF(swfURL, 'videodiv', 480, 360, "8", null, null, params, atts);

  function seek() {
      var seconds = parseInt(goog.dom.$('seconds').value);
      logger.info('seeking to ' + seconds);
      var player = goog.dom.$('videodiv');
      player.api_seekTo(seconds);
  }

</script>
  </body>
</html>

