{% extends "base.html" %}
{% block body_attrs %}id="watch"{% endblock %}
{% block main_content %}
<div id="watch_search">
    <span class="icon"></span>
    <input type="text" value="Search videos" />
    <a id="advanced_search" class="btn_active" href=""></a>
    <div id="advanced_menu_open">
      <div class="clearfix"></div>
        <div class="menu_item videos_in">
          <label>Videos In</label>
            <select>
                <option>English (US)</option>
            </select>
        </div><!-- // menu_item -->
        <div class="menu_item">
            <label>Subtitles into</label>
            <select>
                <option>English (US)</option>
            </select>
            <button>
                Search
            </button>
        </div><!-- // menu_item -->
    </div><!-- // advanced_menu -->
    
</div><!-- // watch_search -->
<h1>Watch Subtitled Videos</h1>
<div class="pod" id="featured_videos">
  <div class="hd">
    <h2>Featured Videos</h2>
  </div><!-- // hd -->
  <div class="bd">
    <ul class="video_list clearfix">
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellusquisestsedturpissollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu menu_active">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% American Sign Language</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% American Sign Language</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
<!-- row -->
    </ul><!--// video_list -->
    <div class="pages clearfix">
      <a class="pag_first" href=""><span class="icon"></span></a>
      <a class="pag_prev" href=""><span class="icon"></span></a>
      <span class="page_count">15 of 4,000 videos</span>
      <a class="pag_last" href=""><span class="icon"></span></a>
      <a class="pag_next" href=""><span class="icon"></span></a>
    </div><!-- // pagination -->
  </div><!-- // bd -->
</div><!-- // pod -->

<div class="pod" id="popular_videos">
  <div class="hd clearfix">
    <h2>Popular Videos</h2>
    <a id="popular_sort" href="">
      <span>Today</span>
      <div id="sort_menu">
        <ul>
          <li>This Week</li>
          <li>This Month</li>
          <li>This Year</li>
        </ul>
      </div><!-- // sort_menu -->
    </a>
  </div><!-- // hd -->
  <div class="bd">
    <ul class="video_list clearfix">
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellusquisestsedturpissollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% American Sign Language</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% American Sign Language</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
<!-- row -->
    </ul><!--// video_list -->
    <div class="pages clearfix">
      <a class="pag_first" href=""><span class="icon"></span></a>
      <a class="pag_prev" href=""><span class="icon"></span></a>
      <span class="page_count">15 of 4,000 videos</span>
      <a class="pag_last" href=""><span class="icon"></span></a>
      <a class="pag_next" href=""><span class="icon"></span></a>
    </div><!-- // pagination -->
  </div><!-- // bd -->
</div><!-- // pod -->

<div class="pod" id="latest_videos">
  <div class="hd clearfix">
    <h2>Latest Videos</h2>
  </div><!-- // hd -->
  <div class="bd">
    <ul class="video_list clearfix">
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellusquisestsedturpissollicitudin</h4>
        </a>
        <span class="date">7 months ago</span>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="date">7 months ago</span>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="date">7 months ago</span>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="date">7 months ago</span>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% American Sign Language</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="date">7 months ago</span>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% American Sign Language</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      
<!-- row -->

      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellusquisestsedturpissollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% American Sign Language</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% American Sign Language</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
<!-- row -->

      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellusquisestsedturpissollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% American Sign Language</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
      <li>
        <a href="">
          <img src="{{ MEDIA_URL }}images/watch_thumb.png" />
          <h4>Phasellus quis est sed turpis sollicitudin</h4>
        </a>
        <span class="date">7 months ago</span>
        <span class="views"><strong>35,345,854</strong> Views</span>
        <span class="languages">
          <a class="lang_arrow" href="">
            <div class="lang_menu">
              <div class="hd">
                <span class="menu_close">close</span>
                <span>53 Languages</span>
              </div><!-- hd -->
              <div class="bd clearfix">
                <span>100% English (US)</span>
                <span>100% American Sign Language</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
                <span>100% English (US)</span>
              </div>
            </div><!-- // lang_menu -->
          </a>
          <span>53 Languages</span>
        </span><!-- // languages -->
      </li>
<!-- row -->

    </ul><!--// video_list -->
    <div class="pages clearfix">
      <a class="pag_first" href=""><span class="icon"></span></a>
      <a class="pag_prev" href=""><span class="icon"></span></a>
      <span class="page_count">15 of 4,000 videos</span>
      <a class="pag_last" href=""><span class="icon"></span></a>
      <a class="pag_next" href=""><span class="icon"></span></a>
      
    </div><!-- // pagination -->
  </div><!-- // bd -->
</div><!-- // pod -->
{% endblock %}