{% extends "jsdemo/base_demo.html" %}
{% block body %}
	
<div>
  <script src="http://mirosubsstaging.8planes.com/embed_widget.js?video_url=http://videos.mozilla.org/firefox3/switch/switch.ogg&amp;null"></script>
  <style type="text/css" media="screen">
/* Should only contain css for the actual widget */
div.mirosubs-widget {
    position: relative;    
}
.mirosubs-videoDiv {
    text-align: center;
}



.mirosubs-widget {
    margin: 0 auto;
}
</style>





  <div class="mirosubs-widget" style="width: 478px;">

    <div class="mirosubs-videoDiv">
<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/thGpxj4QZGg?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/thGpxj4QZGg?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object
    </div>

    <div class="mirosubs-videoTab" id="7cb3cbab6d32451da7f2816cf824e215_videoTab">
      <a href="#" class="mirosubs-subtitleMeLink">
        <img src="http://mirosubs.example.com:8000/site_media/images/small_logo.png" alt="small logo"> 
        <span class="mirosubs-tabTextchoose">Choose Language...</span> 
      </a> 
      <a href="#">
        <span class="mirosubs-tabTextfinish">Finish this Translation</span> 
      </a> 

    </div>

    <div class="mirosubs-dropdown">

    
      <div class="mirosubs-languageList">
        <ul>          
      <li class="mirosubs-hintTranslate"><span class="mirosubs-asterisk">*</span> = Missing sections translated by Google Translate</li>

          <li class="mirosubs-activeLanguage"><a href="#">Subtitles Off</a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Original Language<span class="mirosubs-languageStatus">(2455 lines)</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">54%</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Chinese<span class="mirosubs-asterisk">*</span></span><span class="mirosubs-languageStatus">54%</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Japanese<span class="mirosubs-asterisk">*</span></span><span class="mirosubs-languageStatus">54%</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Dutch<span class="mirosubs-asterisk">*</span></span><span class="mirosubs-languageStatus">54%</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian<span class="mirosubs-asterisk">*</span></span><span class="mirosubs-languageStatus">54%</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">54%</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">54%</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">54%</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">54%</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">54%</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">Language</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">Language</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">Language</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">Language</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">Language</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">Language</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">Language</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">Language</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">Language</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">Language</span></a></li>
          <li><a href="#"><span class="mirosubs-languageTitle">Lithuanian</span><span class="mirosubs-languageStatus">Language</span></a></li>

        </ul>
      </div>

      <div class="mirosubs-actions">
        <h5 class="mirosubs-uniLogo">Universal Subtitles</h5>
        <h4>THIS VIDEO</h4>
        <ul>
          <li class="mirosubs-addTranslation"><a href="#">Add New Translation</a></li>
          <li class="mirosubs-improveSubtitles"><a href="#">Improve These Subtitles</a></li>
          <li class="mirosubs-subtitleHomepage"><a href="#">Subtitle Homepage</a></li>
          <li class="mirosubs-downloadSubtitles"><a href="#">Download Subtitles</a></li>
        </ul>
        <h4>MY SETTINGS</h4>
        <ul>
          <li class="mirosubs-createAccount"><a href="#">Login or Create Account</a></li>
          <li class="mirosubs-languagePreferences"><a href="#">Language Preferences</a></li>
        </ul>
      </div>

    </div>


  </div>
</div>








{% endblock %}