{% extends "jsdemo/base_demo.html" %}
{% block body %}
	


<div aria-activedescendant="" tabindex="-1" aria-haspopup="true" role="menu" style="-moz-user-select: none; visibility: visible; left: 629px; top: 521px; display: none;" class="mirosubs-langmenu mirosubs-langmenu-vertical">
  <div aria-pressed="false" id=":0" style="-moz-user-select: none;" role="menuitem" class="mirosubs-langmenuitem">
    <div class="mirosubs-langmenuitem-content">Add Subtitles</div>
  </div>
  <div id=":1" role="separator" style="-moz-user-select: none;" class="mirosubs-langmenusep"></div>
  <div id=":2" style="-moz-user-select: none;" role="menuitem" class="mirosubs-langmenuitem">
    <div class="mirosubs-langmenuitem-content">Logout</div>
  </div>
  <div id=":3" role="separator" style="-moz-user-select: none;" class="mirosubs-langmenusep"></div>
  <div id=":4" style="-moz-user-select: none;" role="menuitem" class="mirosubs-langmenuitem">
    <div class="mirosubs-langmenuitem-content">Share this</div>
  </div>
</div>
<iframe class="mirosubs-modal-widget-bg" src='javascript:""' style="border: 0pt none; vertical-align: bottom; opacity: 0; width: 1627px; height: 498px;" frameborder="0"></iframe>
<div style="opacity: 0.3; width: 1627px; height: 498px;" class="mirosubs-modal-widget-bg"></div>
<div style="left: 397px; top: 157px;" aria-labelledby=":5" role="dialog" tabindex="0" class="mirosubs-modal-widget">
  <div id=":5" class="mirosubs-modal-widget-title mirosubs-modal-widget-title-draggable"><span class="mirosubs-modal-widget-title-text"></span><span class="mirosubs-modal-widget-title-close"></span></div>
  <div class="mirosubs-modal-widget-content">
    <div class="mirosubs-left">
      <div style="height: 300px;" class="mirosubs-videoDiv">
        <video tabindex="0" controls="controls" autobuffer="" width="400">
          <source src="http://videos.mozilla.org/firefox3/switch/switch.ogg">
        </video>
        <div style="top: 240px;" class="mirosubs-captionDiv"> This is a long caption right because it has so many characters </div>
      </div>
      <div></div>
      <div class="mirosubs-captioningArea">
        <div>
          <div>
            <div style="background: none repeat scroll 0% 0% rgb(221, 221, 221);" class="mirosubs-transcribeControls">
              <input class="trans" type="text">
            </div>
            <ul class="mirosubs-titlesList">
              <li><span style="display: none;" class="mirosubs-timestamp"></span><span class="mirosubs-title mirosubs-title-notime">
                <textarea>sdfsdfsdfsfsdf sfsdf </textarea>
                </span></li>
              <li><span style="display: none;" class="mirosubs-timestamp"></span><span class="mirosubs-title mirosubs-title-notime"><span>dfgdfg</span></span></li>
              <li><span style="display: none;" class="mirosubs-timestamp"></span><span class="mirosubs-title mirosubs-title-notime"><span>dfg</span></span></li>
              <li><span style="display: none;" class="mirosubs-timestamp"></span><span class="mirosubs-title mirosubs-title-notime"><span>dfgdf</span></span></li>
              <li><span style="display: none;" class="mirosubs-timestamp"></span><span class="mirosubs-title mirosubs-title-notime"><span>gdf</span></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mirosubs-right">
      <div>
        <div class="mirosubs-help">
          <h2>STEP 1: Typing the subtitles</h2>
          <p>Thanks for making subtitles!! It's easy to learn and actually fun to do.</p>
          <p>While you watch the video, type everything people say. Don't let the subtitles get too long -- hit enter for a new line.</p>
          <p>Make sure to use the key controls below to pause and jump back, which will help you keep up.</p>
          <a href="http://youtube.com" class="mirosubs-watch"><span>Watch a quick how-to video</span></a></div>
        <div class="mirosubs-legend">
          <div class="mirosubs-play"><span class="mirosubs-tab">tab</span>Play/Pause</div>
          <div class="mirosubs-skip"><span class="mirosubs-control">control</span>Skip Back 8 Seconds</div>
          <div class="mirosubs-clear"></div>
        </div>
        <div class="mirosubs-steps">
          <div class="mirosubs-loggedIn">You are logged in as morganknutson</div>
          <a href="#" class="mirosubs-done"><span><strong>Done?</strong> Next Step: Syncing</span></a>
          
          
           <a class="mirosubs-backTo" href="#">Back to Transcribe</a>
           <a class="mirosubs-restart" href="#">Restart this Step</a>
           
                    
         </div>

      </div>
    </div>
    <div class="mirosubs-clear"></div>
  </div>
  <div class="mirosubs-modal-widget-buttons"></div>
  <span tabindex="0"></span></div>




  </div>
  
  <div class="mirosubs-modal-widget-buttons"></div>
  <span tabindex="0"></span>
  </div>
  
	  </div>
	
{% endblock %}