{% extends "jsdemo/base_demo.html" %}
{% block body %}
<div>
  <style type="text/css" media="screen">
/* Should only contain css for the actual widget */
div.mirosubs-widget {
    position: relative;    
}
.mirosubs-videoDiv {
    text-align: center;
}



.mirosubs-widget {
    margin: 0 auto;
}
</style>
  <div class="mirosubs-widget">

  </div>
</div>
<div aria-activedescendant="" tabindex="-1" aria-haspopup="true" role="menu" style="-moz-user-select: none; visibility: visible; left: 629px; top: 521px; display: none;" class="mirosubs-langmenu mirosubs-langmenu-vertical">
  <div aria-pressed="false" id=":5" style="-moz-user-select: none;" role="menuitem" class="mirosubs-langmenuitem">
    <div class="mirosubs-langmenuitem-content">Add Subtitles</div>
  </div>
  <div id=":6" role="separator" style="-moz-user-select: none;" class="mirosubs-langmenusep"></div>
  <div id=":7" style="-moz-user-select: none;" role="menuitem" class="mirosubs-langmenuitem">
    <div class="mirosubs-langmenuitem-content">Logout</div>
  </div>
  <div id=":8" role="separator" style="-moz-user-select: none;" class="mirosubs-langmenusep"></div>
  <div id=":9" style="-moz-user-select: none;" role="menuitem" class="mirosubs-langmenuitem">
    <div class="mirosubs-langmenuitem-content">Share this</div>
  </div>
</div>
<iframe class="mirosubs-modal-widget-bg" src='javascript:""' style="border: 0pt none; vertical-align: bottom; opacity: 0; width: 1627px; height: 498px;" frameborder="0"></iframe>
<div style="opacity: 0.3; width: 1627px; height: 498px;" class="mirosubs-modal-widget-bg"></div>
<div style="left: 397px; top: 157px;" aria-labelledby=":a" role="dialog" tabindex="0" class="mirosubs-modal-widget">
  <div id=":a" class="mirosubs-modal-widget-title mirosubs-modal-widget-title-draggable"><span class="mirosubs-modal-widget-title-text"></span><span class="mirosubs-modal-widget-title-close"></span></div>
  <div class="mirosubs-modal-widget-content">
    <div class="mirosubs-left">
      <div style="height: 300px;" class="mirosubs-videoDiv">
        <video tabindex="0" controls="controls" autobuffer="" width="400">
          <source src="http://videos.mozilla.org/firefox3/switch/switch.ogg">
        </video>
 

        
        <div class="mirosubs-captionDiv">May I inquire into how it is that you are doing today kind sir?</div>
      </div>
      
             
        	<div class="mirosubs-videoControls">
					
						<span class="mirosubs-playPause play"><span></span></span>
						
						<span class="mirosubs-progress"><span class="mirosubs-buffered"><span class="mirosubs-played"></span></span><span class="mirosubs-scrobbler"></span></span>

						<span class="mirosubs-timespan"><div class="mirosubs-timeElapsed">1:00</div>/5:15</span>						

						<span class="mirosubs-volume"><span></span><div></div></span>						
					
					</div>
					
      <div></div>
      

    <div class="mirosubs-timeline"><div class="top"> </div>

<div style="left: 20px;" class="mirosubs-timeline-inner">
<div class="mirosubs-timerow"><ul style="width: 1000px; left: 0px;" class="mirosubs-timeline-time">

<li><span>0</span></li>
<li><span>1</span></li>
<li><span>2</span></li>
<li><span>3</span></li>
<li><span>4</span></li>
<li><span>5</span></li>
<li><span>6</span></li>
<li>7</li>
<li>8</li><li>9</li><li>10</li><li>11</li><li>12</li><li>13</li><li>14</li></ul><ul style="width: 900px; left: 900px;" class="mirosubs-timeline-time"><li>15</li>
<li>16</li><li>17</li><li>18</li><li>19</li><li>20</li><li>21</li><li>22</li><li>23</li><li>24</li><li>25</li><li>26</li><li>27</li><li>28</li><li>29</li>
</ul></div>


<div class="mirosubs-timeline-subs">

<div style="left: 30px;" class="mirosubs-timeline-sub">
<span>dsfsdfsdfsdf</span><span class="mirosubs-grabber mirosubs-leftGrabber"><strong></strong></span>
<span style="display: none;" class="mirosubs-grabber mirosubs-rightGrabber"><strong></strong></span>
</div>

<div style="left: 123px;" class="mirosubs-timeline-sub mirosubs-timeline-sub-selected mirosubs-timeline-sub-rightbump">
<span>dsfsdfsdfsdf</span><span class="mirosubs-grabber mirosubs-leftGrabber"><strong></strong></span>
<span style="display: none;" class="mirosubs-grabber mirosubs-rightGrabber"><strong></strong></span>
</div>

<div style="left: 209px;" class="mirosubs-timeline-sub mirosubs-timeline-sub mirosubs-timeline-sub-leftbump">
<span>dsfsdfsdfsdf</span><span class="mirosubs-grabber mirosubs-leftGrabber"><strong></strong></span>
<span style="display: none;" class="mirosubs-grabber mirosubs-rightGrabber"><strong></strong></span>
</div>

<div style="left: 302px;" class="mirosubs-timeline-sub mirosubs-timeline-sub-unsynced">
<span>dsfsdfsdfsdf</span><span class="mirosubs-grabber mirosubs-leftGrabber"><strong></strong></span>
<span style="display: none;" class="mirosubs-grabber mirosubs-rightGrabber"><strong></strong></span>
</div>

</div></div><div class="marker"></div></div>

      
      
      <div class="mirosubs-captioningArea">
      
      
        <div>
          <div></div>
          
          
          <ul class="mirosubs-titlesList taller">
          
          
          <!-- //////////// The "taller" class should only be added to the titles list when the timeline is hidden ///////////-->
               <li>
              <span class="mirosubs-timestamp">  
                <span class="mirosubs-timestamp-time">10:31</span>   

                <span class="mirosubs-changeTime">
                  <a href="#" class="mirosubs-up">Up</a>
                  <a href="#" class="mirosubs-down">Down</a>
                </span>
              </span>
              <span class="mirosubs-title"><span>dfgdfg</span></span>
            </li>


            <li>
              <span class="mirosubs-timestamp">  
                <span class="mirosubs-timestamp-time">10:31</span>   

                <span class="mirosubs-changeTime">
                  <a href="#" class="mirosubs-up">Up</a>
                  <a href="#" class="mirosubs-down">Down</a>
                </span>
              </span>
              <span class="mirosubs-title"><span>dfgdfg</span></span>
            </li>


            <li>
              <span class="mirosubs-timestamp">  
                <span class="mirosubs-timestamp-time">10:31</span>   

                <span class="mirosubs-changeTime">
                  <a href="#" class="mirosubs-up">Up</a>
                  <a href="#" class="mirosubs-down">Down</a>
                </span>
              </span>
              <span class="mirosubs-title"><span>dfgdfg</span></span>
            </li>


            <li>
              <span class="mirosubs-timestamp">  
                <span class="mirosubs-timestamp-time">10:31</span>   

                <span class="mirosubs-changeTime">
                  <a href="#" class="mirosubs-up">Up</a>
                  <a href="#" class="mirosubs-down">Down</a>
                </span>
              </span>
              <span class="mirosubs-title mirosubs-title-silence"><span>silence</span></span>
            </li>


            <li>
              <span class="mirosubs-timestamp">  
                <span class="mirosubs-timestamp-time">10:31</span>   

                <span class="mirosubs-changeTime">
                  <a href="#" class="mirosubs-up">Up</a>
                  <a href="#" class="mirosubs-down">Down</a>
                </span>
              </span>
              <span class="mirosubs-title"><span>dfgdfg</span></span>
            </li>




      
          </ul>
        </div>
      </div>
    </div>
    <div class="mirosubs-right">
      <div>
        <div class="mirosubs-help">
          <h2>STEP 2: Syncing Subtitles</h2>
          <p>Congratulations, you finished the hard part (all that typing)!</p>
          <p>Now, to line up your subtitles to the video, tap DOWN right when each subtitle should appear.</p>
          <p>Tap down to begin, tap it for the first subtitle, and so on.</p>
          <p>Don't worry about small mistakes. We can correct them in the next step. If you need to start over, click "restart" below.</p>
          <a href="http://youtube.com" class="mirosubs-watch"><span>Watch a how-to video on syncing</span></a></div>
        <div class="mirosubs-legend">
          <div class="mirosubs-begin"><span class="mirosubs-keys">down</span>Sync Next Subtitle</div>
          <div class="mirosubs-play"><span class="mirosubs-spacebar">spacebar</span>Play/Pause</div>
          <div class="mirosubs-skip"><span class="mirosubs-control">control</span>Skip Back 8 Seconds</div>
          <div class="mirosubs-clear"></div>
        </div>
        <div class="mirosubs-steps">
          <div class="mirosubs-loggedIn">You are logged in as morganknutson</div>
          <a href="#" class="mirosubs-done"><span><strong>Done?</strong> Next Step: Reviewing</span></a>
          
            
           <a class="mirosubs-backTo" href="#">Back to Transcribe</a>
           <a class="mirosubs-restart" href="#">Restart this Step</a>
           

          </div>
      </div>
    </div>
    <div class="mirosubs-clear"></div>
  </div>
  <div class="mirosubs-modal-widget-buttons"></div>
  


  <span tabindex="0"></span></div>
{% endblock %}
