{% extends "jsdemo/base_demo.html" %}
{% block body %}
	

<div>
  <style type="text/css" media="screen">
/* Should only contain css for the actual widget */
div.mirosubs-widget {
    position: relative;    
}
.mirosubs-videoDiv {
    text-align: center;
}



.mirosubs-widget {
    margin: 0 auto;
}
</style>

<div aria-activedescendant="" tabindex="-1" aria-haspopup="true" role="menu" style="-moz-user-select: none; visibility: visible; left: 629px; top: 521px; display: none;" class="mirosubs-langmenu mirosubs-langmenu-vertical">
  <div aria-pressed="false" id=":0" style="-moz-user-select: none;" role="menuitem" class="mirosubs-langmenuitem">
    <div class="mirosubs-langmenuitem-content">Add Subtitles</div>
  </div>
  <div id=":1" role="separator" style="-moz-user-select: none;" class="mirosubs-langmenusep"></div>
  <div id=":2" style="-moz-user-select: none;" role="menuitem" class="mirosubs-langmenuitem">
    <div class="mirosubs-langmenuitem-content">Logout</div>
  </div>
  <div id=":3" role="separator" style="-moz-user-select: none;" class="mirosubs-langmenusep"></div>
  <div id=":4" style="-moz-user-select: none;" role="menuitem" class="mirosubs-langmenuitem">
    <div class="mirosubs-langmenuitem-content">Share this</div>
  </div>
</div>
<iframe class="mirosubs-modal-widget-bg" src='javascript:""' style="border: 0pt none; vertical-align: bottom; opacity: 0; width: 1627px; height: 498px;" frameborder="0"></iframe>
<div style="opacity: 0.3; width: 1627px; height: 498px;" class="mirosubs-modal-widget-bg"></div>
<div style="left: 397px; top: 157px;" aria-labelledby=":5" role="dialog" tabindex="0" class="mirosubs-modal-widget">
  <div id=":5" class="mirosubs-modal-widget-title mirosubs-modal-widget-title-draggable"><span class="mirosubs-modal-widget-title-text"></span><span class="mirosubs-modal-widget-title-close"></span></div>
  <div class="mirosubs-modal-widget-content finished">
  
   
      <div style="height: 300px;" class="mirosubs-videoHelp">
        <video tabindex="0" controls="controls" autobuffer="" width="400">
          <source src="http://videos.mozilla.org/firefox3/switch/switch.ogg">
        </video>
      </div>
      
    
      <div class="mirosubs-clear"></div>
      <div class="mirosubs-moreHelp">
   
          <a href="#" class="mirosubs-done left"><span>Return to Subtitling</span></a>

   
   
      
      	<p>Still not sure what to do? Read the <a href="#">FAQ</a> or <a href="#">contact us</a></p>
      
   
      	</div>
      
      </div>

  </div>
  <div class="mirosubs-modal-widget-buttons"></div>
  <span tabindex="0"></span></div>
{% endblock %}