<html>
  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script type="text/javascript">
function onYouTubePlayerReady(playerId) {
    ytplayer = document.getElementById("myytplayer");
    console.log(ytplayer.playVideo);
}

function start(e) {
    var object = document.getElementsByTagName('object')[0];
    var embed = document.getElementsByTagName('embed')[0];
    console.log(object);
    console.log(embed);
    var count = 0;
    var intervalid = window.setInterval(
        function() {
            count++;
            if ((object && object['playVideo']) || 
                (embed && embed['playVideo'])) {
                window.clearInterval(intervalid);
                console.log('can play video!');
                if (object && object['playVideo'])
                    console.log(object);
                if (embed && embed['playVideo'])
                    console.log(embed);
            }
            else {
                if (count < 40) {
                    console.log('cannot play video');
                    console.log(object.parentNode);
                }
            }
        }, 250);
}

window.onload = start;

    </script>
  </head>
  <body>
    <div id="moviediv"></div>
    <script type="text/javascript">
      swfobject.embedSWF(
          "http://www.youtube.com/v/f15zA0PhSek?hl=en_US&fs=1&rel=0&hd=1&border=0&enablejsapi=1",
          "moviediv",
          "800", "480",
          "9.0.0", null,
          null, { "wmode": "opaque", "allowscriptaccess": "always" }, 
          { id: "myytplayer" });
    </script>
  </body>
</html>
