{% extends "jsdemo/base_demo.html" %}
{% load media_compressor %}
{% block body %}

  <object width='425' height='350'>
    <param name='movie' value='http://www.youtube.com/v/H2Ncxw1xfck&rel=1&fs=1&showsearch=0&showinfo=1&iv_load_policy=1&enablejsapi=1&version=3' /> 
    <param name='allowfullscreen' value='true' /> 
    <param name='wmode' value='opaque' /> 
    <param name='allowScriptAccess' value='always'/>
    <embed src='http://www.youtube.com/v/H2Ncxw1xfck&rel=1&fs=1&showsearch=0&showinfo=1&iv_load_policy=1&enablejsapi=1&version=3'
           type='application/x-shockwave-flash' 
           allowfullscreen='true' 
           allowscriptaccess='always'
           width='425' height='350' wmode='opaque'></embed> 
  </object>
<div>
<a href="#" onclick="togglePlaying(); return false">toggle play</a>  
</div>

 <!-- Event log. -->
 <fieldset class="goog-debug-panel">
   <legend>Event Log</legend>
   <div id="log" style="height: 300px; overflow-y: auto"></div>
 </fieldset>
 <div id="perf"></div>  
<script type="text/javascript">
  goog.debug.LogManager.getRoot().setLevel(goog.debug.Logger.Level.ALL);
  var logger = goog.debug.Logger.getLogger('controls');
  var logConsole = new goog.debug.DivConsole(goog.dom.$('log'));

  logConsole.setCapturing(true);

  var videoSource = new mirosubs.video.YoutubeVideoSource('H2Ncxw1xfck');
  var player = videoSource.createPlayer();
  player.decorate(document.getElementsByTagName('embed')[0]);

  var playing = false;
  
  function togglePlaying() {
     playing = !playing;
     if (playing)
         player.play();
     else
         player.pause();
  }

</script>
{% endblock %}
