
button{
background: url(../../images/main_buttons.png) right 0px no-repeat;
border: none;
font-weight: bold;
padding:0 6px 0 0 !important;
font-size: 15px;
margin: 0;
clear: both;
line-height: 15px;
font-family: Arial, Helvetica, sans-serif;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
button{
padding:0 8px 0 0 !important;
}
}

button span{
background: url(../../images/main_buttons.png) 0px top no-repeat;
border: none;
padding: 13px 13px 16px 21px;
display: block;
line-height: 15px;
color: #485c14;
text-transform: uppercase;
text-shadow: 0px 1px 1px #abce1d;
}

button:hover{
background: url(../../images/main_buttons.png) right -45px no-repeat;
cursor: pointer;
text-shadow: 0px 1px 1px #beec32;
}


button:hover span{
background: url(../../images/main_buttons.png) left -45px no-repeat;
}


.button{
background: url(../../images/main_buttons.png) right 0px no-repeat;
border: none;
font-weight: bold;
padding:0 8px 0 0 !important;
font-size: 15px;
margin: 0;
float: left;
clear: both;
text-decoration: none !important;
line-height: 15px;
font-family: Arial, Helvetica, sans-serif;
}

.button span{
background: url(../../images/main_buttons.png) 0px 0px no-repeat;
border: none;
padding: 13px 13px 16px 21px;
display: block;
line-height: 15px;
color: #485c14;
text-transform: uppercase;
text-shadow: 0px 1px 1px #abce1d;
}



.button:hover{
background: url(../../images/main_buttons.png) right -45px no-repeat;
cursor: pointer
}


.button:hover span{
background: url(../../images/main_buttons.png) left -45px no-repeat;
}


.button:active span{
background: url(../../images/main_buttons.png) left -90px no-repeat;
}


.button:active{
background: url(../../images/main_buttons.png) right -90px no-repeat;
}


.forgot{
padding-left: 115px;
}


.small_close{
height: 0px;
width: 18px;
background: url(../../images/small_close.png) 0 0px no-repeat;
padding-top: 19px;
overflow: hidden;
margin: 0 10px 0 0;
float: left;
}

.small_close:hover{
background: url(../../images/small_close.png) 0 -20px no-repeat;
}

.small_close:active{
background: url(../../images/small_close.png) 0 -40px no-repeat;
}



button.small_button{
padding-right: 16px !important;
font-size: 12px;
background: url(../../images/small_buttons.png) right 0px no-repeat;
}

button.small_button span{
padding: 8px 0 8px 20px;
background: url(../../images/small_buttons.png) left 0px no-repeat;
}


button.small_button:hover{
background: url(../../images/small_buttons.png) right -34px no-repeat;
}

button.small_button:hover span{
text-shadow: 0px 1px 1px #beec32 ;

background: url(../../images/small_buttons.png) left -34px no-repeat;
}

button.small_button:active{
background: url(../../images/small_buttons.png) right -68px no-repeat;
}

button.small_button:active span{
background: url(../../images/small_buttons.png) left -68px no-repeat;
}


a.small_button{
padding-right: 18px !important;
font-size: 12px;
text-decoration: none;
font-weight: bold;
float: left;
background: url(../../images/small_buttons.png) right 0px no-repeat;
}

a.small_button span{
padding: 8px 0 8px 20px;
float: left;
color: #485c14;
text-transform: uppercase;
text-shadow: 0px 1px 1px #abce1d;
background: url(../../images/small_buttons.png) left 0px no-repeat;
}

a.small_button:hover{
background: url(../../images/small_buttons.png) right -34px no-repeat;
}

a.small_button:hover span{
text-shadow: 0px 1px 1px #beec32 ;
background: url(../../images/small_buttons.png) left -34px no-repeat;
}

a.small_button:active{
background: url(../../images/small_buttons.png) right -68px no-repeat;
}

a.small_button:active span{
background: url(../../images/small_buttons.png) left -68px no-repeat;
}




.plus{
background: url(../../images/sprites.png) -35px -264px no-repeat !important;
float: left;
}









/*/////////////////////////////////////////////

~ Inline Search

/////////////////////////////////////////////*/


.search_button{


-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;


border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: 1px solid #4e7179;


-moz-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
-webkit-box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;
box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */

font-size: 12px;
padding: 0 !important;

margin: 0 !important;
clear: none;

position: relative;
cursor: pointer;
float: right;
}





.search_button:hover{
border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: 1px solid #4e7179;


-moz-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
-webkit-box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;
box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fff,  #d6e8eb); /* for firefox 3.6+ */

}


.search_button:hover span{
background: 0;

}
.search_button span{
padding: 8px 12px;
text-shadow: 0 1px 0px #fff;
background: 0;
color: #6666;
}



.inline_search{
float: right;
}

.inline_search input{

float: left;

clear: none;

width: 220px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;

border: 1px solid #a7c3c9;
border-bottom: 1px solid #a7c3c9;
border-top: 1px solid #4e7179;


-moz-box-shadow: 0 1px 0px #fff, inset 0 2px 1px #ddd;
-webkit-box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #333;
box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #333;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #eee,  #fff); /* for firefox 3.6+ */

font-size: 12px;
padding: 8px 12px;
margin: 0 10px 0 0;
}




/*/////////////////////////////////////////////

~ Sort Buttons

/////////////////////////////////////////////*/


.sort_button{
text-shadow: 0 1px 0px #fff;

-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;


border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: 1px solid #4e7179;


-moz-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
-webkit-box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;
box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */



position: relative;
cursor: pointer;
}



.sort_button:hover{
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-radius: 3px;
border-radius:3px;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fff,  #ecf9fc); /* for firefox 3.6+ */




}



.sort_button{
float: left;
width: 250px;
}


.sort_button.margin-top{
margin-top: 21px;
width: 300px;

}



.sort_button .sort_label{
padding: 8px 10px;
display: block;
}




.sort_button .arrow{
float: right;
height: 32px;
border-left: 1px solid #c4d9de;
width: 35px;
background: url(../../images/sort_arrows.gif) 13px -125px no-repeat;

}



.sort_button:hover .arrow{

-moz-border-radius-bottomleft: 3px;
-webkit-border-radius-bottom-left: 3px;
border-radius-bottomleft:3px;

background: #d5e9ec url(../../images/sort_arrows.gif) 13px -125px no-repeat;
}




.sort_button ul{
display: none;
}


.sort_button:hover ul{
position: absolute;
display: block;

z-index: 999999;

width: 100%;
padding: 0;
top: 32px;
left: -1px;
margin: 0;

border: 1px solid #a7c3c9;
border-top:none;
border-bottom: 1px solid #4e7179;


-moz-border-radius-bottomleft: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-radius-bottom-left: 3px;
-webkit-border-radius-bottom-right: 3px;
border-radius-bottomleft:3px;
border-radius-bottomright:3px;

-moz-box-shadow: 0 1px 0px #a7c3c9;
-webkit-box-shadow: 0 1px 0px #dbdbdb;
box-shadow: 0 1px 0px #dbdbdb;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */


}


.sort_button ul li{
list-style: none;
}


.sort_button ul li a{
padding: 10px;
display: block;
text-decoration: none;
border-top: 1px solid #fff;
border-bottom: 1px solid #a7c3c9;
}


.sort_button ul li a:hover{
background: #ecf9fc;
}

.sort_button ul li a.first{
border-top: none;
}


.sort_button ul li a.last{
border-bottom: none;


-moz-border-radius-bottomleft: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-radius-bottom-left: 3px;
-webkit-border-radius-bottom-right: 3px;
border-radius-bottomleft:3px;
border-radius-bottomright:3px;
}









/*/////////////////////////////////////////////

~ Left Sub Nav

/////////////////////////////////////////////*/


.left_nav_wrapper{

position: relative;
}


.left_nav{
position: relative;
margin: 0;
padding: 0;
width: 141px;
margin-top: 60px;
}



.left_nav li{
margin: 0 0 10px;
padding: 0;
list-style: none;
}



.left_nav li a{
margin: 0 1px 0 0;
border: 1px solid #fff;;
padding: 10px;
display: block;
font-size: 13px;
text-decoration: none;

text-shadow: 0 1px 0px #fff;


-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomleft: 3px;
-webkit-border-radius-top-left: 3px;
-webkit-border-radius-bottom-left: 3px;
border-radius:3px;


border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-right: none;


-moz-box-shadow:inset 0 1px 0px #fff;
-webkit-box-shadow:inset 0 1px 0px #fff;
box-shadow:inset 0 1px 0px #fff;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */

}


.left_nav li a:hover{
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-radius: 3px;
border-radius:3px;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fff,  #ecf9fc); /* for firefox 3.6+ */




}


.left_nav li.active a{
font-weight: bold;
background: #ecf9fc;
margin: 0;
cursor: default;

}


.admin_wrap{
width: 800px !important;
}








/*/////////////////////////////////////////////

~ Pagination

/////////////////////////////////////////////*/




.pag{
width: 480px;
margin: 0 auto;
text-align: center;
padding: 0;
}

.pag li{
list-style: none;
}

.pag li.previous{
float: left;
}

.pag li.next{
float: right;
}



.pagination{
float: right;
margin: 47px 10px 0 0;
}


.pagination span.previous_page {
float: left;
margin-right: 5px;
}

.pagination span.page{
}


.pagination span.page a{
padding: 5px 10px;
display: block;
text-decoration: none;
border: 1px solid #ccc;
color: #333;
border-bottom:none;
-moz-border-radius-topleft: 5px;
-webkit-border-radius-top-left: 5px;
text-decoration: none;
-moz-border-radius-topright: 5px;  
-webkit-border-radius-top-right: 5px;
background: #fff url(../../images/gradient_light.png) 0 0px repeat-x;
}


.pagination span.current_page{
padding: 5px 10px;
}





/* Pagination */
.pagination {
  border: none;
  text-align: center;
  padding: 3px;
clear: both;
border-radius: 55px;
-moz-border-radius: 55px;
-webkit-border-radius:55px;
margin: 15px 0 5px;
 min-height: 22px;
}

.pagination span.disabled {
  color: #AAA;
}

.pagination span.current {
  font-weight: bold;
  background: transparent url('/images/apple-circle.gif') no-repeat 50% 50%;
}

.pagination a {
  text-decoration: none;
padding: 5px 10px 3px !important;
  color: black;
}

.pagination a:hover, .pagination a:focus {
  text-decoration: none;
}

.match {
  border-bottom: 1px dotted red;
  padding-bottom: 0.1em;
}

/* Text meant only for screen readers */

.screen-reader-text {
	position: absolute;
	left: -9000em;
}



.pagination em {
cursor: default;
padding: 3px 10px 3px !important;
  -moz-box-shadow:inset 0px 1px 1px #aaa, inset 0px 0px 1px #eee;
  -webkit-box-shadow: 0px 1px 0px #a9a9a9, 0px 1px 3px #888;
  box-shadow: 0px 1px 0px #a9a9a9, 0px 1px 3px #888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f7fbfb'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7fbfb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #f7fbfb, #fff); /* for firefox 3.6+ */


}


.pagination a {
}


.pagination .gap {
cursor: default;
}

.pagination em,
.pagination a,
.pagination span,
.pagination .gap {
padding: 3px 8px;
font-size: 11px;
margin-right: 3px;
}

.pagination a:hover{

  -moz-box-shadow: 0px 1px 1px #555, 0px 0px 1px #888;
  -webkit-box-shadow: 0px 1px 0px #a9a9a9, 0px 1px 3px #888;
  box-shadow: 0px 1px 0px #a9a9a9, 0px 1px 3px #888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f7fbfb'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7fbfb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fff,  #f7fbfb); /* for firefox 3.6+ */
}


.pagination a:active{

  -moz-box-shadow:inset 0px 1px 1px #aaa, inset 0px 0px 1px #eee;
  -webkit-box-shadow: 0px 1px 0px #a9a9a9, 0px 1px 3px #888;
  box-shadow: 0px 1px 0px #a9a9a9, 0px 1px 3px #888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f7fbfb'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7fbfb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #f7fbfb, #fff); /* for firefox 3.6+ */
}


.next_page,
a.next_page{
float: right;
padding: 3px 15px;
margin-right: 0px;

-moz-border-radius-topright:     18px !important;
-moz-border-radius-bottomright:    18px !important;
-moz-border-radius-topleft:     5px !important;
-moz-border-radius-bottomleft:    5px !important;

-webkit-border-radius-top-right: 18px;
-webkit-border-radius-bottom-right: 18px;
-webkit-border-radius-top-left: 5px;
-webkit-border-radius-bottom-left: 5px;
margin-right: -19px;

}


a.next_page,
a.previous_page{
margin-top: -6px;
}


.previous_page,
a.previous_page{
float: left !important;
padding: 3px 15px;
-moz-border-radius-topleft:     18px !important;
-moz-border-radius-bottomleft:    18px !important;
-moz-border-radius-topright:     5px !important;
-moz-border-radius-bottomright:    5px !important;

-webkit-border-radius-top-left: 18px;
-webkit-border-radius-bottom-left: 18px;

-webkit-border-radius-top-right: 5px;
-webkit-border-radius-bottom-right: 5px;
margin-left: -19px;
}
