
/*///////////////////////////////////////////////////////

~ Buttons

///////////////////////////////////////////////////////*/



/*///////   ~  Standard Button Style  ~   ///////*/

/*-------------------------------------------------------

-- No padding or margins here, just colors and borders

-------------------------------------------------------*/



.green_button,
.blue_button,
.silver_button,
.red_button{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius:3px;
  text-decoration: none !important;
  font-weight: bold;
  float: left;
  }


.green_button.huge,
.blue_button.huge,
.silver_button.huge,
.red_button.huge{
  font-size: 16px;
  padding: 16px 32px;
  }



.green_button.big,
.blue_button.big,
.silver_button.big,
.red_button.big{
  font-size: 14px;
  padding: 8px 16px;
  }


.green_button.small,
.blue_button.small,
.silver_button.small,
.red_button.small{
  font-size: 11px;
  padding: 5px 15px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius:30px;
  }



/*---- Green Button ----*/

.green_button, .blue_button{
  color: #23441e !important;
text-decoration: none;

  text-shadow: 0 1px 0px #aedbaa;
   
  border: 1px solid #578e57;
  border-top: 1px solid #7eba7c;
  border-bottom: 1px solid #447d43;
  
  -moz-box-shadow: 0 1px 0px #9cabae, inset 0 1px 0px #b7e4ac;
  -webkit-box-shadow: 0 1px 0px #9cabae, inset 0 1px 0px #b7e4ac;
  box-shadow: 0 1px 0px #9cabae, inset 0 1px 0px #b7e4ac;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98d98a', endColorstr='#6bba6a'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#98d98a), to(#6bba6a)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #98d98a,  #6bba6a); /* for firefox 3.6+ */
  }


.green_button:hover, .blue_button:hover{
  color: #485a0c !important;

  text-shadow: 0 1px 0px #c2e3c1;
   
  -moz-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #ccebc7;
  -webkit-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #ccebc7;
  box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #ccebc7;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7e3b0', endColorstr='#9ace9b'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#b7e3b0), to(#9ace9b)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #b7e3b0,  #9ace9b); /* for firefox 3.6+ */
  }



.red_button{
  color: #412625 !important;
text-decoration: none !important;

  text-shadow: 0 1px 0px #f17265;
   
  border: 1px solid #96312e;
  border-top: 1px solid #c44d4a;
  border-bottom: 1px solid #412625;
  
  -moz-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #f17065;
  -webkit-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #f17065;
  box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #f17065;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98d98a', endColorstr='#6bba6a'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#98d98a), to(#6bba6a)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #dd443f,  #c51917); /* for firefox 3.6+ */
  }




/*---- Blue Button ----*/




/*---- Silver Button ----*/


.silver_button{
  text-shadow: 0 1px 0px #fff;
  text-decoration: none;

  border: 1px solid #a7c3c9;
  border-top: 1px solid #c6d9de;
  border-bottom: 1px solid #4e7179;
  
  -moz-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
  -webkit-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
  box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf9fc', endColorstr='#d6e8eb'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ecf9fc), to(#d6e8eb)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */
  }


.silver_button:hover{
  border: 1px solid #a7c3c9;
  border-top: 1px solid #c6d9de;
  border-bottom: 1px solid #4e7179;
  
  -moz-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
  -webkit-box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;
  box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #d6e8eb); /* for firefox 3.6+ */
  }
  













/*///////   ~  Fixes for various HTML elements  ~   ///////*/



button{
  border: none;
  line-height: 15px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  }



.forgot{
padding-left: 115px;
}


.small_close{
height: 0px;
width: 18px;
background: url(../../images/small_close.png) 0 0px no-repeat;
padding-top: 19px;
overflow: hidden;
margin: 0 10px 0 0;
float: left;
}

.small_close:hover{
background: url(../../images/small_close.png) 0 -20px no-repeat;
}

.small_close:active{
background: url(../../images/small_close.png) 0 -40px no-repeat;
}



button.small_button{
padding-right: 16px !important;
font-size: 12px;
background: url(../../images/small_buttons.png) right 0px no-repeat;
}

button.small_button span{
padding: 8px 0 8px 20px;
background: url(../../images/small_buttons.png) left 0px no-repeat;
}


button.small_button:hover{
background: url(../../images/small_buttons.png) right -34px no-repeat;
}

button.small_button:hover span{
text-shadow: 0px 1px 1px #beec32 ;

background: url(../../images/small_buttons.png) left -34px no-repeat;
}

button.small_button:active{
background: url(../../images/small_buttons.png) right -68px no-repeat;
}

button.small_button:active span{
background: url(../../images/small_buttons.png) left -68px no-repeat;
}


a.small_button{
padding-right: 18px !important;
font-size: 12px;
text-decoration: none;
font-weight: bold;
float: left;
background: url(../../images/small_buttons.png) right 0px no-repeat;
}

a.small_button span{
padding: 8px 0 8px 20px;
float: left;
color: #485c14;
text-transform: uppercase;
text-shadow: 0px 1px 1px #abce1d;
background: url(../../images/small_buttons.png) left 0px no-repeat;
}

a.small_button:hover{
background: url(../../images/small_buttons.png) right -34px no-repeat;
}

a.small_button:hover span{
text-shadow: 0px 1px 1px #beec32 ;
background: url(../../images/small_buttons.png) left -34px no-repeat;
}

a.small_button:active{
background: url(../../images/small_buttons.png) right -68px no-repeat;
}

a.small_button:active span{
background: url(../../images/small_buttons.png) left -68px no-repeat;
}




.plus{
background: url(../../images/sprites.png) -35px -264px no-repeat !important;
float: left;
}









/*/////////////////////////////////////////////

~ Inline Search

/////////////////////////////////////////////*/


.search_button{


-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;


border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: 1px solid #4e7179;


-moz-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
-webkit-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf9fc', endColorstr='#d6e8eb'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#ecf9fc), to(#d6e8eb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */

font-size: 12px;
padding: 0 !important;

margin: 0 !important;
clear: none;

position: relative;
cursor: pointer;
float: right;
}





.search_button:hover{
border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: 1px solid #4e7179;


-moz-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
-webkit-box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;
box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fff,  #d6e8eb); /* for firefox 3.6+ */

}


.search_button:hover span{
background: 0;

}
.search_button span{
padding: 8px 12px;
text-shadow: 0 1px 0px #fff;
background: 0;
color: #6666;
}



.inline_search{
float: right;
}

.inline_search input{

float: left;

clear: none;

width: 220px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;

border: 1px solid #a7c3c9;
border-bottom: 1px solid #a7c3c9;
border-top: 1px solid #4e7179;


-moz-box-shadow: 0 1px 0px #fff, inset 0 2px 1px #ddd;
-webkit-box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #333;
box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #333;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #eee,  #fff); /* for firefox 3.6+ */

font-size: 12px;
padding: 8px 12px 9px;
margin: 0 10px 0 0;
}




/*/////////////////////////////////////////////

~ Sort Buttons

/////////////////////////////////////////////*/


.sort_button{

padding-top: 2px;
position: relative;
cursor: pointer;
}



.sort_button:hover{
}



.sort_button{
float: left;
width: 150px;
margin: 10px 10px 0 0;
}


.sort_button.margin-top{
margin-top: 21px;
width: 300px;

}



.sort_button .sort_label{
  font-size: 11px;
  padding: 5px 10px;
font-weight: normal !important;
  text-shadow: 0 1px 0px #fff;
display: block;
color: #506a70;
}




.sort_button .arrow{
float: right;
height: 26px;

width: 28px;
background: url(../../images/sort_arrows.gif) 10px -129px no-repeat;

}



.sort_button:hover .arrow{

-moz-border-radius-bottomleft: 3px;
-webkit-border-radius-bottom-left: 3px;
border-radius-bottomleft:3px;

background: url(../../images/sort_arrows.gif) 10px -129px no-repeat;
}




.sort_button ul{
display: none;
}


.sort_button:hover ul{
position: absolute;
display: block;

z-index: 999999;

width: 100%;
padding: 0;
top: 27px;
left: -1px;
margin: 0;

border: 1px solid #a7c3c9;
border-top:none;
border-bottom: 1px solid #4e7179;


-moz-border-radius-bottomleft: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-radius-bottom-left: 3px;
-webkit-border-radius-bottom-right: 3px;
border-radius-bottomleft:3px;
border-radius-bottomright:3px;

-moz-box-shadow: 0 1px 0px #a7c3c9;
-webkit-box-shadow: 0 1px 0px #dbdbdb;
box-shadow: 0 1px 0px #dbdbdb;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */


}


.sort_button ul li{
margin: 0 !important;
padding: 0 !important;
list-style: none;
padding: 0;
}


.sort_button ul li a{
padding: 10px;
display: block;
text-decoration: none;
border-top: 1px solid #fff;
border-bottom: 1px solid #a7c3c9;
}


.sort_button ul li a:hover{
background: #ecf9fc;
}

.sort_button ul li a.first{
border-top: none;
}


.sort_button ul li a.last{
border-bottom: none;


-moz-border-radius-bottomleft: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-radius-bottom-left: 3px;
-webkit-border-radius-bottom-right: 3px;
border-radius-bottomleft:3px;
border-radius-bottomright:3px;
}











.admin_wrap{
width: 800px !important;
}








/*/////////////////////////////////////////////

~ Pagination

/////////////////////////////////////////////*/




.pag{
width: 480px;
margin: 0 auto;
text-align: center;
padding: 0;
}

.pag li{
list-style: none;
}

.pag li.previous{
float: left;
}

.pag li.next{
float: right;
}



.pagination{
float: right;
margin: 47px 10px 0 0;
}


.pagination span.previous_page {
float: left;
margin-right: 5px;
}

.pagination span.page{
}


.pagination span.page a{
padding: 5px 10px;
display: block;
text-decoration: none;
border: 1px solid #ccc;
color: #333;
border-bottom:none;
-moz-border-radius-topleft: 5px;
-webkit-border-radius-top-left: 5px;
text-decoration: none;
-moz-border-radius-topright: 5px;  
-webkit-border-radius-top-right: 5px;
background: #fff url(../../images/gradient_light.png) 0 0px repeat-x;
}


.pagination span.current_page{
padding: 5px 10px;
}





/* Pagination */
.pagination {
  border: none;
  text-align: center;
  padding: 3px;
clear: both;
border-radius: 55px;
-moz-border-radius: 55px;
-webkit-border-radius:55px;
margin: 15px 0 5px;
 min-height: 22px;
}

.pagination span.disabled {
  color: #AAA;
}

.pagination span.current {
  font-weight: bold;
  background: transparent url('/images/apple-circle.gif') no-repeat 50% 50%;
}

.pagination a {
  text-decoration: none;
padding: 5px 10px 3px !important;
  color: black;
}

.pagination a:hover, .pagination a:focus {
  text-decoration: none;
}

.match {
  border-bottom: 1px dotted red;
  padding-bottom: 0.1em;
}

/* Text meant only for screen readers */

.screen-reader-text {
	position: absolute;
	left: -9000em;
}



.pagination em {
cursor: default;
padding: 3px 10px 3px !important;
  -moz-box-shadow:inset 0px 1px 1px #aaa, inset 0px 0px 1px #eee;
  -webkit-box-shadow: 0px 1px 0px #a9a9a9, 0px 1px 3px #888;
  box-shadow: 0px 1px 0px #a9a9a9, 0px 1px 3px #888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f7fbfb'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7fbfb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #f7fbfb, #fff); /* for firefox 3.6+ */


}


.pagination a {
}


.pagination .gap {
cursor: default;
}

.pagination em,
.pagination a,
.pagination span,
.pagination .gap {
padding: 3px 8px;
font-size: 11px;
margin-right: 3px;
}

.pagination a:hover{

  -moz-box-shadow: 0px 1px 1px #555, 0px 0px 1px #888;
  -webkit-box-shadow: 0px 1px 0px #a9a9a9, 0px 1px 3px #888;
  box-shadow: 0px 1px 0px #a9a9a9, 0px 1px 3px #888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f7fbfb'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7fbfb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fff,  #f7fbfb); /* for firefox 3.6+ */
}


.pagination a:active{

  -moz-box-shadow:inset 0px 1px 1px #aaa, inset 0px 0px 1px #eee;
  -webkit-box-shadow: 0px 1px 0px #a9a9a9, 0px 1px 3px #888;
  box-shadow: 0px 1px 0px #a9a9a9, 0px 1px 3px #888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f7fbfb'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7fbfb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #f7fbfb, #fff); /* for firefox 3.6+ */
}


.next_page,
a.next_page{
float: right;
padding: 3px 15px;
margin-right: 0px;

-moz-border-radius-topright:     18px !important;
-moz-border-radius-bottomright:    18px !important;
-moz-border-radius-topleft:     5px !important;
-moz-border-radius-bottomleft:    5px !important;

-webkit-border-radius-top-right: 18px;
-webkit-border-radius-bottom-right: 18px;
-webkit-border-radius-top-left: 5px;
-webkit-border-radius-bottom-left: 5px;
margin-right: -19px;

}


a.next_page,
a.previous_page{
margin-top: -6px;
}


.previous_page,
a.previous_page{
float: left !important;
padding: 3px 15px;
-moz-border-radius-topleft:     18px !important;
-moz-border-radius-bottomleft:    18px !important;
-moz-border-radius-topright:     5px !important;
-moz-border-radius-bottomright:    5px !important;

-webkit-border-radius-top-left: 18px;
-webkit-border-radius-bottom-left: 18px;

-webkit-border-radius-top-right: 5px;
-webkit-border-radius-bottom-right: 5px;
margin-left: -19px;
}




.video_tabs{
margin: 18px 0 0;
padding: 0;
height: 41px;
width: 100%;
}


.video_tabs li{
margin: 0;
padding: 0;
list-style: none;
float: left;
margin: 0 10px 0 0 !important;
}


.video_tabs li a{

padding: 0;
position: relative;
text-decoration: none;
display: block;
padding: 14px 20px 10px;
z-index: 33333;


  -moz-border-radius-topright: 5px;  
  -moz-border-radius-topleft: 5px;  
  -webkit-border-radius-top-left: 5px;
  -webkit-border-radius-top-right: 5px;


text-shadow: 0 1px 0px #fff;

border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: none;


-moz-box-shadow:inset 0 1px 0px #fff;
-webkit-box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;
box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;


filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */



position: relative;
cursor: pointer;
}


.video_tabs li a.active, .video_tabs li.active a, .video_tabs li.active span.tab-item{
position: relative;
text-decoration: none;
display: block;
padding: 13px 20px 12px 20px;
z-index: 33333;


  -moz-border-radius-topright: 5px;  
  -moz-border-radius-topleft: 5px;  
  -webkit-border-radius-top-left: 5px;
  -webkit-border-radius-top-right: 5px;


text-shadow: 0 1px 0px #fff;

border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: none;


-moz-box-shadow:inset 0 1px 0px #fff;
-webkit-box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;
box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #f8fdff,  #eaf8fc); /* for firefox 3.6+ */



position: relative;
}





.sort_button:hover{
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-radius: 3px;
border-radius:3px;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fff,  #ecf9fc); /* for firefox 3.6+ */

}



.video_tabs li a .badgy, .video_tabs li span.tab-item .badgy{

padding: 2px 5px 1px;
background: #fff;
  -moz-border-radius: 5px;  
  -webkit-border-radius: 5px;
border: 1px solid #c3dce0;

margin-left: 4px;
}




#add_translation,
#add_subtitles{
margin-bottom: 10px;
}






