

#comment-form{
width: 938px;
background: #fff;
border: 1px solid #aaa;
margin-left: -1px !important;
padding: 20px 20px 215px;
}

.comment-form{
clear: both;
background: #fff;
border: 1px solid #aaa;
border-bottom: none;
padding: 20px 20px 215px;
}

#comment-form textarea{
width: 815px;
margin-left: 0px;
padding: 10px;
float: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
letter-spacing: .04em;
}



#comment-form button{
clear: none !important;
float: right; 
}






.comment_date{
font-size: 11px;
}

