/*
New Header Styles
*/

#main_bar {
	width: 100%;
	background: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e8e8e8)) no-repeat;
  background: -moz-linear-gradient(top,                            #FFF,     #e8e8e8) no-repeat;
	height: 45px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
	border-bottom: 1px #EEE solid;
	position: relative;
	z-index: 2;
	margin: 0;
	padding: 0;
}

#main_bar #bar_wrap {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

#main_bar h1 a {
	float: left;
	background: url(../../images/new_logo.png) 0 0 no-repeat;
	display: block;
	text-indent: -9999px;
	width: 205px;
	height: 28px;
	margin: 9px 0 0 0;
}

#main_bar h1 a:hover {
	background-position: 0 -28px;
}

#main_bar #bar_right {
	float: right;
}

#main_bar #bar_search {
	float: left;
	margin: 0 -7px 0 0;
	padding: 6px 10px 6px 0;
	border-right: 1px #DDD solid;
	-webkit-box-shadow: inset -1px 0 0 #FFF;
	-moz-box-shadow: inset -1px 0 0 #FFF;
}

#main_bar #bar_search input {
	background: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#FFF)) no-repeat;
  background: -moz-linear-gradient(top,                            #e8e8e8,     #FFF) no-repeat;
	border: 1px #d3d3d3 solid;
	-webkit-box-shadow: 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 0 #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 7px 5px 7px 25px;
	font-size: 12px;
	color: #555;
	font-family: Helvetica, Arial, sans-serif;
	width: 125px;
}

#main_bar ul#bar_menu {
	float: right;
}

#main_bar ul#bar_menu li {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#main_bar ul#bar_menu li a {
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	color: #777;
	font-size: 14px;
	text-decoration: none;
	display: block;
	padding: 18px 13px 14px 13px;
}

#main_bar ul#bar_menu li#nav_submit {
}

#main_bar ul#bar_menu li#nav_submit a em.icon {
	width: 26px;
	height: 20px;
	background: transparent url(../../images/icon_create_subtitle.png) 0 0 no-repeat;
	display: inline-block;
	position: relative;
	top: 5px;
	left: -3px;
	opacity: 0.8;
}

#main_bar ul#bar_menu li#nav_submit a {
	font-weight: bold;
	color: #777;
	padding: 9px 13px 14px 13px;
}

#main_bar ul#bar_menu li a:hover {
	background: rgba(255,255,255, 0.5);
	color: #333;
}

#main_bar ul#bar_menu li#nav_submit a:hover {
	color: #555;
}

#main_bar ul#bar_menu li#nav_submit a:hover em.icon {
	opacity: 1.0;
}

#lang_bar {
	background: #81ad0c;
	background: -webkit-gradient(linear, left top, left bottom, from(#73a40b), to(#8eb50d)) no-repeat;
  background: -moz-linear-gradient(top,                            #73a40b,     #8eb50d) no-repeat;
	border-bottom: 1px #82ab4c solid;
	-webkit-box-shadow: inset 0 -1px 0 #abc910;
	-moz-box-shadow: inset 0 -1px 0 #abc910;
	width: 100%;
	position: relative;
	z-index: 1;
}

#lang_bar .language_bar {
	width: 50%;
	margin: 0 auto;
	position: relative;
	padding: 5px 0 5px 0;
}

#lang_bar .language_bar a#lang_select_btn {
	background: #FFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e8e8e8)) no-repeat;
  background: -moz-linear-gradient(top,                            #FFF,     #e8e8e8) no-repeat;
	-webkit-box-shadow: inset 0 -1px 0 #FFF, inset 0 8px 3px rgba(0,0,0, 0.2);
	-moz-box-shadow: inset 0 -1px 0 #FFF, inset 0 8px 3px rgba(0,0,0, 0.2);
	text-shadow: 0 1px 0 #FFF;
	display: block;
	font-size: 13px;
	padding: 14px 10px 8px 10px;
	color: #628800;
	float: right;
	text-decoration: none;
	position: absolute;
	top: -7px;
	right: 0;
	border: 1px rgba(0,0,0, 0.1) solid;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius:  5px;
	-moz-border-radius-bottomright:     5px;
	-moz-border-radius-bottomleft:      5px;
}

#lang_bar .language_bar a:hover#lang_select_btn {
	background: #FFF;
	background: -webkit-gradient(linear, left bottom, left top, from(#FFF), to(#e8e8e8)) no-repeat;
  background: -moz-linear-gradient(bottom,                            #FFF,     #e8e8e8) no-repeat;
	color: #888;
}

#lang_bar .language_bar a:active#lang_select_btn {
	top: -5px;
	-webkit-box-shadow: inset 0 -1px 0 #FFF, inset 0 6px 3px rgba(0,0,0, 0.2);
	-moz-box-shadow: inset 0 -1px 0 #FFF, inset 0 6px 3px rgba(0,0,0, 0.2);
}

#lang_bar .language_bar .selected_language {
	color: #FFF;
	text-shadow: 0 1px 0 #176801;
	text-align: right;
	display: block;
	float: right;
	position: relative;
	right: 160px;
	font-size: 14px;
}


/*
Old Header Styles
*/

#header {
  width: 940px;
  height: 45px;
  margin: 10px auto 50px auto;
  position: relative;
}

#header .top_bar {
  font-size: 12px;
  float: left;
  width: 100%;
  line-height: 3em;
}

#header h1 {
  float: left;
  margin: 10px 0 0 0px;
  font-size: 12px;
  float: left;
}

#header h1 a, #header h1 span.logo {
  background: url(../../images/logo.png) 0 10px no-repeat;
  margin: 0;
  overflow: hidden;
  padding: 50px 0 0;
  height: 0;
  width: 290px;
  display: block;
}

#header h1 a:hover{
  background: url(../../images/logo.png) 0 -59px no-repeat;
}

div#main_nav {
  float: left;
}

div#main_nav ul {
  margin: 18px 0 0 15px;
}

div#main_nav ul li {
  float: left;
  list-style: none;
}

div#main_nav ul li a {
  text-decoration: none;
  color: #000;
  padding: 0 12px 5px 20px;
  font-size: 18px;
  display: block;
  line-height: 30px;
  text-align: center;
}

div#main_nav ul li a:hover {
  color: #3196ad;
}

div#main_nav ul li#nobdr a {
  padding: 0px 18px 5px 0;
}

div#main_nav ul li#nobdr {
  border-right: 1px #FFF solid;
}

div#main_nav ul li a em {
  font-size: 12px;
  line-height: 0px;
  text-align: center;
  display: block;
  font-style: normal;
}

/*
alphaNav
*/

ul#subnav {
  margin: 30px 0 0 0;
  float: right;
}

ul#subnav li {
  float: left;
  line-height: 12px;
  list-style: none;
  margin: 0 10px;
  text-transform: capitalize;
}

ul#subnav li.u_login {
  padding-left: 15px;
  background: url(images/interface/bullet_login.gif) no-repeat left center; 
}

ul#subnav li a {
  color:#319ac5;
  text-decoration: underline;
  font-size: 12px;
}

ul#subnav li a:hover {
  text-decoration:none;
}

ul#subnav li#subnav_menu {
  position: relative;
  top: -10px;
  right: 8px;
}

.content h1 {
  line-height: 1.1em;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}


/* Language Modal
------------------------------------------------*/

.language_modal { 
  display: none;
  background-color: #fff;
  width: 375px;
  color: #818b8f;
  padding: 20px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
}

.language_modal p {
  font-size: 14px;
  line-height: 24px; 
}
  
.language_modal h2 { 
  font-size: 22px;
  margin: 0;
  color: #000;
}

.language_modal #language_picker {
  margin: 0;
  position: relative;
  left: 0;
}
  
.language_modal ul { 
  list-style-type: none;
  width: 150px;
  float: left;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  border-right: 1px #DDD solid;
  text-indent: -18px;
}

.language_modal ul#last {
  border: 0;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
}
  
.language_modal ul li {
  margin: 5px 0 5px 0;
}