#header {
  width: 940px;
  height: 45px;
  margin: 10px auto 50px auto;
  position: relative;
}

#header .top_bar {
  font-size: 12px;
  float: left;
  width: 100%;
  line-height: 3em;
}

#header h1 {
  float: left;
  margin: 10px 0 0 0px;
  font-size: 12px;
  float: left;
}

#header h1 a, #header h1 span.logo {
  background: url(../../images/logo.png) 0 10px no-repeat;
  margin: 0;
  overflow: hidden;
  padding: 50px 0 0;
  height: 0;
  width: 290px;
  display: block;
}

#header h1 a:hover{
  background: url(../../images/logo.png) 0 -59px no-repeat;
}

div#main_nav {
  float: left;
}

div#main_nav ul {
  margin: 18px 0 0 15px;
}

div#main_nav ul li {
  float: left;
  list-style: none;
}

div#main_nav ul li a {
  text-decoration: none;
  color: #000;
  padding: 0 12px 5px 20px;
  font-size: 18px;
  display: block;
  line-height: 30px;
  text-align: center;
}

div#main_nav ul li a:hover {
  color: #3196ad;
}

div#main_nav ul li#nobdr a {
  padding: 0px 18px 5px 0;
}

div#main_nav ul li#nobdr {
  border-right: 1px #FFF solid;
}

div#main_nav ul li a em {
  font-size: 12px;
  line-height: 0px;
  text-align: center;
  display: block;
  font-style: normal;
}

/*
alphaNav
*/

ul#subnav {
  margin: 30px 0 0 0;
  float: right;
}

ul#subnav li {
  float: left;
  line-height: 12px;
  list-style: none;
  margin: 0 10px;
  text-transform: capitalize;
}

ul#subnav li.u_login {
  padding-left: 15px;
  background: url(images/interface/bullet_login.gif) no-repeat left center; 
}

ul#subnav li a {
  color:#319ac5;
  text-decoration: underline;
  font-size: 12px;
}

ul#subnav li a:hover {
  text-decoration:none;
}

ul#subnav li#subnav_menu {
  position: relative;
  top: -10px;
  right: 8px;
}

.feedback_tab {
	z-index: 100;
}

.content h1 {
  line-height: 1.1em;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}


/* Language Modal
------------------------------------------------*/

.language_modal { 
  display: none;
  background-color: #fff;
  width: 375px;
  color: #818b8f;
  padding: 20px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
}

.language_modal p {
  font-size: 14px;
  line-height: 24px; 
}
  
.language_modal h2 { 
  font-size: 22px;
  margin: 0;
  color: #000;
}

.language_modal #language_picker {
  margin: 0;
  position: relative;
  left: 0;
}
  
.language_modal ul { 
  list-style-type: none;
  width: 150px;
  float: left;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  border-right: 1px #DDD solid;
  text-indent: -18px;
}

.language_modal ul#last {
  border: 0;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
}
  
.language_modal ul li {
  margin: 5px 0 5px 0;
}


/* Language Bar
------------------------------------------------*/

#topbar {
  line-height: 30px;
  font-size: 12px;
  text-align: right;
  font-weight: bold;
  color: #1e3d43;
  padding: 5px 0 5px 0;
}

.search input {
  display: block;
  border: 0;
  font-size: 12px;
  -moz-border-radius:    5px;  
  -webkit-border-radius: 5px;
  margin: 0 0 0 5px;
  line-height: 15px;
  padding: 8px 0 4px 28px;
  float: left;
  width: 120px;
  font-family: Arial, Helvetica, sans-serif;
  -moz-box-shadow:    inset 0px 1px 1px #555;
  -webkit-box-shadow: inset 0px 1px 2px #555;
  background: rgba(255,255,255, 0.4) url(../../images/search.png) 10px center no-repeat;
}

.language_bar .green_button { 
  line-height: 12px;
  float: none;
  display: inline-block;
  border: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0 1px 2px rgba(0, 0, 0, 0.5);
  margin-left: 15px;
}

.language_bar span {
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
}