/*/////////////////////////////////////////////

~ Layout

/////////////////////////////////////////////*/


.wrapper{
  margin: 0 auto;
  position: relative;
  }


.right_column{
  width: 440px;
  float: right;
  }


.left_column{
  width: 440px;
  float: left;
  }


.content{
  min-height: 300px;
  clear: both;
  line-height: 15px;
  font-size: 12px;
  margin-bottom: 50px;
  }



.mirosubs-videoDiv video,
.mirosubs-videoDiv video *,
.mirosubs-videoDiv object,
.mirosubs-videoDiv embed{
  display: block;
  width: 470px ;
  }



/*/////////////////////////////////////////////

~ Header

/////////////////////////////////////////////*/


.header{
  min-height: 130px;
  width: 100%;
  }

.header .top_bar{
  font-size: 12px;
  float: left;
  width: 100%;
  line-height: 3em;
  }


.header h1 {
  float: left;
  margin: 10px 0 0 0px;
  font-size: 12px;
  position: absolute;
  top: 20px;
left: 0;
  }


.header h1 a, .header h1 span.logo {
  background: url(../../images/logo.png) 0 10px no-repeat;
  margin: 0;
  overflow: hidden;
  padding: 50px 0 0;
  height: 0;
  width: 290px;
  display: block;
  }


.header h1 a:hover{
  background: url(../../images/logo.png) 0 -59px no-repeat;
  }


.content h1 {
line-height: 1.1em;
}


/*/////////////////////////////////////////////

~ Standard List

/////////////////////////////////////////////*/



.big_list,
.small_list{
  margin: 0;
  padding: 0;
  }


.big_list,
.big_list *{
  font-size: 13px;
  line-height: 1.4em;
  }


.small_list,
.small_list *{
  font-size: 11px;
  line-height: 1.3em;
  }


.big_list .info{
  margin-left: 120px;
  }


.small_list .info{
  margin-left: 65px;
  }
  

.big_list li,
.small_list li{
  margin: 0px 0;
  padding: 20px 0;
  list-style: none;
  clear: both;
  overflow: auto;
  border-bottom: 1px solid #fff;
  }

.small_list li{
  padding: 15px 0;
  }



.big_list li a,
.small_list li a{
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
  }


.big_list li a:hover,
.small_list li a:hover{
  text-decoration: underline;
  }



.big_list li h4,
.small_list li h4{
  margin: 0;
  }


.big_list li h4 a,
.small_list li h4 a{
  margin: 0;
  color: #333;
  padding: 0;
  font-size: 1.3em;
  }

.big_list li div span,
.small_list li div span{
  margin: 0px;
  color: #888;
  padding: 0;
  font-size: .9em;
  }
  

.big_list li div div{
margin-top: 5px;
line-height: 1.8em;
float: left;
  }
  

.big_list li div div a,
.small_list li div div a{
  font-size: .9em;
  }
  


.big_list li p,
.small_list li p{
  margin: 5px 0 0 0;
  padding: 0;
  color: #444;
float: left;
  }

.small_list li p{

float: none;
  }

.small_list li p{
  margin: 0px 0 0 0;
  }


/*

.need_help span{
  background: url(../../images/ribbons.png) left 0 no-repeat;
float: left;
padding: 0px 15px 0px 20px !important; 
color: #fff !important;
margin-right: 10px !important;
line-height: 2em;
width: 123px;
}



.completed_in span{
  background: url(../../images/ribbons.png) left -34px no-repeat;
float: left;
padding: 0px 15px 0px 20px !important; 
color: #fff !important;
margin-right: 10px !important;
line-height: 2em;
width: 123px;
}


*/

.need_help {
display: block;
clear: both;

}

.need_help *,
.completed_in *{
color: #000 !important;
font-weight: bold;
}


.need_help a,
.completed_in a{
text-decoration: underline !important;
}



.completed_in {
clear: both;
display: block;
margin: 0px !important;
}



/*/////////////////////////////////////////////

~ Share

/////////////////////////////////////////////*/


.mirosubs-share h2{
  border-bottom: 0 !important;;
  padding: 0 !important;
  line-height: 1em;
  }

.mirosubs-share h3{
  border-bottom: 0 !important;;
  padding: 0 !important;
  }



/*/////////////////////////////////////////////

~ Footer

/////////////////////////////////////////////*/


.footer{
  padding: 20px 30px 16px;
  margin: 50px 0 80px;
  color: #333;
  clear: both;
  width: 920px;
  margin: 60px auto;
  font-weight: bold;
  font-size: 13px;
  background: url(../../images/1x1.png);
  -moz-border-radius: 5px;  
  -webkit-border-radius: 5px;
  height: 1.6em;
  }


.footer a{ color: #333;}


.footer .floatright a{ padding-left: 20px;}



.boxx{
background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
text-shadow: 0 1px 0px #fff;

border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: 1px solid #88afb6;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf9fc', endColorstr='#d6e8eb'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#ecf9fc), to(#d6e8eb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */



position: relative;
}



.sort_button:hover{
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-radius: 3px;
border-radius:3px;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ecf9fc'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ecf9fc)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fff,  #ecf9fc); /* for firefox 3.6+ */


}

.boxx .sort_button{
margin: 3px 2px !important;
}


.boxx .sort_button ul li{
padding: 0 !important;

}





.sub_content{
padding-left: 130px;
}




.search_toggles{
float: right;
padding-top: 10px;
}



.toggle{
background: #fff;
text-shadow: 0 1px 0px #fff;

font-size: 11px;

text-decoration: none !important;
-moz-box-shadow:inset 0 1px 0px #fff;
-webkit-box-shadowinset 0 1px 0px #fff;
box-shadow:inset 0 1px 0px #fff;

border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: 1px solid #88afb6;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf9fc', endColorstr='#d6e8eb'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#ecf9fc), to(#d6e8eb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */
float: right;

}


.toggle span{
background: #fff;
  -moz-border-radius: 15px;  
  -webkit-border-radius: 15px;

margin-right: 10px;

font-size: 11px;

text-decoration: none !important;

border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: 1px solid #88afb6;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf9fc', endColorstr='#d6e8eb'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#ecf9fc), to(#d6e8eb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */
float: left;
padding: 5px;
display: none;

}



.toggle.on{
background: #fff;
margin-top: 1px;
color: #5a777b;

text-shadow: 0 1px 0px #eef9fb;

font-size: 11px;

text-decoration: none !important;

border: none;
-moz-box-shadow:inset 0 1px 2px #99b8bc, 0 1px 1px #fff;
-webkit-box-shadow:inset 0 1px 2px #99b8bc, 0 1px 1px #fff;
box-shadow:inset 0 1px 2px #99b8bc, 0 1px 1px #fff;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccdadc', endColorstr='#dcebee'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#ccdadc), to(#dcebee)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ccdadc,  #dcebee); /* for firefox 3.6+ */
float: left;

}


.search_title{
  -moz-border-radius: 35px !important;  
  -webkit-border-radius: 35px;
padding: 8px 13px 5px 16px;
}

.search_full{
  -moz-border-radius: 35px !important;  
  -webkit-border-radius: 35px;
padding: 8px 16px 5px 13px;
}


.started,
.last_worked,
.page_loads,
.fetched,
.langs_available{
padding-left: 20px !important;
  background: url(../../images/tiny_icons.png) 0 0 no-repeat;
float: left;
line-height: 1.8em;
}


.started{
padding-right: 20px !important;
width: 200px;

  background: url(../../images/tiny_icons.png) 0 3px no-repeat;
}


.last_worked{
  background: url(../../images/tiny_icons.png) 0 3px no-repeat;
}


.page_loads{
padding-right: 20px !important;
width: 200px;

  background: url(../../images/tiny_icons.png) 0 -25px no-repeat;
}

.fetched{
  background: url(../../images/tiny_icons.png) 0 -54px no-repeat;
}

.langs_available{
  background: url(../../images/tiny_icons.png) 0 -54px no-repeat;
}

/* Search
------------------------------------------------*/

.search_filters { 
  background-color: rgba(20, 95, 123, 0.10);
  padding: 0 15px;
  margin-top: 18px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0,71,90, 0.2); }

.search_filters p { 
  color: #000;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0;
  line-height: 44px;
  border-bottom: 1px solid #c2d7db; }

.search_filters p.last {
  border-bottom: 0;
}

/* Language Modal
------------------------------------------------*/

.language_modal { 
  background-color: #fff;
  width: 500px;
  color: #818b8f;
  padding: 20px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -moz-border-radius: 3px; }

.language_modal p { 
  font-size: 14px;
  line-height: 24px; }
  
.language_modal h2 { 
  font-size: 22px;
  margin: 0;
  color: #000; }
  
.language_modal div { 
  display: none;
  background-color: #ebf1f2;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  text-align: center; }
  
.language_modal select { 
  margin-right: 20px; }