.settings_nav { 
  float: left;
  width: 184px;
  padding-top: 10px;
  text-indent: 10px; }

.settings_nav ul { 
  margin: 0;
  padding: 0;
  list-style-type: none; }
  
.settings_nav li { 
  line-height: 30px;
  padding: 0; }

.settings_nav li a { 
  color: #1c2b2e;
  text-decoration: none; }

.settings_nav li.active { 
  background-color: #aac6cd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.settings_nav h4 { 
  padding: 0;
  margin: 0;
  line-height: 30px;
  border-top: 1px solid #d8dedc; }

.settings_nav .message_count { 
  background-color: #69b766;
  font-size: 11px;
  font-weight: bold;
  border-radius: 8px;
  color: #fff;
  height: 15px;
  line-height: 15px;
  text-indent: 0;
  padding: 0 5px;
  display: inline-block;
  margin-left: 6px; }

.teams li { 
  padding-left: 20px; }

.teams li a { 
  color: #4c6a70; }
  
.settings_main { 
  background-color: #eaf4f6;
  float: right;
  width: 750px;
  border: 3px solid #aac6cd;
  border-radius: 6px; }

.settings_main .left_column {
  width: 350px; }

.settings_main .right_column {
  width: 330px; }

.settings_main .right_column select {
  width: 140px; }

.settings_main h2{
  background-color: #d9e9ec;
  clear: both;
  padding: 0px 0px 0px 30px;
  height: 50px;
  line-height: 50px;
  -moz-border-radius-topright: 5px;  
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom: 1px solid #d1dee0;
  border-top: 1px solid #e9f2f4; }
  
  
.settings_main .inline_tabs { 
  background-color: #d9e9ec;
  display: block !important;
  line-height: 40px;
  padding-left: 30px;
  border-top: 1px solid #e9f2f4;
  border-bottom: 1px solid #d1dee0; }

#teams .settings_main h2 { 
  margin-bottom: 0; }