

/*//////////   ~  Top User Panel  ~   //////////*/


.accountstatus {
  width: 600px;
  text-align: right;
  float: right;
}

.accountstatus p {
  margin: 0;
  padding: 6px 0px 0 0;
}

.accountstatus p a {
  margin: 0;
  padding: 0px 10px 0 0;
}

.user_panel {
  font-size: 11px;
  text-align: left;
  z-index: 1001;
  float: right;
}

.user_panel:hover .dropdown { 
  display: block;
}
  
.user_panel:hover .user {
   background-color: #f0f9fb;
   z-index: 1001;
   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.user_panel a {
  color: #528898;
  text-decoration: none;
}

.user_panel .user {
  height: 25px;
  line-height: 26px;
  padding: 3px 10px 0 10px;
  border-top-left-radius:     4px;
  border-top-right-radius:    4px;
}

.user_panel .message_count { 
  display: block;
  background-color: #aec2c8;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 11px;
  line-height: 15px;
  padding: 2px 11px 2px 11px;
  margin: 3px 0 0 0;
  border-radius: 10px;
  float: right;
}

.user_panel .dropdown {
  display: none;
  background-color: #f0f9fb;
  text-align: left;
  clear: both;
  font-size: 12px;
  line-height: 24px;
  width: 145px;
  padding: 10px 0 10px 0;
  position: absolute;
  -moz-border-radius-topright:        4px;
  -moz-border-radius-bottomleft:      4px;
  -moz-border-radius-bottomright:     4px;
  -webkit-border-top-right-radius:    4px;
  -webkit-border-bottom-left-radius:  4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  z-index: 1000;
}

.user_panel .dropdown ul#dropdown_menu li {
  float: none;
  line-height: 24px;
  list-style: none;
  margin: 0;
  text-transform: none;
}

.user_panel .dropdown ul#dropdown_menu li.u_login {
  padding-left:15px;
  background:url(images/interface/bullet_login.gif) no-repeat left center; 
}

.user_panel .dropdown ul#dropdown_menu li a {
  color: #319ac5;
  text-decoration: none;
  
  display: block;
  padding: 5px 10px 5px 10px;
}

.user_panel .dropdown ul#dropdown_menu li a:hover {
  text-decoration: none;
  color: #287392;
  background: #dce7ea;
}

.user_panel .teams_menu { 
  border-top: 1px solid #deecef;
  border-bottom-left-radius:  4px;
  border-bottom-right-radius: 4px; 
}

.user_panel .teams_menu h4 { 
  margin: 5px 0 2px 10px;
}

.user_panel ul { 
  padding: 0;
  list-style-type: none; }

.user_panel li { 
  padding: 0; }

.user_panel img{
  border: none;
  position: relative;
  top: 4px;
  margin-right: 5px;
  }

/* New Homepage overrides */

#header .user_panel {
  top: 0px;
  padding-right: 0;
  position: relative;
}




