

/*//////////   ~  Top User Panel  ~   //////////*/


.accountstatus{
  width: 600px;
  text-align: right;
  float: right;
  }


.accountstatus p{
  margin: 0;
  padding: 6px 0px 0 0;
  }



.accountstatus p a{
  margin: 0;
  padding: 0px 10px 0 0;
  }


.user_panel{
  right: 0;
  top: 5px;
  font-size: 11px;
  position: absolute;
  text-align: right;
  padding-right: 20px;
  z-index: 1001;
  }

.user_panel:hover .dropdown { 
  display: block; }
  
.user_panel:hover .user { 
   float: right;
   background-color: #f0f9fb;
   position: relative;
   z-index: 1001;
   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3); }

.user_panel a {
  color: #528898;
  text-decoration: none; }

.user_panel .user { 
  height: 25px;
  line-height: 26px;
  padding: 0 10px;
  border-top-left-radius:     4px;
  border-top-right-radius:    4px; }

.user_panel .message_count { 
  display: inline-block;
  background-color: #aec2c8;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 11px;
  line-height: 15px;
  width: 20px;
  border-radius: 10px; }

.user_panel .dropdown { 
  display: none;
  background-color: #f0f9fb;
  text-align: left;
  clear: both;
  font-size: 12px;
  line-height: 24px;
  width: 145px;
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
  border-top-left-radius:     4px;
  border-bottom-left-radius:  4px;
  border-bottom-right-radius: 4px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  z-index: 9000; }

.user_panel .teams_menu { 
  background-color: #eaf6f9;
  border-top: 1px solid #deecef;
  margin: 10px -20px -10px;
  padding: 0 20px 10px;
  border-bottom-left-radius:  4px;
  border-bottom-right-radius: 4px; }

.user_panel .teams_menu h4 { 
  margin: 10px 0 0; }

.user_panel ul { 
  padding: 0;
  list-style-type: none; }

.user_panel li { 
  padding: 0; }

.user_panel img{
  border: none;
  position: relative;
  top: 4px;
  margin-right: 5px;
  }

/* New Homepage overrides */

#header .user_panel {
  top: -19px;
  padding-right: 0;
}




