<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>    
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"/>
        <style>
            h3 {
                margin: 15px 0px 0px 40px;
            }
        </style>
    </head>
    <body>
        {% if messages %}
          <div id="messages">
            {% for message in messages %}
              <h2 class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</h2>
            {% endfor %}
          </div>
        {% endif %}
        
        <h3>Video's title changed on Universal Subtitles</h3>
        
        <form method="post" action="{% url emails_example:send_email %}">
            <div>
            {% csrf_token %}
            <input type="hidden" value="1" name="type">
            Subject: <input name="subject" value="Video's title changed on Universal Subtitles" />
            <br/>
            Email: <input name="email" />
            <br/>
            <button>Send</button>
            </div>
        </form>
        
        <iframe width="700" height="500" frameborder="no" src="{% url emails_example:email_title_changed %}"></iframe>
        
        <h3>New English translation by Someuser of "Some video"</h3>
        
        <form method="post" action="{% url emails_example:send_email %}">
            <div>
            {% csrf_token %}
            <input type="hidden" value="2" name="type">
            Subject: <input name="subject" value="Video's title changed on Universal Subtitles" />
            <br/>
            Email: <input name="email" />
            <br/>
            <button>Send</button>
            </div>
        </form>
                
        <iframe width="700" height="500" frameborder="no" src="{% url emails_example:email_start_notification %}"></iframe>
        
        <h3>New video URL added by Someuser to "Some video" on universalsubtitles.org</h3>
        
        <form method="post" action="{% url emails_example:send_email %}">
            <div>
            {% csrf_token %}
            <input type="hidden" value="3" name="type">
            Subject: <input name="subject" value="Video's title changed on Universal Subtitles" />
            <br/>
            Email: <input name="email" />
            <br/>
            <button>Send</button>
            </div>
        </form>        
        
        <iframe width="700" height="500" frameborder="no" src="{% url emails_example:email_video_url_add %}"></iframe>
    </body>
</html>
