<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>    
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"/>
        <style>
            h3 {
                margin: 15px 0px 0px 40px;
            }
        </style>
    </head>
    <body>
        <h3>Video's title changed on Universal Subtitles</h3>
        <iframe width="700" height="500" frameborder="no" src="{% url emails_example:email_title_changed %}"></iframe>
        <h3></h3>
    </body>
</html>
