{% load media_compressor %}

<!DOCTYPE html>
<html>
  <head>
    {% include_bundle "mirosubs-onsite-compiled" %}
    <script type="text/javascript" src="{{MEDIA_URL}}js/testing/testing.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/testing/timerstub.js"></script>
    <script>
      goog.require('goog.testing.jsunit');
      goog.require('goog.testing.events');
    </script>
    <script>
      <!-- Symlinked to JSUnit installation -->
      goog.testing.jsunit.BASE_PATH = '/site_media/js/jsunit/app/';
    </script>
  </head>
  <body>
    <div>
      {% block testcontrols %}{% endblock %}
    </div>
    <script>
      {% block testscript %}{% endblock %}
    </script>
  </body>
</html>
