<!DOCTYPE html>
<html>
  <head>
    {% include "widget/_js_dependencies.html" %}
    <script>
      goog.require('goog.testing.jsunit');
      goog.require('goog.testing.events');
    </script>
    <script>
      <!-- Symlinked to JSUnit installation -->
      goog.testing.jsunit.BASE_PATH = '/site_media/js/jsunit/app/';
    </script>
  </head>
  <body>
    <div>
      {% block testcontrols %}{% endblock %}
    </div>
    <script>
      {% block testscript %}{% endblock %}
    </script>
  </body>
</html>
