# pip requirements file for mirosubs development
# to install the requirements run
# $ pip install -r dev-requirements.txt

Django==1.1.1
werkzeug
ipython
django_extensions
django-debug-toolbar
PyYAML
simplejson
pil
-e hg+http://sorl-thumbnail.googlecode.com/hg/#egg=sorl-thumbnail


# dependencies of socialauth
python-openid
python-yadis
oauth
-e git://github.com/aduston/Django-Socialauth.git#egg=socialauth

-e hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django-registration
fabric>=0.9.0
