# make sure this filed is symlinked to /etc/nginx/sites-available/
# activate it by symlinking from sites-available to sites-enabled
upstream mirosubs-backend {
  server 127.0.0.1:9998;
}

server {
    listen 80;
    server_name mirosubs.pybrew.com;
    access_log /home/mirosubs/log/nginx.access.log;
    error_log /home/mirosubs/log/nginx.error.log notice;

    location / {
        # from:
        # http://www.meppum.com/2009/jan/17/installing-django-ubuntu-intrepid/#Config_Nginx   
        proxy_pass http://mirosubs-backend;
        include /etc/nginx/proxy.conf;
    }

    location = /favicon.ico {
        root /home/mirosubs/mirosubs/media;
        autoindex off;
        expires 1d;
    }

    location /site_media {
        rewrite ^/site_media/(.*)$ /$1 break;
        root /home/mirosubs/mirosubs/media;
        autoindex on;
        expires 1d;
    }

    location /media {
        rewrite ^/media/(.*)$ /$1 break;
        root /home/mirosubs/env/lib/python2.5/site-packages/django/contrib/admin/media;
        autoindex on;
        expires 1d;
    }
}

