Django==1.2.1
Fabric==0.9.1
PIL==1.1.7
PyRSS2Gen==1.0.0
PyYAML==3.09
South==0.7
Werkzeug==0.6.1
django-debug-toolbar==0.8.3
django-extensions==0.4.1
-e hg+http://bitbucket.org/ubernostrum/django-registration/@d36a38202ee3d09d342b000f4ff634296f90df49#egg=django_registration-tip
-e git://github.com/aduston/Django-Socialauth.git@709d344226471b658250f01c714a0dd9559a88e5#egg=django_socialauth-0.1.5-py2.6-dev
ipython==0.10
oauth==1.0.1
pyOpenSSL==0.9
pycrypto==2.1.0
vendor/python-openid-2.2.5.tar.gz
vendor/python-yadis-1.1.0.tar.gz
simplejson==2.1.1
-e hg+http://sorl-thumbnail.googlecode.com/hg/@caf69b5206329d89282b4b8246a72e5aa77cb578#egg=sorl_thumbnail-tip
django-haystack==1.0
pysolr
-e svn+http://gdata-python-client.googlecode.com/svn/trunk/#egg=gdata-2.0.10-py2.6.egg