Django==1.2.1
Fabric==0.9.1
PIL==1.1.7
PyRSS2Gen==1.0.0
PyYAML==3.09
South==0.7
vendor/django-registration.tar.gz
vendor/django-piston.tar.gz
vendor/django-livesettings.tar.gz
vendor/django-keyedcache.tar.gz
vendor/django-storages.tar.gz
vendor/python-openid-2.2.5.tar.gz
vendor/python-yadis-1.1.0.tar.gz
vendor/sorl-thumbnail-3.2.5.tar.gz
vendor/gdata-2.0.10.tar.gz
vendor/django-math-captcha-0.1.tar.gz
vendor/BeautifulSoup-3.2.0.tar.gz
vendor/kombu-1.1.6.fixed.tar.gz
vendor/celery-2.2.7.zip
vendor/django-celery-2.2.4.tar.gz
oauth==1.0.1
oauth2==1.2.0
pyOpenSSL==0.9
pycrypto==2.1.0
vendor/redis-2.4.5.tar.gz
simplejson==2.1.1
django-haystack==1.2.4
pysolr==2.0.14
chardet==1.0.1
boto==2.0b4
python-memcached
feedparser
lxml==2.3
django-sentry==1.8.3.1
vendor/indifex-transifex-client-0.5.tar.gz 
django-extensions==0.4.1                   
# do we really need this in prod?
django-debug-toolbar==0.8.3
# This can be commented out if you're using sqlite
MySQL_python>=1.2.2
