from os.path import join

import site
site.addsitedir(${virtual env site packages})

import sys
base_site_dir = ${base site dir}
sys.path.append(base_site_dir)
sys.path.append(join(base_site_dir, 'mirosubs'))
sys.path.append(join(base_site_dir, 'mirosubs', 'apps'))

import os
os.environ['DJANGO_SETTINGS_MODULE'] = 'mirosubs.unisubs-settings'

import django.core.handlers.wsgi
application = django.core.handlers.wsgi.WSGIHandler()
