{% load i18n utils_tags %}

<div id="sidebar">
    {% comment %}
    <h2>{{ form.sort.label }}</h2>
    {% form_field_as_list request form.sort %}
    {% endcomment %}
    <h2>{{ form.video_lang.label }}</h2>
    {% form_field_as_list request form.video_lang 6 %}

    <h2>{{ form.langs.label }}</h2>
    {% form_field_as_list request form.langs 6 %}

</div><!-- // sidebar -->
<script type="text/javascript">
    (function($){
        $('#sidebar .more-link').click(function(){
            var $ul = $(this).parents('ul');
            
            if ($ul.find('li:hidden').length){
                $ul.find('li:hidden').show();
            }else{
                var i = $ul.find('li').index($(this));
                $ul.find('li:gt('+i+')').hide();
            }

            return false;
        });
    })(jQuery);
</script>