{% load i18n %}

<form method="get" action="{% url search:index %}" class="search-form">
    <div id="watch_search">
        <span class="icon"></span>
        {{ form.q }}
        <script type="text/javascript">
            jQuery('#id_q').input_replacement({
                text: '{% trans "Search videos" %}',
                prefocus_class: 'prefocus'
            });
        </script>
        <a id="advanced_search" href="">
        <div id="advanced_menu_closed">
            <div class="menu_item videos_in">
                <h3>Videos In</h3>
                <select>
                    <option>English (US)</option>
                </select>
            </div><!-- // menu_item -->
            <div class="menu_item">
                <h3>Subtitles into</h3>
                <select>
                    <option>English (US)</option>
                </select>
                <button>
                    Search
                </button>
            </div><!-- // menu_item -->
        </div><!-- // advanced_menu -->
        </a>
    </div><!-- // watch_search -->
</form>