{% load i18n %}

<div id="sidebar">
    <h2>{% trans "Sort By" %}</h2>
    <ul>
        <li>
            <a href="">Most Relevant</a>
        </li>
        <li>
            <a href="">Most Relevant</a>
        </li>
        <li class="active">
            <a href="">Most Relevant</a>
        </li>
        <li>
            <a href="">Most Relevant</a>
        </li>
    </ul>
    <h2>Videos In</h2>
    <ul>
        <li>
            <a href="">English</a>
        </li>
        <li class="active">
            <a href="">English</a>
        </li>
        <li>
            <a href="">English</a>
        </li>
        <li>
            <a href="">English</a>
        </li>
    </ul>
    <h2>Subtitled In</h2>
    <ul class="last">
        <li>
            <a href="">English</a>
        </li>
        <li class="active">
            <a href="">English</a>
        </li>
        <li>
            <a href="">English</a>
        </li>
        <li>
            <a href="">English</a>
        </li>
    </ul>
</div><!-- // sidebar -->