{% extends "base.html" %}

{% load escapejs paginator widget i18n recent_activity search_tags %}

{% block main_content %}
    <div class="grid_8 alpha">
        <form method="get" action=".">
          
          <div class="boxx">
            <div class="padding_small">
              
              <div class="inline_search large">
                  {{ form.q }}
                  <button class="green_button big">{% trans "Search" %}</button>
              </div>
              
              <div class="clearfix"></div>
            </div>
          </div>
        
        <div class="grid_8 alpha">
          <div class="search_filters clearfix">
            <div id="sort_filter">
                {% trans "Sort by" %}
                {{ form.sort }}
            </div><!-- // sort_filter -->
            <h3>{% trans "Search for videos in:" %}</h3>
              {{ form.video_lang }}
              <p>{% trans "subtitled into" %}</p>
              {{ form.langs }}
              
			<script type="text/javascript">
				(function($){
					var vl = $('#id_video_lang option[value=not_selected]');
					var sl = $('#id_langs option[value=not_selected]');
					
					var callback = function(event){
						var nel = event.data.nel;
						var o = $('option:selected', $(this));
						
						if ((o.attr('value') == '') || (o.attr('value') == 'not_selected')){
							if (nel.attr('selected')){
								nel.parent().val('my_langs').trigger('change');
							};
							nel.hide();
							nel.attr('selected', false);
						}else{
							nel.html('not '+o.html())
							nel.show();
						}
					}
					
					$('#id_video_lang').bind('change', {'nel': sl}, callback).trigger('change');

					$('#id_langs').bind('change', {'nel': vl}, callback).trigger('change');
					
				})(jQuery);
			</script>
          </div>
        </div>        
        </form>
        
        <div class="grid_8 clearfix"><br /></div>
        
        <ul class="big_list">
            {% load_related_for_result result_list %}
            {% for object in result_list %}
            	{% if object %}
	                {% if object.object %}
	                    {% with object.object as video %}
	                        {% include 'search/_video_item.html' %}
	                    {% endwith %}
	                {% else %}
	                    {% with object as video %}
	                        {% include 'search/_video_item.html' %}
	                    {% endwith %}                
	                {% endif %}
                {% endif %}
            {% empty %}
                {% if query %}
                    {% blocktrans %}No results for "{{ query }}".{% endblocktrans %}
                {% endif %}
            {% endfor %}            
        </ul>
        {% if is_paginated %}{% paginator %}{% endif %}
    </div>
{% endblock %}