{% extends "base.html" %}

{% load i18n search_tags %}

{% block body_attrs %}id="watch_results"{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% url videos:rpc_api %}" type="text/javascript"></script>
    <script src="{% url search:rpc_api %}" type="text/javascript"></script> 
    <script src="{{ MEDIA_URL }}js/jquery.address-1.4.fixed.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/jquery.ajax-paginator.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(function($){
            //Add handlers for sidebar filtering links
            $('a', $('#sidebar')).live('click', function(){
                var $this = $(this);

                if ($this.attr('name') && $this.attr('value') !== undefined){
                    $this.parents('ul').find('li.active').removeClass('active');
                    $this.parents('li').addClass('active');
                    
                    $.address.parameter($this.attr('name'), $this.attr('value'));
                    $('.ajax-pagination').ajaxPaginator('refresh');
                    return false;
                }
            });
            
            //Add active class for sidebar filtering links
            var parameterNames = $.address.parameterNames();
            for (var i = 0, l = parameterNames.length; i < l; i++) {
                var name = parameterNames[i];
                if (name === 'q'){
                    continue
                }
                var value = $.address.parameter(name);
                
                var $link = $('#sidebar a[name='+name+'][value='+value+']');
                $link.parents('ul').find('li').removeClass('active');
                $link.parents('li').addClass('active');
            };           
            
            //Add hadnler for search form submit
            var $form = $('form.search-form');
            var $q_input = $form.find('input[name=q]');
            
            var handle_form = function($form){
                var q = $q_input.val();
                if ( ! $q_input.val()){
                    return
                };
                
                $.each($form.serializeArray(), function(i, item){
                    $.address.parameter(item.name, item.value);
                });

                $('.ajax-pagination').ajaxPaginator('setPage', 1);
            };
            
            $form.submit(function(e){
                e.preventDefault();
                handle_form($(this));
                return false;
            });
            
            //This is hack for FF. Don't know why but not "preventDefault",
            //not "return false" can't prevent submit on Enter press
            $form.keypress(function(e){
                if (e.keyCode == 13){
                    handle_form($(this));
                    return false;
                }
            });
            
            var prev_query = null;
            
            //Init AJAX-paginator
            $('.ajax-pagination').ajaxPaginator({
                container: $('#main_col'),
                onPageChange: function(page, callback, parameters){
                    parameters['page'] = page;

                    if (parameters['q']){
                        var q = parameters['q'];
                        if (q === ' '){
                            $('.search-header').html('{% trans "Search Videos" %}');
                        }else{
                            $('.search-header').html('{% trans "Search Results for" %} '+q);
                        }
                        if ($q_input.val() != q){
                            $q_input.val(q);
                        }
                    };

                    prev_query = parameters['q'];
                    
                    SearchApi.search(parameters, function(data){
                        $('.loading-indicator').remove();
                        $('.search-page').show();
                        $('#sidebar').html(data.sidebar);
                        callback.call(this, data);
                    }, this);
                },
            });
        });
    </script>
{% endblock %}

{% block main_content %}
<div class="pod" id="featured_videos">
    <div class="hd">
        {% search_form form 1 %}
        <h2 class="search-header">
            {% if result_list %}
            {% blocktrans %}
                Search Results for {{ query }}
            {% endblocktrans %}
            {% else %}
                {% trans "Search Videos" %}
            {% endif %}
        </h2>
    </div><!-- // hd -->
    <div class="bd clearfix loading-indicator">
        <div style="text-align: center; padding: 75px">
            <img align="absmiddle" width="256" height1="30" src="{{ MEDIA_URL }}images/ajax-loader.gif"/>
        </div>        
    </div>
    <div class="bd clearfix search-page" {% if not result_list %}style="display: none"{% endif %}>
        {% include 'search/_search_filter.html' %}
        <div id="main_col">
            <div style="text-align: center; padding: 75px">
                <img align="absmiddle" width="256" height1="30" src="{{ MEDIA_URL }}images/ajax-loader.gif"/>
            </div>
        </div><!-- // main_col -->
        
        <div class="clearfix"></div>
        
        <div class="pages ajax-pagination clearfix">
            <a class="pag_prev" href=""><span class="icon"></span></a>
            <span class="page_count page-info">
                <span class="from-value"></span> - 
                <span class="to-value"></span> 
                {% trans "of" %} 
                <span class="total-value"></span>
                {% trans "videos" %}           
            </span>
            <span class="page_count loading-indicator" style="display: none;">
                {% trans "Loading..." %}
            </span>            
            <a class="pag_next" href=""><span class="icon"></span></a>
        </div>      
    </div><!-- // bd -->
</div><!-- // pod -->
{% endblock %}