body
{
  background-color: #222;
	font-family: helvetica, sans-serif;
}

.leftcolumn #textinput textarea
{
  width:512px;
  height:200px;
}

.leftcolumn #textinput
{
  display: block;
  margin: auto;
  position:absolute;
  top: 340px;
}

.leftcolumn
{
  padding: 10px;
  width: 890px;
  margin: auto;
}

.rightcolumn
{
  float: right;
  padding: 10px;
  width: 350px;
  height: 640px;
  background-color: #606060;
  color: #efefef;
  border: 0px solid black;
  line-height:100%;
  margin-left: 300px;
  position: relative;
}

.tabs
{
  position:absolute;
  top: 530px;
}

.tab{
  position:absolute;
  background:#888;
  border:1px solid black;
  height:30px;
  width:160px;
  padding:4px;
  text-align: center;
}

.selected{
  background:#bbb;
  height:40px;
}

#step1tab
{
  left: 0px;
}

#step2tab
{
  left: 171px;
}

#step3tab
{
  left: 342px;
}

.nextstep
{
  position:absolute;
  top: 600px;
  left:197px;
  width:100px;
  height:25px;
  text-align:center;
  background:#77bb40;
  color:white;
  font-weight:bold;
  padding:12px;
  border: 1px solid black; 
}

#titles_list
{
  background: #ddd;
  padding: 12px;
  text-align:center;
  position:absolute;
  top:340px;
  width:488px;
  height:164px;
}

.current_title
{
  font-size: larger;
  background: #dd8
}

.time_in
{
  font-size: xx-small;
  position:absolute;
  margin-top:2px;
  margin-left:2em;
} 

.time_out
{
  font-size: xx-small;
  position:absolute;
  margin-top:2px;
  margin-left:438px;
} 

a {
  color:#aaa;
}

video
{
  height:290px;
  width:512px;
}

.videodiv
{
  display: block;
  margin: auto;
  position:absolute;
}

.subtitles
{
  width: 80%;
  margin: auto;
  position: relative;
  text-align: center;
  font-family: sans-serif;
  line-height: 2em;
  color: rgba(255,255,128, 1);
  text-shadow: rgba(0,0,0, 0.6) 1px 1px;
  background: rgba(0,0,0, 0.6);
}

.subtitleslines1
{
  top: -4.8em;
}

.subtitleslines2
{
  top: -6.8em;
}

.subtitleslines3
{
  top: -8.8em;
}

input[type=number]
{
  width:1.2em;
  padding:2px;
  background: #ffd;
  border:none;
}

input[type=text]
{
  background: #ffd;
  border:none;
  width:70%;
}

.hotkeybox {
  background: #333;
  padding: 5px;
  line-height: 200%;
  font-size: small;
  position:absolute;
  width:340px;
  bottom:10px;
}

#titles_textarea {
	font-family: helvetica, sans-serif;
	line-height: 1.5em;
}

