{% extends "admin/change_list.html" %}
{% load adminmedia admin_list i18n %}

  {% block result_list %}
      {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
      <div style="display: none" id="send-message-form-div">
          {{ message_form.as_p }}
          <p>
              <button>{% trans "Send" %}</button>
          </p>
      </div>
      <script>
          (function($){
               $('select[name=action]').change(function(){
                   if ($(this).val() === 'send_message'){
                       $('#send-message-form-div').show();
                   }else{
                       $('#send-message-form-div').hide();
                   }
               })
          })(django.jQuery);
      </script>
      {% result_list cl %}
      {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
  {% endblock %}

