
{% load i18n   moderation  %}
{% for result in result_list  %}
    <div class="video-container">
      <a href="{{ result.absolute_url }}" class="thumbnail_small">
        {% if result.thumbnail %}
        <img height="50" src="{{ result.thumbnail }}"/>
        {% endif %}
      </a>
      <div class="video-info">
        <div class="video-summary">{{result.video_title}}</div>
        <div class="video-summary">{%firstof result.description %}</div>
      </div>
      
      <table class="video-moderation-item">
        <thead>

          <tr><th></th><th>Language</th><th>User(most recent first)</th><th>Approve</th></tr>
        </thead>
        <tbody>
          {% dehidrate_versions result as moderation_info %}
          
          {% for lang in moderation_info  %}
          <tr class="moderation-panel-row moderation-row">
            <td><input type="checkbox" class="batch-apply" name="lang-{{lang.pk}" /></td>
            <td><a class="approve-multiple" href="{% url videos:translation_history video_id=result.video_id,lang=lang.name,lang_id=lang.pk %}">{{lang.name}}</a></td>
            <td>{% for version in lang.versions %} <a href="{% url profiles:profile user_id=version.user_id %}">{{version.user}} {{version.username}}</a> {% if not forloop.last %},{% endif %} {% endfor %}</td>
            <td class="approve-button-container" name="{{lang.latest_version_pk}};{{lang.pk}}">{% render_approve_button_lang result.team_id lang.pk lang.latest_version_pk %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% empty %}
No Videos with those criteria were found
    {% endfor %}
