{% extends "settings.html" %}
{% load i18n teams_tags paginator moderation utils_tags media_compressor %}

{% block css %}
{{ block.super }}
    {% include_bundle "video_history" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% url videos:rpc_api %}" type="text/javascript"></script>
    <script src="{% url search:rpc_api %}" type="text/javascript"></script> 
    {% include_bundle "js-moderation-dashboard" 0 %}

{% endblock %}


{% block body_attrs %}id="teams"{% endblock %}

{% block title %}
    {{ team }} {% trans 'Team Videos' %} | Universal Subtitles
{% endblock %}

{% block settings_content %}
    <h2>{{ team.name }}</h2>
    {% with "moderation" as active %}
    
        {% include 'teams/_edit_top_navigation.html' %}
    {% endwith %}
    <form class="moderation-dashboard" action="{% url moderation:get-pending-videos team_id=team.pk %}" method="GET">
      <label>Batch Actions</label>
      <div class="dev-button-container">
        <input type="checkbox" class="select-all-languages" name="select-all-languages"/>
        <a class="batch-approve-selected-button mirosubs-green-button small"> Approve  </a>
        <a class="batch-reject-selected-button mirosubs-green-button small dev-button-sequence"> Unapprove </a>
      </div>
      
      <br>
      {{form.to_langs.label}}
      {{form.to_langs}}

      <br>
      {{form.from_langs.label}}
      {{form.from_langs}}

      <br>
      {{form.sort.label}}
      {{form.sort}}

      <br>
        {{form.q.label}} 
       {{form.q}} 
    <input type="SUBMIT" name="Go!"/>
    </form>

    <div class="moderation-list-container">
      <div style="text-align: center; padding: 75px">
        <img align="absmiddle" width="256" height1="30" src="{{ MEDIA_URL }}/images/ajax-loader.gif"/>
      </div>
    </div>
    <div class="clearfix"></div>
<script type="text/javascript">
    {% include 'moderation/moderation-buttons.js' %}
    {% include 'moderation/dashboard.js' %}
</script> 

{% endblock %}
