{% load i18n videos_tags %}
<script type="text/javascript">
  function share_on_facebook(event) {
      jQuery.get('{% url statistic:fb_update_share_statistic %}');
      window.open('{{share_panel_facebook_url}}',
                  'post_to_fb', 'status=0,width=560,height=320');
      return false;
  }
</script>
<div class="mirosubs-share">
  <img src="{{MEDIA_URL}}images/blue_triangle.png" class="mirosubs-blueTriangle" />
  <h2>{% trans 'Share your subtitles' %}</h2>
  
  <p>{% trans 'Now everyone can watch the video with subtitles-- try it!' %}<br />
    {% trans 'Then tell the world and invite your friends to help translate:' %}</p>
  <ul>
    <li class="mirosubs-facebook"><a href="#" onclick="return share_on_facebook(event);">{% trans 'Post to Facebook' %}</a></li>
    <li class="mirosubs-twitter-share"><a href="{{share_panel_twitter_url}}" target="post_to_twitter">{% trans 'Post to Twitter' %}</a></li>
    <li class="mirosubs-friends"><a href="{{share_panel_email_url}}" target="email_friends">{% trans 'Email to friends' %}</a></li>
  </ul>
  <h3>{% trans 'Embed this video in your site' %} (<a target="embedoptions" href="https://github.com/8planes/mirosubs/wiki/Embed-Code-Usage-Guide">options</a>)</h3>
  <p class="mirosubs-embed">
    <textarea>{{share_panel_embed_code}}</textarea>
    <span>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
            width="110"
            height="14"
            id="clippy" >
    <param name="movie" value="{{MEDIA_URL}}swf/clippy.swf"/>
    <param name="allowScriptAccess" value="always" />
    <param name="wmode" value="opaque" />
    <param name="quality" value="high" />
    <param name="scale" value="noscale" />
    <param NAME="FlashVars" value="text={{share_panel_embed_code|urlencode}}"/>
    <param name="bgcolor" value="#E4EFF3"/>
    <embed src="{{MEDIA_URL}}swf/clippy.swf"
           width="110"
           height="14"
           name="clippy"
           quality="high"
           allowScriptAccess="always"
           wmode="opaque"
           type="application/x-shockwave-flash"
           pluginspage="http://www.macromedia.com/go/getflashplayer"
           FlashVars="text={{share_panel_embed_code|urlencode}}"
           bgcolor="#E4EFF3"
    />
</object>
    </span>
  </p>
  <h3>{% trans 'Permalink' %}</h3>
  <a href="{{share_panel_permalink}}" class="mirosubs-permalink">{{share_panel_permalink}}</a>
  {% if user.is_authenticated %}
  <div>
      {% if video|is_follower:user %}
          <button class="follow-video" video_id="{{ video.pk }}" style="display: none">{% trans "Follow" %}</button>
          <button class="unfollow-video" video_id="{{ video.pk }}">{% trans "Unfollow" %}</button>
      {% else %}
          <button class="follow-video" video_id="{{ video.pk }}">{% trans "Follow" %}</button>
          <button class="unfollow-video" video_id="{{ video.pk }}" style="display: none">{% trans "Unfollow" %}</button>      
      {% endif %}
  </div>
  {% endif %}
</div>
<script type="text/javascript">
    jQuery(function($){
        $('.unfollow-video').click(function(){
            if (confirm("{% trans 'Do you wish unfollow this video?' %}")){
                var $this = $(this);
                VideosApi.unfollow($this.attr('video_id'), function(response){
                    if (response.error){
                        $.jGrowl.error(response.error);
                    }else{
                        $.jGrowl(response.msg);
                        $('.unfollow-video').hide();
                        $('.follow-video').show();
                    }
                });
            }
        });
        
        $('.follow-video').click(function(){
            if (confirm("{% trans 'Do you wish follow this video?' %}")){
                var $this = $(this);
                VideosApi.follow($this.attr('video_id'), function(response){
                    if (response.error){
                        $.jGrowl.error(response.error);
                    }else{
                        $.jGrowl(response.msg);
                        $('.follow-video').hide();
                        $('.unfollow-video').show();
                    }                    
                });                
            }            
        });
    });
    
    jQuery('.mirosubs-share .mirosubs-twitter-share').click(function(){
        jQuery.get('{% url statistic:tw_update_share_statistic %}');
    });
</script>
