<div class="mirosubs-share">
				<img src="../site_media/images/blue_triangle.png" class="mirosubs-blueTriangle" />
				<h2>Share your subtitles</h2>
				
				<p>Now everyone can watch the video with subtitles-- try it!<br />
					Then tell the world and invite your friends to help translate:</p>		      
      
      	<ul>
      		<li class="mirosubs-facebook"><a href="#">Post to Facebook</a></li>
					<li class="mirosubs-twitter"><a href="#">Post to Twitter</a></li>
					<li class="mirosubs-friends"><a href="#">Email to friends</a></li>      	
      	</ul>
      
      <h3>Embed Code</h3>
      
               <p class="mirosubs-embed">
            <textarea><script src="http://mirosubsstaging.8planes.com/embed_widget.js?video_url=http://videos.mozilla.org/firefox3/switch/switch.ogg&amp;null"></script></textarea>
            <span>
            <embed quality="high" id="clippy" name="clippy" class="mirosubs-flash" src="http://mirosubsstaging.8planes.com/site_media/swf/clippy.swf" flashvars="text=%3Cscript%20type%3D%22text%2Fjavascript%22%20src%3D%22http%3A%2F%2Fmirosubsstaging.8planes.com%2Fembed_widget.js%3Fvideo_id%3DvsTB8omsa9uv%22%3E%3C%2Fscript%3E" bgcolor="#000000" allowscriptaccess="sameDomain" allowfullscreen="true" seamlesstabbing="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" wmode="transparent" width="110" height="14">
            </span></p>
            
            
            
      <h3>Permalink</h3>
      <a href="#" class="mirosubs-permalink">http://www.universalsubtitles.org/asdfasdfas/asdfasdf</a>
</div>
