<div class="mirosubs-share">
    <h2>We&#8217;d like help testing our subtitling widget</h2>
                        
    <p>Just launch our feedback form and try captioning a video</p>

    <button><span>Test the Widget</span></button>
    <a href="{% url videos:test_form_page %}">Test the Widget</a>

    <p class="warning">
        Warning: These videos should not be embeded--there is a good possibility they will break at some point!
    </p>

    <p class="warning">
        Warning #2: These subtitles are non-permanent and should not be relied on -- someone could change them. 
        This alpha site is for purely testing purposes.
    </p>
</div>