<div class="mirosubs-share">
    <h2>We&#8217;d like help testing our subtitling widget</h2>
                        
    <p>Just launch our feedback form and try captioning a video</p>

    <a class="button" href="{% url videos:demo %}"><span>Test the Widget</span></a>

    <div class="clearboth">&nbsp;</div>

    <p class="warning">
        Warning: These videos should not be embeded--there is a good possibility they will break at some point!
    </p>

    <p class="warning">
        Warning #2: These subtitles are non-permanent and should not be relied on -- someone could change them. 
        This alpha site is for purely testing purposes.
    </p>
</div>