{% load i18n %}
<div class="mirosubs-share">
    <h2>{% trans 'We&#8217;d like help testing our subtitling widget' %}</h2>
                        
    <p>{% trans 'Just launch our feedback form and try captioning a video' %}</p>

    <a class="greeen_button big" href="{% url videos:demo %}">{% trans 'Test the Widget' %}</a>

    <div class="clearboth">&nbsp;</div>

    <p class="warning">
        {% trans 'Warning: These videos should not be embeded--there is a good possibility they will break at some point!' %}
    </p>

    <p class="warning">
        {% trans 'Warning #2: These subtitles are non-permanent and should not be relied on -- someone could change them.' %} 
        {% trans 'This alpha site is for purely testing purposes.' %}
    </p>
</div>