{% extends "base.html" %}
{% block scripts %}
{% if not js_use_compiled %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-library/closure/goog/base.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-dependencies.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/swfobject.js"></script>
{% endif %}
{% endblock %}
{% block main_content %}


<h2>About Universal Subtitles</h2>

<div class="left_column">

<p>The lack of captions and subtitles on video is a major obstacle for people with hearing disabilities and a huge language barrier for the whole world.</p>


<p>At Universal Subtitles, we want to give individuals and communities the power to overcome these barriers. The tools we're building are free and open source and will make the work of subtitling and translating video simpler, more appealing, and, most of all, more collaborative.</p>

<p><strong>The benefits of captioning and subtitling are immense:</strong></p>

<ul>
	<li>captions make video more accessible for people with hearing disabilities</li>
	<li>translated subtitles make it possible for all of us to watch video in languages that we don't speak</li>
	<li>as an educator, storyteller, scientist, or anyone with a message, the potential size of your audience increases exponentially when you have subtitles and translations</li>
</ul>

<p><strong>Universal Subtitles is composed of three main parts:</strong></p> 

<ul>
	<li>a subtitle creation and viewing tool (aka the widget)</li>
	<li>a collaborative subtitling website</li>
	<li>an open protocol for subtitle search/delivery</li>
</ul>


<p><strong>The subtitling widget</strong> currently exists as a browser-based javascript tool that features an user friendly interface for adding captions to almost any video on the web (without the hassle of re-transcoding or re-uploading). We're inviting people to check it out and we're curious to know what you think.</p>


<p><strong>The collaborative website</strong> will develop as a space for collaborative subtitling and translating videos.  The site will encourage dynamics like: formation of teams for subtitling a program, or a topic; tracking which subtitling or translation tasks are the most requested, and mobilizing volunteers; volunteers recruiting their friends for help transcribing or translating a video.</p>


<p><strong>The protocol/open spec</strong> (still in the early stages) will allow clients such as Firefox extensions, desktop video players, websites, or browsers to look up and download matching subtitles from subtitle database(s).</p>


<p>Everything we do is (or will be) available under the open source AGPL license.</p>
</div>


<div class="right_column">

<h3>The Uninauts</h3>

<ul class="peeps">

  <li>
    <h4>Participatory Culture Foundation</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </li>

  <li>
    <h4>8Planes</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </li>
</ul>


</div>



{% endblock %}
