{% extends "base.html" %}
{% load escapejs i18n media_compressor %}
{% block css %}
  {{ block.super }}
   {% include_bundle "widget-css"%}
  <style>
div.mirosubs-widget {
    position: relative;    
}
.mirosubs-videoDiv {
    text-align: center;
}
.mirosubs-videoDiv video, .mirosubs-videoDiv object, .mirosubs-videoDiv embed{
width: 460px;
}

#embed{
  white-space: pre;
  background: #eee;
  boder: #666;
}
  </style>
{% endblock %}
{% block scripts %}
{% if not js_use_compiled %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-library/closure/goog/base.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-dependencies.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/swfobject.js"></script>
{% endif %}
{% for dep in js_dependencies %}
  <script type="text/javascript" src="{{dep|safe}}"></script>
{% endfor %}
{% endblock %}


{% block main_content %}
<div class="left_column">
    <script
    src="http://mirosubsstaging.8planes.com/embed_widget.js?video_id=9qjjcMAYWVAt&null"
    type="text/javascript">
    </script>
</div>

<div class="right_column">
    {% include '_testing_widget.html' %}
</div>

{% endblock %}
