{% load feedback thumbnail i18n announcement_tags messages_tags profiles_tags media_compressor %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  {% if not current_site.name == 'unisubs' %}
  <meta NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"/>
  {% endif %}
  <script type="text/javascript">
    window.usStartTime = (new Date()).getTime();
    window.MEDIA_URL = '{{MEDIA_URL}}';
  </script>
{% block css %}{% include_bundle "base" %}{% endblock %}

<!--[if gte IE 8]>
<link href="{{ MEDIA_URL }}css/ie8.css" media="all" type="text/css" rel="stylesheet" />
<![endif]-->
<!--[if IE 8]>
<style>
.notIE { display: none !important ; }
</style>
<![endif]-->
<link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}images/favicon.png" />
<link rel="icon" type="image/png" href="{{ MEDIA_URL }}images/favicon.png" />
{% include_bundle "site_base_js" %}


<script type="text/javascript" src="{% url js_i18n_catalog %}"></script>
<script src="{% url profiles:rpc_api %}" type="text/javascript"></script>  

{% block scripts %}{% endblock %}
<title>
    {% block title %}Universal Subtitles - {% trans 'Make subtitles, translations, and captions for almost any video.' %}{% endblock %}
</title>
{% if not DEBUG %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_NUMBER }}']);
    _gaq.push(['_setDomainName', '.universalsubtitles.org']);    
    _gaq.push(['_trackPageview']);

    {% block analytics %}{% endblock %}
    
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

        var mp = document.createElement("script"); mp.type = "text/javascript"; mp.async = true;
        mp.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + "//api.mixpanel.com/site_media/js/api/mixpanel.js";
        s.parentNode.insertBefore(mp, s);
    })();
</script>
{% endif %}
<script type="text/javascript">
    jQuery(function($){
        $.mod();
      	$.metadata.setType("attr", "data");
		
        $('#closeBut').click(function(){
            $('#messages').remove();
            return false;
        });
        
        $('li.search input').keypress(function(e) {
            if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                $('li.search form').submit();
                return false;
            }
            else
                return true;
        });
        
        jQuery.Rpc.on('exception', function(e){
            jQuery.jGrowl.error(e.message);
        });
    });
</script>
</head>
<body {% block body_attrs %}{% endblock %}>
  
{% block feedback-button %}
  <a href="#" class="feedback_tab" data-modal="feedback_container">{% trans "Feedback" %}</a>
{% endblock %}

{% comment %}
<!--[if lte IE 6]>
  <div class="note"><strong>{% trans 'Universal Subtitles does not support your browser. Upgrade your browser or <a href="http://getfirefox.com">Try Firefox</a>.' %}</strong></div>
<![endif]-->
{% endcomment %}

{% announcement %}
{% if user.is_authenticated %}
    {% messages %}
{% endif %}
{% if user.is_staff or user|can_translate %}
    <div id="admin_controls">
      {% if user.is_staff %}
      <a target="_blank" href="{% url admin:index %}"><span>{% trans 'Admin' %}</span></a>
      {% endif %}
      {% if user.is_superuser %}
      <a target="_blank" href="{% url sentry %}"><span>{% trans 'Sentry' %}</span></a>
      {% endif %}
      {% if user|can_translate %}
      <a target="_blank" href="{% url rosetta-pick-file %}"><span>{% trans 'Rosetta' %}</span></a>
      {% endif %}
    </div><!-- // admin_controls -->
    {% endif %}
{% require_email_dialog %}

<div id="main_bar">
  <div id="bar_wrap" class="clearfix">
  <h1><a href="/">Universal Subtitles</a></h1>
  
  <div id="bar_right">
  <div id="bar_search">
    <form method="get" action="{% url search:index %}">
      <input type="text" name="q" />
    </form>
  </div><!-- // bar_search -->
  <ul id="bar_menu" class="clearfix">
    <li id="nav_submit"><a href="{% url videos:create %}"><em class="icon"></em> {% trans 'Create' %}</a></li>
    <li><a href="{% url search:index %}?q=%20">{% trans 'Watch' %}</a></li>
    {% comment %}
    <li><a href="http://blog.universalsubtitles.org">{% trans 'Contribute' %}</a></li>
    <li><a href="http://blog.universalsubtitles.org">{% trans 'Solutions' %}</a></li>
    <li><a href="http://blog.universalsubtitles.org">{% trans 'Follow' %}</a></li>
    {% endcomment %}
    <li><a href="http://blog.universalsubtitles.org/volunteer/">{% trans "Volunteer" %}</a></li>
    <li><a href="{% url services_page %}">{% trans "Services" %}</a></li>
    <li><a href="{% url faq_page %}"><span>{% trans 'Help' %}</span></a></li>
    {% if user.is_authenticated %}
        <li id="me_menu">{% top_user_panel %}</li>
    {% else %}
        <li><a href="{% url auth:login %}?next={{ request.path_info|urlencode }}">{% trans 'Sign In' %}</a></li>
    {% endif %}
  </ul><!-- // bar_menu -->
  </div><!-- // bar_right -->
  </div><!-- // bar_wrap -->
</div><!-- // main_bar -->

<div id="lang_bar">
  {% block select_language_dialog %}
    {% select_language_dialog %}
  {% endblock %}
</div><!-- // lang_bar -->

<div class="content container_12 wrapper clearfix">
  {% if messages %}
  <div id="messages">
    {% for message in messages %}
    <h2 class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</h2>
    {% endfor %}
    <a href="#" id="closeBut" style="display: block; float: right;">&nbsp;</a>
    <br style="clear: both"/>                
  </div><!-- // messages -->
  {% endif %}
  
  {% block main_content %}
  {% endblock %}
</div><!-- // content -->
<div class="footer">
  <div class="floatleft">
    {% trans 'Universal Subtitles is a project of <a href="http://participatoryculture.org/">PCF</a>.' %}  
  </div><!-- // floatleft -->
  <div class="floatright">
    <a href="/about">{% trans 'About' %}</a>
    <a href="http://www.facebook.com/pages/Universal-Subtitles/112574762094219">Facebook</a> 
    <a href="http://twitter.com/universalsubs">Twitter</a>
    <a href="mailto:universalsubtitles@pculture.org">{% trans 'Contact Us' %}</a>
    <a href="http://www.pculture.org/pcf/websites-privacy/">{% trans 'Privacy Policy' %}</a>
    <a href="{% url terms_page %}">{% trans 'Terms of Service' %}</a>
  </div><!-- // float_right -->
</div><!-- // footer -->

 {% block feedback_form %}
        {% feedback_form %}
      {% endblock %}

<div style="float: right; font-size: 0.6em; padding: 3px;">commit: {{ LAST_COMMIT_GUID }}</div>
{% block bottom_scripts %}{% endblock %}
</body>
</html>
