{% load feedback thumbnail i18n announcement_tags messages_tags profiles_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  {% if not current_site.name == 'unisubs' %}
  <meta NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"/>
  {% endif %}
{% block css %}

<link href="{{ MEDIA_URL }}css/mirosubs-mainsite.css" media="all" type="text/css" rel="stylesheet" />
<!--[if gte IE 8]>
<link href="{{ MEDIA_URL }}css/ie8.css" media="all" type="text/css" rel="stylesheet" />
<![endif]-->
{% endblock %}

<script src="{{ MEDIA_URL }}js/messages.js" type="text/javascript"></script>
<link href="{{ MEDIA_URL }}js/jgrowl/jquery.jgrowl.css" media="all" type="text/css" rel="stylesheet" />
<script src="{{ MEDIA_URL }}js/jgrowl/jquery.jgrowl.js" type="text/javascript"></script>
<script type="text/javascript" src="{% url js_i18n_catalog %}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery.form.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery.metadata.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery.mod.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery.rpc.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery.input_replacement.min.js" type="text/javascript"></script>
<script src="{% url profiles:rpc_api %}" type="text/javascript"></script>
{% block scripts %}{% endblock %}
<link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" type="image/x-icon">
<title>
    {% block title %}Universal Subtitles - {% trans 'Make subtitles, translations, and captions for almost any video.' %}{% endblock %}
</title>
{% if not DEBUG %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_NUMBER }}']);
    _gaq.push(['_trackPageview']);

    var mpq = [];
    mpq.push(['init', '{{ MIXPANEL_TOKEN }}']);
    
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

        var mp = document.createElement("script"); mp.type = "text/javascript"; mp.async = true;
        mp.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + "//api.mixpanel.com/site_media/js/api/mixpanel.js";
        s.parentNode.insertBefore(mp, s);
    })();      
</script>
{% endif %}

</head>
<body {% block body_attrs %}{% endblock %}>
  
{% block feedback-button %}
  <a href="#" class="feedback_tab" data-modal="feedback_container">{% trans "Feedback" %}</a>
{% endblock %}

{% comment %}
<!--[if lte IE 6]>
  <div class="note"><strong>{% trans 'Universal Subtitles does not support your browser. Upgrade your browser or <a href="http://getfirefox.com">Try Firefox</a>.' %}</strong></div>
<![endif]-->
{% endcomment %}

{% announcement %}
{% if user.is_authenticated %}
    {% messages %}
{% endif %}
{% require_email_dialog %}

<div id="main_bar">
  <div id="bar_wrap" class="clearfix">
  <h1><a href="/">Universal Subtitles</a></h1>
  
  <div id="bar_right">
  <div id="bar_search">
    <form method="get" action="{% url search:index %}">
      <input type="text" name="q" />
    </form>
  </div><!-- // bar_search -->
  <ul id="bar_menu" class="clearfix">
    <li id="nav_submit"><a href="{% url videos:create %}"><em class="icon"></em> {% trans 'Create' %}</a></li>
    <li><a href="{% url videos:list %}">{% trans 'Watch' %}</a></li>
    <li><a href="http://blog.universalsubtitles.org">{% trans 'Contribute' %}</a></li>
    <li><a href="http://blog.universalsubtitles.org">{% trans 'Solutions' %}</a></li>
    <li><a href="http://blog.universalsubtitles.org">{% trans 'Follow' %}</a></li>
    {% if user.is_authenticated %}
        <li id="me_menu">
        <div id="user_menu">
          <div id="menu_name">
            <a href="{% url profiles:my_profile %}">Me</a>
          </div>

          <div id="menu">
            <ul id="dropdown">
              <li {% if my_videos %}class="active"{% endif %}><a href="{% url profiles:my_profile %}">{% trans "My Videos" %}</a></li>
              {% if user.teams.exists %}
              <li {% if my_teams %}class="active"{% endif %}><a href="{% url teams:user_teams %}">{% trans "My Teams" %}</a></li>
              {% endif %}
              {% if user.is_authenticated %}
                <li {% if user_info == user and not edit_profile_page %}class="active"{% endif %}><a href="{% url profiles:profile user.username %}">{% trans "View profile" %}</a></li>
              {% endif %}
              <li {% if edit_profile_page %}class="active"{% endif %}><a href="{% url profiles:edit %}">{% trans "Edit Profile" %}</a></li>                       
              <li>
                <a href="{% url messages:index %}"><span id="message_count">{{ user.received_messages.unread.count }}</span>{% trans "My Messages" %}</a>
              </li>
              <li class="active">
                <a href="{% url logout %}?next={{ request.path_info|urlencode }}">{% trans 'Logout' %}</a>
              </li>

              {% with user.teams.all as user_teams %}
              <li>
                {% if user_teams %}
                <ul id="teams_menu">
                  <h4>{% trans "Team Management" %}</h4>
                  {% for t in user_teams %}
                    <li  {% if team == t %}class="active"{% endif %}><a href="{{ t.get_edit_url }}">{{ t }}</a></li>
                    {% endfor %}
                </ul>
                  {% endif %}
              </li>
                {% endwith %}
            </ul><!-- // menu -->
          </div><!-- // dropdown -->
        </div><!-- // user_menu -->
        </li>
      {% else %}
        <li><a href="{% url auth:login %}?next={{ request.path_info|urlencode }}">% trans 'Sign In' %}</a></li>
    {% endif %}
  </ul><!-- // bar_menu -->
  </div><!-- // bar_right -->
  </div><!-- // bar_wrap -->
</div><!-- // main_bar -->

<div id="lang_bar">
  {% block select_language_dialog %}
    {% select_language_dialog %}
  {% endblock %}
</div><!-- // lang_bar -->

{% if user.is_staff %}
  <div id="nav_admin"><a target="_blank" href="{% url admin:index %}">{% trans 'Admin' %}</a></div>
{% endif %}
<div class="content container_12 wrapper clearfix">
  {% if messages %}
  <div id="messages">
    {% for message in messages %}
      <h2 class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</h2>
    {% endfor %}
    <a href="#" id="closeBut" style="display: block; float: right;">&nbsp;</a>
    <br style="clear: both"/>                
  </div><!-- // messages -->
    {% endif %}
    
    {% block main_content %}
    {% endblock %}
    
</div><!-- // content -->
<div class="footer">
  <div class="floatleft">
    {% trans 'Universal Subtitles is a project of <a href="http://participatoryculture.org/">PCF</a>.' %}  
  </div><!-- // floatleft -->
  <div class="floatright">
  <a href="/about">{% trans 'About' %}</a>
  <a href="http://www.facebook.com/pages/Universal-Subtitles/112574762094219">Facebook</a> 
  <a href="http://twitter.com/universalsubs">Twitter</a>
  <a href="mailto:universalsubtitles@pculture.org">{% trans 'Contact Us' %}</a>
  <a href="http://www.pculture.org/pcf/websites-privacy/">{% trans 'Privacy Policy' %}</a>
  <a href="{% url terms_page %}">{% trans 'Terms of Service' %}</a>
  </div><!-- // float_right -->
</div><!-- // footer -->
</div><!-- // wrapper -->
<div style="float: right; font-size: 0.6em; padding: 3px;">commit: {{ LAST_COMMIT_GUID }}</div>
</body>
</html>
