{% extends "base.html" %}

{% load i18n %}

{% block body_attrs %}id="index"{% endblock %}

{% block main_content %}
<h2 class="centered alpha_badge">
    {% trans 'Add collaborative subtitling to every video on your site' %}
</h2>
<div class="grid_6 alpha">
    <p class="larger">
        {% trans 'Just add this line of code to your webpage, or to your blog/CMS theme (right before the &lt;/head&gt; tag)' %}
    </p>
    <textarea class="embedder">
        <script type="text/javascript" src="http://www.universalsubtitles.org/site_media/js/mirosubs-widgetizer.js">
        </script>
    </textarea>
    <p class="larger">
        {% trans 'This lets you and visitors to your site' %}:
    </p>
    <p>
        {% trans 'Not sure how?'%} <a href="/faq#q-adding">{% trans 'Learn more' %}</a>
        / <a href="mailto:feedback@universalsubtitles.org">{% trans 'Contact us' %}</a>
    </p>
    <ul>
        <li>
            {% trans 'Create subtitles for any compatible video' %}
        </li>
        <li>
            {% trans 'Find subtitles created by others' %}
        </li>
        <li>
            {% trans "Add translations and improve other's work" %}
        </li>
        <li>
            {% trans 'Make your videos searchable and accessible' %}
        </li>
        <li>
            {% trans 'Bring your videos to an international audience' %}
        </li>
    </ul>
    <div class="beat">
        <p>
            <span>{% trans 'Proud to be a' %}</span>{% trans 'Featured Mozilla Drumbeat Project' %}
        </p>
        <a href="#">Mozilla Drumbeat</a>
    </div>
</div>
<div class="grid_6 omega example">
    <img src="{{ MEDIA_URL }}images/youtube.png" border="0" />
    <p>
        {% blocktrans %}
        A "subtitle me" or "choose language" button will appear across all compatible videos. 
        Users can click to activate (or create) subtitles.
        {% endblocktrans %}
    </p>
</div>
<div class="space">
    &nbsp;
</div>
<div class="yellow">
    <p class="red">
        {% trans 'Note: this code is an experimental part of the Universal Subtitles service.' %} 
        {% trans 'If you run into problems, please' %} 
        <a href="mailto:feedback@universalsubtitles.org">{% trans 'contact us' %}</a>.  
        {% trans 'Known issues:' %}
    </p>
    <ul>
        <li>
            {% trans 'Most Flash videos (e.g. Youtube) will be set to a default, small size' %}
        </li>
        <li>
            {% trans "Blip.TV and some other sitesʼ videos will play in our custom player" %}
        </li>
    </ul>
    <p>
        {% trans 'Any other problems, especially styling problems on the page, contact us and include the site URL!' %}
    </p>
</div>
{% endblock %}