{% extends "base.html" %}

{% load i18n %}

{% block body_attrs %}id="faq"{% endblock %}

{% block scripts %}
{% if not js_use_compiled %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-library/closure/goog/base.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-dependencies.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/swfobject.js"></script>
{% endif %}
{% endblock %}
{% block main_content %}

<h2>{% trans 'Frequently Asked Questions' %}</h2>

<ul class="question-linked">
<li><a href="#q-what">{% trans 'What is Universal Subtitles?' %}</a></li>
<li><a href="#q-how">{% trans 'How can I use Universal Subtitles?' %}</a></li>
<li><a href="#q-benefits">{% trans 'What are the benefits of subtitles?' %}</a></li>
<li><a href="#q-who">{% trans 'Who is the Participatory Culture Foundation and why are they making Universal Subtitles?' %}</a></li>
<li><a href="#q-captions">{% trans 'Will Universal Subtitles support closed captions for the deaf and hard of hearing?' %}</a></li>
<li><a href="#q-languages">{% trans 'Will your subtitles support my language or characterset?' %}</a></li>
<li><a href="#q-translatedinterfaces">{% trans 'When will the tools, including this site, be available in my language?' %}</a></li>
<li><a href="#q-howtouse">{% trans 'How can I add subtitles to my video?' %}</a></li>
<li><a href="#q-license">{% trans 'What open source license do you use?' %}</a></li>
<li><a href="#q-developers">{% trans "I'm a developer, can I help out?" %}</a></li>
<li><a href="#q-helpus">{% trans 'Can non-technical people get involved with the project?' %}</a></li>
<li><a href="#q-donate">{% trans 'Do you accept donations? Are they tax deductible?' %}</a></li>
<li><a href="#q-drumbeat">{% trans 'What is your relationship with Mozilla Drumbeat?' %}</a></li>
<li><a href="#q-download">{% trans 'Where can I download subtitles in .SRT or other formats?' %}</a></li>
<li><a href="#q-locked">{% blocktrans %}It says "Someone else is currently editing these subtitles" and I can't do anything.  How long will this last for?  Why does it happen?{% endblocktrans %}</a></li>
<li><a href="#q-change-timing">{% trans "Why can't I change the timing on a translation?" %}</a></li>
<li><a href="#q-revisions">{% trans "How do old revisions work? What if somebody makes a change to my work that I don't approve of?" %}</a></li>
<li><a href="#q-adding">{% trans "How do I add the Universal Subtitles &quot;embed all videos&quot; code to my site?" %}</a></li>
<li><a href="#q-dont-list-lang">{% trans "Hey, you don’t list my language!" %}</a></li>
</ul>

<ol class="questions">
  
  <li id="q-what">
    <h3>{% trans 'What is Universal Subtitles?' %}</h3>
    <p>
    	{% blocktrans %}
      		Universal Subtitles is an easy way for anyone to add subtitles, captions, 
			or translate nearly any video on the web. It works in a collaborative 
			Wikipedia-like fashion. The software is free and open source and can be used and 
			<a href="http://wiki.github.com/8planes/mirosubs/dev-center">improved by anyone</a>.
		{% endblocktrans %}
    </p>
  </li>
  <li id="q-how">
    <h3>{% trans 'How can I use Universal Subtitles?' %}</h3>
    <p>
    	{% blocktrans %}
      		You're welcome to try our <a href="http://universalsubtitles.org/demo/">demo</a> 
			to see how the software works. You can also 
			<a href="http://universalsubtitles.org/videos/create">begin subtitling</a> 
			a video you have already posted on the web.	
		{% endblocktrans %}
	</p>
  </li>
  <li id="q-benefits">
    <h3>{% trans 'What are the benefits of subtitles?' %}</h3>
    <p>{% trans 'VVideo subtitles are a gold mine of untapped potential.' %}</p>
    <ul>
      <li>{% trans 'Captions make videos accessible for viewers who are deaf or hard of hearing ' %}</li>
      <li>{% trans "Translations make it possible for all of us to watch video in languages that we don't speak" %}</li>
      <li>{% trans 'Video creators get: better SEO, more views, access to a far bigger (potentially multilingual and global) audience, accessibility for deaf and hard of hearing viewers, and more' %}</li>
    </ul>
  </li>
  <li id="q-who">
    <h3>{% trans 'Who is the Participatory Culture Foundation and why are they making Universal Subtitles?' %}</h3>
    <p>{% trans 'he Participatory Culture Foundation is a 501c3 non-profit organization whose mission is to build a fairer, more open, and more democratic media space. PCF saw a gap in the marketplace for more open and collaborative subtitling &mdash; Universal Subtitles is helping to fill that need.' %}</p>
  </li>
  <li id="q-captions">
    <h3>{% trans 'Will Universal Subtitles support closed captions for the deaf and hard of hearing?' %}</h3>
    <p>{% trans 'Yes, we are working on a solution for making closed captions [including information about sounds and music], as well as subtitles/translations.' %}</p>
  </li>
  <li id="q-languages">
    <h3>{% trans 'Will your subtitles support my language or characterset?' %}</h3>
    <p>{% trans 'We will be working to support as many languages/charactersets as possible.' %}</p>
  </li>
  <li id="q-translatedinterfaces">
    <h3>{% trans 'When will the tools, including this site, be available in my language?' %}</h3>
    <p>
      {% blocktrans %}
      	The site and tools are available in a number of languages (set your language 
		in your browser preferences and we’ll take care of the rest). We’re always looking for 
		<a href="http://blog.universalsubtitles.org/2010/09/13/our-site-is-translateable-looking-for-translators/">volunteer translators</a> 
		to help improve and add more languages.
	  {% endblocktrans %}
	</p>
  </li>
  <li id="q-howtouse">
    <h3>{% trans 'How can I add subtitles to my video?' %}</h3>
    <p>
    	{% blocktrans %}
	      For a single video, use our site. For multiple videos on your website, use 
		  <a href="http://universalsubtitles.org/en/get-code/">this code</a> in your 
		  website’s template inside the &lt;head&gt; tags.
		{% endblocktrans %}
    </p>
  </li>
  <li id="q-license">
    <h3>{% trans 'What open source license do you use?' %}</h3>
    <p>{% blocktrans %}For our subtitling widget and community website, we're using the <a href="http://en.wikipedia.org/wiki/Affero_General_Public_License">AGPL</a>.{% endblocktrans %}</p>
  </li>
  <li id="q-developers">
    <h3>{% trans "I'm a developer, can I help out?" %}</h3>
    <p>{% blocktrans %}Please do! If you're interested in coding and development, please visit our <a href="http://wiki.github.com/8planes/mirosubs/dev-center">developer center</a>.{% endblocktrans %}</p>
  </li>
  <li id="q-helpus">
    <h3>{% trans 'Can non-technical people get involved with the project?' %}</h3>
    <p>
    	{% blocktrans %}
		If you're interested in general involvement, please see our 
		<a href="https://www.drumbeat.org/project/universal-subtitles">Mozilla Drumbeat page</a>. 
		If you have a specific idea, please get in touch: 
		<a href="mailto:universalsubtitles@pculture.org">universalsubtitles@pculture.org</a> 
		And as a 501c3 non-profit org, we do accept donations (see the next question for details).
		{% endblocktrans %}</p>
  </li>
  <li id="q-donate">
    <h3>{% trans 'Do you accept donations? Are they tax deductible?' %}</h3>
    <p>
    	{% blocktrans %}
      		Yes and yes! You can <a href="https://donate.mozilla.org/page/contribute/universalsubtitles">donate here</a> (through the Mozilla Drumbeat project).
		{% endblocktrans %}
    </p>
  </li>
  <li id="q-drumbeat">
    <h3>{% trans 'What is your relationship with Mozilla Drumbeat?' %}</h3>
    <p>{% trans 'The Mozilla Foundation has provided Universal Subtitles with seed funding, community support, and fundraising support through <a href="http://www.drumbeat.org/about">Drumbeat</a>. Drumbeat is a movement to keep the web open for the next 100 years, and Universal Subtitles is a featured project!' %}</p>
  </li>
  <li id="q-download">
    <h3>{% trans 'Where can I download subtitles in .SRT or other formats?' %}</h3>
    <p>
       {% blocktrans %}
     	 When subtitles exist, you can download them in .SRT, .SSA, and TTML formats 
		 on the page for that language (<a href="http://universalsubtitles.org/videos/yKsUAgChJlGA/lt/">example</a>). 
		 Click the links in the lower right under the green "Edit Subtitles" button.
       {% endblocktrans %}
    </p>
  </li>
  <li id="q-locked">
    <h3>{% blocktrans %}It says "Someone else is currently editing these subtitles" and I can't do anything.  How long will this last for?  Why does it happen?{% endblocktrans %}</h3>
    <p>
        {% blocktrans %}
        The system currently only allows one user to edit subtitles for any given video 
        at a time. So, if someone else is already editing subtitles for the video when 
        you try to edit the subtitles, you'll get this message.
        {% endblocktrans %}
    </p>
  </li>
  <li id="q-change-timing">
    <h3>{% trans "Why can't I change the timing on a translation?" %}</h3>
    <p>
        {% blocktrans %}
        You can. Go to the translation editor and click “Change subtitle timing”. 
		Only do this if the timing on the original language really cannot match 
		the language you’re translating into. Otherwise, improvements in the original 
		will automatically cascade.
        {% endblocktrans %}
    </p>
  </li>
  <li id="q-revisions">
    <h3>{% trans "How do old revisions work? What if somebody makes a change to my work that I don't approve of?" %}</h3>
    <p>
        {% blocktrans %}
        Each set of subtitles or translation has a full revision history. 
		Just click on the tab on the subtitle page in you will see a list of revisions. 
		You can use the checkboxes on the left and the "compare revisions" button 
		to see the difference between two revisions. Or you can click on any one revision, 
		and edit based on that revision or roll back to that revision.
        <br/><br/>
        If the current version is blank, but there are older revisions, 
		it make sense to check those older revisions before starting from scratch, 
		because there could be useful work in an older revision.
        {% endblocktrans %}
    </p>
  </li> 
  <li id="q-adding">
    <h3>{% trans "How do I add the Universal Subtitles &quot;embed all videos&quot; code to my site?" %}</h3>
    <p>
        {% blocktrans %}
          Go to <a href="http://universalsubtitles.org/get-code/">this page</a> 
		  and double click on the code in the white box to select it all.  
		  Go to Edit > Copy in your browser's menu to copy the code to your clipboard.  
		  Then start editing the headers in your site or blog theme, 
		  and paste the script somewhere between the &lt;head&gt; and &lt;/head&gt; 
		  tags in your blog theme.  
        {% endblocktrans %}
    </p>
  </li> 
  <li id="q-dont-list-lang">
    <h3>{% trans "Hey, you don’t list my language!" %}</h3>
    <p>
        {% blocktrans %}
          Sorry about that.  Just contact us and we’ll be happy to add it.
        {% endblocktrans %}
    </p>
  </li>   
</ol>
{% endblock %}
