<p>
    Thanks for getting in touch! We love hearing your ideas, bugs,
    feedback, opinions and such.
</p>
<p>
    Stay tuned as the project evolves!<br/>
    <a href="http://twitter.com/universalsubs/">Twitter</a> * <br/>
    <a href="http://facebook.com/universalsubtitles">Facebook</a> * <br/>
    <a href="http://universalsubtitles.org">Announcement Signup</a>
</p>
<p>
    Best,<br/>
    Dean Jansen<br/>
    Participatory Culture Foundation<br/>
    <br/>
    PS. We do our best to respond to all questions, but please be patient -- we get
    a lot of email
</p>