{% load feedback recent_activity widget i18n announcement_tags messages_tags profiles_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Universal Subtitles - {% trans 'Make subtitles, translations, and captions for almost any video.' %}</title>
    
    <!--[if IE]><link href="{{ MEDIA_URL }}index/css/ie.css" rel="stylesheet" type="text/css" /><![endif]--> 
    <!--[if IE 6]><script src="{{ MEDIA_URL }}index/js/ie6PngFix.js"></script><![endif]--> 
    <!--[if gte IE 8]>
    <link href="{{ MEDIA_URL }}css/ie8.css" media="all" type="text/css" rel="stylesheet" />
    <![endif]-->
    <link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}images/favicon.png" />
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}images/favicon.png" />
    <link href="{{ MEDIA_URL }}index/style.css" rel="stylesheet" type="text/css"/>
    <link href="{{ MEDIA_URL }}css/mirosubs-widget.css" media="all" type="text/css" rel="stylesheet" /> 
    <link href="{{ MEDIA_URL }}css/mirosubs-widget.css" media="all" type="text/css" rel="stylesheet" /> 
    <link href="{{ MEDIA_URL }}css/imported/top_user_panel.css" media="all" type="text/css" rel="stylesheet" /> 
    <link href="{{ MEDIA_URL }}css/imported/buttons.css" media="all" type="text/css" rel="stylesheet" /> 
    <link href="{{ MEDIA_URL }}css/imported/forms.css" media="all" type="text/css" rel="stylesheet" /> 
    <link href="{{ MEDIA_URL }}css/imported/feedback.css" media="all" type="text/css" rel="stylesheet" />
    <link href="{{ MEDIA_URL }}css/imported/global.css" media="all" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{% url js_i18n_catalog %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/jquery.form.js" type="text/javascript"></script>  
    <script src="{{ MEDIA_URL }}js/jquery.mod.js" type="text/javascript"></script>  
    <script src="{{ MEDIA_URL }}js/messages.js" type="text/javascript"></script>    
    {% include_bundle "mirosubs-onsite-compiled" %}
    <script type="text/javascript">
        jQuery(function($){
            $.mod();
            $('#closeBut').click(function(){
                $('#messages').remove();
                return false;
            });
            $('li.search input').keypress(function(e) {
                if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                    $('li.search form').submit();
                    return false;
                }
                else
                    return true;
            });
        });
    </script>    
    <script type="text/javascript" charset="utf-8">
      $(function(){
        if ($.browser.webkit) {
          var widgetDiv = $('#widget_div')
          var video = widgetDiv.find('video')

          var img = $('<img />', {
            src: video.attr('poster')
          , css: {
              position: 'absolute'
            , 'z-index': 1000
            }
          })

          img.click(function(){
            img.hide()
            video[0].play()
          })

          widgetDiv.prepend(img)
        };
      })
    </script>
</head>
<body>
<a href="#" class="feedback_tab" data-modal="feedback_container">{% trans "Feedback" %}</a>
  
{% announcement %}
{% if user.is_authenticated %}
    {% messages %}
{% endif %}
{% require_email_dialog %}
<div id="header">
  <h1 class="logo"><a href="/">Universal Subtitles</a></h1>
    
  <div id="main_nav">
    <ul>
      <li id="nobdr">
        <a href="{% url videos:create %}">{% trans 'Subtitle' %}
          <em>{% trans 'a video now' %}</em></a>
      </li>  
      <li>
        <a href="{% url videos:list %}">{% trans 'Watch' %}
          <em>{% trans 'subbed videos' %}</em></a>
      </li>
    </ul>
  </div><!-- // mainNav -->


     <ul id="subnav">
       <li><a href="http://blog.universalsubtitles.org">{% trans 'blog' %}</a></li>
       <li><a href="{% url services_page %}">{% trans "Professional Services" %}</a></li>
       <li><a href="{% url faq_page %}"><span>{% trans 'FAQ' %}</span></a></li>
       {% if user.is_authenticated %}
       {% if user.is_staff %}
       <li><a target="_blank" href="{% url admin:index %}"><span>{% trans 'admin' %}</span></a></li>
       {% endif %}
       <li id="subnav_menu">{% top_user_panel %}</li>
       {% else %}
       <li><a href="{% url auth:login %}?next={{ request.path_info|urlencode }}"><span>{% trans 'login' %}</span></a></li>
       {% endif %}
     </ul><!-- // subnav -->
</div><!-- // header -->

<div id="section_primary">
  <div class="section_primary_left">
    <h2>{% trans "Easily caption and translate your videos, with help from your viewers." %}</h2>
    <ul class="user_vervice_menu">
      <li class="service_00">{% trans "Increase video views by reaching global audiences and being accessible to the deaf and hard-of-hearing." %}</li>
      <li class="service_01">{% trans "It's powered by viewers and other volunteers: it's collaborative editing and translation, like a wiki." %}</li>
      <li class="service_02">{% trans "It's the world's easiest subtitle creator - type and tap." %}</li>
      <li class="service_03">{% trans "The fastest way to add subtitle functionality to a single video or a whole site. Super easy to integrate with no software to install." %}</li>
      <li class="service_04">{% trans "Free, open-source, and non-profit!" %}</li>
    </ul>
    <p class="counter">
      <span class="number">{{ all_videos }}</span> {% trans "videos use" %} Universal Subtitles
    </p>
  </div><!-- // section_primary_left -->
  <div class="section_primary_right">
    {% block widget_container %}
    <div id="widget_div" class="mirosubs-widget"></div> 
            <script type="text/javascript"> 
             var widget_widget_div = mirosubs.widget.SameDomainEmbed.embed(
                 document.getElementById('widget_div'), 
                 { base_state: {},
                   video_config: {
                       poster: "http://s3.www.universalsubtitles.org/images/about-poster.png",
                       style: "width:470px;height:353px;",
                       play_to_click: true
                   },
                   video_url: "http://blip.tv/file/get/Miropcf-AboutUniversalSubtitles847.ogv",
                   alternate_video_urls: 
                       [{ url: "http://blip.tv/file/get/Miropcf-AboutUniversalSubtitles715.mp4", 
                          config: {poster: "http://s3.www.universalsubtitles.org/images/about-poster.png"}}, 
                        "http://www.youtube.com/watch?v=Y2IJb1YnAmQ"]});
            </script>
    {% endblock %}
  </div><!-- // section_primary_right -->
</div><!-- // section_primary -->

  <div id="section_secondary">
  <h3>{% trans "Add this subtitle tab to a video in seconds." %}</h3>
    <div class="section_secondary_top">
        <div class="section_secondary_top_left">
          <h4>{% trans "For an individual video" %}</h4>
          <form  action="{% url videos:create %}" method="POST">
            <input type="text"  name="video_url" class="submit_video" />
            <div class="row">
              <span class="caption">{% trans "enter a video URL to enable" %}<br />{% trans "and then embed anywhere" %}</span>
              <input type="submit" class="btn_submit_video" value=""/>
            </div>
          </form>
        </div><!-- // section_secondary_top_left -->
        
        <div class="section_secondary_top_right">
          <h4>{% trans "For every video on a page or site" %}</h4>
          <input type="text" class="input_url"  value="&lt;script type=&quot;text/javascript&quot; src=&quot;{{MEDIA_URL}}js/mirosubs-widgetizer.js&quot;&gt;&lt;/script&gt;" readonly="readonly"/>
          <span class="indication">{% trans "paste this single line of code into your page header and every video will be subtitle enabled" %}</span>
        </div><!-- // section_secondary_top_right -->
      </div><!-- // section_secondary_top -->
    
      <div class="section_secondary_bottom">
        <div class="section_secondary_bottom_left">
          <h5>{% trans "Universal Subtitles works with these video sites and formats:" %}</h5>
          <div class="video_site_box">
            <img src="{{ MEDIA_URL }}index/images/video_site/video_00.jpg" width="91" height="40" alt="utube" />
            <img src="{{ MEDIA_URL }}index/images/video_site/video_01.jpg" width="91" height="40" alt="utube" />
            <img src="{{ MEDIA_URL }}index/images/video_site/video_02.jpg" width="91" height="40" alt="utube" />
            <img src="{{ MEDIA_URL }}index/images/video_site/video_03.jpg" width="91" height="40" alt="utube" />
            <img src="{{ MEDIA_URL }}index/images/video_site/video_04.jpg" width="91" height="40" alt="utube" />
          </div><!-- // video_site_box -->
        </div><!-- // section_secondary_bottom_left -->
        
        <div class="section_secondary_bottom_right">
          <img src="{{ MEDIA_URL }}index/images/video2.jpg" width="168" height="157" alt="video2" />
        </div><!-- // section_secondary_bottom_right -->
      </div><!-- // section_secondary_bottom -->
    </div><!-- // section_secondary -->
<div class="wrap">
  <h2 class="arrows">{% trans 'With Universal Subtitles, you can:' %}</h2>

  <div class="one">
    <div>
      <h4>{% trans 'Add subtitles' %}</h4>
      <p>
          {% blocktrans %}
          We've built the easiest way to subtitle videos. Add our subtitling widget to
          your video (or your site) and click the "subtitle me" button. The rest is
          simple! Totally free, and no software to download.
          {% endblocktrans %}
          </p>
    </div>
  </div>

  <div class="two">
    <div>
      <h4>{% trans 'Add translations' %}</h4>
      <p>
          {% blocktrans %}
          Once subtitles exist, any viewer can add a translation in any language.  No
          need for robotic machine translations that confuse viewers.  Universal
          Subtitles lets you collect high-quality translations from your viewer
          community.
          {% endblocktrans %}
      </p>
    </div>
  </div>

  <div class="three">
    <div>
      <h4>{% trans 'Get volunteer help' %}</h4>
      <p>
        {% blocktrans %}
          Your viewers (and members of our subtitling community) can improve any
          subtitles or translation. That way subtitles are constantly getting better -
          like an article on wikipedia. We mobilize your international audience to make
          your videos more accessible.
        {% endblocktrans %}
      </p>
    </div>
  </div>

  <div class="clear"></div>

  <div class="its-free">
    <h3>{% trans 'It’s free with no software to download' %}</h3>
    <p><strong>{% trans 'Add our embed code to your videos.' %}</strong> 
    {% blocktrans %}
    Submit your video, and get an embed code to post in your site. 
    When the page loads, our subtitle tools will display underneath your video 
    (as a small, simple button)
    {% endblocktrans %}
    </p>


    <p>
      <strong>{% trans 'Subtitling tools open in your page.' %}</strong> 
      {% blocktrans %}
      When someone clicks the “subtitle me” button, 
      a subtitling interface appears on your page (most users never leave your site). 
      Subtitles they create are then visible to other users, on your site.
      {% endblocktrans %}
    </p>
  </div><!-- // its-free -->

  <div class="how">
    <h3>{% trans 'How it works' %}</h3>
    <p>
    {% blocktrans %}
      You add our widget to your videos.  Then you and your viewers can add
      subtitles, which anyone can watch.  We save the subtitles on our site (but you
      can download them).  And each video has its own collaboration space on our site
      (like a wikipedia article) where people can make improvements, track changes,
      and give feedback.
    {% endblocktrans %}
    <br /><a href="{% url demo %}">{% trans 'Try the demo' %}</a>.
    </p>
  </div><!-- // how -->

  <div class="clear"></div>

  <div class="different">
    <h3>{% trans 'Why Universal Subtitles is different' %}</h3>

    <ul>
      <li>
          {% trans "It's built by a 501(c)3 nonprofit working with a community of volunteers" %}
          (<a href="{% url about_page %}">{% trans 'find out how to volunteer' %}</a>).
      </li>

      <li>
          {% trans 'The code is free and open source' %}
           (<a href="http://github.com/8planes/mirosubs/">{% trans 'get the source code' %}</a>)
      </li>

      <li>{% trans "It's built using Javascript and HTML5 instead of proprietary software like Flash" %}</li>

      <li>{% trans "It's 100% web-based, there’s no software to download." %}</li>

      <li>{% trans "You don't have to host your video with us, and you're not dependent on any one video host, platform, or format." %}</li>

      <li>{% trans 'People are free to add subtitles to any video' %}</li>
    </ul>
  </div><!-- // different -->

  <div class="box">
    <div class="drumbeat"></div>
    <h3>{% trans 'Mozilla will double your donation!' %}</h3>
    <p>{% trans "We're a featured Mozilla Drumbeat project!" %}
      <a href="https://donate.mozilla.org/page/contribute/universalsubtitles">{% trans 'Donate Now' %}</a>
    </p>
  </div><!-- // box -->
  
  <div class="clear"></div>
  
</div><!-- // wrap -->    

  <div class="footer">
    <div class="floatleft">
      {% trans 'Universal Subtitles is a project of <a href="http://participatoryculture.org/">PCF</a>.' %}  
    </div>   
    
    <div class="floatright">
      <a href="/about">{% trans 'About' %}</a>
      <a href="http://www.facebook.com/pages/Universal-Subtitles/112574762094219">Facebook</a> 
      <a href="http://twitter.com/universalsubs">Twitter</a>
      <a href="mailto:universalsubtitles@pculture.org">{% trans 'Contact Us' %}</a>
      <a href="http://www.pculture.org/pcf/websites-privacy/">{% trans 'Privacy Policy' %}</a>
      <a href="{% url terms_page %}">{% trans 'Terms of Service' %}</a>
    </div><!-- // floatright -->
  </div><!-- footer -->
    <div style="float: right; font-size: 0.6em; padding: 3px;">commit: {{ LAST_COMMIT_GUID }}</div>
    {% feedback_form %}
    {% if not DEBUG %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_NUMBER }}']);
        _gaq.push(['_trackPageview']);
        
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();      
    </script>
    {% endif %}
</body>
</html>
