{% extends "base.html" %}

{% load recent_activity %}

{% block main_content %}




<form action="{% url videos:create %}" method="POST" class="main_video_form">

	<h2 class="main_heading">Subtitle a Video</h2>
  {# TODO: this should be an instance of VideoForm, which should go in context processor #}
  <input type="text" name="video_url" class="main_video_form_field" />
  <button type="submit" value="Begin" class="begin">Begin</button>
</form>



<div class="right_column">
<h2>Recent Activity</h2>
    {% recent_activity %}
</div>



<div class="left_column">
<h2>Watch How it Works</h2>

<img src="/site_media/images/vid.png" />


<h2>Easy Subtitling in 3 Easy Steps</h2>

<ol>
	<li class="one">Watch <span>and type all<br />that you hear</span></li>
	<li class="two">Sync <span>your titles to the<br />right moment</span></li>	
	<li class="three">Review <span>and Save your<br />transcription</span></li>
</ol>



</div>

{% endblock %}
