{% extends "base.html" %}
{% load i18n media_compressor feedback recent_activity widget i18n announcement_tags messages_tags profiles_tags %}
{% block body_attrs %}id="index"{% endblock %}

{% block css %}
{% include_bundle "base" %}
{% include_bundle "home" %}

{% endblock %}<!-- // css -->

{% block scripts %}
{% include_bundle "mirosubs-onsite-compiled" %}
{% endblock %}<!-- // scripts -->

{% block main_content %}
    
    <div id="home-blurb">
      <h1>The easiest way to caption and translate any video.</h1>
      <p>Subtitles make videos more powerful, more global, and more searchable.</p>
    </div>
    
    
    <div id="home-left">
      <div id="subtitle" class="clearfix">
        <form>
          <h2>Subtitle a Video Now</h2>
          <input type="text" name="url" />
          <button class="button" type="submit">Subtitle</button>
          <p>Works with YouTube, Vimeo, Blip.tv, HTML5, and more.</p>
        </form>
        
        <div id="features">
          <h3>Features</h3>
          <ul>
            <li>Embed the video anywhere</li>
            <li>Add subtitles yourself or ask viewers to help.</li>
            <li><a href="">Full site integration</a></li>
          </ul>
        </div>
      </div> <!-- end #subtitle -->
      
      <div>
        <h2>Volunteers Needed</h2>
        <p>Our deaf and hard of hearing users and non-profits request help for videos that need captions or translations. <a href="#">See the most requested videos.</a></p>
      </div>
      
      <div>
        <h2>Complete Subtitling Solutions</h2>
        <p>Increase viewership with transcription, captioning, and translation services, and flexible API and integration options. Improve SEO, reach a global audience, and build a managed volunteer community. <a href="#">See our enterprise services.</a></p>
      </div>
    </div> <!-- end #home-left -->
    
    <div id="home-right">
      <!-- widget goes here -->
    </div>
    
    <div class="clearfix"></div>
    <div id="benefits" class="clearfix">
      <a class="button" href="#">5 key benefits</a>
      <h2>The largest, most powerful captioning and translation platform in the world.</h2>
    </div> <!-- end #benefits -->
    
    <div id="partners">
      <ul class="clearfix">
        <li>
          <a href="">
          <img src="{{ MEDIA_URL }}images/partner_sample_logo.png"/>
          Mozilla
          <span class="url">example at mozilla.com</span>
            </a>
        </li>
        <li>
          <a href="">
          <img src="{{ MEDIA_URL }}images/partner_sample_logo.png"/>
          Mozilla
          <span class="url">example at mozilla.com</span>
          </a>
        </li>
        <li>
          <a href="">
          <img src="{{ MEDIA_URL }}images/partner_sample_logo.png"/>
          Mozilla
          <span class="url">example at mozilla.com</span>
          </a>
        </li>
        <li>
          <a href="">
          <img src="{{ MEDIA_URL }}images/partner_sample_logo.png"/>
          Mozilla
          <span class="url">example at mozilla.com</span>
          </a>
        </li>
        <li>
          <a href="">
          <img src="{{ MEDIA_URL }}images/partner_sample_logo.png"/>
          Mozilla
          <span class="url">example at mozilla.com</span>
          </a>
        </li>
      </ul>
    </div> <!-- // partners -->
    
    {% comment %}
    <p id="enterprise">
      Interested in deep integration or a volunteer translation team? Want crowdsourcing with quality control?
      <a class="button grey" href="#">Take a look at our enterprise services</a>
    </p>
    {% endcomment %}
    
    <div id="most-popular" class="featured">
      <a class="more" href="">More Videos</a>
      <h2>Most Popular Today</h2>
      
      <p class="links">
        <a href="#">Top this month</a>
        <a href="#">Top all-time</a>
      </p>
      
      <ul>
        <li class="clearfix">
          <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
            <img src="{{ MEDIA_URL }}images/featured_img.png" />
          </div>
          <a href="#" class="title">Cherynobl: A Million Causualties</a>
          <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
          <a href="#">Watch Video</a>
        </li>
        <li class="clearfix">
          <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
            <img src="{{ MEDIA_URL }}images/featured_img.png" />
          </div>
          <a href="#" class="title">Cherynobl: A Million Causualties</a>
          <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
          <a href="#">Watch Video</a>
        </li>
        <li class="clearfix">
          <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
            <img src="{{ MEDIA_URL }}images/featured_img.png" />
          </div>
          <a href="#" class="title">Cherynobl: A Million Causualties</a>
          <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
          <a href="#">Watch Video</a>
        </li>
        <li class="clearfix">
          <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
            <img src="{{ MEDIA_URL }}images/featured_img.png" />
          </div>
          <a href="#" class="title">Cherynobl: A Million Causualties</a>
          <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
          <a href="#">Watch Video</a>
        </li>
        <li class="clearfix">
          <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
            <img src="{{ MEDIA_URL }}images/featured_img.png" />
          </div>
          <a href="#" class="title">Cherynobl: A Million Causualties</a>
          <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
          <a href="#">Watch Video</a>
        </li>
      </ul>
    </div><!-- // most_popular -->
    
    <div id="featured-videos" class="featured">
      <a class="more" href="">More Videos</a>
      <h2>Featured Videos</h2>
      <p class="links">
        <a href="#">Top volunteer needs</a>
        <a href="#">Translation teams</a>
      </p>
      
      <ul>
        <li class="clearfix">
          <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
            <img src="{{ MEDIA_URL }}images/featured_img.png" />
          </div>
          <a href="#" class="title">Cherynobl: A Million Causualties</a>
          <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
          <a href="#">Watch Video</a>
        </li>
        <li class="clearfix">
          <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
            <img src="{{ MEDIA_URL }}images/featured_img.png" />
          </div>
          <a href="#" class="title">Cherynobl: A Million Causualties</a>
          <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
          <a href="#">Watch Video</a>
        </li>
        <li class="clearfix">
          <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
            <img src="{{ MEDIA_URL }}images/featured_img.png" />
          </div>
          <a href="#" class="title">Cherynobl: A Million Causualties</a>
          <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
          <a href="#">Watch Video</a>
        </li>
        <li class="clearfix">
          <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
            <img src="{{ MEDIA_URL }}images/featured_img.png" />
          </div>
          <a href="#" class="title">Cherynobl: A Million Causualties</a>
          <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
          <a href="#">Watch Video</a>
        </li>
        <li class="clearfix">
          <div class="rounded-img" style="background-image: url({{ MEDIA_URL }}images/featured_img.png)">
            <img src="{{ MEDIA_URL }}images/featured_img.png" />
          </div>
          <a href="#" class="title">Cherynobl: A Million Causualties</a>
          <p>Doctor in indea uses Universal Subtitles to translate videos for his patients.</p>
          <a href="#">Watch Video</a>
        </li>
      </ul>
    </div><!-- // featured_videos -->
{% endblock %}<!-- // main_content -->
