{% extends "base.html" %}

{% load recent_activity %}

{% block main_content %}

<div class="watercolor2"> 
<h2 class="centered">Subtitles and Captions for Every Video on the Web</h2>

<p class="pitch">
<span class="problem"><strong>The Problem</strong> <span>Web video is beginning to rival television, but there isn't a good open resource for subtitling.</span></span> 

<span class="mission"><strong>Our Mission</strong> <span>We're trying to make captioning, subtitling, and translating video publicly accessible in a way that's free and open, just like the Web.</span></span>
</p>											

<div class="three_column">
	<div class="col1">
		<h3>Subtitle Widget</h3>
		<p>A simple way to create and add captions to almost any video on the web (without having to transcode or re-upload videos).</p>
	</div>
	<div class="col2">
		<h3>Subtitle Lookup Protocol</h3>
		<p>An open standard to let Firefox extensions, desktop video players, websites, browsers--any client--find and retrieve subtitles for any video.</p>
	</div>
	<div class="col3">
		<h3>Community Site</h3>
		<p>An online community for collaboratively subtitling and translating the world's videos (like a Wikipedia for subtitles).</p>
	</div>
</div>

<div class="clear">&nbsp;</div>

</div>


<div class="get_updates">
	<p class="update_text">Get updates and find out first when we launch</p>
	<form>
		<p><input type="text" /></p>
		<button><span>Get Updates!</span></button>
	</form>
</div>

<div class="right_column">	
<h2>Recent Activity</h2>
    {% recent_activity %}
</div>



<div class="left_column">
<h2>Easy Subtitling in 3 Easy Steps</h2>

<ol>
	<li class="one">Watch <span>and type all<br />that you hear</span></li>
	<li class="two">Sync <span>your titles to the<br />right moment</span></li>	
	<li class="three">Review <span>and Save your<br />transcription</span></li>
</ol>


<h2>Watch How it Works</h2>

<embed src="http://blip.tv/play/hMtugeCwDgI" type="application/x-shockwave-flash" width="480" height="390" allowscriptaccess="always" allowfullscreen="true"></embed>

<div class="clear">&nbsp;</div>

  <div class="mirosubs-share">
						<h2>We&#8217;d like help testing our subtitling widget</h2>
						
						<p>Just launch our feedback form and try captioning a video</p>

<button><span>Test the Widget</span></button>


<p class="warning">Warning: These videos should not be embeded--there is a good possibility they will break at some point!</p>

<p class="warning">Warning #2: These subtitles are non-permanent and should not be relied on -- someone could change them. 

This alpha site is for purely testing purposes.</p>
   </div>

</div>

{% endblock %}
