{% extends 'base.html' %}

{% block main_content %}
<table>
    <tr>
        <td>total videos count</td>
        <td>{{ all_videos }}</td>
    </tr>
    <tr>
        <td>total number of videos captioned</td>
        <td>{{ videos_with_captions }}</td>
    </tr>        
    <tr>
        <td>total views of subtitles across all videos</td>
        <td>{{ subtitles_fetched_count }}</td>
    </tr>
    <tr>
        <td>total number of translations created</td>
        <td>{{ translations_count }}</td>    
    </tr>
    <tr>
        <td>total views count</td>
        <td>{{ view_count }}</td>
    </tr>    
    <tr>
        <td>total users count</td>
        <td>{{ all_users }}</td>
    </tr>
    <tr>
        <td>total comments count</td>
        <td>{{ all_comments }}</td>
    </tr>
    <tr>
        <td>finished translations</td>
        <td>{{ fineshed_translations }}</td>
    </tr>
    <tr>
        <td>unfinished translations</td>
        <td>{{ unfineshed_translations }}</td>
    </tr>        
</table>
{% endblock %}
