{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>{% trans 'Open Subtitles Design Summit' %}</title>

<!--[if IE]>
    <link rel="stylesheet" href="/site_media/css/invitation-ie.css" type="text/css" media="screen" />
<![endif]-->

<link rel="stylesheet" href="/site_media/css/invitation.css" type="text/css" media="screen" />

<link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" type="image/x-icon">
</head>

<body>

<div id="wrapper">

<div id="paper">

    <div id="header">
        <h1>{% trans 'Open Subtitles Design Summit' %}</h1>
        
        <p>{% trans 'The Open Subtitles Design Summit will bring together global stakeholders in the subtitling space for a tightly focused / goal oriented meeting in NYC. The event is being organized by The Participatory Culture Foundation, developers of the Universal Subtitles project. We expect roughly 40 participants.' %}</p>
    </div>


    <div id="meeting_goals">
        
        <h2>{% trans 'Meeting Goals' %}</h2>
        
        <div class="meetings_box">
            <p>{% trans '<strong>Connect</strong> major stakeholders from projects, organizations, and movements that have open subtitling needs or focus.' %}</p>
        </div>
        
        <div class="meetings_box">
            <p>{% trans '<strong>Identify ways</strong> to solve stakeholder subtitling needs and be aware of existing technology that can be leveraged. Find logical places for collaboration/cooperation.' %}</p>
        </div>
        <div class="meetings_box">
            <p>{% trans '<strong>Move towards</strong> standardizing solutions and pushing forward the state of the art in open subtiting.' %}</p>
        </div>
                
        <div style="clear: both;">
        
    </div>

    <div id="participants">
        
        <h2>{% trans 'Participants' %}</h2>
        
        <p>{% trans "Participants will include: video creators and producers, end-users, representatives from major video hosting services, standards engineers, accessibility advocates, open source developers, educational leaders, and other individuals and organizations with a stake in the subtitling world. We'll make a roster available when the event draws closer." %}</p>
<br />
        <p>{% trans 'Attendees are selected by invitation; however, if you or your organization would like to participate, please contact:' %} <a href="mailto:universalsubtitles@pculture.org">universalsubtitles@pculture.org</a></p>
        
    </div>

    <div id="meeting_when">
        <h2>{% trans 'When' %}</h2>
        <p>{% trans 'September 29th and 30th, beginning at 9am on both days.' %}</p>
    </div>

    <div id="meeting_where">
        <h2>{% trans 'Where' %}</h2>
        <p>{% trans 'The summit will be held at the beautiful Open Plans penthouse in Soho, which is located at 148 Lafayette St, Floor 12, New York City. (<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=148+Lafayette+St,+Floor+12,+New+York+City&sll=40.701809,-73.92127&sspn=0.009175,0.022724&ie=UTF8&hq=&hnear=148+Lafayette+St,+New+York,+10013&ll=40.718575,-74.000988&spn=0.03669,0.090895&z=14">map</a>)' %}</p>
    </div>

    <div id="why_meet">
        
        <h2>{% trans 'Why' %}</h2>
        
        <p>{% blocktrans %}
            The focus of this summit is increased availability and better usability for captions and subtitles, 
            which are both sorely needed. It comes at a critical time, 
            as internet video usage is skyrocketing&mdash;people who rely on captions are threatened to be left behind. 
            New users from every culture are coming online en masse; 
            standardizing and ubiquitizing the technology can make potential audiences exponentially larger and messages can cross cultural boundaries more easily. 
            More captions will also make it simpler for computers to process, index, 
            and make sense of the ever growing sea of online video.
           {% endblocktrans %}
        </p>
        
    </div>


    <div id="organizers">
        
        <h2>{% trans 'Organizers, Facilitators, Sponsors' %}</h2>
        
        <div class="organizers_box">
            <h3>{% trans 'Organizers' %}</h3>
            <p>{% trans 'The <a href="http://www.participatoryculture.org/">Participatory Culture Foundation</a> is organizing the summit. Their most recent project, <a href="http://universalsubtitles.org/">Universal Subtitles</a>, makes open source and collaborative subtitling and translation easy.' %}</p>
        </div>
        
        <div class="organizers_box">
            <h3>{% trans 'Facilitators' %}</h3>
            <p>{% trans '<a href="http://www.aspirationtech.org/">Aspiration</a> is providing facilitation and agenda design. Aspiration believes that face-to-face events are the most powerful way to facilitate interaction, build networks, and collaborate.' %}</p>
        </div>
        <div class="organizers_box">
            <h3>{% trans 'Sponsors' %}</h3>
            <p>{% trans 'The summit has been generously funded by the <a href="http://www.soros.org/">Open Society Institute</a>.' %}</p>
        </div>
        
        <div style="clear: both;">
        
    </div>

    <div id="special_thanks">
        <p>
            <em>{% trans 'Special thanks to <a href="http://openplans.org/">Open Plans</a> for providing meeting space!' %}</em>
        <p>
    </div>
</div>
</div>
</body>
</html>
