<html>
<head>
<title>Participatory Culture Foundation  Privacy Policy</title>
<STYLE type="text/css">
.title { color: #CB0000;font-size: 26px;font-family: arial,helvetica,sans-serif;font-weight:bold;}
.subtitle { color: #CB0000;font-size: 20px;font-family: arial,helvetica,sans-serif;font-weight:bold;}
.minititle {color: #CB0000;font-size: 16px;font-family: arial,helvetica,sans-serif;font-weight:bold;}
.tinytitle {color: #CB0000;font-size: 12px;font-family: arial,helvetica,sans-serif;font-weight:bold;}
.body-text{color: #000000;font-size: 12px;font-family: verdana,arial,helvetica,sans-serif;}
a{color:#10298C;text-decoration:none;}
a:hover{text-decoration:underline;}
</STYLE>
<LINK REL="P3Pv1" HREF="/w3c/p3p.xml">
</head>
<body>
<div align="center">
<TABLE WIDTH="600" CELLPADDING="0" CELLSPACING="0" BORDER="0">
<TR>
<TD ALIGN="left" CLASS="body-text">
<BR />

<SPAN CLASS="title">Privacy Policy</SPAN>

<BR />
<SPAN CLASS="subtitle">Participatory Culture Foundation </SPAN>
<BR />
<SPAN CLASS="minititle">http://{{current_site.domain}}</SPAN>
<BR />
<BR />
Effective from 12th of August 2010 to 12th of August 2011.
<BR />
<BR />
<HR ALIGN="CENTER" SIZE=1 COLOR="#CB0000">
<SPAN CLASS="subtitle" COLOR="#CB0000">General Information</SPAN>
<BR />
Participatory Culture Foundation  takes your privacy seriously. Please read the following information to learn more about our privacy practices.
<UL>

<LI>This policy covers what personally identifiable information Participatory Culture Foundation  collects and how it is treated.
Personally identifiable information is information that can be used to identify visitors to the http://{{current_site.domain}} Web Site. This information may be limited to an IP address or extend to personally identifiable information such as your name, address, email address, or phone number.
<BR />
<BR />
<LI>This policy only applies to http://{{current_site.domain}} and does not extend to the practices of other Web Sites that we may link to, companies that we do not own or control, or to people that we do not employ or manage.
</UL>
<HR ALIGN="CENTER" SIZE=1 COLOR="#CB0000">
<SPAN CLASS="subtitle">Contact Information</SPAN>
<BR />
We invite you to contact us if you have questions about this privacy policy.
<BR />
<BR />
Our Internet address is located at <A HREF="http://{{current_site.domain}}">http://{{current_site.domain}}</A>
<BR />
<BR />

<UL>
<B>
Participatory Culture Foundation 
<BR />
PO Box 55071 #20335
<BR />
Boston 02205-5071
<BR />
MA USA
</B>
<BR />
<BR />You may contact us by e-mail at <A HREF="mailto:feedback@pculture.org">feedback@pculture.org</A>

<BR />You may contact us by phone on +1-978-928-3706

</UL>

<HR ALIGN="CENTER" SIZE=1 COLOR="#CB0000">
<SPAN CLASS="subtitle">Dispute Resolution</SPAN>
<BR />
Participatory Culture Foundation  is committed to resolving any dispute you may have regarding our privacy policy quickly and efficiently.
<BR />
<BR />
Disputes will be handled by our customer service representative.
Our customer service will promptly correct any errors.
<BR />
<BR />
<HR ALIGN="CENTER" SIZE=1 COLOR="#CB0000">
<SPAN CLASS="subtitle">Information Collection</SPAN>
<BR />
When visiting Web Sites certain information about you and your computer can sometimes be collected.
This section explains what information Participatory Culture Foundation  collects, and how it is used.
<BR />
<BR />

<UL>
<SPAN CLASS="minititle">Information Collected</SPAN> - What information do we collect and why?
<BR />
<BR />We collect the following identifiable information about our visitors:<BR />
<UL>
 <LI>user.name
&nbsp;&nbsp;<i>(optional)</i> <LI>thirdparty.home-info.online.email
&nbsp;&nbsp;<i>(optional)</i> <LI>dynamic.clickstream
 <LI>dynamic.http
 <LI>dynamic.searchtext
 <LI>dynamic.cookies
 <LI>dynamic.miscdata

</UL>
<BR />We collect identifiable information for the following reasons:
<UL>
  <LI>Completion and Support of Current Activity
  <LI>Web Site and System Administration
  <LI>Research and Development
</UL>
<BR />
Collecting your basic information helps us maintain a friendly and accountable online community<BR />
<BR />
Our Web Site generates server log files automatically. These log files are used to generate statistical information and error reports to ensure the Web Site runs with a minimum of disruption. They are not actively used to identify individual visitors.<BR />
<BR />
<HR ALIGN="CENTER" SIZE=1 COLOR="#CB0000">
<SPAN CLASS="minititle">Information Recipients</SPAN> - Who has access to the information collected?

<BR />
<UL>
<BR /><LI>Ourselves and/or our entities acting as our agents or entities for which we are acting as an agent.
<BR /></UL>

<BR />
<HR ALIGN="CENTER" SIZE="1" COLOR="#CB0000">
<SPAN CLASS="minititle">Information Retention</SPAN> - How long is this information retained?
<BR />
<UL>
<BR /><LI>We do not have a retention policy for this area of the Web Site.<BR /></UL><BR />

<BR />
</UL>


</BR />
</BR />
<HR ALIGN="CENTER" SIZE=1 COLOR="#CB0000">
</DIV>
</TD>
</TR>
</TABLE>
<BR />
<BR />

<!-- This Privacy Policy was generated by P3PWiz - http://www.p3pwiz.com -->

</BODY>
</HTML>




