{% extends "base.html" %}
{% block scripts %}
{% if not js_use_compiled %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-library/closure/goog/base.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-dependencies.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/swfobject.js"></script>
{% endif %}
{% endblock %}
{% block main_content %}


<h2>Viewing Revision History</h2>


<div class="viewing_old">
"This is an old revision of original language subtitles for http://videohost.com/video... , as edited by holmesworcester at 00:56, 24 April 2010. It may
differ significantly from the current revision."
</div>


<div class="left_column">


<h3 class="diff_title">Revision as of 5:54pm April 10 2010 (edit) by holmesworcester</h3>

<a href="#" class="previous_edit">Previous Edit</a>

<div class="clear">&nbsp;</div>

<div style="text-align: center; padding: 130px 30px; border: 1px solid #333; margin: 30px auto; background: #eee; color: #fff; width: 400px;">video goes here</div>


<a href="#" class="new_edit">Submit a new edit based on this version</a>

<a href="#" class="roll_back">Roll back to this version</a>

<a href="#" class="return_history">&lt;&lt; Return to revision history</a>


<ul class="revision_list">

  <li class="even time_change">02:19 &gt; “Dean thought I was much more verbose”</li>
  <li>02:19 &gt; “Dean thought I was much more verbose”</li>
  <li class="even">02:19 &gt; “Dean thought I was much more verbose”</li>
  <li>02:19 &gt; “Dean thought I was much more verbose”</li>
  <li class="even">02:19 &gt; “Dean thought I was much more verbose”</li>
  <li>02:19 &gt; “Dean thought I was much more verbose”</li>
  <li class="even time_change">02:19 &gt; “Dean thought I was much more verbose”</li>
  <li>02:19 &gt; “Dean thought I was much more verbose”</li>
  <li class="even">02:19 &gt; “Dean thought I was much more verbose”</li>
  <li>02:19 &gt; “Dean thought I was much more verbose”</li>
  <li class="even">02:19 &gt; “Dean thought I was much more verbose”</li>
  <li>02:19 &gt; “Dean thought I was much more verbose”</li>
  <li class="even">02:19 &gt; “Dean thought I was much more verbose”</li>
  <li>02:19 &gt; “Dean thought I was much more verbose”</li>
  <li class="even">02:19 &gt; “Dean thought I was much more verbose”</li>
  <li>02:19 &gt; “Dean thought I was much more verbose”</li>

</ul>


</ol>

</div>


<div class="right_column">


<h3 class="diff_title">Revision as of 5:54pm April 10 2010 (edit) by holmesworcester</h3>

<a href="#" class="next_edit">Next Edit</a>
<div class="clear">&nbsp;</div>


<div style="text-align: center; padding: 130px 30px; border: 1px solid #333; margin: 30px auto; background: #eee; color: #fff; width: 400px;">video goes here</div>


<a href="#" class="new_edit">Submit a new edit based on this version</a>

<a href="#" class="roll_back">Roll back to this version</a>

<a href="#" class="return_history">&lt;&lt; Return to revision history</a>


<ul class="revision_list">

  <li class="even">02:19 &gt; “Dean thought I was much more verbose”</li>
  <li>02:19 &gt; “Dean thought I was much more verbose”</li>
  <li class="even">02:19 &gt; “Dean thought I was much more verbose”</li>
  <li>02:19 &gt; “Dean thought I was much more verbose”</li>
  <li class="even">02:19 &gt; “Dean thought I was much more verbose”</li>
  <li>02:19 &gt; “Dean thought I was much more verbose”</li>
  <li class="even">02:19 &gt; “Dean thought I was much more verbose”</li>
  <li>02:19 &gt; “Dean thought I was much more verbose”</li>
  <li class="even">02:19 &gt; “Dean thought I was much more verbose”</li>
  <li>02:19 &gt; “Dean thought I was much more verbose”</li>
  <li class="even">02:19 &gt; “Dean thought I was much more verbose”</li>
  <li>02:19 &gt; “Dean thought I was much more verbose”</li>
  <li class="even">02:19 &gt; “Dean thought I was much more verbose”</li>
  <li>02:19 &gt; “Dean thought I was much more verbose”</li>
  <li class="even">02:19 &gt; “Dean thought I was much more verbose”</li>
  <li>02:19 &gt; “Dean thought I was much more verbose”</li>

</ul>


</ol>

</div>


{% endblock %}
