{% extends "base.html" %}
{% block scripts %}
{% if not js_use_compiled %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-library/closure/goog/base.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-dependencies.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/swfobject.js"></script>
{% endif %}
{% endblock %}
{% block main_content %}


<h2>Greener Cities are Coming</h2>
<p class="what_lang">in <a href="#">Original Language (English)</a></p>

<div class="left_column">
  <div style="text-align: center; padding: 130px 30px; border: 1px solid #333; margin: 30px auto; background: #eee; color: #fff; width: 400px;">video goes here</div>
</div>


<div class="right_column">
  <p class="other_lang">Other Languages: <a href="#">Spanish</a>, <a href="#">Russian</a>, <a href="#">Japanese</a>, <a href="#">Chinese</a>, <a href="#">Korean</a></p>
</div>

<div class="clear">&nbsp;</div>

<h2>Recent Revisions <a class="whats_this" href="#">(What's This?)</a></h2>


<button><span>Compare Revisions</span></button>


<ul class="table_head">
  <li class="table_most_recent"><a href="#">Most Recent</a></li>
  <li class="table_user"><a href="#">User</a></li>
  <li class="table_note"><a href="#">Note</a></li>
  <li class="table_time"><a href="#">Time</a></li>
  <li class="table_text"><a href="#">Text</a></li>
</ul>

<ul class="table_body">

  <li>
    <ul>
      <li class="table_most_recent"><input type="checkbox" /> Yesterday</li>
      <li class="table_user"><a href="#">MorganKnutson</a></li>
      <li class="table_note">Fixed Grammar error</li>
    </ul>
  </li>

</ul>





{% endblock %}
