{% extends 'base.html' %}

{% load i18n %}

{% block css %}
{{ block.super }}
<style type="text/css">
    .services  h1 {
        font-size:30px;
        font-weight:normal;
        color:black;
        font-family:Georgia;
        margin:20px 0 30px 50px;
    }
    .services  h4 {
        font-size:18px;
        font-weight:bold;
        color:black;
        margin:20px 0 30px
        50px;
    }
    .services ul {
        font-size:18px;
        width:550px;
        margin:0 auto 30px
        auto;
        line-height:22px;
        padding-left:10px;
    }
    .services li {
        margin: 6px auto;
    }
    .sidebarlogos h3 {
        margin:20px auto 15px
        auto;
        font-size:18px;
        text-align:center;
        font-weight:normal;
    }
    .sidebarlogos ul {
        list-style-type: none;
        margin:auto;
        text-align:center;
    }
    .sidebarlogos li {
        margin:14px auto;
    }
    .sidebarlogos p {
        margin:0 0 10px 0
    }

</style>
{% endblock %}

{% block main_content %}
<div class="content grid_12">
    <div class="grid_9 alpha services">
        <h1>{% trans "Want more video views and a more engaged audience?" %}</h1>
        <ul>
            <li>
                {% trans "Subtitles extend your reach to a <strong>global multilingual audience</strong>" %}.
            </li>
            <li>
                {% blocktrans %}
                With transcripts, your videos <strong>get much better SEO</strong>. You'll
                rank higher in Google and other search engines.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                Improve <strong>accessibility</strong> for deaf and hard of hearing
                viewers.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                Viewers can <strong>watch without headphones</strong> (eg. in a cubicle
                setting)
                {% endblocktrans %}
            </li>
        </ul>
        <h1>{% trans "Universal Subtitles makes it easy to:" %}</h1>
        <ul>
            <li>
                {% blocktrans %}
                <strong>Leverage volunteer help</strong> while expending minimal
                resources.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                Engage existing fans and <strong>grow your audience</strong> at the same
                time.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                <strong>Integration is easy and flexible</strong>. We're compatible with
                nearly every video format.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                Our subtitling interface is fantastic; <strong>users say they love
                it</strong>.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                Our white label product (suitable for enterprise use) <strong>simplifies
                subtitle deployment</strong>.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                <strong>From enterprise to independent</strong>, we can help you develop a
                great subtitle strategy.
                {% endblocktrans %}
            </li>
        </ul>
        <h4>
            {% trans "For details on enterprise services, email" %} 
            <a href="mailto:dean@pculture.org">Dean@Pculture.org</a>
        </h4>
    </div>
    <div class="grid_3 omega sidebarlogos">
        <h3>{% trans "Some of Our Partners" %}</h3>
        <ul>
            <li>
                <img src="{{ MEDIA_URL }}images/partners/firefox.png" alt="Firefox" />
            </li>
            <li>
                <img src="{{ MEDIA_URL }}images/partners/okgo.png" alt="OK Go" />
            </li>
            <li>
                <img src="{{ MEDIA_URL }}images/partners/wikipedia.png" alt="Wikipedia" />
            </li>
        </ul>
    </div>
</div>
{% endblock %}
