{% extends "base.html" %}

{% load i18n %}

{% block main_content %}
<div class="settings_nav">
  <ul>
    <li {% if edit_profile_page %}class="active"{% endif %}><a href="{% url profiles:edit %}">{% trans "Edit Profile" %}</a></li>
    <li><a href="{% url profiles:my_profile %}">{% trans "My Videos" %}</a></li>
    <li><a href="{% url teams:user_teams %}">{% trans "My Teams" %}</a></li>
    <li>
        <a href="{% url messages:index %}">{% trans "Messages" %}
        {% with user.received_messages.unread.count as messages_count %}
            {% if messages_count %}<span class="message_count">{{ messages_count }}</span>{% endif %}
        {% endwith %}
        </a>
    </li>
  </ul>
  {% with user.teams.all as user_teams %}
      {% if user_teams %}  
          <h4>{% trans "Team Management" %}</h4>
          <ul class="teams">
            {% for t in user_teams %}
                <li {% if team == t %}class="active"{% endif %}>
                    <a href="{{ t.get_edit_url }}">{{ t }}</a>
                </li>
            {% endfor %}
      {% endif %}
  {% endwith %}
  </ul>
</div>

<div class="settings_main">
  {% block settings_content %}{% endblock %}
  {{ block.super }}
</div>
{% endblock %}
