{% extends "base.html" %}
{% block scripts %}
{% if not js_use_compiled %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-library/closure/goog/base.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-dependencies.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/swfobject.js"></script>

  <link media="all" rel="stylesheet" href="{{ MEDIA_URL }}css/mirosubs-widget.css" />

{% endif %}
{% endblock %}
{% block main_content %}


<h2>Widget Testing Form</h2>




<div class="left_column">

<form>
  <p>
    <label>Your Email</label>
    <input type="text" />
  </p>

  <p>
    <label>Browser/Version</label>
    <span>(eg. IE, Firefox, Chrome, etc)</span>
    <input type="text" />
  </p>
  <p>
    <label>Task 1</label>
    <span>Try creating subtitles on the following video:</span>
    <textarea type="text">how was it? were the instructions clear? what would improve it?</textarea>
  </p>
  <p>
    <label>Task 2</label>
    <span>Try fixing errors on the video (or just get back in and make an edit)</span>
    <input type="text" />
  </p>
  <p>
    <label>Task 3</label>
    <span>Translate the video (fake it if you’re not bilingual!)</span>
    <input type="text" />
  </p>
  <p class="checkbox">
<label>optional: get updates about Universal Subtitles</label>
<input type="checkbox" />
</p>

<button><span>Submit!</span></button>


</form>




</div>


<div class="right_column">

  <div class="mirosubs-share">
						<img src="{{ MEDIA_URL }}images/blue_triangle.png" class="mirosubs-blueTriangle" />
						<h2>Simple Instructions</h2>
						
						<p>Clicking the links in the tasks will open a new page. Do your best to accomplish the task at hand. Switch back to this tab at any time during the process to give us feedback.</p>

<p>All tasks 2 & 3 are optional (but we recommend trying them all).</p>

<p>That’s it!</p>
   </div>


</div>


{% endblock %}
