{% extends "base.html" %}
{% block scripts %}
{% if not js_use_compiled %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-library/closure/goog/base.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closure-dependencies.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/swfobject.js"></script>

  <link media="all" rel="stylesheet" href="{{ MEDIA_URL }}css/mirosubs-widget.css" />

{% endif %}
{% endblock %}
{% block main_content %}


<h2>Widget Testing Form</h2>




<div class="left_column">

  <div style="text-align: center; padding: 130px 30px; border: 1px solid #333; margin: 30px auto; background: #eee; color: #fff; width: 400px;">video goes here</div>

</div>


<div class="right_column">

  <div class="mirosubs-share">
						<img src="{{ MEDIA_URL }}images/blue_triangle.png" class="mirosubs-blueTriangle" />
						<h2>We’d like help testing our subtitling widget</h2>
						
						<p>Just launch our feedback form and try captioning a video</p>

<button><span>Test the Widget</span></button>


<p class="warning">Warning: These videos should not be embeded--there is a good possibility they will break at some point!</p>

<p class="warning">Warning #2: These subtitles are non-permanent and should not be relied on -- someone could change them. 

This alpha site is for purely testing purposes.</p>
   </div>


</div>


{% endblock %}
