{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="../../">
    {% trans "Home" %}
  </a>
   &rsaquo; 
   <a href="../">
     {{ app_label|capfirst }}
  </a>
  &rsaquo; 
  {{ title }}
</div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="module filtered" id="changelist">
        
            {% block filters %}
            <div id="changelist-filter">
                <h2>{% trans 'Filter' %}</h2>
                
                <h3>{% trans "By logger" %}</h3>
                <ul>
                    <li {% if not selected_logger %}class="selected"{% endif %}><a href="?">{% trans "all" %}</a></li>
                    {% for name in filter_choices %}
                        <li {% if selected_logger == name %}class="selected"{% endif %}><a href="?logger={{ name|urlencode }}">{{ name }}</a></li>
                    {% endfor %}
                </ul>                
                                
            </div>
            {% endblock %}        
            
            {% for name, logger in registery.items %}
                <h2>{{ name }}</h2>
                <table cellspacing="0" id="result_list">
                    <thead>
                        <tr>
                            <th>{% trans "Class" %}</th>
                            <th>{% trans "Method" %}</th>
                            <th>{% trans "Value" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in logger.list %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                            <td>{{ obj.cls }}</td>
                            <td>{{ obj.method }}</td>
                            <td>{{ obj.value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
         </div>
    </div>
{% endblock %}
