{% load i18n %}
{% if user.is_authenticated and not user.email %}
<script type="text/javascript">
	jQuery(function($){
		var email_patternt = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

		$.jPrompt('{% trans "It looks like you logged in without submitting an email. We need an email address to notify you (for example, when others edit your work)." %}', 
            '', '{% trans "Please enter a valid e-mail address" %}', function(button, value){
			if ( ! value ||  email_patternt.test(value) === false){
				$.jGrowl.error('{% trans "Enter valid email please." %}');
			}else{
				ProfileApi.set_email(value, function(response){
					if (response.error){
						$.jGrowl.error(response.error);
					}else{
						$.jGrowl(response.msg);
						$.alerts.hide();
					}
				});
			};
		}, {
			cancelButton: null,
			preventClose: true
		});
	});
</script>
{% endif %}