{% load i18n %}

<div class="language_bar clearfix">
  <span>{% trans "Loading..." %}</span>
  <a href="#" data-modal="language_modal" id="lang_select_btn" >{% trans "Select your Languages" %}</a>
</div><!-- // language_bar -->

<script type="text/javascript">
    //require ProfileApi
    jQuery(function($){
        var FORCE_ASK = {% if force_ask %}true{% else %}false{% endif %};
        
        var update_language_display = function(){
            ProfileApi.get_user_languages(function(r){
                if ( ! r){
                    return
                }
                $('.language_bar span').remove();
                var h = '';
                for (l in r){
                    h += '<span>'+r[l]+'</span>, '
                };
                $('.language_bar a').before('<span class="selected_language">'+h.slice(0,-2)+'</span>');
            });			
        };
        
        var are_cookies_enabled = function()
        {
            document.cookie="testcookie";
            return (document.cookie.indexOf("testcookie") != -1) ? true : false;
        }        
        
        update_language_display();

        if (are_cookies_enabled()){
            var $w = $('#language_modal');
            
            $w.find('.submit_button').click(function(){
                var values = {};
                var has_value = false;
                
                $('select', $w).each(function(i, item){
                    var $item = $(item);
                    values[$item.attr('name')] = $item.val();
                    
                    if ( ! has_value && $item.val()){
                        has_value = true;
                    }
                });
                
                if ( ! has_value){
                    $.jGrowl.error('{% trans "Select at least one language." %}');
                }else{
                    $w.html('{% trans "Saving your language settings..." %}');
                    ProfileApi.select_languages(values, function(){
                            window.location.reload(true);
                        }, function(){
                            $w.modClose();
                        });
                }

                return false;
            });
            
            $w.find('.close_button').click(function(){
                $w.modClose();
                return false;
            });
            
            if (FORCE_ASK){
                $w.mod({closeable: false});
            }else{
                $w.find('.close_button').show();
            };
        }else{
            $('#lang_select_btn').hide();
        }
    });
</script>

<div id="language_modal" style="display: none" class="language_modal clearfix">
  <h3>{% trans "We really need your help!" %}</h3>
  <h2>{% trans "What languages do you speak?" %}</h2>
    <div id="language_picker" class="clearfix">
    <ul>
      <li>{{ form.language1 }}</li>
      <li>{{ form.language2 }}</li>
      <li>{{ form.language3 }}</li>
    </ul>
    <ul id="last">
      <li>{{ form.language4 }}</li>
      <li>{{ form.language5 }}</li>
      <li>{{ form.language6 }}</li>
    </ul>
    </div><!-- // clearfix -->
    <button class="green_button small submit_button">{% trans "Submit" %}</button>
    <button class="green_button small close_button" style="display: none; margin-left: 10px;">{% trans "Cancel" %}</button>
</div><!-- // language_modal -->
