{% load i18n %}

<div class="language_bar">
    <div class="wrapper container_12">
        <a href="#" data-modal="language_modal" class="green_button small">{% trans "Select your Languages" %}</a>
    </div>
</div>

<script type="text/javascript">
    //require ProfileApi
    jQuery(function($){
		var update_language_display = function(){
			ProfileApi.get_user_languages(function(r){
				$('.language_bar p').remove();
				var h = '';
				for (l in r){
					h += '<span>'+r[l]+'</span>,'
				};
				
				$('.language_bar a').before('<p>'+h.slice(0,-1)+'</p>');
			});			
		};
		update_language_display();
		var force_ask = {% if force_ask %}true{% else %}false{% endif %};

        function are_cookies_enabled()
        {
            var cookieEnabled = (navigator.cookieEnabled) ? true : false;
        
            if (typeof navigator.cookieEnabled == "undefined" && !cookieEnabled)
            { 
                document.cookie="testcookie";
                cookieEnabled = (document.cookie.indexOf("testcookie") != -1) ? true : false;
            }
            return (cookieEnabled);
        }
        
        if (are_cookies_enabled()){        
            var $w = $('#language_modal');
            
            $w.find('button').click(function(){
                var values = {};
                var has_value = false;
                
                $('select', $w).each(function(i, item){
                    var $item = $(item);
                    values[$item.attr('name')] = $item.val();
                    
                    if ( ! has_value && $item.val()){
                        has_value = true;
                    }
                });

                if ( ! has_value){
                    $.jGrowl.error('{% trans "Select at least one language." %}');
                }else{
                    ProfileApi.select_languages(values, function(){
						update_language_display();
					});
                    $w.modClose();
                }

                return false;
            });
			
			if (force_ask){
	            $w.mod();
			};
        };
    });
</script>

<div id="language_modal" data="{closeable: false}" style="display: none" class="language_modal clearfix">
  {% trans "We really need your help!" %}
  <h2>{% trans "What languages do you speak?" %}</h2>
    <div>
      {{ form.language1 }}
      {{ form.language2 }}
      {{ form.language3 }}
    </div>

    <button type="submit" class="green_button small">{% trans "Submit" %}</button>
</div>
