{% load i18n %}

<div class="language_bar">
  <span>{% trans "Loading..." %}</span>
  <a href="#" data-modal="language_modal" class="green_button small">{% trans "Select your Languages" %}</a>
</div><!-- // language_bar -->

<script type="text/javascript">
    //require ProfileApi
    jQuery(function($){
        var update_language_display = function(){
            ProfileApi.get_user_languages(function(r){
                $('.language_bar span').remove();
                var h = '';
                for (l in r){
                    h += '<span>'+r[l]+'</span>, '
                };
                $('.language_bar a').before('<span class="selected_language">'+h.slice(0,-2)+'</span>');
            });			
        };
        update_language_display();
        var force_ask = {% if force_ask %}true{% else %}false{% endif %};

        function are_cookies_enabled()
        {
            var cookieEnabled = (navigator.cookieEnabled) ? true : false;
        
            if (typeof navigator.cookieEnabled == "undefined" && !cookieEnabled)
            { 
                document.cookie="testcookie";
                cookieEnabled = (document.cookie.indexOf("testcookie") != -1) ? true : false;
            }
            return (cookieEnabled);
        }
        
        if (are_cookies_enabled()){        
            var $w = $('#language_modal');
            
            $w.find('button').click(function(){
                if (typeof mpq != 'undefined') {
                    mpq.push(['track', 'Submits_languages_she_speaks']);
                }
                var values = {};
                var has_value = false;
                
                $('select', $w).each(function(i, item){
                    var $item = $(item);
                    values[$item.attr('name')] = $item.val();
                    
                    if ( ! has_value && $item.val()){
                        has_value = true;
                    }
                });
                
                if ( ! has_value){
                    $.jGrowl.error('{% trans "Select at least one language." %}');
                }else{
                    $w.html('{% trans "Saving your language settings..." %}');
                    ProfileApi.select_languages(values, function(){
                        //update_language_display();
                        window.location.reload(true);
                    });
                }

                return false;
            });
            
            if (force_ask){
                $w.mod();
            };
        };
    });
</script>

<div id="language_modal" data="{closeable: false}" style="display: none" class="language_modal clearfix">
  <h3>{% trans "We really need your help!" %}</h3>
  <h2>{% trans "What languages do you speak?" %}</h2>
    <div id="language_picker" class="clearfix">
    <ul>
      <li>{{ form.language1 }}</li>
      <li>{{ form.language2 }}</li>
      <li>{{ form.language3 }}</li>
    </ul>
    <ul id="last">
      <li>{{ form.language4 }}</li>
      <li>{{ form.language5 }}</li>
      <li>{{ form.language6 }}</li>
    </ul>
    </div><!-- // clearfix -->
    <button type="submit" class="green_button small">{% trans "Submit" %}</button>
</div><!-- // language_modal -->
