{% load i18n%}

{% if user.is_authenticated %}
<div id="send_message" style="display: none">
  <form class="message" method="post" action="{% url profiles:send_message %}" id="message-form">  
     <h3>{% blocktrans %}Send a Message{% endblocktrans %}</h3>
     {% csrf_token %}
     <input type="hidden" name="user" value=""/>
     <p>
       <label>{% trans 'From' %}</label>
       <input type="text" value="{{ user.email }}" name="email"/>    
     </p>
     <p>
       <label>{% trans 'Message' %}</label>
       <textarea class="to" type="text" name="message"></textarea>  
       <span>{% trans 'No HTML' %}</span>
       <span>{% trans 'Note: when you send a message the recipient can see your email and reply directly' %}</span>
     </p>
     <button type="submit"><span>{% trans 'Send a Message' %}</span></button>
  </form>
</div>
<script type="text/javascript">
$(function(){
    $('.send_message').nyroModal({
        minWidth: 460,
        minHeight: 380              
    });
    
    $('.send_message').attr('href', '#send_message');  
    
    $('.send_message').click(function(){
        $('#message-form input[name=user]').val($(this).attr('user_id'));
        return false;
    });
    
    $('#message-form').ajaxForm({
        dataType: 'json',
        success: function(data, status, xhr, $form){
            if (data.success){
                $form.resetForm();
                $.msg.clean().add('{% trans "Email sent" %}');
                $.nyroModalRemove();
            } else {
                for (key in data.errors){
                    var $field = $('input[name="'+key+'"]', $form);
                    var error = '<div class="error_list">'+data.errors[key]+'</div>';
                    if ($field.length){
                        $field.before(error);
                    }else{
                        $form.prepend(error);
                    }
                };
            }
        },
        beforeSubmit: function(formData, $Form, options){
            $('div.error_list', $Form).remove();
            var form = $Form[0];
            var valid = true;
            if (!form.message.value){
                $(form.message).before('<div class="error_list">{% trans "Enter message please." %}</div>');
                valid = false;
            }
            if (!form.email.value){
                $(form.email).before('<div class="error_list">{% trans "Enter email please." %}</div>');
                valid = false;                      
            }
            return valid;
        }
    });
});
</script>       
{% endif %}