{% load i18n %}
{% if user.is_authenticated %}
<div class="user_panel">
  <ul>
    <li>
      <div class="user">
        <img src="{{ MEDIA_URL }}images/default_thumbnail_small.png" />
        <a href="{% url profiles:my_profile %}">{{ user }}</a>
      </div>

      <div class="dropdown">
        <ul>
          <li><a href="{% url profiles:my_profile %}">{% trans "My Videos" %}</a></li>
          <li>
              <a href="{% url messages:index %}">{% trans "My Messages" %}</a> 
              <span class="message_count">{{ user.received_messages.unread.count }}</span>
          </li>
          {% if user.teams.exists %}
          <li><a href="{% url teams:index %}?o=my">{% trans "My Teams" %}</a></li>
          {% endif %}
          <li><a href="{% url profiles:edit %}">{% trans "Edit Profile" %}</a></li>
        </ul>
        {% with user.teams.all as user_teams %}
            {% if user_teams %}
                <div class="teams_menu">
                  <h4>{% trans "Team Management" %}</h4>
                  <ul>
                    {% for team in user_teams %}
                        <li><a href="{{ team.get_edit_url }}">{{ team }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
            {% endif %}
        {% endwith %}
      </div>
    </li>
  </ul>
  {% comment %}
  <a href="#">{% trans 'Team manager options' %}</a>
  <span class="points"><strong>{% trans 'Points' %}</strong> 3,999</span>
  <span class="awards"><strong>{% trans 'Awards' %}</strong> 3,999</span>
  {% endcomment %}
</div>
{% endif %}
