{% extends "base.html" %}
{% block body_attrs %}id="profile"{% endblock %}

{% load thumbnail recent_activity %}
{% block main_content %}

{% block userinfo %}


<div class="full_width">

 <img class="thumbnail_medium" src="{% thumbnail profile.picture 128x128 %}">
 <h3>User Profile for {{ profile.user.username }}</h3>

{% endblock %} 
{% block edit_profile_form %}{% endblock %}
</div>


{% block activity %}
    <div class="full_width">
        <h2>{{ profile.user.username }}'s activity</h2>
        {% recent_activity profile.user %}
    </div>
{% endblock %}

{% endblock %}