{% extends "profiles/base.html" %}

{% load thumbnail %}

{% block main_content %}
<div class="left_column">
    <h2>User Profile <a href="{% url profiles:profile user_info %}">(View profile)</a></h2>
    <img class="thumbnail_medium" src="{% thumbnail user_info.picture 128x128 %}"><h3>{{ user_info }}</h3>
    <p>
        Preferred Language: {% if user_info.preferred_language %}{{ user_info.language }}{% endif %}
    </p>
    <p>
        Homepage: <a href="{{ user_info.homepage }}">{{ user_info.homepage }}</a>
    </p>
</div>

<div class="right_column">
    <br/>
    <h3>About {{ user_info }}</h3>
    <p class="user_bio">
        {{ user_info.biography }}
    </p>
</div>
<form class="edit_profile" action="{% url profiles:my_profile %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="edit_profile_shell">
        <h2>
            Edit Your Profile
            <button class="small_button" type="submit" value="Save">
                <span>Save Edits to Profile</span>
            </button>
        </h2>
        
        <div class="left_column">
            <h3>Personal Info</h3>
            <p>
                {{ form.first_name.errors }}
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </p>
            <p>
                {{ form.last_name.errors }}
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </p>
            <p>
                {{ form.homepage.errors }}
                {{ form.homepage.label_tag }}
                {{ form.homepage }}
            </p>
            <p>
                <img class="thumbnail_medium" src="{% thumbnail user_info.picture 128x128 %}"/>
                {{ form.picture.errors }}
                <input type="file" id="id_picture" name="picture" size="6"/>
                <button class="small_button upload-picture1" style="z-index: 1; padding-left: 10px;">
                    <span><span class="plus"></span>Upload picture</span>
                </button>             
            </p>
            <p>
                {{ form.email.errors }}
                {{ form.email.label_tag }}
                {{ form.email }}
            </p>
            <p>
                {{ form.current_password.errors }}
                {{ form.current_password.label_tag }}
                {{ form.current_password }}
            </p>
            <p>
                {{ form.new_password.errors }}
                {{ form.new_password.label_tag }}
                {{ form.new_password }}
            </p>
            <p>
                {{ form.new_password_verify.errors }}
                {{ form.new_password_verify.label_tag }}
                {{ form.new_password_verify }}
            </p>
            <p>
                {{ form.changes_notification.errors }}
                               {{ form.changes_notification }}
 <label for="id_changes_notification">Email me when something I've edited gets changed</label>
            </p>
            <p>
                {{ form.biography.errors }}
                {{ form.biography.label_tag }}
                {{ form.biography }}
            </p>                          
        </div>
        
        <div class="right_column">
            <h3>Language Info</h3>
            <p>
                {{ form.preferred_language.errors }}
                {{ form.preferred_language.label_tag }}
                {{ form.preferred_language }}
            </p>
            {% comment %}
            <p>
                {{ form.autoplay_preferences.errors }}
                {{ form.autoplay_preferences.label_tag }}
                {{ form.autoplay_preferences }}                
            </p>
            {% endcomment %}
            <h4>Languages I Know</h4>
            <div class="empty-form" style="display: none">
                <li>
                    <a href="#" class="small_close remove-language">Remove Language</a>
                    {{ formset.empty_form.id }}
                    {{ formset.empty_form.language }}
                    {{ formset.empty_form.proficiency }}
                    <div style="display: none" class="delete-checkbox">
                        {{ form.DELETE }}
                    </div>                
                </li>
            </div>
            <ul class="language_list">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                    <li>
                        {{ form.non_field_errors }}
                        <a href="#" class="small_close remove-language">Remove Language</a>
                        {{ form.id }}
                        {{ form.language.errors }}
                        {{ form.language }}
                        {{ form.proficiency.errors }}
                        {{ form.proficiency }}
                        <div style="display: none" class="delete-checkbox">
                            {{ form.DELETE }}
                        </div>
                    </li>
                {% endfor %}
            <button class="small_button add-language">
                <span><span class="plus"></span>Add Language</span>
            </button>
        </div>
        <div class="clearboth">
            &nbsp;
        </div>
    </div>
</form>
<script type="text/javascript">
    var form_count = {{ formset.total_form_count }};
    var empty_form = $('.empty-form').html();
    var $form_count_field = $('#id_userlanguage_set-TOTAL_FORMS')
    
    //fix saving value by browser after refresh
    $('.delete-checkbox input').attr('checked', false); 
    $form_count_field.val(form_count);
    
    $('.language_list .remove-language').live('click', function(){
        $(this).parent().hide().find('.delete-checkbox input').attr('checked', true);
        return false;
    })
    
    $('.add-language').click(function(){
        form_count++;
        $form_count_field.val(form_count);
        var form = empty_form.replace(/__prefix__/g, form_count);
        $('.language_list li:last').after(form);
        return false;
    });
    $('.upload-picture').click(function(){
        return false;
    });
</script>
{{ block.super }}
{% endblock %}
