{% extends "settings.html" %}

{% load thumbnail i18n %}

{% block title %}{% trans "Edit My Profile" %} | Universal Subtitles{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(function($){
            $('.remove-avatar').click(function(){
                if (confirm('{% trans "Do you really want delete picture?" %}')){
                    $.post('{% url profiles:remove_avatar %}', {remove: true}, function(response){
                        if ( ! response.errors){
                            $('.user-avatar').attr('src', response.avatar);
                            $('.remove-avatar').remove();
                        }
                    }, 'json');
                }
                return false;
            });
            
            $('#id_picture').change(function(){
                $('.edit_profile').ajaxSubmit({
                    url: '{% url profiles:edit_avatar %}',
                    dataType: 'json',
                    success: function(response){
                        if (response.error){
                            $('#picture-errors').html('<ul class="errorlist"><li>'+response.error.picture+'</li></ul>');
                        }else{
                            $('#picture-errors').html('');  
                            $('.user-avatar').attr('src', response.url);
                        }
                    },
                    beforeSubmit: function(arr, $form, options) { 
                        $('#picture-errors').html('{% trans "Saving..." %}');            
                    }                    
                });
            });
        });
    </script>
{% endblock %}

{% block settings_content %}
  <form class="edit_profile" action="." method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="edit_profile_shell">
          <h2>
              {% trans 'Edit Your Profile' %}
          </h2>

          <div class="left_column">
              <h3>{% trans 'Personal Info' %}</h3>
              {{ form.non_field_errors }}
              <p>
                  {{ form.username.errors }}
                  {{ form.username.label_tag }}
                  {{ form.username }}
                  {{ form.username.help_text }}
                  <span>{% trans 'will display publicly' %}</span>
              </p>              
              <p>
                  {{ form.first_name.errors }}
                  {{ form.first_name.label_tag }}
                  {{ form.first_name }}
                  <span>{% trans 'will display publicly' %}</span>
              </p>
              <p>
                  {{ form.last_name.errors }}
                  {{ form.last_name.label_tag }}
                  {{ form.last_name }}
                  <span>{% trans 'will display publicly' %}</span>
              </p>
              <p>
                  {{ form.homepage.errors }}
                  {{ form.homepage.label_tag }}
                  {{ form.homepage }}
              </p>
              <p class="error_list" id="picture-errors">
              {{ form.picture.errors }}
              </p>
              <p class="avatar-container">
                  <img class="thumbnail_medium user-avatar" src="{{ user_info.avatar }}" style="margin-right: 5px"/>
                  {% if user_info.picture %}
                      <a class="remove-avatar" href="#">{% trans 'remove picture' %}</a>
                  {% endif %}
              </p>
              <div style="float: left; clear: both; margin-bottom: 30px;">
                  <input type="file" id="id_picture" name="picture" size="6"/>
                  <button  class="green_button small upload-picture" style="z-index: 1; padding-left: 10px;">
                      <span><span class="plus"></span>{% trans 'Upload picture' %}</span>
                  </button>
              </div>            
              <p>
                  {{ form.email.errors }}
                  {{ form.email.label_tag }}
                  {{ form.email }}
              </p>
              <p>
                  {{ form.current_password.errors }}
                  {{ form.current_password.label_tag }}
                  {{ form.current_password }}
              </p>
              <p>
                  {{ form.new_password.errors }}
                  {{ form.new_password.label_tag }}
                  {{ form.new_password }}
              </p>
              <p>
                  {{ form.new_password_verify.errors }}
                  {{ form.new_password_verify.label_tag }}
                  {{ form.new_password_verify }}
              </p>
              <p class="checkbox">
                  {{ form.changes_notification.errors }}
                  {{ form.changes_notification }}
                  <label for="id_changes_notification">
                      {% trans "Notify me by email about new personal messages and edits to the videos I follow" %}
                  </label>
              </p>
              <p class="checkbox">
                  {{ form.follow_new_video.errors }}
                  {{ form.follow_new_video }}
                  <label for="id_follow_new_video">
                      {% trans "Follow the videos I submit" %}
                  </label>
              </p>              
              <p>
                  {{ form.biography.errors }}
                  {{ form.biography.label_tag }}
                  {{ form.biography }}
              </p>                          
          </div>

          <div class="right_column">
              <h3>{% trans 'Language Info' %}</h3>
              <p>
                  {{ form.preferred_language.errors }}
                  {{ form.preferred_language.label_tag }}
                  {{ form.preferred_language }}
              </p>
              {% comment %}
              <p>
                  {{ form.autoplay_preferences.errors }}
                  {{ form.autoplay_preferences.label_tag }}
                  {{ form.autoplay_preferences }}                
              </p>
              {% endcomment %}
              <h4>{% trans 'Languages I Know' %}</h4>
              <div class="empty-form" style="display: none">
                  <li class="user_language">
                      <a href="#" class="small_close remove-language">{% trans 'Remove Language' %}</a>
                      {{ formset.empty_form.id }}
                      {{ formset.empty_form.language }}
                      {{ formset.empty_form.proficiency }}
                      <label for="{{ formset.empty_form.follow_requests.auto_id }}">
                          {{ formset.empty_form.follow_requests.label }}
                      </label>
                      {{ formset.empty_form.follow_requests }}
                      <div style="display: none" class="delete-checkbox">
                          {{ form.DELETE }}
                      </div>                
                  </li>
              </div>
              <ul class="language_list">
                  {{ formset.management_form }}
                  {{ formset.non_field_errors }}
                  {% for form in formset.forms %}
                      <li class="user_language">
                          {{ form.non_field_errors }}
                          <a href="#" class="small_close remove-language">{% trans 'Remove Language' %}</a>
                          {{ form.id }}
                          {{ form.language.errors }}
                          {{ form.language }}
                          {{ form.proficiency.errors }}
                          {{ form.proficiency }}
                          <label for="{{ form.follow_requests.auto_id }}">
                              {{ form.follow_requests.label }}
                          </label>
                          {{ form.follow_requests }}
                          <div style="display: none" class="delete-checkbox">
                              {{ form.DELETE }}
                          </div>
                      </li>
                  {% endfor %}
              </ul>
              <button class="green_button small add-language">
                  <span><span class="plus"></span>{% trans 'Add Language' %}</span>
              </button>
          </div>
          <div class="clearboth">
              &nbsp;
          </div>
      </div>

      <button style="margin: 10px;" class="green_button small" type="submit" value="Save">
          <span>{% trans 'Save Edits to Profile' %}</span>
      </button>
          
      <a class="small" style="margin: 10px;" href="{% url auth:delete_user %}">
          <span>{% trans 'Permanently Delete Your Profile' %}</span>
      </a>  
  </form>

<script type="text/javascript">
    var form_count = {{ formset.total_form_count }};
    var empty_form = $('.empty-form').html();
    var $form_count_field = $('#id_userlanguage_set-TOTAL_FORMS')
    
    //fix saving value by browser after refresh
    $('.delete-checkbox input').attr('checked', false); 
    $form_count_field.val(form_count);
    
    $('.language_list .remove-language').live('click', function(){
        $(this).parent().hide().find('.delete-checkbox input').attr('checked', true);
        return false;
    })
    
    $('.add-language').click(function(){
        form_count++;
        $form_count_field.val(form_count);
        var form = empty_form.replace(/__prefix__/g, (form_count-1));
        $('.language_list li:last').after(form);
        return false;
    });
    $('.upload-picture').click(function(){
        return false;
    });
</script>
{% endblock %}
