{% extends "base.html" %}

{% load i18n teams_tags paginator profiles_tags widget %}

{% block title %}
    {% trans 'Your profile' %} | Universal Subtitles
{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block main_content %}
<div class="grid_8 alpha">
    <h2>{% trans 'My videos' %}</h2>
    
    <ul class="video_tabs">
        <li class="active">
            <span class="tab-item">
                {% trans 'My Videos' %}<span class="badgy_out"><span class="badgy">{{ total_video_count }}</span></span>
            </span>
        </li>
        <li>
            <a href="#">
                {% trans 'Messages' %}<span class="badgy_out"><span class="badgy">0</span></span>
            </a>
        </li>
    </ul>
    <div id="videos-tab">
        <div class="boxx">
            <div class="padding_small">
                <div class="inline_search">
                    <form method="post" >
                        {% csrf_token %}
                        <input type="text"name="q" value="{{ query|default:'' }}">
                        <button class="green_button big">
                            {% trans 'Search' %}
                        </button>
                    </form>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
        <div class="grid_8 clearfix">
            <br/>
            <br/>
        </div>
        
        {% if is_paginated %}{% paginator %}{% endif %}
        <ul class="big_list">
            {% for video in user_video_list %}
                {% include 'search/_video_item.html' %}
            {% endfor %}
        </ul>
        {% if is_paginated %}{% paginator %}{% endif %}
    </div>
</div>

<div class="grid_4 omega">
    <div class="team_logo">
        {% if user.picture %}
        <img src="{{ user.avatar }}"/>
        {% endif %}
    </div>
    {% if user.biography %}
    <p>
        <b>{% trans 'Bio' %}:</b> {{ user.biography }}
    </p>
    {% endif %}
    {% with user.userlanguage_set.all as user_languages %}
        {% if user_languages %}
            <p>
            <b>{% trans "Languages I understand" %}:</b>
            {% for item in user_languages %}
                {{ item.get_language_display }}{% if not forloop.last %},{% endif %}
            {% endfor %}
            </p>
        {% endif %}
    {% endwith %}
    <p><a href="{% url profiles:edit %}">{% trans "Edit profile" %}</a></p>
    
    {% user_videos_activity %}
</div>

{% endblock %}