{% extends "profiles/base.html" %}

{% load thumbnail %}

{% block css %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}css/prettyPhoto.css" media="all" type="text/css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    <script src="{{ MEDIA_URL }}/js/jquery.prettyPhoto.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){

            $('button.send_message').attr('href', '#send_message');              

            $('button.send_message').prettyPhoto({
                default_width: 425,
                default_height: 344
            }); 
            
            $('#message-form').ajaxForm({
                dataType: 'json',
                success: function(data, status, xhr, $form){
                    if (data.success){
                        $form.resetForm();
                    } else {
                        for (key in data.errors){
                            var $field = $('input[name="'+key+'"]', $form);
                            var error = '<div class="error_list">'+data.errors[key]+'</div>';
                            if ($field.length){
                                $('input[name="'+key+'"]', $form).before(error);
                            }else{
                                $form.prepend(error);
                            }
                        };
                    }
                },
                beforeSubmit: function(formData, $Form, options){
                    $('div2.error_list', $Form).remove();
                    var form = $Form[0];
                    var valid = true;
                    if (!form.message.value){
                        $(form.message).before('<div class="error_list">Enter message please.</div>');
                        valid = false;
                    }
                    if (!form.email.value){
                        $(form.email).before('<div class="error_list">Enter email please.</div>');
                        valid = false;                      
                    }
                    return valid;
                }
            });
        });
    </script>
{% endblock %}

{% block main_content %}
    <div class="left_column">
        <h2>User Profile</h2>
        <img class="thumbnail_medium" src="{% thumbnail user_info.picture 128x128 %}">
        <h3>{{ user_info.username }}</h3>
        <p>Preferred Language: {% if user_info.preferred_language %}{{ user_info.language }}{% endif %}</p>
        <p>Homepage: <a href="{{ user_info.homepage }}">{{ user_info.homepage }}</a></p>
        <button class="send_message"><span>Send a Message</span></button>
    </div>
    
    <div class="right_column">
        <br />
        <h3>About {{ user_info.username }}</h3>
        <p class="user_bio">{{ user_info.biography }}</p>
    </div>
    
    {{ block.super }}
    
    <div id="send_message" style="display: none">
      <form class="message" method="post" action="{% url profiles:send_message %}" id="message-form">  
         <h3>Send USERNAME a Message</h3>
         {% csrf_token %}
         <input type="hidden" name="user" value="{{ user_info.id }}"/>
         <p>
           <label>From</label>
           <input type="text" value="{{ user.email }}" name="email"/>    
         </p>
         <p>
           <label>Message</label>
           <textarea class="to" type="text" name="message"></textarea>  
           <span>No HTML</span>
           <span>Note: when you send a message the recipient can see your email and reply directly</span>
         </p>
         <button type="submit"><span>Send a Message</span></button>
      </form>
    </div>
{% endblock %}