{% load i18n %}

{# this should be maybe refactored for situation when we have a lot of such forms on page #}

{% if link %}
    <a href="#" data-modal="{{ form_id }}">{% trans 'Send a Message' %}</a>
{% else %}
    <button class="green_button big" data-modal="{{ form_id }}">
        <span>{% trans 'Send a Message' %}</span>
    </button>
{% endif %}

<div class="msg_modal_wrap" id="{{ form_id }}">
  <a href="#close" class="close">{% trans "Close" %}</a>
  <div class="msg_modal">
    <h3>{% trans "Send message to" %}
        <span>
            {% if receiver.picture %}
                <img class="author-avatar" src="{{ receiver.small_avatar }}" alt="{% trans 'avatar' %}"/>
            {% else %}
                <img class="author-avatar" src="{{ MEDIA_URL }}images/default_thumb_small.png" alt="{% trans 'avatar' %}"/>
            {% endif %} 
            <span class="author-username">{{ receiver }}</span>
        </span>
    </h3>

    <form action="" method="post" accept-charset="utf-8">
      <div class="global-errors"></div>
      {{ send_message_form.as_p }}
      <p><button type="submit" class="green_button small"/>{% trans "Send Message" %}</button></p>
    </form>
  </div>
</div>

<script type="text/javascript">
    (function($){
        $('#{{ form_id }}').bind('close-modal', function(){
            $(this).find('form').clearForm().find('p.error_list').remove();
        });
        
        $('#{{ form_id }} form').ajaxForm({
            type: 'RPC',
            api: {
                submit: MessagesApi.send
            },
            success: function(data, status, $form){
                $('button[type=submit]', $form).show();
                if (data.errors) {
                    for (key in data.errors){
                        var $field = $('input[name="'+key+'"]', $form);
                        var error = '<p class="error_list">'+data.errors[key]+'</p>';
                        if ($field.length){
                            $field.before(error);
                        }else{
                            $('.global-errors', $form).prepend(error);
                        }
                    };//for
                } else {
                    if (status.status){
                        $.jGrowl('{% trans "The message has been successfully sent." %}');
                    }                    
                    $form.clearForm();
                    $form.parents('.msg_modal_wrap').modClose();
                };
            },
            beforeSubmit: function(formData, $form, options){
                $('p.error_list', $form).remove();
                $('button[type=submit]', $form).hide();
            }                
        });
    })(jQuery);
</script>
