{% load i18n %}

<style>
    .langs_list_toggle label {
        cursor: pointer;
    }
    
    .langs_list_toggle.over label {
        color: #1F4E5E;
    }    
</style>

<button class="blue_button small" data-modal="{{ form_id }}">
    <span>{% trans 'Send Message to Team' %}</span>
</button>

<div class="msg_modal_wrap" id="{{ form_id }}">
  <a href="#close" class="close">{% trans "Close" %}</a>
    <h3>{% trans "Send message to team" %}
        <span>
            {% if team.logo %}
                <img class="author-avatar" src="{{ team.small_logo_thumbnail }}" alt="{% trans 'avatar' %}"/>
            {% else %}
                <img class="author-avatar" src="{{ MEDIA_URL }}images/default_thumb_small.png" alt="{% trans 'logo' %}"/>
            {% endif %} 
            <span class="author-username">{{ team }}</span>
        </span>
    </h3>
      
  <div class="msg_modal">
    <form action="" method="post" accept-charset="utf-8" class="message_form">
      <div class="global-errors"></div>
      {{ send_message_form.as_p }}
      <p><button type="submit" class="green_button small"/>{% trans "Send Message" %}</button></p>
    </form>
  </div>
</div>

<script type="text/javascript">
    (function($){
        var $langs_list = $('input.langs').parents('ul');
        $langs_list.hide();
        $langs_list.prev().find('label').attr('for', '');
        
        $langs_list.prev().addClass('langs_list_toggle').click(function(){
            $langs_list.toggle();
            $langs_list.find('input').attr('checked', '');
        }).mouseover(function(){
            $(this).addClass('over');
        }).mouseout(function(){
            $(this).removeClass('over');
        });
        
        $('#{{ form_id }}').bind('close-modal', function(){
            $(this).find('form').clearForm().find('p.error_list').remove();
        });

        $('#{{ form_id }} form').ajaxForm({
            type: 'RPC',
            api: {
                submit: MessagesApi.send_to_team
            },
            success: function(data, status, $form){
                $('button[type=submit]', $form).show();
                if (data.errors) {
                    for (key in data.errors){
                        var $field = $('input[name="'+key+'"]', $form);
                        var error = '<p class="error_list">'+data.errors[key]+'</p>';
                        if ($field.length){
                            $field.before(error);
                        }else{
                            $('.global-errors', $form).prepend(error);
                        }
                    };//for
                } else {
                    if (status.status){
                        $.jGrowl('{% trans "The messages have been successfully sent." %}');
                    }                    
                    $form.clearForm();
                    $form.parents('.msg_modal_wrap').modClose();
                };
            },
            beforeSubmit: function(formData, $form, options){
                $('p.error_list', $form).remove();
                $('button[type=submit]', $form).hide();
            }                
        });
    })(jQuery);
</script>
