{% extends "settings.html" %}

{% load paginator i18n %}

{% block title %}
    {% trans 'My Messages' %} | Universal Subtitles
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% url messages:rpc_api %}" type="text/javascript"></script>       
    <script src="{{ MEDIA_URL }}js/jquery.metadata.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(function($){
            var DEFAULT_AVATAR_URL = '{{ MEDIA_URL }}images/default_thumb_small.png';
            $.metadata.setType("attr", "data");
            
            $('.messages .delete').click(function(){
                if (confirm("Do you really wish delete this message?")){
                    var $this = $(this);
                    MessagesApi.remove($this.attr('message_id'), function(response){
                        if (response.error){
                            $.jGrowl.error(response.error);
                        } else {
                            $this.parents('tr').remove();
                        };
                    });
                }
            });
            
            $('#send-message-form').ajaxForm({
                type: 'RPC',
                api: {
                    submit: MessagesApi.send
                },
                success: function(data, status, $form){
                    if (data.errors) {
                        for (key in data.errors){
                            var $field = $('input[name="'+key+'"]', $form);
                            var error = '<p class="error_list">'+data.errors[key]+'</p>';
                            if ($field.length){
                                $field.before(error);
                            }else{
                                $('.global-errors', $form).prepend(error);
                            }
                        };//for
                    } else {
                        $.jGrowl('{% trans "Message sent success." %}');
                        $form.clearForm();
                    };
                },
                beforeSubmit: function(formData, $form, options){
                    $('p.error_list', $form).remove();
                }                
            });    
            
            $('#msg_modal').bind('before-show-modal', function(event, link){
                $link = $(link);
                var data = $link.metadata();
                var $modal = $(this);
                
                if ( ! data['is-read']){
                    MessagesApi.mark_as_read(data['id'], function(response){
                        if (response.error){
                            $.jGrowl.error(response.error);
                        }else{
                            $link.parents('tr').removeClass('unread');
                            data['is-read'] = true;
                            $link.set_metadata(data);
                        }
                    });
                };
                
                if (data['author-avatar']){
                    $('.author-avatar', $modal).attr('src', data['author-avatar']);
                }else{
                    $('.author-avatar', $modal).attr('src', DEFAULT_AVATAR_URL);
                }
                
                
                $('#message_form_id_user').val(data['author-id']);
                $('.author-username', $modal).html(data['author-username']);
                $('.message-content', $modal).html(data['message-content']);
                $('.message-subject').html(data['message-subject-display']);
                $('#message_form_id_subject').val('Re: '+data['message-subject']);
                
                if (data['author-username']){
                    $('.reply-container', $modal).show();
                    $('.reply-container textarea', $modal).val('');
                }else{
                    $('.reply-container', $modal).hide();
                }
            });
        });
    </script>
{% endblock %}

{% block settings_content %}

<h2 class="msg_header">
  {% trans 'My Messages' %} / <a href="{% url messages:sent %}">{% trans "Sent Messages" %}</a>
</h2>

{% if message_list %}
    {% if is_paginated %}{% paginator %}{% endif %}
    
    <table border="0" class="messages">
      <thead>
        <tr>
          <th></th>
          <th>{% trans "From" %}</th>
          <th>{% trans "Message" %}</th>
          <th>{% trans "Date" %}</th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
        {% for msg in message_list %}
        <tr {% if not msg.read %} class="unread"{% endif %}>
          <td class="msg_avatar">
            {% with msg.author.small_avatar as author_avatar_url %}
                {% if author_avatar_url %}
                    <img src="{{ author_avatar_url }}" width="30" height="30" alt="{% trans 'Avatar' %}"/>
                {% else %}
                    <img src="{{ MEDIA_URL }}/images/default_thumb_small.png" alt="{% trans 'Avatar' %}"/>
                {% endif %}
            {% endwith %}
          </td>
          <td class="msg_from">
              {% if msg.author %}
                <a href="{{ msg.author.get_absolute_url }}">{{ msg.author }}</a>
              {% endif %}
          </td>
          <td class="msg_body">
              <a href="#" data-modal="msg_modal" data="{{ msg.json_data }}">{{ msg }}</a>
          </td>
          <td class="msg_date">{{ msg.created|timesince }} {% trans 'ago' %}</td>
          <td class="msg_delete"><span class="delete" message_id="{{ msg.pk }}">&#x2326;</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    {% if is_paginated %}{% paginator %}{% endif %}
{% else %}
    <p class="no_messages">
      {% trans 'You have no messages.' %}
    </p>
{% endif %}

<div class="msg_modal_wrap" id="msg_modal">
  <a href="#close" class="close">{% trans "Close" %}</a>
  <div class="msg_modal">
    <h3>{% trans "Message from" %}
        <span> 
            <img class="author-avatar" src="{{ MEDIA_URL }}images/default_thumb_small.png" alt="{% trans 'avatar' %}"/> 
            <span class="author-username"></span>
        </span>
    </h3>

    <dl class="clearfix subject">
      <dt>{% trans "Subject" %}</dt>
      <dd>
        <p class="message-subject"></p>
      </dd>
    </dl>
    
    <dl class="clearfix">
      <dt>{% trans "Message" %}</dt>
      <dd>
        <p class="message-content"></p>
      </dd>
    </dl>

    <dl class="clearfix reply-container">
      <dt>{% trans "Reply" %}</dt>
      
      <dd>
        <form action="" method="post" accept-charset="utf-8" id="send-message-form">
          <div class="global-errors"></div>
          {{ send_message_form.as_p }}
          <p><button type="submit" class="green_button small">{% trans "Send Message" %}</button></p>
        </form>
      </dd>
    </dl>
  </div>
</div>
{% endblock %}
