{% extends "settings.html" %}

{% load paginator i18n %}

{% block title %}
    {% trans 'My Messages' %} | Universal Subtitles
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{{ MEDIA_URL }}js/jquery.metadata.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(function($){
            var DEFAULT_AVATAR_URL = '{{ MEDIA_URL }}/images/default_thumb_small.png';
            $.metadata.setType("attr", "data");
            $('#msg_modal').bind('before-show-modal', function(event, link){
                var data = $(link).metadata();
                var $modal = $(this);
                
                if (data['author-avatar']){
                    $('.author-avatar', $modal).attr('src', data['author-avatar']);
                }else{
                    $('.author-avatar', $modal).attr('src', DEFAULT_AVATAR_URL);
                }
                
                $('.author-username', $modal).html(data['author-username']);
                $('.message-content', $modal).html(data['message-content']);
                $('.message-subject').html(data['message-subject']);
                
                
                console.log($modal, $('.reply-container', $modal))
                if (data['author-username']){
                    $('.reply-container', $modal).show();
                    $('.reply-container textarea', $modal).val('');
                }else{
                    $('.reply-container', $modal).hide();
                }
            });
        });
    </script>
{% endblock %}

{% block settings_content %}

<h2 class="msg_header">
  {% trans 'My Messages' %} 
  <select>
    <option>{% trans "Recieved" %}</option>
    <option>{% trans "Sent" %}</option>
  </select>
</h2>

{% if message_list %}
    {% if is_paginated %}{% paginator %}{% endif %}
    
    <table border="0" class="messages">
      <thead>
        <tr>
          <th></th>
          <th>{% trans "From" %}</th>
          <th>{% trans "Message" %}</th>
          <th>{% trans "Date" %}</th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
        {% for msg in message_list %}
        <tr {% if not msg.read %} class="unread"{% endif %}>
          <td class="msg_avatar">
            {% with msg.author.small_avatar as author_avatar_url %}
                {% if author_avatar_url %}
                    <img src="{{ author_avatar_url }}" width="30" height="30" alt="{% trans 'Avatar' %}"/>
                {% else %}
                    <img src="{{ MEDIA_URL }}/images/default_thumb_small.png" alt="{% trans 'Avatar' %}"/>
                {% endif %}
            {% endwith %}
          </td>
          <td class="msg_from">{{ msg.author|default:'' }}</td>
          <td class="msg_body">
              <a href="#" data-modal="msg_modal" data="{{ msg.json_data }}">{{ msg }}</a>
          </td>
          <td class="msg_date">{{ msg.created|timesince }} {% trans 'ago' %}</td>
          <td class="msg_delete"><span class="delete">&#x2326;</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    {% if is_paginated %}{% paginator %}{% endif %}
{% else %}
    <p class="no_messages">
      {% trans 'You have no messages.' %}
    </p>
{% endif %}

<div class="msg_modal_wrap" id="msg_modal">
  <a href="#close" class="close">{% trans "Close" %}</a>
  <div class="msg_modal">
    <h3>{% trans "Message from" %}
        <span> 
            <img class="author-avatar" src="{{ MEDIA_URL }}/images/default_thumb_small.png" alt="{% trans 'avatar' %}"/> 
            <span class="author-username"></span>
        </span>
    </h3>

    <dl class="clearfix">
      <dt>{% trans "Subject" %}</dt>
      <dd>
        <p class="message-subject"></p>
      </dd>
    </dl>
    
    <dl class="clearfix">
      <dt>{% trans "Message" %}</dt>
      <dd>
        <p class="message-content"></p>
      </dd>
    </dl>

    <dl class="clearfix reply-container">
      <dt>{% trans "Reply" %}"</dt>
      
      <dd>
        <form action="" method="get" accept-charset="utf-8">
          <p><textarea name="body" rows="8" cols="30"></textarea></p>
          <p><button type="submit" class="green_button small">{% trans "Send Message" %}</button></p>
        </form>
      </dd>
    </dl>
  </div>
</div>
{% endblock %}