{% load thumbnail %}
    <li class="table_comment" comment_id="{{ item.id }}">
        <div class="table_user_deets">
            <span class="user_thumb"><img src="{% thumbnail item.user.picture 100x100 %}" /></span>
            <a href="{{ item.user.profile_url }}">{{ item.user.username }}</a>
            <span class="comment_date">{{ item.submit_date|timesince }}</span>
        </div>
        <div class="comment_text">
            <a name="comments-{{ item.id }}"></a>
            {% if item.reply_to %}
                <a href="#comments-{{ item.reply_to.id }}">replied to comment from {{ item.reply_to.user.username }}</a>
            {% endif %}
            <a href="#" class="small_button floatright reply"  comment_id="{{ item.id }}">
                <span>Reply</span>
            </a>
            <p>{{ item.content }}</p>
        </div>
    </li>