{% load thumbnail %}
    <li class="comment" comment_id="{{ item.id }}">
        <div class="user_deets">
            <span class="user_thumb"><img src="{% thumbnail item.user.picture 100x100 %}" /></span>
            <a href="{{ item.user.profile_url }}">{{ item.user }}</a>
            <span class="comment_date">{{ item.submit_date|timesince }} ago</span>
        </div>
        <div class="info">
            <a name="comments-{{ item.id }}"></a>
            <a href="#" class="floatright reply"  comment_id="{{ item.id }}">
                <span>Reply</span>
            </a>
            <a href="#comments-{{ item.id }}" class="floatright" style="margin-right: 5px">Link</a>
            {% if item.reply_to %}
                <a href="#comments-{{ item.reply_to.id }}">replied to comment from {{ item.reply_to.user }}</a>
                <div class="replied">{{ item.reply_to.content }}</div>
            {% endif %}
            <p>{{ item.content }}</p>
        </div>
    </li>