{% load thumbnail profiles_tags i18n %}
    <li class="comment" comment_id="{{ item.id }}">
        <div class="user_deets">
            <span class="user_thumb">
                {% user_avatar item.user %}
            </span>
            <a href="{{ item.user.profile_url }}">{{ item.user }}</a>
            <span class="comment_date">{{ item.submit_date|timesince }} {% trans 'ago' %}</span>
        </div>
        <div class="info">
            <a name="comments-{{ item.id }}"></a>
            <a href="#" class="floatright reply"  comment_id="{{ item.id }}">
                <span>{% trans 'Reply' %}</span>
            </a>
            <a href="#comments-{{ item.id }}" class="floatright" style="margin-right: 5px">Link</a>
            {% if item.reply_to %}
                <a href="#comments-{{ item.reply_to.id }}">{% trans 'replied to comment from' %} {{ item.reply_to.user }}</a>
                <div class="replied">{{ item.reply_to.content|escape }}</div>
            {% endif %}
            <p>{{ item.content|escape }}</p>
        </div>
    </li>