<ul class="table_body comments">
    {% for item in qs %}
        {% include 'comments/_item.html' %}
    {% endfor %}
</ul>
<script type="text/javascript">
    function update_comments(){
        $.post('{% url comments:update_comments %}', {
            ct: '{{ content_type.pk }}',
            last_comment_id: $('.table_comment:first').attr('comment_id') || '',
            obj_id: '{{ obj.pk }}'
        }, function(data){
            $('.table_body.comments').prepend(data)
        }, 'html')
    }    
</script>