<ul class="table_body comments">
    {% for item in qs %}
        {% include 'comments/_item.html' %}
    {% endfor %}
</ul>
<script type="text/javascript">
    function update_comments(){
        jQuery.post('{% url comments:update_comments %}', {
            ct: '{{ content_type.pk }}',
            last_comment_id: jQuery('.table_comment:first').attr('comment_id') || '',
            obj_id: '{{ obj.pk }}'
        }, function(data){
            jQuery('.table_body.comments').prepend(data)
        }, 'html')
    }    
</script>

{% comment %}
    <li class="table_comment table_rated" comment_id="5">
      Gave this translation a B+
    </li>

    <li class="table_comment" comment_id="5">
        <div class="table_user_deets">
            <span class="user_thumb"><img src="" /></span>

            <a href="/profiles/3/">morganknutson</a>
            <span class="comment_date">1 week, 5 days ago</span>
        </div>
        <div class="comment_text">
        <div class="table_rated">Gave this translation a B+</div>

            <a name="comments-5"></a>
            
                <a href="#comments-3">replied to comment from morganknutson</a>
            
            <a href="#" class="floatright reply"  comment_id="5">

                <span>Reply</span>
            </a>
            <p>sdfsdfsdf</p>
        </div>
    </li>
{% endcomment %}