{% extends "base.html" %}

{% load i18n %}

{% block body_attrs %}id="login"{% endblock %}

{% block main_content %}
<div class="grid_12">
<h2>{% trans 'Are you sure that you want to permanently delete your profile?' %}</h2>
<p>This can't be undone!</p>
  <form action="." method="post">
    {% csrf_token %}
    <button type="submit" class="green_button huge" name="delete" value="delete">{% trans 'Delete' %}</button>
    <a class="red_button small" href="{% url profiles:my_profile %}">{% trans 'Cancel' %}</a>
  </form>
<div/>
{% endblock %}
