{% extends "base.html" %}

{% load i18n %}

{% block body_attrs %}id="login"{% endblock %}

{% block main_content %}
<div class="left_column">
<h2>{% trans 'Login to Your Existing Account' %}</h2>
  <form action="{% url auth:login_post %}" method="post">
    {% csrf_token %}
    {{ login_form.as_p }}
    <button type="submit" class="green_button big" value="login">{% trans 'Login' %}</button>
    <a class="forgot" href="{% url password_reset %}">{% trans 'Forgot password?' %}</a>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <p style="clear: both">{% trans 'You can also login using' %}</p>
    <a class="twitter" href="{% url auth:twitter_login %}?next={{ next }}"> twitter</a> 
    <a class="open-id" href="{% url socialauth_openid_login %}?next={{ next }}">openid</a>
    <a class="google" href="{% url socialauth_google_login %}?next={{ next }}">gmail</a>
    <a class="facebook" href="{% url auth:facebook_login %}?next={{ next }}">facebook</a>
</div>
<div class="right_column">
<h2>{% trans 'Create an Account' %}</h2>
  <form action="{% url auth:create_user %}" method="post">
    {% csrf_token %}
    {{ creation_form.as_p }}
    <button type="submit" value="create account"  class="green_button big"><span>{% trans 'Create Account' %}</span></button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}
