{% extends "base.html" %}

{% load i18n %}

{% block body_attrs %}id="login"{% endblock %}
{% block html_attrs %}{{ block.super }} xmlns:fb="http://www.facebook.com/2008/fbml"{% endblock %}

{% block bottom_scripts %}
    {{ block.super }}
    <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" type="text/javascript"></script>
    <script type="text/javascript">
        FB.init("{{ FACEBOOK_API_KEY }}", "//{{ site }}{% url socialauth_xd_receiver %}");
        function facebook_onlogin() {
            window.location = '{% url auth:facebook_login_done %}?next={{ next }}';
        }
    </script>
{% endblock %}

{% block main_content %}
<div class="left_column">
<h2>{% trans 'Login to Your Existing Account' %}</h2>
  <form action="{% url auth:login_post %}" method="post">
    {% csrf_token %}
    {{ login_form.as_p }}
    <button type="submit" class="green_button big" value="login">{% trans 'Login' %}</button>
    <a class="forgot" href="{% url password_reset %}">{% trans 'Forgot password?' %}</a>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <p style="clear: both">{% trans 'You can also login using' %}</p>
    <a class="twitter" href="{% url auth:twitter_login %}?next={{ next }}"> twitter</a> 
    <a class="open-id" href="{% url socialauth_openid_login %}?next={{ next }}">openid</a>
    <a class="google" href="{% url socialauth_google_login %}?next={{ next }}">gmail</a>
    <div class="facebook">
        <fb:login-button onlogin="facebook_onlogin();"></fb:login-button>
    </div>
</div>
<div class="right_column">
<h2>{% trans 'Create an Account' %}</h2>
  <form action="{% url auth:create_user %}" method="post">
    {% csrf_token %}
    {{ creation_form.as_p }}
    <button type="submit" value="create account"  class="green_button big"><span>{% trans 'Create Account' %}</span></button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}
