{% extends 'base.html' %}
{% block body_attrs %}id="solutions"{% endblock %}
{% load i18n %}
{% block main_content %}
<div id="ngo_content">

<div class="clearfix">
<div class="left">
  <div id="challenges" style="width: 600px;">
    <h1>Big Challenges</h1>
    <h2>Facing Many Non-Profits and NGOs Today</h2>
    <p>Keeping constituents up to date with efforts and successes in the field is critical, but often resource intensive and not as simple as it could be.</p>
  </div><!-- // challenges -->
</div><!-- // left -->

<div class="right">
  <div id="organization">
    <h2>Does your Organization —</h2>
    <ul>
      <li>Work across cultures, languages, or continents</li>
      <li>Connect donors to the true impact of their gifts</li>
      <li>Foster multi-cultural online space</li>
    </ul>
  </div><!-- // organization -->
</div><!-- // right -->
</div><!-- // clearfix -->

<div id="unisubs" class="pod">
  <div class="clearfix">
  <div class="left" style="width: 425px;">
  <h1>Universal Subtitles</h1>
  <h2>Make your video truly global &amp; multi-cultural</h2>
  <p>Universal Subtitles is a platform for video translation and subtitling—it’s powered by volunteer collaborators, much like Wikipedia.</p>
  <p>The software is open source and developed by a non-profit organization.</p>
  </div>
  <div class="right" style="width: 450px;">
  <div id="widget_div" class="mirosubs-widget"></div> 
  </div>
  </div><!-- // clearfix -->
</div><!-- // unisubs -->

<div class="left" style="width: 460px;">
  <div class="pod" id="benefits_unisubs" style="height: 410px">
    <h3>Benefits of Universal Subtitles</h3>
    <ul>
      <li>Language barriers become obsolete</li>
      <li>Very different cultures communicate directly</li>
      <li>Global connection through video</li>
    </ul>
    <br /><br />
    <h3>More reasons to use Universal Subtitles</h3>
    <ul>
      <li>Higher search engine rankings (SEO)</li>
      <li>Accessibility for the deaf and hard of hearing</li>
      <li>We help you build volunteer translation capacity</li>
    </ul>
    <a class="learn_more" href="">Learn More</a>
  </div><!-- // benefits_unisubs -->
</div><!-- // left -->

<div class="right" style="width: 460px;">
  <div class="pod" id="how_work">
    <h3>How Does it Work?</h3>
    <p>Universal Subtitles is a complete solution for translating video into different languages. It’s a turnkey process for attracting volunteers, working on collaborative subtitling, and making video available globally. <a class="learn_more" href="">Learn More</a></p>
    
  </div><!-- // how_work -->
  
  <div class="pod" id="who_uses">
    <h3>Who Uses It?</h3>
    <p>NYTimes, MIT OpenCourseware, Wikipedia, Mozilla, Drupal, PBS NewsHour, and many more use the software or embed subtitled video with the service. <a class="learn_more" href="">Learn More</a></p>
    
  </div><!-- // who_uses -->
</div><!-- // right -->

<div class="clearfix"></div><!-- // clearfix -->

<div class="pod" id="miro_ad">
  <div class="clearfix">
  <a href="">
    <span id="container">
    <span id="mc_logo"></span>
    <span id="building">
      <p><strong>Building a video website?</strong></p>
      <p><em>Miro Community is the easiest way to make a video website.</em></p>
      <p>Makes Universal Subtitles even easier to manage!</p>
    </span>
    <span id="try">Try it now!</span>
    </span>
  </a>
  </div><!-- // clearfix -->
</div><!-- // miro_ad -->

<div class="pod" id="unisubs_action">
  <h1>Universal Subtitles in Action</h1>
  <p>Khan Academy is a not-for-profit with the goal of changing education for the better by providing a free world-class education to anyone anywhere. They decided their 1,600+ educational videos need to be available in all of the world’s languages.</p>
  <p>Using Universal Subtitles, all of their videos are easily translatable. They have a growing volunteer community translating new videos every day.</p>
</div><!-- // unisubs_action -->

<div id="khan">
  <div id="video_container"></div>
</div><!-- // khan -->

<div class="pod">
  <h3>Foster Global Communication</h3>
  <p>Donors and supporters can connect and engage through the sharing of powerful stories. Ultimately, your constituents can more clearly see and understand the impact of their giving.</p>
</div><!-- // pod -->

<div class="pod" style="width: 300px;">
  <h3>Foster Global Communication</h3>
  <p>Donors and supporters can connect and engage through the sharing of powerful stories. Ultimately, your constituents can more clearly see and understand the impact of their giving.</p>
</div><!-- // pod -->

</div><!-- // ngo_content -->
{% endblock %}