{% load media_compressor %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link rel="stylesheet" href="{{MEDIA_URL}}css/mirosubs-widget.css" type="text/css"/>

{% include_bundle "js-base-dependencies" %}
{% include_bundle "mirosubs-api" %}


<script>
goog.require('goog.debug.Logger');
goog.require('goog.debug.FancyWindow');
goog.require('goog.debug.LogManager');
goog.require('goog.json');
</script>

</head>
<body>
  <a href="#" onclick="openDialog(); return false;">Open dialog (wikipedia)</a>
  <a href="#" onclick="openUnisubsDialog(); return false;">Open unisubs dialog (jwplayer)</a>
  <a href="#" onclick="embedWidget(); return false;">Embed widget</a>
  <div id="forWidget"></div>
  <script>
      var logger = goog.debug.Logger.getLogger('api');

      var existingSubs = [
          {
              'subtitle_id': 'a',
              'text': 'First sub',
              'start_time': 3.4,
              'end_time': 6.9,
              'sub_order': 1
          },
          {
              'subtitle_id': 'b',
              'text': 'Second sub',
              'start_time': 7.4,
              'end_time': 10.9,
              'sub_order': 2
          }
      ];

      function embedWidget() {
          setUpLogging();
          mirosubs.api.embed(
              'forWidget',
              {
                  video_url: 'http://videos.mozilla.org/firefox/3.5/switch/switch.ogv'
              });
      }

      function closeListener() {
          logger.info('closed');
      }

      function save(jsonSubs, callback, cancelCallback) {
          logger.info('saved: ' + goog.json.serialize(jsonSubs));
          logger.info('as srt: ' + mirosubs.api.toSRT(jsonSubs));
          // wait a half second, then say that we're done saving.
          window.setTimeout(callback, 500);
      }

      function login() {
          logger.info('login called');
          // wait a half second, then tell api that we're logged in.
          window.setTimeout(
              function() { mirosubs.api.loggedIn('michael'); }, 500);
      }

      var config = {
          'subtitles': existingSubs,
          'closeListener': closeListener,
          'videoURL': 'http://videos.mozilla.org/firefox/3.5/switch/switch.ogv',
          'username': undefined, // or use actual username
          'save': save,
          'permalink': 'http://myvideopermalink.com',
          'login': login,
          'embedCode': 'some code to embed',
          'mediaURL': '{{MEDIA_URL}}',
          'skipFinished': true
      };

      function setUpLogging() {
          var debugWindow = new goog.debug.FancyWindow('main');
          debugWindow.setEnabled(true);
          debugWindow.init();

          goog.debug.LogManager.getRoot().setLevel(goog.debug.Logger.Level.ALL);
      }

      function openDialog() {
          setUpLogging();

          var callbackAPI = mirosubs.api.openDialog(config);

          // can now call callbackAPI.close() to close dialog
      }

      function openUnisubsDialog() {
          setUpLogging();
          mirosubs.api.openUnisubsDialog('http://www.youtube.com/watch?v=uTysXITBCmk');
      }
  </script>
</body>
</html>
