<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
{% if not js_use_compiled %}
{% include "widget/_js_base_dependencies.html" %}
{% endif %}
 </head>
 <body>
   <object width='425' height='350'>
     <param name='movie' value='http://www.youtube.com/v/H2Ncxw1xfck&#038;rel=1&#038;fs=1&#038;showsearch=0&#038;showinfo=1&#038;iv_load_policy=1' /> 
     <param name='allowfullscreen' value='true' /> 
     <param name='wmode' value='opaque' /> 
     <embed src='http://www.youtube.com/v/H2Ncxw1xfck&#038;rel=1&#038;fs=1&#038;showsearch=0&#038;showinfo=1&#038;iv_load_policy=1' type='application/x-shockwave-flash' allowfullscreen='true' width='425' height='350' wmode='opaque'></embed> 
   </object>
 </body>
</html>
