<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% if not js_use_compiled %}
{% include "widget/_js_base_dependencies.html" %}
{% endif %}
</head>
<body>
  <script type="text/javascript" src="{{embed_js_url}}">
  ({
       video_url:
"http://pculture.org/feeds_test/conversions/input-files/bengal_bath.flv",
       video_config: {
           width: 300,
           height: 300,
           content: {
               url: 'flowplayer.content-3.2.2.swf',
               height: 50,
               padding:30,
               backgroundColor: '#4AA02C',
               opacity: 0.4,
               backgroundGradient: [0.1, 0.1, 1.0],
               html: '<p>This big overlay is a content plugin</p>',
               style: {p: {fontSize: 40}}           
           }
       }
  })
</script>
</body>
</head>
