<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% include "widget/_js_onsite_dependencies.html" %}
<link href="{{ MEDIA_URL }}css/mirosubs-widget.css" media="all" type="text/css" rel="stylesheet" />
</head>
<body>
</body>
  <script language="JavaScript" type="text/javascript">
    mirosubs.api.openUnisubsDialogWithSettings(false, {{widget_params|safe}}, {{general_settings|safe}});
  </script>
{% if not DEBUG %}
<script type="text/javascript">
    var mpq = [];
    mpq.push(['init', '{{ MIXPANEL_TOKEN }}']);

    {% if from_teams_page %}
    if (mpq)
        mpq.push(['track', 'widgetFromTeam']);
    {% endif %}

    (function() {
        var mp = document.createElement("script"); mp.type = "text/javascript"; mp.async = true;
        mp.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + "//api.mixpanel.com/site_media/js/api/mixpanel.js";
        s.parentNode.insertBefore(mp, s);
    })();

</script>
{% endif %}

</html>
