<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% if not js_use_compiled %}
{% include "widget/_js_base_dependencies.html" %}
{% endif %}
</head>
<body>
  <script type="text/javascript" src="{{embed_js_url}}">
  ({
       video_url: "http://vimeo.com/15308050",
       video_config: {
           width: 600,
           height: 300,
           color: 'FF0000'
       }
  })
</script>
</body>
</head>
