<div class="mirosubs-widget">
  <div id="{{uuid}}_video" class="mirosubs-videoDiv"></div>
  <div class="mirosubs-videoTab" id="{{uuid}}_videoTab">
    <a href="#" class="mirosubs-subtitleMeLink">
      <img src="http://{{site.domain}}/site_media/images/small_logo.png" alt="small logo"/>
      <span class="mirosubs-tabText">
        {% ifequal show_tab 0 %}
          Subtitle Me!
        {% endifequal %}
        {% ifequal show_tab 1 %}
          Continue Subtitling
        {% endifequal %}
        {% ifequal show_tab 2 %}
          subtitling in progress/{{owned_by}}
        {% endifequal %}
        {% ifequal show_tab 3 %}
          {% if autoplay_menutext %}
            {{ autoplay_menutext }}
          {% else %}
            Choose Language...
          {% endif %}
        {% endifequal %}
      </span>
    </a>    
  </div>
</div>
