<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% if not js_use_compiled %}
{% include "widget/_js_base_dependencies.html" %}
{% endif %}
{% for dep in js_dependencies %}
  <script type="text/javascript" src="{{dep|safe}}"></script>
{% endfor %}
</head>
<body>
  <h1>A youtube video</h1>
  <object width='425' height='350'>
    <param name='movie' value='http://www.youtube.com/v/H2Ncxw1xfck&rel=1&fs=1&showsearch=0showinfo=1&iv_load_policy=1' /> 
    <param name='allowfullscreen' value='true' /> 
    <param name='wmode' value='opaque' /> 
    <param name="allowScriptAccess" value="always"></param>
    <embed src='http://www.youtube.com/v/H2Ncxw1xfck&rel=1&fs=1&showsearch=0showinfo=1&iv_load_policy=1' 
           type='application/x-shockwave-flash'
           allowscriptaccess='always'
           allowfullscreen='true' width='425' height='350' wmode='opaque'></embed> 
  </object>
  <h1>Ogg</h1>
  <video autobuffer="" controls="" tabindex="0"><source src="http://subtesting.com/video/Usubs-IntroVideo.theora.ogg"></source></video>
</body>
</html>
