{% load media_compressor %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% include_bundle "mirosubs-onsite-compiled" %}
{% include_bundle "widget-css"%}
</head>
<body>
  <div id="widget_div" class="mirosubs-widget" style="width: 520px; margin: auto"></div>
  <script language="JavaScript" type="text/javascript">
      var videoURL = mirosubs.video.supportsOgg() ? 
          "http://videos.mozilla.org/firefox/3.5/switch/switch.ogv" :
          "http://www.youtube.com/watch?v=6APY0_lEHJo";
      mirosubs.widget.SameDomainEmbed.embed(
          document.getElementById('widget_div'),
          { video_url: videoURL, null_widget: true, subtitle_immediately: true });
  </script>
</body>
</html>
