<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% if not js_use_compiled %}
{% include "widget/_js_base_dependencies.html" %}
{% endif %}
</head>
<body>
  {% if help_mode %}
    <h2>Things you can add to query string:</h2>
    <table>
      <tr>
        <td><code>video_url=[video url]</code></td>
        <td>(<strong>NOT</strong> optional) The url of the video to embed. <code>[video url]</code> be a youtube page url or a video file url.</td>
      </tr>
      <tr>
        <td><code>null_widget=true</code></td>
        <td>(optional) When true, makes the widget in null sandbox.</td>
      </tr>
      <tr>
        <td><code>debug_js=true</code></td>
        <td>(optional) When true, opens a Javascreipt debugging panel</td>
      </tr>
      <tr>
        <td><code>subtitle_immediately=true</code></td>
        <td>(optional) When true, opens subtitling dialog as soon as widget loads.</td>
      </tr>
      <tr>
        <td><code>translate_immediately=true</code></td>
        <td>(optional) When true, opens translation dialog as soon as widget loads.</td>
      </tr>
      <tr>
        <td><code>autoplay_language=[language code]</code></td>
        <td>(optional) Blank <code>[language code]</code> opens widget with native 
          language subs already loaded. Or use 2-letter 
          <code>[language code]</code> for other languages.</td>
      </tr>
    </table>
    <h2>Examples</h2>
    <code><a href="{{site_url}}/widget_demo/?video_url=http://www.youtube.com/watch?v=MJRF8xGzvj4">{{site_url}}/widget_demo/?video_url=http://www.youtube.com/watch?v=MJRF8xGzvj4</a></code><br/>
    <code><a href="{{site_url}}/widget_demo/?video_url=http://videos.mozilla.org/firefox/3.5/switch/switch.ogv&amp;null_widget=true&amp;debug_js=true">{{site_url}}/widget_demo/?video_url=http://videos.mozilla.org/firefox/3.5/switch/switch.ogv&amp;null_widget=true&amp;debug_js=true</a></pre>
  {% else %}
    <script type="text/javascript" src="{{ embed_js_url }}">
      ({
{{widget_params|safe}}
      })
    </script>
  {% endif %}
</body>
</html>
