{% load media_compressor %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% if not js_use_compiled %}
  {% include_bundle "debug-embed-js" %}
  <script>
    goog.require('goog.debug.FancyWindow');
  </script>
{% endif %}
</head>
<body>
  
  {% if help_mode %}
    <h2>Things you can add to query string:</h2>
    <table>
      <tr>
        <td><code>video_url=[video url]</code></td>
        <td>(<strong>NOT</strong> optional) The url of the video to embed. <code>[video url]</code> be a youtube page url or a video file url.</td>
      </tr>
      <tr>
        <td><code>null_widget=true</code></td>
        <td>(optional) When true, makes the widget in null sandbox.</td>
      </tr>
      <tr>
        <td><code>debug_js=true</code></td>
        <td>(optional) When true, opens a Javascript debugging panel</td>
      </tr>
      <tr>
        <td><code>subtitle_immediately=true</code></td>
        <td>(optional) When true, opens subtitling dialog as soon as widget loads.</td>
      </tr>
      <tr>
        <td><code>translate_immediately=true</code></td>
        <td>(optional) When true, opens translation dialog as soon as widget loads.</td>
      </tr>
      <tr>
        <td><code>base_state={language:&quot;es&quot;,revision:0}</code></td>
        <td>(optional) start with a given language and/or revision. To start with original language, omit the language param. To start with latest revision, omit revision param. Warning: not very robust -- will not react well to nonexistent revisions, etc.</td>
      </tr>
    </table>
    <h2>Examples</h2>
    <code><a href="{{site_url}}/widget_demo/?video_url=http://www.youtube.com/watch?v=MJRF8xGzvj4">{{site_url}}/widget_demo/?video_url=http://www.youtube.com/watch?v=MJRF8xGzvj4</a></code><br/>
    <code><a href="{{site_url}}/widget_demo/?video_url=http://videos.mozilla.org/firefox/3.5/switch/switch.ogv&amp;null_widget=true&amp;debug_js=true">{{site_url}}/widget_demo/?video_url=http://videos.mozilla.org/firefox/3.5/switch/switch.ogv&amp;null_widget=true&amp;debug_js=true</a></pre>
  {% else %}
    <p>
    <script type="text/javascript" src="{{ embed_js_url }}">
      ({
{{widget_params|safe}}
      })
    </script>
    </p>
Whoever would seek faithfully to depict the character of nature, in accordance with the traits we discover here, would design an extraordinary figure, very foreign to our ideal, which nevertheless can only emanate from her. But too many things are unknown to man for him to essay such a portrait, wherein all would be deep shadow save one or two points of flickering light.
  {% endif %}
</body>
</html>
