<div class="MiroSubs-widget">
  <div class="MiroSubs-videodiv" style="position: relative;">
    <video id="{{uuid}}_video" width="400" autobuffer controls>
      <source src="{{video_url}}" />
    </video>
  </div>
  <div>
    <div id="{{uuid}}_authenticated" 
         {% if not request.user.is_authenticated %}
         style="display:none"
         {% endif %}>
      You are logged in as <span id="{{uuid}}_username">
        {{ request.user.username }}
      </span>. 
      <a href="#" id="{{uuid}}_logout">Logout</a>
    </div>
    <div id="{{uuid}}_notauthenticated" 
         {% if request.user.is_authenticated %}
         style="display:none"
         {% endif %}>
      You are currently logged out. 
      <a href="#" id="{{uuid}}_login">Login</a>
    </div>
  </div>
  <div>
    <div id="{{uuid}}_tabDiv">
      {% ifequal show_tab 0 %}
      <a href="#" id="{{uuid}}_tabSubtitleMe">subtitle me!</a> 
      <img src="http://{{site.domain}}/site_media/images/loading.gif" 
           id="{{uuid}}_loading" 
           alt="loading" style="display: none"/>
      {% endifequal %}
      {% ifequal show_tab 1 %}
      <a href="#" id="{{uuid}}_tabContinue">continue subtitling</a>
      <img src="http://{{site.domain}}/site_media/images/loading.gif" 
           id="{{uuid}}_loading" 
           alt="loading" style="display: none"/>
      {% endifequal %}
      {% ifequal show_tab 2 %}
      <span>subtitling in progress/{{owned_by}}</span>
      {% endifequal %}
      <a href="#" {% ifnotequal show_tab 3 %}style="display: none"{% endifnotequal %} 
         id="{{uuid}}_tabSelectLanguage">subtitle language...</a>
    </div>
    <div class="MiroSubs-captioningArea" id="{{uuid}}_captions"></div>
  </div>
</div>
